Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2023-11, with the labels that each got.

#3040 operator vfunction-server-operator (v3.2.1216)
  operators/vfunction-server-operator/v3.2.1216/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v3.2.1216/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v3.2.1216/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v3.2.1216/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v3.2.1216/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v3.2.1216/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3029 operator antrea-operator-for-kubernetes (v1.14.0)
  operators/antrea-operator-for-kubernetes/v1.14.0/manifests/antrea-operator-for-kubernetes.clusterserviceversion.yaml
  operators/antrea-operator-for-kubernetes/v1.14.0/manifests/operator.antrea.vmware.com_antreainstalls.yaml
  operators/antrea-operator-for-kubernetes/v1.14.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3041 operator t8c-tsc-client-certified (1.2.3)
  operators/t8c-tsc-client-certified/1.2.3/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.3/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.3/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3043 operator kubeturbo-certified (8.10.4)
  operators/kubeturbo-certified/8.10.4/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.10.4/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.10.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3046 operator prometurbo-certified (8.10.4)
  operators/prometurbo-certified/8.10.4/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.10.4/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.10.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3047 operator t8c-certified (42.43.0)
  operators/t8c-certified/42.43.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.43.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.43.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3050 operator tawon-operator (2.27.1)
  operators/tawon-operator/2.27.1/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.27.1/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.27.1/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.27.1/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.27.1/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.27.1/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.27.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3052 operator aqua-operator-certified (2022.4.424)
  operators/aqua-operator-certified/2022.4.424/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.424/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.424/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.424/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.424/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.424/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.424/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.424/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.424/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.424/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.424/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.424/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.424/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.424/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3053 operator gitlab-operator-kubernetes (0.25.1)
  operators/gitlab-operator-kubernetes/0.25.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.25.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.25.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3054 operator stackgres-certified (1.6.0-rc1)
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.6.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.6.0-rc1/metadata/annotations.yaml
  operators/stackgres-certified/1.6.0-rc1/tests/scorecard/config.yaml
  operators/stackgres-certified/ci.yaml
Labels: operator-hosted-pipeline/started

#3055 operator operator-certification-operator (1.1.2)
  operators/operator-certification-operator/1.1.2/manifests/certification-operator-controller-manager-metrics-service_v1_service.yaml
  operators/operator-certification-operator/1.1.2/manifests/certification-operator-manager-config_v1_configmap.yaml
  operators/operator-certification-operator/1.1.2/manifests/certification-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-certification-operator/1.1.2/manifests/certification.redhat.com_operatorpipelines.yaml
  operators/operator-certification-operator/1.1.2/manifests/operator-certification-operator.clusterserviceversion.yaml
  operators/operator-certification-operator/1.1.2/metadata/annotations.yaml
  operators/operator-certification-operator/1.1.2/metadata/dependencies.yaml
  operators/operator-certification-operator/1.1.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3066 operator tawon-operator (2.28.2)
  operators/tawon-operator/2.28.2/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.28.2/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.28.2/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.28.2/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.28.2/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.28.2/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.28.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3070 Remove 2023.9.1 and 2023.9.2 - part 1 of 3 of removing **2023.9** channel for uma-operator
  operators/uma-operator/2023.9.1/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2023.9.1/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2023.9.1/metadata/annotations.yaml
  operators/uma-operator/2023.9.2/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2023.9.2/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2023.9.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3071 operator uma-operator (2023.9.1)
  operators/uma-operator/2023.9.1/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2023.9.1/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2023.9.1/metadata/annotations.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/started

#3073 operator vfunction-server-operator (v3.2.1220)
  operators/vfunction-server-operator/v3.2.1220/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v3.2.1220/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v3.2.1220/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v3.2.1220/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v3.2.1220/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v3.2.1220/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3072 operator uma-operator (2023.9.2)
  operators/uma-operator/2023.9.2/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2023.9.2/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2023.9.2/metadata/annotations.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/started

#3074 operator tenant-operator (v0.10.0-alpha-2)
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-authentication_v1_configmap.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-bootstrap-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-console_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-frontend_v1_configmap.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-gateway_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-nginx-conf_v1_configmap.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.10.0-alpha-2/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.10.0-alpha-2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3069 operator conjur-follower-operator (2.3.0)
  operators/conjur-follower-operator/2.3.0/manifests/conjur-follower-operator-conjurfollower-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.3.0/manifests/conjur-follower-operator-conjurfollower-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.3.0/manifests/conjur-follower-operator-controller-manager-metrics-service_v1_service.yaml
  operators/conjur-follower-operator/2.3.0/manifests/conjur-follower-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.3.0/manifests/conjur-follower-operator.clusterserviceversion.yaml
  operators/conjur-follower-operator/2.3.0/manifests/conjur.cyberark.com_conjurfollowers.yaml
  operators/conjur-follower-operator/2.3.0/metadata/annotations.yaml
  operators/conjur-follower-operator/2.3.0/tests/scorecard/config.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/started

#3076 operator stackgres-certified (1.6.0-rc2)
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.6.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.6.0-rc2/metadata/annotations.yaml
  operators/stackgres-certified/1.6.0-rc2/tests/scorecard/config.yaml
  operators/stackgres-certified/ci.yaml
Labels: operator-hosted-pipeline/started

#3077 operator portworx-certified (23.10.0)
  operators/portworx-certified/23.10.0/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/23.10.0/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/23.10.0/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/23.10.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3064 operator acc-operator (23.10.0)
  operators/acc-operator/23.10.0/manifests/acc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/acc-operator/23.10.0/manifests/acc-operator-manager-config_v1_configmap.yaml
  operators/acc-operator/23.10.0/manifests/acc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/acc-operator/23.10.0/manifests/acc-operator.clusterserviceversion.yaml
  operators/acc-operator/23.10.0/manifests/astra.netapp.io_astracontrolcenters.yaml
  operators/acc-operator/23.10.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3081 operator nexus-repository-ha-operator-certified (3.62.0-1)
  operators/nexus-repository-ha-operator-certified/3.62.0-1/manifests/nexus-repository-ha-operator-certified.clusterserviceversion.yaml
  operators/nexus-repository-ha-operator-certified/3.62.0-1/manifests/sonatype.com_nexusrepos_crd.yaml
  operators/nexus-repository-ha-operator-certified/3.62.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3083 operator operator-certification-operator (1.1.3)
  operators/operator-certification-operator/1.1.3/manifests/certification-operator-controller-manager-metrics-service_v1_service.yaml
  operators/operator-certification-operator/1.1.3/manifests/certification-operator-manager-config_v1_configmap.yaml
  operators/operator-certification-operator/1.1.3/manifests/certification-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-certification-operator/1.1.3/manifests/certification.redhat.com_operatorpipelines.yaml
  operators/operator-certification-operator/1.1.3/manifests/operator-certification-operator.clusterserviceversion.yaml
  operators/operator-certification-operator/1.1.3/metadata/annotations.yaml
  operators/operator-certification-operator/1.1.3/metadata/dependencies.yaml
  operators/operator-certification-operator/1.1.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3084 operator cloud-native-postgresql (1.18.8)
  operators/cloud-native-postgresql/1.18.8/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.18.8/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.18.8/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.18.8/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.18.8/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.18.8/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.18.8/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.18.8/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.18.8/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3085 operator cloud-native-postgresql (1.19.6)
  operators/cloud-native-postgresql/1.19.6/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.19.6/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.19.6/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.19.6/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.19.6/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.19.6/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.19.6/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.19.6/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.19.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3086 operator cloud-native-postgresql (1.20.4)
  operators/cloud-native-postgresql/1.20.4/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.20.4/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.20.4/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.20.4/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.20.4/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.20.4/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.20.4/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.20.4/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.20.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3087 operator cloud-native-postgresql (1.21.1)
  operators/cloud-native-postgresql/1.21.1/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.21.1/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.21.1/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.21.1/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.21.1/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.21.1/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.21.1/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.21.1/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.21.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3088 operator tawon-operator (2.29.0)
  operators/tawon-operator/2.29.0/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.29.0/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.29.0/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.29.0/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.29.0/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.29.0/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.29.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3082 operator elasticsearch-eck-operator-certified (2.10.0)
  operators/elasticsearch-eck-operator-certified/2.10.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.10.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.10.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.10.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.10.0/manifests/elasticsearch-eck-operator-certified.clusterserviceversion.yaml
  operators/elasticsearch-eck-operator-certified/2.10.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.10.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.10.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.10.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.10.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.10.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.10.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3075 Add Github workflow that control labels using comments
  .github/workflows/pr-label-command.yml
Labels: operator-hosted-pipeline/failed

#3095 operator habana-ai-operator (1.12.1-10)
  operators/habana-ai-operator/1.12.1-10/manifests/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.12.1-10/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.12.1-10/manifests/controller-manager-metrics_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/habana-ai-operator/1.12.1-10/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.12.1-10/manifests/habana.ai_deviceconfigs.yaml
  operators/habana-ai-operator/1.12.1-10/manifests/manager-config_v1_configmap.yaml
  operators/habana-ai-operator/1.12.1-10/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.12.1-10/manifests/node-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.12.1-10/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.12.1-10/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/habana-ai-operator/1.12.1-10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3097 operator confluent-for-kubernetes (2.6.3)
  operators/confluent-for-kubernetes/2.6.3/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.6.3/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.6.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3098 operator confluent-for-kubernetes (2.7.2)
  operators/confluent-for-kubernetes/2.7.2/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.7.2/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.7.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3099 operator kubeturbo-certified (8.10.5-beta.1)
  operators/kubeturbo-certified/8.10.5-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.10.5-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.10.5-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3100 operator prometurbo-certified (8.10.5-beta.1)
  operators/prometurbo-certified/8.10.5-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.10.5-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.10.5-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3104 operator tawon-operator (2.29.1)
  operators/tawon-operator/2.29.1/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.29.1/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.29.1/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.29.1/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.29.1/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.29.1/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.29.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3105 operator ibm-application-gateway-operator (23.11.0)
  operators/ibm-application-gateway-operator/23.11.0/manifests/ibm-application-gateway-operator-ctrl-mgr-metrics-service_v1_service.yaml
  operators/ibm-application-gateway-operator/23.11.0/manifests/ibm-application-gateway-operator-manager-config_v1_configmap.yaml
  operators/ibm-application-gateway-operator/23.11.0/manifests/ibm-application-gateway-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-application-gateway-operator/23.11.0/manifests/ibm-application-gateway-operator-webhook-service_v1_service.yaml
  operators/ibm-application-gateway-operator/23.11.0/manifests/ibm-application-gateway-operator.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/23.11.0/manifests/ibm.com_ibmapplicationgateways.yaml
  operators/ibm-application-gateway-operator/23.11.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/23.11.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3106 operator mongodb-enterprise (1.23.0)
  operators/mongodb-enterprise/1.23.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.23.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.23.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.23.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.23.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3107 operator mongodb-atlas-kubernetes (2.0.0)
  operators/mongodb-atlas-kubernetes/2.0.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.0.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.0.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.0.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.0.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.0.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.0.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.0.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.0.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.0.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.0.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.0.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.0.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.0.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3108 operator stackgres-certified (1.6.0)
  operators/stackgres-certified/1.6.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.6.0/metadata/annotations.yaml
  operators/stackgres-certified/1.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3109 operator ibm-metrics-operator (2.13.0)
  operators/ibm-metrics-operator/2.13.0/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.13.0/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.13.0/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.0/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.0/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.13.0/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.13.0/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.13.0/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.13.0/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.13.0/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.13.0/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.13.0/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3112 operator t8c-certified (42.44.0)
  operators/t8c-certified/42.44.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.44.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.44.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3113 operator kubeturbo-certified (8.10.5)
  operators/kubeturbo-certified/8.10.5/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.10.5/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.10.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3114 operator prometurbo-certified (8.10.5)
  operators/prometurbo-certified/8.10.5/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.10.5/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.10.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3067 operator netscaler-adm-agent-operator (141.13.23)
  operators/netscaler-adm-agent-operator/141.13.23/manifests/netscaler-adm-agent-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-adm-agent-operator/141.13.23/manifests/netscaler-adm-agent-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-adm-agent-operator/141.13.23/manifests/netscaler-adm-agent-operator.clusterserviceversion.yaml
  operators/netscaler-adm-agent-operator/141.13.23/manifests/netscaler.com_admagents.yaml
  operators/netscaler-adm-agent-operator/141.13.23/metadata/annotations.yaml
  operators/netscaler-adm-agent-operator/141.13.23/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3115 operator vfunction-server-operator (v3.2.1228)
  operators/vfunction-server-operator/v3.2.1228/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v3.2.1228/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v3.2.1228/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v3.2.1228/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v3.2.1228/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v3.2.1228/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3116 operator runtime-fabric-operator (v2.5.0)
  operators/runtime-fabric-operator/v2.5.0/manifests/rtf.operators.mulesoft.com_runtimefabrics.yaml
  operators/runtime-fabric-operator/v2.5.0/manifests/runtime-fabric-operator-controller-manager-metrics-service_v1_service.yaml
  operators/runtime-fabric-operator/v2.5.0/manifests/runtime-fabric-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.5.0/manifests/runtime-fabric-operator.clusterserviceversion.yaml
  operators/runtime-fabric-operator/v2.5.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3118 operator f5-bigip-ctlr-operator (v1.15.0)
  operators/f5-bigip-ctlr-operator/v1.15.0/manifests/cis.f5.com_f5bigipctlrs.yaml
  operators/f5-bigip-ctlr-operator/v1.15.0/manifests/f5-bigip-ctlr-operator-controller-manager-metrics-service_v1_service.yaml
  operators/f5-bigip-ctlr-operator/v1.15.0/manifests/f5-bigip-ctlr-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/f5-bigip-ctlr-operator/v1.15.0/manifests/f5-bigip-ctlr-operator.clusterserviceversion.yaml
  operators/f5-bigip-ctlr-operator/v1.15.0/metadata/annotations.yaml
  operators/f5-bigip-ctlr-operator/v1.15.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#3119 operator dynatrace-operator (0.14.2)
  operators/dynatrace-operator/0.14.2/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.14.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/0.14.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3120 operator gitlab-operator-kubernetes (0.25.2)
  operators/gitlab-operator-kubernetes/0.25.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.25.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.25.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.25.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3122 operator redhat-marketplace-operator (2.13.0)
  operators/redhat-marketplace-operator/2.13.0/manifests/deploy.razee.io_remoteresources.yaml
  operators/redhat-marketplace-operator/2.13.0/manifests/redhat-marketplace-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/redhat-marketplace-operator/2.13.0/manifests/redhat-marketplace-controller-manager-metrics-service_v1_service.yaml
  operators/redhat-marketplace-operator/2.13.0/manifests/redhat-marketplace-operator.clusterserviceversion.yaml
  operators/redhat-marketplace-operator/2.13.0/manifests/redhat-marketplace-servicemonitor-metrics-reader_v1_secret.yaml
  operators/redhat-marketplace-operator/2.13.0/manifests/redhat-marketplace-serving-certs-ca-bundle_v1_configmap.yaml
  operators/redhat-marketplace-operator/2.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3123 operator ibm-data-reporter-operator (2.13.0)
  operators/ibm-data-reporter-operator/2.13.0/manifests/ibm-data-reporter-operator-component-config-b2779g8ghb_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.13.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.13.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.13.0/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.13.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.13.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.13.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.13.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.13.0/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.13.0/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.13.0/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3124 operator vault-secrets-operator (0.4.0)
  operators/vault-secrets-operator/0.4.0/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.4.0/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.4.0/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.4.0/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.4.0/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.4.0/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.4.0/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.4.0/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.4.0/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.4.0/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.4.0/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.4.0/metadata/annotations.yaml
  operators/vault-secrets-operator/0.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3128 operator cte-k8s-operator (v1.3.2)
  operators/cte-k8s-operator/v1.3.2/manifests/cte-k8s-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cte-k8s-operator/v1.3.2/manifests/cte-k8s-operator-cte-csi-controller_v1_serviceaccount.yaml
  operators/cte-k8s-operator/v1.3.2/manifests/cte-k8s-operator-cte-csi-node_v1_serviceaccount.yaml
  operators/cte-k8s-operator/v1.3.2/manifests/cte-k8s-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cte-k8s-operator/v1.3.2/manifests/cte-k8s-operator-webhook-service_v1_service.yaml
  operators/cte-k8s-operator/v1.3.2/manifests/cte-k8s-operator.clusterserviceversion.yaml
  operators/cte-k8s-operator/v1.3.2/manifests/cte-k8s-operator.csi.cte.cpl.thalesgroup.com_ctek8soperators.yaml
  operators/cte-k8s-operator/v1.3.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3129 operator neuvector-certified-operator (1.4.2)
  operators/neuvector-certified-operator/1.4.2/manifests/neuvector-certified-operator.clusterserviceversion.yaml
  operators/neuvector-certified-operator/1.4.2/manifests/neuvectors.apm.neuvector.com.crd.yaml
  operators/neuvector-certified-operator/1.4.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3130 operator gitlab-operator-kubernetes (0.26.0)
  operators/gitlab-operator-kubernetes/0.26.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.26.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.26.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3133 operator hpe-csi-operator (2.4.0)
  operators/hpe-csi-operator/2.4.0/manifests/hpe-csi-operator.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.4.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  operators/hpe-csi-operator/2.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3135 operator netscaler-operator (2.1.0)
  operators/netscaler-operator/2.1.0/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/2.1.0/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/2.1.0/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/2.1.0/manifests/netscaler.com_netscalercpxwithingresscontrollers.yaml
  operators/netscaler-operator/2.1.0/manifests/netscaler.com_netscaleringresscontrollers.yaml
  operators/netscaler-operator/2.1.0/manifests/netscaler.com_netscalerobservabilityexporters.yaml
  operators/netscaler-operator/2.1.0/metadata/annotations.yaml
  operators/netscaler-operator/2.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3132 operator app-director-operator (v1.1.1)
  operators/app-director-operator/v1.1.1/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-director-operator/v1.1.1/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-director-operator/v1.1.1/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-director-operator/v1.1.1/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-director-operator/v1.1.1/manifests/appdirector.randoli.ca_appdirectoragents.yaml
  operators/app-director-operator/v1.1.1/manifests/appdirector.randoli.ca_clusterwideappdirectoragents.yaml
  operators/app-director-operator/v1.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3138 operator prometurbo-certified (8.10.6-beta.1)
  operators/prometurbo-certified/8.10.6-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.10.6-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.10.6-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3137 operator kubeturbo-certified (8.10.6-beta.1)
  operators/kubeturbo-certified/8.10.6-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.10.6-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.10.6-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3143 operator kubeturbo-certified (8.10.6-beta.2)
  operators/kubeturbo-certified/8.10.6-beta.2/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.10.6-beta.2/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.10.6-beta.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3144 operator portworx-certified (23.10.1)
  operators/portworx-certified/23.10.1/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/23.10.1/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/23.10.1/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/23.10.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3150 operator tenant-operator (v0.10.0)
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-authentication_v1_configmap.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-bootstrap-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-console_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-frontend_v1_configmap.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-gateway_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-nginx-conf_v1_configmap.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.0/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.10.0/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.10.0/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.10.0/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.10.0/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.10.0/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.10.0/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.10.0/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.10.0/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.10.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3141 operator redis-enterprise-operator-cert (6.4.2-8.1)
  operators/redis-enterprise-operator-cert/6.4.2-8.1/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.1/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.1/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.1/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.1/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3152 Remove operator hpe-csi-operator (2.4.0)
  operators/hpe-csi-operator/2.4.0/manifests/hpe-csi-operator.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.4.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  operators/hpe-csi-operator/2.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3153 operator openshiftartifactoryha-operator (1.2.5)
  operators/openshiftartifactoryha-operator/1.2.5/manifests/openshiftartifactoryha-operator.clusterserviceversion.yaml
  operators/openshiftartifactoryha-operator/1.2.5/manifests/openshiftartifactoryhas.charts.helm.k8s.io.crd.yaml
  operators/openshiftartifactoryha-operator/1.2.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3139 operator minio-operator (5.0.11)
  operators/minio-operator/5.0.11/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/5.0.11/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/5.0.11/manifests/console_v1_service.yaml
  operators/minio-operator/5.0.11/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/5.0.11/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/5.0.11/manifests/operator_v1_service.yaml
  operators/minio-operator/5.0.11/manifests/sts.min.io_policybindings.yaml
  operators/minio-operator/5.0.11/manifests/sts_v1_service.yaml
  operators/minio-operator/5.0.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3154 operator openshiftxray-operator (2.1.5)
  operators/openshiftxray-operator/2.1.5/manifests/openshiftxray-operator.clusterserviceversion.yaml
  operators/openshiftxray-operator/2.1.5/manifests/openshiftxrays.charts.helm.k8s.io.crd.yaml
  operators/openshiftxray-operator/2.1.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3156 operator cilium-enterprise (1.14.4)
  operators/cilium-enterprise/1.14.4/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.4/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.4/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3157 operator cilium (1.13.9)
  operators/cilium/1.13.9/manifests/cilium.clusterserviceversion.yaml
  operators/cilium/1.13.9/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium/1.13.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3159 operator stackable-commons-operator (23.11.0)
  operators/stackable-commons-operator/23.11.0/manifests/AuthenticationClass.yml
  operators/stackable-commons-operator/23.11.0/manifests/S3Bucket.yml
  operators/stackable-commons-operator/23.11.0/manifests/S3Connection.yml
  operators/stackable-commons-operator/23.11.0/manifests/commons-operator-configmap.yml
  operators/stackable-commons-operator/23.11.0/manifests/stackable-commons-operator.clusterserviceversion.yaml
  operators/stackable-commons-operator/23.11.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3126 operator gitlab-runner-operator (1.20.0)
  operators/gitlab-runner-operator/1.20.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.20.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.20.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.20.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3161 operator stackable-secret-operator (23.11.0)
  operators/stackable-secret-operator/23.11.0/manifests/SecretClass.yml
  operators/stackable-secret-operator/23.11.0/manifests/secret-operator-clusterrole.yml
  operators/stackable-secret-operator/23.11.0/manifests/secret-operator-clusterrolebinding.yaml
  operators/stackable-secret-operator/23.11.0/manifests/secret-operator-manifests.yaml
  operators/stackable-secret-operator/23.11.0/manifests/secret-operator-serviceaccount.yml
  operators/stackable-secret-operator/23.11.0/manifests/stackable-secret-operator.clusterserviceversion.yaml
  operators/stackable-secret-operator/23.11.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3164 operator stackable-hdfs-operator (23.11.0)
  operators/stackable-hdfs-operator/23.11.0/manifests/HdfsCluster.yml
  operators/stackable-hdfs-operator/23.11.0/manifests/hdfs-clusterrole.yml
  operators/stackable-hdfs-operator/23.11.0/manifests/hdfs-operator-configmap.yml
  operators/stackable-hdfs-operator/23.11.0/manifests/stackable-hdfs-operator.clusterserviceversion.yaml
  operators/stackable-hdfs-operator/23.11.0/metadata/annotations.yaml
  operators/stackable-hdfs-operator/23.11.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3165 operator crunchy-postgres-operator (5.4.4)
  operators/crunchy-postgres-operator/5.4.4/Dockerfile
  operators/crunchy-postgres-operator/5.4.4/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.4.4/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.4.4/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.4.4/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.4.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3166 operator cilium-enterprise (1.12.16)
  operators/cilium-enterprise/1.12.16/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.12.16/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.12.16/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.12.16/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3163 operator stackable-zookeeper-operator (23.11.0)
  operators/stackable-zookeeper-operator/23.11.0/manifests/ZookeeperCluster.yml
  operators/stackable-zookeeper-operator/23.11.0/manifests/ZookeeperZnode.yml
  operators/stackable-zookeeper-operator/23.11.0/manifests/stackable-zookeeper-operator.clusterserviceversion.yaml
  operators/stackable-zookeeper-operator/23.11.0/manifests/zookeeper-clusterrole.yml
  operators/stackable-zookeeper-operator/23.11.0/manifests/zookeeper-operator-configmap.yml
  operators/stackable-zookeeper-operator/23.11.0/metadata/annotations.yaml
  operators/stackable-zookeeper-operator/23.11.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3170 operator stackable-hbase-operator (23.11.0)
  operators/stackable-hbase-operator/23.11.0/manifests/HbaseCluster.yml
  operators/stackable-hbase-operator/23.11.0/manifests/hbase-clusterrole.yml
  operators/stackable-hbase-operator/23.11.0/manifests/hbase-operator-configmap.yml
  operators/stackable-hbase-operator/23.11.0/manifests/stackable-hbase-operator.clusterserviceversion.yaml
  operators/stackable-hbase-operator/23.11.0/metadata/annotations.yaml
  operators/stackable-hbase-operator/23.11.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3172 operator stackable-trino-operator (23.11.0)
  operators/stackable-trino-operator/23.11.0/manifests/TrinoCatalog.yml
  operators/stackable-trino-operator/23.11.0/manifests/TrinoCluster.yml
  operators/stackable-trino-operator/23.11.0/manifests/stackable-trino-operator.clusterserviceversion.yaml
  operators/stackable-trino-operator/23.11.0/manifests/trino-clusterrole.yml
  operators/stackable-trino-operator/23.11.0/manifests/trino-operator-configmap.yml
  operators/stackable-trino-operator/23.11.0/metadata/annotations.yaml
  operators/stackable-trino-operator/23.11.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3171 operator stackable-hive-operator (23.11.0)
  operators/stackable-hive-operator/23.11.0/manifests/HiveCluster.yml
  operators/stackable-hive-operator/23.11.0/manifests/hive-clusterrole.yml
  operators/stackable-hive-operator/23.11.0/manifests/hive-operator-configmap.yml
  operators/stackable-hive-operator/23.11.0/manifests/stackable-hive-operator.clusterserviceversion.yaml
  operators/stackable-hive-operator/23.11.0/metadata/annotations.yaml
  operators/stackable-hive-operator/23.11.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3174 operator ibm-metrics-operator (2.13.1)
  operators/ibm-metrics-operator/2.13.1/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.13.1/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.13.1/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.1/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.1/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.13.1/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.13.1/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.13.1/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.13.1/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.13.1/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.13.1/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.13.1/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.13.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3175 operator redhat-marketplace-operator (2.13.1)
  operators/redhat-marketplace-operator/2.13.1/manifests/deploy.razee.io_remoteresources.yaml
  operators/redhat-marketplace-operator/2.13.1/manifests/redhat-marketplace-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/redhat-marketplace-operator/2.13.1/manifests/redhat-marketplace-controller-manager-metrics-service_v1_service.yaml
  operators/redhat-marketplace-operator/2.13.1/manifests/redhat-marketplace-operator.clusterserviceversion.yaml
  operators/redhat-marketplace-operator/2.13.1/manifests/redhat-marketplace-servicemonitor-metrics-reader_v1_secret.yaml
  operators/redhat-marketplace-operator/2.13.1/manifests/redhat-marketplace-serving-certs-ca-bundle_v1_configmap.yaml
  operators/redhat-marketplace-operator/2.13.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3176 operator ibm-data-reporter-operator (2.13.1)
  operators/ibm-data-reporter-operator/2.13.1/manifests/ibm-data-reporter-operator-component-config-b2779g8ghb_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.13.1/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.13.1/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.13.1/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.13.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.13.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.13.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.13.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.13.1/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.13.1/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.13.1/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.13.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3178 operator crunchy-postgres-operator (5.5.0)
  operators/crunchy-postgres-operator/5.5.0/Dockerfile
  operators/crunchy-postgres-operator/5.5.0/licenses/TERMS
  operators/crunchy-postgres-operator/5.5.0/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.5.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.5.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.5.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.5.0/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.5.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3179 operator t8c-certified (42.45.0)
  operators/t8c-certified/42.45.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.45.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.45.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3180 operator kubeturbo-certified (8.10.6)
  operators/kubeturbo-certified/8.10.6/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.10.6/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.10.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3181 operator prometurbo-certified (8.10.6)
  operators/prometurbo-certified/8.10.6/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.10.6/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.10.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3184 operator appdynamics-operator (23.11.0-624)
  operators/appdynamics-operator/23.11.0-624/bundle.Dockerfile
  operators/appdynamics-operator/23.11.0-624/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/23.11.0-624/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/23.11.0-624/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/23.11.0-624/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/23.11.0-624/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/23.11.0-624/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/23.11.0-624/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/23.11.0-624/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/23.11.0-624/metadata/annotations.yaml
  operators/appdynamics-operator/23.11.0-624/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3187 operator stackable-opa-operator (23.11.0)
  operators/stackable-opa-operator/23.11.0/manifests/OpaCluster.yml
  operators/stackable-opa-operator/23.11.0/manifests/opa-clusterrole.yml
  operators/stackable-opa-operator/23.11.0/manifests/opa-operator-configmap.yml
  operators/stackable-opa-operator/23.11.0/manifests/opa-operator-opa-bundle-builder-clusterrole.yml
  operators/stackable-opa-operator/23.11.0/manifests/stackable-opa-operator.clusterserviceversion.yaml
  operators/stackable-opa-operator/23.11.0/metadata/annotations.yaml
  operators/stackable-opa-operator/23.11.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3188 operator stackable-kafka-operator (23.11.0)
  operators/stackable-kafka-operator/23.11.0/manifests/KafkaCluster.yml
  operators/stackable-kafka-operator/23.11.0/manifests/kafka-clusterrole.yml
  operators/stackable-kafka-operator/23.11.0/manifests/kafka-operator-configmap.yml
  operators/stackable-kafka-operator/23.11.0/manifests/stackable-kafka-operator.clusterserviceversion.yaml
  operators/stackable-kafka-operator/23.11.0/metadata/annotations.yaml
  operators/stackable-kafka-operator/23.11.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3189 operator stackable-druid-operator (23.11.0)
  operators/stackable-druid-operator/23.11.0/manifests/DruidCluster.yml
  operators/stackable-druid-operator/23.11.0/manifests/druid-clusterrole.yml
  operators/stackable-druid-operator/23.11.0/manifests/druid-operator-configmap.yml
  operators/stackable-druid-operator/23.11.0/manifests/stackable-druid-operator.clusterserviceversion.yaml
  operators/stackable-druid-operator/23.11.0/metadata/annotations.yaml
  operators/stackable-druid-operator/23.11.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3190 operator stackable-airflow-operator (23.11.0)
  operators/stackable-airflow-operator/23.11.0/manifests/AirflowCluster.yml
  operators/stackable-airflow-operator/23.11.0/manifests/airflow-clusterrole.yml
  operators/stackable-airflow-operator/23.11.0/manifests/airflow-operator-configmap.yml
  operators/stackable-airflow-operator/23.11.0/manifests/stackable-airflow-operator.clusterserviceversion.yaml
  operators/stackable-airflow-operator/23.11.0/metadata/annotations.yaml
  operators/stackable-airflow-operator/23.11.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3191 operator stackable-superset-operator (23.11.0)
  operators/stackable-superset-operator/23.11.0/manifests/DruidConnection.yml
  operators/stackable-superset-operator/23.11.0/manifests/SupersetCluster.yml
  operators/stackable-superset-operator/23.11.0/manifests/stackable-superset-operator.clusterserviceversion.yaml
  operators/stackable-superset-operator/23.11.0/manifests/superset-clusterrole.yml
  operators/stackable-superset-operator/23.11.0/manifests/superset-operator-configmap.yml
  operators/stackable-superset-operator/23.11.0/metadata/annotations.yaml
  operators/stackable-superset-operator/23.11.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started
