Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2023-12, with the labels that each got.

#3193 operator memory-machine-operator (1.0.0-beta.1)
  operators/memory-machine-operator/1.0.0-beta.1/manifests/memory-machine-operator.clusterserviceversion.yaml
  operators/memory-machine-operator/1.0.0-beta.1/manifests/memory-machine-webhook-service_v1_service.yaml
  operators/memory-machine-operator/1.0.0-beta.1/manifests/memverge-webhook-configmap_v1_configmap.yaml
  operators/memory-machine-operator/1.0.0-beta.1/manifests/mm.memverge.com_memorymachines.yaml
  operators/memory-machine-operator/1.0.0-beta.1/metadata/annotations.yaml
  operators/memory-machine-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#3194 operator cilium (1.11.20)
  operators/cilium/1.11.20/manifests/cilium.clusterserviceversion.yaml
  operators/cilium/1.11.20/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium/1.11.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3200 operator runtime-component-operator-certified (1.3.0)
  operators/runtime-component-operator-certified/1.3.0/manifests/rc.app.stacks_runtimecomponents.yaml
  operators/runtime-component-operator-certified/1.3.0/manifests/rc.app.stacks_runtimeoperations.yaml
  operators/runtime-component-operator-certified/1.3.0/manifests/runtime-component-operator-certified.clusterserviceversion.yaml
  operators/runtime-component-operator-certified/1.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3203 operator mongodb-atlas-kubernetes (2.0.1)
  operators/mongodb-atlas-kubernetes/2.0.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.0.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3204 operator open-liberty-certified (1.3.0)
  operators/open-liberty-certified/1.3.0/manifests/apps.openliberty.io_openlibertyapplications.yaml
  operators/open-liberty-certified/1.3.0/manifests/apps.openliberty.io_openlibertydumps.yaml
  operators/open-liberty-certified/1.3.0/manifests/apps.openliberty.io_openlibertytraces.yaml
  operators/open-liberty-certified/1.3.0/manifests/open-liberty-certified.clusterserviceversion.yaml
  operators/open-liberty-certified/1.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3207 operator vault-secrets-operator (0.4.1)
  operators/vault-secrets-operator/0.4.1/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.4.1/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.4.1/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.4.1/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.4.1/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.4.1/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.4.1/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.4.1/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.4.1/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.4.1/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.4.1/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.4.1/metadata/annotations.yaml
  operators/vault-secrets-operator/0.4.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3208 operator kubeturbo-certified (8.10.7-beta.1)
  operators/kubeturbo-certified/8.10.7-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.10.7-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.10.7-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3209 operator hpe-csi-operator (2.4.0)
  operators/hpe-csi-operator/2.4.0/manifests/hpe-csi-operator.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.4.0/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  operators/hpe-csi-operator/2.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3210 operator stackgres-certified (1.6.1)
  operators/stackgres-certified/1.6.1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgbackupconfigs.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.6.1/metadata/annotations.yaml
  operators/stackgres-certified/1.6.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3212 operator nexus-repository-ha-operator-certified (3.63.0-1)
  operators/nexus-repository-ha-operator-certified/3.63.0-1/manifests/nexus-repository-ha-operator-certified.clusterserviceversion.yaml
  operators/nexus-repository-ha-operator-certified/3.63.0-1/manifests/sonatype.com_nexusrepos_crd.yaml
  operators/nexus-repository-ha-operator-certified/3.63.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3206 operator intel-device-plugins-operator (0.28.0)
  operators/intel-device-plugins-operator/0.28.0/bundle.Dockerfile
  operators/intel-device-plugins-operator/0.28.0/manifests/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.28.0/manifests/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.28.0/manifests/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.28.0/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.28.0/metadata/annotations.yaml
  operators/intel-device-plugins-operator/0.28.0/tests/scorecard/config.yaml
  operators/intel-device-plugins-operator/ci.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/passed

#3214 operator kubeturbo-certified (8.10.61)
  operators/kubeturbo-certified/8.10.61/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.10.61/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.10.61/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3215 operator prometurbo-certified (8.10.7-beta.1)
  operators/prometurbo-certified/8.10.7-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.10.7-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.10.7-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3217 operator antrea-operator-for-kubernetes (v1.14.1)
  operators/antrea-operator-for-kubernetes/v1.14.1/manifests/antrea-operator-for-kubernetes.clusterserviceversion.yaml
  operators/antrea-operator-for-kubernetes/v1.14.1/manifests/operator.antrea.vmware.com_antreainstalls.yaml
  operators/antrea-operator-for-kubernetes/v1.14.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3219 operator infoscale-licensing-operator (8.0.301)
  operators/infoscale-licensing-operator/8.0.301/manifests/licensing-operator.clusterserviceversion.yaml
  operators/infoscale-licensing-operator/8.0.301/manifests/lico-manager-config_v1_configmap.yaml
  operators/infoscale-licensing-operator/8.0.301/manifests/lico-webhook-service_v1_service.yaml
  operators/infoscale-licensing-operator/8.0.301/manifests/vlic.veritas.com_licenses.yaml
  operators/infoscale-licensing-operator/8.0.301/metadata/annotations.yaml
  operators/infoscale-licensing-operator/8.0.301/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3222 Delete operators/netscaler-adm-agent-operator/141.13.23 directory
  operators/netscaler-adm-agent-operator/141.13.23/manifests/netscaler-adm-agent-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-adm-agent-operator/141.13.23/manifests/netscaler-adm-agent-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-adm-agent-operator/141.13.23/manifests/netscaler-adm-agent-operator.clusterserviceversion.yaml
  operators/netscaler-adm-agent-operator/141.13.23/manifests/netscaler.com_admagents.yaml
  operators/netscaler-adm-agent-operator/141.13.23/metadata/annotations.yaml
  operators/netscaler-adm-agent-operator/141.13.23/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#3221 operator infoscale-dr-manager (8.0.301)
  operators/infoscale-dr-manager/8.0.301/manifests/infoscale-dr-manager-config_v1_configmap.yaml
  operators/infoscale-dr-manager/8.0.301/manifests/infoscale-dr-manager.clusterserviceversion.yaml
  operators/infoscale-dr-manager/8.0.301/manifests/infoscale-dr-webhook-service_v1_service.yaml
  operators/infoscale-dr-manager/8.0.301/manifests/infoscale.veritas.com_datareplications.yaml
  operators/infoscale-dr-manager/8.0.301/manifests/infoscale.veritas.com_disasterrecoveryplans.yaml
  operators/infoscale-dr-manager/8.0.301/manifests/infoscale.veritas.com_dns.yaml
  operators/infoscale-dr-manager/8.0.301/manifests/infoscale.veritas.com_globalclustermemberships.yaml
  operators/infoscale-dr-manager/8.0.301/metadata/annotations.yaml
  operators/infoscale-dr-manager/8.0.301/tests/scorecard/config.yaml
  operators/infoscale-dr-manager/ci.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/started

#3216 operator kubeturbo-certified (8.10.7-beta.2)
  operators/kubeturbo-certified/8.10.7-beta.2/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.10.7-beta.2/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.10.7-beta.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3227 operator vault-secrets-operator (0.4.2)
  operators/vault-secrets-operator/0.4.2/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.4.2/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.4.2/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.4.2/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.4.2/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.4.2/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.4.2/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.4.2/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.4.2/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.4.2/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.4.2/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.4.2/metadata/annotations.yaml
  operators/vault-secrets-operator/0.4.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3230 operator crunchy-postgres-operator (5.5.0)
  operators/crunchy-postgres-operator/5.5.0/Dockerfile
  operators/crunchy-postgres-operator/5.5.0/licenses/TERMS
  operators/crunchy-postgres-operator/5.5.0/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.5.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.5.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.5.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.5.0/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.5.0/tests/scorecard/config.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/failed

#3231 operator habana-ai-operator (1.13.0-463)
  operators/habana-ai-operator/1.13.0-463/manifests/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.13.0-463/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.13.0-463/manifests/controller-manager-metrics_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/habana-ai-operator/1.13.0-463/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.13.0-463/manifests/habana.ai_deviceconfigs.yaml
  operators/habana-ai-operator/1.13.0-463/manifests/habanalabs-driver-dockerfile_v1_configmap.yaml
  operators/habana-ai-operator/1.13.0-463/manifests/manager-config_v1_configmap.yaml
  operators/habana-ai-operator/1.13.0-463/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.13.0-463/manifests/node-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.13.0-463/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.13.0-463/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/habana-ai-operator/1.13.0-463/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3236 operator tigera-operator (1.30.9)
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_bgpconfigurations.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_bgppeers.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_blockaffinities.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_caliconodestatuses.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_clusterinformations.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_felixconfigurations.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_globalnetworkpolicies.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_globalnetworksets.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_hostendpoints.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_ipamblocks.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_ipamconfigs.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_ipamhandles.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_ippools.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_ipreservations.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_kubecontrollersconfigurations.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_networkpolicies.yaml
  operators/tigera-operator/1.30.9/manifests/crd.projectcalico.org_networksets.yaml
  operators/tigera-operator/1.30.9/manifests/operator.tigera.io_apiservers.yaml
  operators/tigera-operator/1.30.9/manifests/operator.tigera.io_imagesets.yaml
  operators/tigera-operator/1.30.9/manifests/operator.tigera.io_installations.yaml
  operators/tigera-operator/1.30.9/manifests/operator.tigera.io_tigerastatuses.yaml
  operators/tigera-operator/1.30.9/manifests/tigera-operator.clusterserviceversion.yaml
  operators/tigera-operator/1.30.9/metadata/annotations.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/started

#3229 operator gpu-operator-certified (v23.9.1)
  operators/gpu-operator-certified/v23.9.1/manifests/gpu-operator-certified.clusterserviceversion.yaml
  operators/gpu-operator-certified/v23.9.1/manifests/nvidia.com_clusterpolicies.yaml
  operators/gpu-operator-certified/v23.9.1/manifests/nvidia.com_nvidiadrivers.yaml
  operators/gpu-operator-certified/v23.9.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3238 operator nutanixcsioperator (2.6.6)
  operators/nutanixcsioperator/2.6.6/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/2.6.6/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/2.6.6/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/2.6.6/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/2.6.6/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/2.6.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3240 operator uma-operator (2023.9.5)
  operators/uma-operator/2023.9.5/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2023.9.5/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2023.9.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3241 operator uma-admin-operator (2023.9.5)
  operators/uma-admin-operator/2023.9.5/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2023.9.5/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2023.9.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3242 operator uma-team-operator (2023.9.5)
  operators/uma-team-operator/2023.9.5/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2023.9.5/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2023.9.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3243 operator tawon-operator (2.30.0)
  operators/tawon-operator/2.30.0/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.30.0/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.30.0/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.30.0/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.30.0/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.30.0/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.30.0/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.30.0/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.30.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3245 operator aci-containers-operator (v1.0.6)
  operators/aci-containers-operator/v1.0.6/manifests/aci-containers-operator.aci.ctrl.crd.yaml
  operators/aci-containers-operator/v1.0.6/manifests/aci-containers-operator.clusterserviceversion.yaml
  operators/aci-containers-operator/v1.0.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3247 operator netscaler-adm-agent-operator (141.13.23)
  operators/netscaler-adm-agent-operator/141.13.23/manifests/netscaler-adm-agent-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-adm-agent-operator/141.13.23/manifests/netscaler-adm-agent-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-adm-agent-operator/141.13.23/manifests/netscaler-adm-agent-operator.clusterserviceversion.yaml
  operators/netscaler-adm-agent-operator/141.13.23/manifests/netscaler.com_admagents.yaml
  operators/netscaler-adm-agent-operator/141.13.23/metadata/annotations.yaml
  operators/netscaler-adm-agent-operator/141.13.23/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3251 operator prometurbo-certified (8.10.7-beta.2)
  operators/prometurbo-certified/8.10.7-beta.2/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.10.7-beta.2/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.10.7-beta.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3252 operator kubeturbo-certified (8.10.7-beta.3)
  operators/kubeturbo-certified/8.10.7-beta.3/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.10.7-beta.3/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.10.7-beta.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3256 operator prometurbo-certified (8.10.7)
  operators/prometurbo-certified/8.10.7/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.10.7/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.10.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3257 operator kubeturbo-certified (8.10.70)
  operators/kubeturbo-certified/8.10.70/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.10.70/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.10.70/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3258 operator appdynamics-cloud-operator (23.12.0-45)
  operators/appdynamics-cloud-operator/23.12.0-45/bundle.Dockerfile
  operators/appdynamics-cloud-operator/23.12.0-45/manifests/appdynamics-cloud-operator-metrics-service_v1_service.yaml
  operators/appdynamics-cloud-operator/23.12.0-45/manifests/appdynamics-cloud-operator.clusterserviceversion.yaml
  operators/appdynamics-cloud-operator/23.12.0-45/manifests/cluster.appdynamics.com_clustermons.yaml
  operators/appdynamics-cloud-operator/23.12.0-45/manifests/cluster.appdynamics.com_containermons.yaml
  operators/appdynamics-cloud-operator/23.12.0-45/manifests/cluster.appdynamics.com_dbcollectors.yaml
  operators/appdynamics-cloud-operator/23.12.0-45/manifests/cluster.appdynamics.com_dbconfigs.yaml
  operators/appdynamics-cloud-operator/23.12.0-45/manifests/cluster.appdynamics.com_inframons.yaml
  operators/appdynamics-cloud-operator/23.12.0-45/manifests/cluster.appdynamics.com_logcollectors.yaml
  operators/appdynamics-cloud-operator/23.12.0-45/manifests/cluster.appdynamics.com_servermons.yaml
  operators/appdynamics-cloud-operator/23.12.0-45/manifests/manager-config_v1_configmap.yaml
  operators/appdynamics-cloud-operator/23.12.0-45/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/appdynamics-cloud-operator/23.12.0-45/metadata/annotations.yaml
  operators/appdynamics-cloud-operator/23.12.0-45/tests/scorecard/config.yaml
  operators/appdynamics-cloud-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#3250 operator habana-ai-operator (1.12.1-10-1)
  operators/habana-ai-operator/1.12.1-10-1/manifests/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.12.1-10-1/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.12.1-10-1/manifests/controller-manager-metrics_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/habana-ai-operator/1.12.1-10-1/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.12.1-10-1/manifests/habana.ai_deviceconfigs.yaml
  operators/habana-ai-operator/1.12.1-10-1/manifests/habanalabs-driver-dockerfile_v1_configmap.yaml
  operators/habana-ai-operator/1.12.1-10-1/manifests/manager-config_v1_configmap.yaml
  operators/habana-ai-operator/1.12.1-10-1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.12.1-10-1/manifests/node-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.12.1-10-1/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.12.1-10-1/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/habana-ai-operator/1.12.1-10-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3259 operator joget-dx8-operator (0.0.9)
  operators/joget-dx8-operator/0.0.9/manifests/joget-dx8-operator.clusterserviceversion.yaml
  operators/joget-dx8-operator/0.0.9/manifests/jogetdx8.app.joget.com.crd.yaml
  operators/joget-dx8-operator/0.0.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3261 operator habana-ai-operator (1.13.0-463-1)
  operators/habana-ai-operator/1.13.0-463-1/manifests/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.13.0-463-1/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.13.0-463-1/manifests/controller-manager-metrics_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/habana-ai-operator/1.13.0-463-1/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.13.0-463-1/manifests/habana.ai_deviceconfigs.yaml
  operators/habana-ai-operator/1.13.0-463-1/manifests/habanalabs-driver-dockerfile_v1_configmap.yaml
  operators/habana-ai-operator/1.13.0-463-1/manifests/manager-config_v1_configmap.yaml
  operators/habana-ai-operator/1.13.0-463-1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.13.0-463-1/manifests/node-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.13.0-463-1/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.13.0-463-1/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/habana-ai-operator/1.13.0-463-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3262 operator uma-operator (2023.12.1)
  operators/uma-operator/2023.12.1/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2023.12.1/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2023.12.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3263 operator uma-admin-operator (2023.12.1)
  operators/uma-admin-operator/2023.12.1/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2023.12.1/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2023.12.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3264 operator uma-team-operator (2023.12.1)
  operators/uma-team-operator/2023.12.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2023.12.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2023.12.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3265 operator infinibox-operator-certified (v2.10.0)
  operators/infinibox-operator-certified/v2.10.0/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.10.0/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.10.0/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.10.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3266 operator redis-enterprise-operator-cert (7.2.4-12.0)
  operators/redis-enterprise-operator-cert/7.2.4-12.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3269 operator couchbase-enterprise-certified (2.6.0-1)
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbase-v2.6.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbaseautoscalers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbasebackuprestores.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbasebackups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbasebuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbaseclusters.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbasecollectiongroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbasecollections.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbaseephemeralbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbasegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbasememcachedbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbasemigrationreplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbasereplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbaserolebindings.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbasescopegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbasescopes.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/manifests/couchbaseusers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3268 operator anzounstructured-operator (v2.0.500)
  operators/anzounstructured-operator/v2.0.500/manifests/anzounstructured-operator.clusterserviceversion.yaml
  operators/anzounstructured-operator/v2.0.500/manifests/anzounstructured.clusters.cambridgesemantics.com_anzounstructureds.yaml
  operators/anzounstructured-operator/v2.0.500/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3271 operator cilium-enterprise (1.13.10)
  operators/cilium-enterprise/1.13.10/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.13.10/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.13.10/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.13.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3272 operator gitlab-operator-kubernetes (0.26.2)
  operators/gitlab-operator-kubernetes/0.26.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.26.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.26.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.26.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3273 operator anzo-operator (v2.0.400)
  operators/anzo-operator/v2.0.400/manifests/anzo-operator.clusterserviceversion.yaml
  operators/anzo-operator/v2.0.400/manifests/anzo.cambridgesemantics.com_anzos.yaml
  operators/anzo-operator/v2.0.400/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3275 operator aqua-operator-certified (2022.4.460)
  operators/aqua-operator-certified/2022.4.460/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.460/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.460/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.460/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.460/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.460/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.460/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.460/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.460/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.460/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.460/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.460/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.460/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.460/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3280 operator appdynamics-cloud-operator (23.12.1-49)
  operators/appdynamics-cloud-operator/23.12.1-49/bundle.Dockerfile
  operators/appdynamics-cloud-operator/23.12.1-49/manifests/appdynamics-cloud-operator-metrics-service_v1_service.yaml
  operators/appdynamics-cloud-operator/23.12.1-49/manifests/appdynamics-cloud-operator.clusterserviceversion.yaml
  operators/appdynamics-cloud-operator/23.12.1-49/manifests/cluster.appdynamics.com_clustermons.yaml
  operators/appdynamics-cloud-operator/23.12.1-49/manifests/cluster.appdynamics.com_containermons.yaml
  operators/appdynamics-cloud-operator/23.12.1-49/manifests/cluster.appdynamics.com_dbcollectors.yaml
  operators/appdynamics-cloud-operator/23.12.1-49/manifests/cluster.appdynamics.com_dbconfigs.yaml
  operators/appdynamics-cloud-operator/23.12.1-49/manifests/cluster.appdynamics.com_inframons.yaml
  operators/appdynamics-cloud-operator/23.12.1-49/manifests/cluster.appdynamics.com_logcollectors.yaml
  operators/appdynamics-cloud-operator/23.12.1-49/manifests/cluster.appdynamics.com_servermons.yaml
  operators/appdynamics-cloud-operator/23.12.1-49/manifests/manager-config_v1_configmap.yaml
  operators/appdynamics-cloud-operator/23.12.1-49/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/appdynamics-cloud-operator/23.12.1-49/metadata/annotations.yaml
  operators/appdynamics-cloud-operator/23.12.1-49/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3278 operator cilium (1.14.5)
  operators/cilium/1.14.5/manifests/cilium.clusterserviceversion.yaml
  operators/cilium/1.14.5/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium/1.14.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3281 operator cilium (1.13.10)
  operators/cilium/1.13.10/manifests/cilium.clusterserviceversion.yaml
  operators/cilium/1.13.10/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium/1.13.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3282 operator cilium-enterprise (1.14.5)
  operators/cilium-enterprise/1.14.5/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.5/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.5/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3270 operator dynatrace-operator (0.15.0)
  operators/dynatrace-operator/0.15.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/0.15.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/0.15.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3283 operator cilium-enterprise (1.12.17)
  operators/cilium-enterprise/1.12.17/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.12.17/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.12.17/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.12.17/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3284 operator cilium (1.12.17)
  operators/cilium/1.12.17/manifests/cilium.clusterserviceversion.yaml
  operators/cilium/1.12.17/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium/1.12.17/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3289 operator mongodb-enterprise (1.24.0)
  operators/mongodb-enterprise/1.24.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.24.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.24.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.24.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.24.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3292 operator tenant-operator (v0.10.5)
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-authentication_v1_configmap.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-bootstrap-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-console_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-frontend_v1_configmap.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-gateway_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-nginx-conf_v1_configmap.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.5/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.10.5/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.10.5/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.10.5/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.10.5/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.10.5/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.10.5/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.10.5/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.10.5/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.10.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3298 operator kubeturbo-certified (8.11.0)
  operators/kubeturbo-certified/8.11.0/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.0/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3297 operator prometurbo-certified (8.11.0)
  operators/prometurbo-certified/8.11.0/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.0/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3304 operator gitlab-operator-kubernetes (0.27.0)
  operators/gitlab-operator-kubernetes/0.27.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.27.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.27.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.27.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3305 operator tawon-operator (2.31.0)
  operators/tawon-operator/2.31.0/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.31.0/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.31.0/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.31.0/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.31.0/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.31.0/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.31.0/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.31.0/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.31.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3307 operator tenant-operator (v0.10.6)
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-authentication_v1_configmap.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-bootstrap-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-console_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-frontend_v1_configmap.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-gateway_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-nginx-conf_v1_configmap.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.6/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.10.6/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.10.6/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.10.6/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.10.6/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.10.6/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.10.6/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.10.6/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.10.6/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.10.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3306 operator fujitsu-enterprise-postgres-operator (v5.2.1)
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v5.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3308 operator joget-dx8-operator (0.0.10)
  operators/joget-dx8-operator/0.0.10/manifests/joget-dx8-operator.clusterserviceversion.yaml
  operators/joget-dx8-operator/0.0.10/manifests/jogetdx8.app.joget.com.crd.yaml
  operators/joget-dx8-operator/0.0.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3309 operator cloud-native-postgresql (1.18.9)
  operators/cloud-native-postgresql/1.18.9/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.18.9/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.18.9/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.18.9/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.18.9/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.18.9/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.18.9/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.18.9/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.18.9/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3310 operator cloud-native-postgresql (1.20.5)
  operators/cloud-native-postgresql/1.20.5/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.20.5/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.20.5/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.20.5/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.20.5/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.20.5/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.20.5/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.20.5/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.20.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3311 operator cloud-native-postgresql (1.21.2)
  operators/cloud-native-postgresql/1.21.2/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.21.2/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.21.2/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.21.2/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.21.2/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.21.2/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.21.2/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.21.2/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.21.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3312 operator cloud-native-postgresql (1.22.0)
  operators/cloud-native-postgresql/1.22.0/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.22.0/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.22.0/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.22.0/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.22.0/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.22.0/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.22.0/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.22.0/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.22.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3288 operator datadog-operator-certified (1.3.0)
  operators/datadog-operator-certified/1.3.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator-certified/1.3.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator-certified/1.3.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator-certified/1.3.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator-certified/1.3.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator-certified/1.3.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator-certified/1.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3313 operator confluent-for-kubernetes (2.6.4)
  operators/confluent-for-kubernetes/2.6.4/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.6.4/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.6.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3314 operator confluent-for-kubernetes (2.7.3)
  operators/confluent-for-kubernetes/2.7.3/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.7.3/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.7.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started
