Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2024-10, with the labels that each got.

#4524 operator scaleops-operator (v1.7.14)
  operators/scaleops-operator/v1.7.14/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.7.14/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.7.14/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4523 operator ibm-storage-odf-operator (1.6.0)
  operators/ibm-storage-odf-operator/1.6.0/manifests/flashsystem-csi-cr_v1_configmap.yaml
  operators/ibm-storage-odf-operator/1.6.0/manifests/flashsystemcluster-metrics_rbac.authorization.k8s.io_v1_role.yaml
  operators/ibm-storage-odf-operator/1.6.0/manifests/flashsystemcluster-metrics_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/ibm-storage-odf-operator/1.6.0/manifests/ibm-storage-odf-operator-metrics-service_v1_service.yaml
  operators/ibm-storage-odf-operator/1.6.0/manifests/ibm-storage-odf-operator.clusterserviceversion.yaml
  operators/ibm-storage-odf-operator/1.6.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-storage-odf-operator/1.6.0/manifests/odf.ibm.com_flashsystemclusters.yaml
  operators/ibm-storage-odf-operator/1.6.0/metadata/annotations.yaml
  operators/ibm-storage-odf-operator/1.6.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#4528 operator kubeturbo-certified (8.13.60-beta.4)
  operators/kubeturbo-certified/8.13.60-beta.4/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.60-beta.4/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.60-beta.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4529 operator runtime-component-operator-certified (1.4.0)
  operators/runtime-component-operator-certified/1.4.0/manifests/rc.app.stacks_runtimecomponents.yaml
  operators/runtime-component-operator-certified/1.4.0/manifests/rc.app.stacks_runtimeoperations.yaml
  operators/runtime-component-operator-certified/1.4.0/manifests/runtime-component-operator-certified.clusterserviceversion.yaml
  operators/runtime-component-operator-certified/1.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4530 operator open-liberty-certified (1.4.0)
  operators/open-liberty-certified/1.4.0/manifests/apps.openliberty.io_openlibertyapplications.yaml
  operators/open-liberty-certified/1.4.0/manifests/apps.openliberty.io_openlibertydumps.yaml
  operators/open-liberty-certified/1.4.0/manifests/apps.openliberty.io_openlibertytraces.yaml
  operators/open-liberty-certified/1.4.0/manifests/open-liberty-certified.clusterserviceversion.yaml
  operators/open-liberty-certified/1.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4532 operator scaleops-operator (v1.7.15)
  operators/scaleops-operator/v1.7.15/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.7.15/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.7.15/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4533 operator kubeturbo-certified (8.13.60-beta.5)
  operators/kubeturbo-certified/8.13.60-beta.5/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.60-beta.5/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.60-beta.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4534 operator t8c-certified (42.65.0)
  operators/t8c-certified/42.65.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.65.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.65.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4535 operator prometurbo-certified (8.13.60)
  operators/prometurbo-certified/8.13.60/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.60/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.60/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4536 operator kubeturbo-certified (8.13.60)
  operators/kubeturbo-certified/8.13.60/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.60/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.60/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4537 operator conjur-follower-operator (2.4.3)
  operators/conjur-follower-operator/2.4.3/manifests/conjur-follower-operator-conjurfollower-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.4.3/manifests/conjur-follower-operator-conjurfollower-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.4.3/manifests/conjur-follower-operator.clusterserviceversion.yaml
  operators/conjur-follower-operator/2.4.3/manifests/conjur.cyberark.com_conjurfollowers.yaml
  operators/conjur-follower-operator/2.4.3/metadata/annotations.yaml
  operators/conjur-follower-operator/2.4.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4538 operator ibm-metrics-operator (2.17.3)
  operators/ibm-metrics-operator/2.17.3/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.17.3/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.17.3/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.3/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.3/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.3/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.17.3/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.17.3/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.17.3/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.17.3/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.17.3/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.17.3/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.17.3/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.17.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4539 operator ibm-data-reporter-operator (2.17.3)
  operators/ibm-data-reporter-operator/2.17.3/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.3/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.17.3/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.17.3/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.17.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.17.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.17.3/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.3/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.17.3/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.17.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4541 operator minio-aistor-operator (2.0.0)
  operators/minio-aistor-operator/2.0.0/manifests/apps.example.com_myapps.yaml
  operators/minio-aistor-operator/2.0.0/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/minio-aistor-operator/2.0.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/2.0.0/manifests/minio-aistor-operator.clusterserviceversion.yaml
  operators/minio-aistor-operator/2.0.0/manifests/myapp-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/2.0.0/manifests/myapp-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/2.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4526 Revert "operator intel-device-plugins-operator (0.29.1)"
  operators/intel-device-plugins-operator/0.29.1/manifests/deviceplugin.intel.com_dsadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.29.1/manifests/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.29.1/manifests/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.29.1/manifests/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.29.1/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.29.1/metadata/annotations.yaml
  operators/intel-device-plugins-operator/0.29.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/failed

#4542 operator prometurbo-certified (8.14.0-beta.1)
  operators/prometurbo-certified/8.14.0-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.14.0-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.14.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4543 operator kubeturbo-certified (8.14.0-beta.1)
  operators/kubeturbo-certified/8.14.0-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.0-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4544 operator digitalai-release-operator (v24.1.8)
  operators/digitalai-release-operator/v24.1.8/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.1.8/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.1.8/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.8/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.8/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.8/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.1.8/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.1.8/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4545 operator digitalai-deploy-operator (v24.1.8)
  operators/digitalai-deploy-operator/v24.1.8/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.1.8/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.1.8/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.8/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.8/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.8/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.1.8/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.1.8/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4531 operator mongodb-enterprise (1.28.0)
  operators/mongodb-enterprise/1.28.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.28.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.28.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.28.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4550 operator intel-device-plugins-operator (0.29.1)
  operators/intel-device-plugins-operator/0.29.1/manifests/deviceplugin.intel.com_dsadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.29.1/manifests/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.29.1/manifests/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.29.1/manifests/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.29.1/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.29.1/metadata/annotations.yaml
  operators/intel-device-plugins-operator/0.29.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4552 operator minio-aistor-operator (3.0.0)
  operators/minio-aistor-operator/3.0.0/manifests/apps.example.com_myapps.yaml
  operators/minio-aistor-operator/3.0.0/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/minio-aistor-operator/3.0.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/3.0.0/manifests/minio-aistor-operator.clusterserviceversion.yaml
  operators/minio-aistor-operator/3.0.0/manifests/myapp-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/3.0.0/manifests/myapp-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/3.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4553 Catalog update [v4.18,v4.13,v4.16,v4.15,v4.14,v4.17]
  catalogs/v4.13/operator-certification-operator/catalog.yaml
  catalogs/v4.14/operator-certification-operator/catalog.yaml
  catalogs/v4.15/operator-certification-operator/catalog.yaml
  catalogs/v4.16/operator-certification-operator/catalog.yaml
  catalogs/v4.17/operator-certification-operator/catalog.yaml
  catalogs/v4.18/operator-certification-operator/catalog.yaml
  operators/operator-certification-operator/Makefile
  operators/operator-certification-operator/catalog-templates/v4.13.yaml
  operators/operator-certification-operator/catalog-templates/v4.14.yaml
  operators/operator-certification-operator/catalog-templates/v4.15.yaml
  operators/operator-certification-operator/catalog-templates/v4.16.yaml
  operators/operator-certification-operator/catalog-templates/v4.17.yaml
  operators/operator-certification-operator/catalog-templates/v4.18.yaml
  operators/operator-certification-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4461 operator hspc-operator (1.14.3)
  operators/hspc-operator/1.14.3/manifests/csi.hitachi.com_hspcs.yaml
  operators/hspc-operator/1.14.3/manifests/hspc-operator.clusterserviceversion.yaml
  operators/hspc-operator/1.14.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4554 operator scaleops-operator (v1.8.0)
  operators/scaleops-operator/v1.8.0/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.0/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4555 operator couchbase-enterprise-certified (2.6.2-2)
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbase-v2.6.2.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4558 operator kubeturbo-certified (8.14.0-beta.2)
  operators/kubeturbo-certified/8.14.0-beta.2/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.0-beta.2/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.0-beta.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4520 operator kubecost-operator (v2.4.1)
  operators/kubecost-operator/v2.4.1/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.1/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.1/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.1/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.1/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.1/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4561 operator instana-agent-operator (2.1.9)
  operators/instana-agent-operator/2.1.9/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.9/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.9/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.9/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.9/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.9/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.9/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.9/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4564 operator kubeturbo-certified (8.14.0-beta.3)
  operators/kubeturbo-certified/8.14.0-beta.3/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.0-beta.3/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.0-beta.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4560 operator kubecost-operator (v2.4.10)
  operators/kubecost-operator/v2.4.10/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.10/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.10/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.10/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.10/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.10/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4566 operator kubecost-operator (v2.4.11)
  operators/kubecost-operator/v2.4.11/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.11/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.11/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.11/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.11/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.11/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4567 operator datadog-operator-certified (1.9.0)
  operators/datadog-operator-certified/1.9.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator-certified/1.9.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator-certified/1.9.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator-certified/1.9.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator-certified/1.9.0/manifests/datadoghq.com_datadogdashboards.yaml
  operators/datadog-operator-certified/1.9.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator-certified/1.9.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator-certified/1.9.0/manifests/datadoghq.com_datadogpodautoscalers.yaml
  operators/datadog-operator-certified/1.9.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator-certified/1.9.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4568 operator vault-secrets-operator (0.9.0)
  operators/vault-secrets-operator/0.9.0/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.9.0/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.9.0/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/0.9.0/manifests/secrets.hashicorp.com_vaultauthglobals.yaml
  operators/vault-secrets-operator/0.9.0/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.9.0/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.9.0/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.9.0/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.9.0/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.9.0/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.9.0/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.9.0/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.9.0/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.9.0/metadata/annotations.yaml
  operators/vault-secrets-operator/0.9.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4563 operator dell-csm-operator-certified (1.6.1)
  operators/dell-csm-operator-certified/1.6.1/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.6.1/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.6.1/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.6.1/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.6.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4574 operator fujitsu-enterprise-operator (v3.1.28)
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/manifests/fujitsu-enterprise-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-operator/v3.1.28/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-operator/v3.1.28/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4572 operator fujitsu-enterprise-postgres-operator (v6.2.1)
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v6.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4573 operator fujitsu-enterprise-postgres-operator-with-cg-module (v6.1.4)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4576 operator uma-operator (2024.9.4)
  operators/uma-operator/2024.9.4/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.9.4/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.9.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4556 operator percona-xtradb-cluster-operator-certified (1.15.1-cw)
  operators/percona-xtradb-cluster-operator-certified/1.15.1-cw/manifests/percona-xtradb-cluster-operator.v1.15.1-cw.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator-certified/1.15.1-cw/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.15.1-cw/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.15.1-cw/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.15.1-cw/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4577 operator kubeturbo-certified (8.14.0-beta.4)
  operators/kubeturbo-certified/8.14.0-beta.4/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.0-beta.4/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.0-beta.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4579 operator uma-admin-operator (2024.9.4)
  operators/uma-admin-operator/2024.9.4/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.9.4/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.9.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4578 operator appdynamics-operator (24.9.0-923)
  operators/appdynamics-operator/24.9.0-923/bundle.Dockerfile
  operators/appdynamics-operator/24.9.0-923/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/24.9.0-923/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/24.9.0-923/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/24.9.0-923/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/24.9.0-923/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/24.9.0-923/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/24.9.0-923/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/24.9.0-923/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/24.9.0-923/manifests/infraviz_clusterrole.yaml
  operators/appdynamics-operator/24.9.0-923/manifests/infraviz_clusterrole_binding.yaml
  operators/appdynamics-operator/24.9.0-923/manifests/infraviz_service_account.yaml
  operators/appdynamics-operator/24.9.0-923/metadata/annotations.yaml
  operators/appdynamics-operator/24.9.0-923/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4580 operator uma-team-operator (2024.9.4)
  operators/uma-team-operator/2024.9.4/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.9.4/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.9.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4583 operator kubecost-operator (v2.4.13)
  operators/kubecost-operator/v2.4.13/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.13/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.13/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.13/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.13/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.13/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.13/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4584 operator falcon-operator (v1.3.0)
  operators/falcon-operator/v1.3.0/manifests/falcon-operator-admission-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.3.0/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.3.0/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/v1.3.0/manifests/falcon-operator-image-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.3.0/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.3.0/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.3.0/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/v1.3.0/manifests/falcon.crowdstrike.com_falconadmissions.yaml
  operators/falcon-operator/v1.3.0/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/v1.3.0/manifests/falcon.crowdstrike.com_falconimageanalyzers.yaml
  operators/falcon-operator/v1.3.0/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/v1.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4585 operator gitlab-operator-kubernetes (1.4.2)
  operators/gitlab-operator-kubernetes/1.4.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.4.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.4.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4586 operator fujitsu-enterprise-postgres-operator (v6.2.2)
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v6.2.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4587 operator nexus-repository-ha-operator-certified (3.73.0-1)
  operators/nexus-repository-ha-operator-certified/3.73.0-1/manifests/nexus-repository-ha-operator-certified.clusterserviceversion.yaml
  operators/nexus-repository-ha-operator-certified/3.73.0-1/manifests/sonatype.com_nexusrepos_crd.yaml
  operators/nexus-repository-ha-operator-certified/3.73.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4588 operator scaleops-operator (v1.8.2)
  operators/scaleops-operator/v1.8.2/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.2/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4589 operator tawon-operator (2.39.4)
  operators/tawon-operator/2.39.4/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.4/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.4/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.4/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.4/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.4/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.4/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.4/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.4/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.4/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4590 operator portworx-certified (24.1.2)
  operators/portworx-certified/24.1.2/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/24.1.2/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/24.1.2/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/24.1.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4591 operator habana-ai-operator (1.18.0-524)
  operators/habana-ai-operator/1.18.0-524/manifests/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.18.0-524/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.18.0-524/manifests/controller-manager-metrics_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/habana-ai-operator/1.18.0-524/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.18.0-524/manifests/habana.ai_deviceconfigs.yaml
  operators/habana-ai-operator/1.18.0-524/manifests/habanalabs-driver-dockerfile_v1_configmap.yaml
  operators/habana-ai-operator/1.18.0-524/manifests/manager-config_v1_configmap.yaml
  operators/habana-ai-operator/1.18.0-524/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.18.0-524/manifests/node-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.18.0-524/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.18.0-524/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/habana-ai-operator/1.18.0-524/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4592 operator scaleops-operator (v1.8.3)
  operators/scaleops-operator/v1.8.3/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.3/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4594 operator dynatrace-operator (1.3.1)
  operators/dynatrace-operator/1.3.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.3.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.3.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4595 operator scaleops-operator (v1.8.4)
  operators/scaleops-operator/v1.8.4/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.4/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4596 operator aqua-operator-certified (2022.4.662)
  operators/aqua-operator-certified/2022.4.662/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.662/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.662/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.662/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.662/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.662/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.662/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.662/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.662/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.662/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.662/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.662/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.662/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.662/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4597 operator scaleops-operator (v1.8.5)
  operators/scaleops-operator/v1.8.5/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.5/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4598 operator tawon-operator (2.39.5)
  operators/tawon-operator/2.39.5/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.5/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.5/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.5/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.5/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.5/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.5/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.5/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.5/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.5/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4599 operator redis-enterprise-operator-cert (6.4.2-8.10)
  operators/redis-enterprise-operator-cert/6.4.2-8.10/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.10/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.10/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.10/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.10/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4600 operator scaleops-operator (v1.8.6)
  operators/scaleops-operator/v1.8.6/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.6/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4602 operator ibm-metrics-operator (2.17.4)
  operators/ibm-metrics-operator/2.17.4/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.17.4/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.17.4/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.4/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.4/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.4/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.17.4/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.17.4/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.17.4/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.17.4/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.17.4/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.17.4/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.17.4/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.17.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4601 operator tawon-operator (2.39.6)
  operators/tawon-operator/2.39.6/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.6/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.6/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.6/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.6/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.6/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.6/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.6/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.6/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.6/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4604 operator ibm-data-reporter-operator (2.17.4)
  operators/ibm-data-reporter-operator/2.17.4/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.4/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.17.4/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.17.4/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.4/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.17.4/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.4/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.17.4/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.17.4/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.4/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.17.4/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.17.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4603 operator infinibox-operator-certified (v2.16.0)
  operators/infinibox-operator-certified/v2.16.0/manifests/csidriver.infinidat.com_iboxreplicas.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.0/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.0/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.16.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4606 operator redis-enterprise-operator-cert (7.4.6-2.4)
  operators/redis-enterprise-operator-cert/7.4.6-2.4/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.4/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.4/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.4/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.4/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4607 operator tawon-operator (2.39.7)
  operators/tawon-operator/2.39.7/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.7/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.7/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.7/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.7/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.7/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.7/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.7/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.7/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.7/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4611 operator tawon-operator (2.39.8)
  operators/tawon-operator/2.39.8/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.8/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.8/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.8/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.8/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.8/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.8/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.8/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.8/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.8/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4613 operator tenant-operator (v1.0.0)
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.0.0/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v1.0.0/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v1.0.0/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v1.0.0/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v1.0.0/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v1.0.0/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v1.0.0/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v1.0.0/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v1.0.0/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v1.0.0/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v1.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4617 operator crunchy-postgres-operator (5.7.0)
  operators/crunchy-postgres-operator/5.7.0/Dockerfile
  operators/crunchy-postgres-operator/5.7.0/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.7.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.0/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4618 operator scaleops-operator (v1.8.7)
  operators/scaleops-operator/v1.8.7/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.7/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4620 operator kubeturbo-certified (8.14.0)
  operators/kubeturbo-certified/8.14.0/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.0/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4623 operator aiu-operator (v2.1.1)
  operators/aiu-operator/v2.1.1/manifests/aiu-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/aiu-operator/v2.1.1/manifests/aiu-operator-metrics-service_v1_service.yaml
  operators/aiu-operator/v2.1.1/manifests/aiu-operator.clusterserviceversion.yaml
  operators/aiu-operator/v2.1.1/manifests/aiu.ibm.com_aiuclusterpolicies.yaml
  operators/aiu-operator/v2.1.1/manifests/aiu.ibm.com_aiunodestates.yaml
  operators/aiu-operator/v2.1.1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aiu-operator/v2.1.1/manifests/sidecar-injector-configmap_v1_configmap.yaml
  operators/aiu-operator/v2.1.1/manifests/webhook-service_v1_service.yaml
  operators/aiu-operator/v2.1.1/metadata/annotations.yaml
  operators/aiu-operator/v2.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4627 operator couchbase-enterprise-certified (2.6.2-3)
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbase-v2.6.2.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4629 operator tawon-operator (2.39.10)
  operators/tawon-operator/2.39.10/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.10/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.10/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.10/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.10/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.10/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.10/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.10/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.10/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.10/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4630 operator kubecost-operator (v2.4.14)
  operators/kubecost-operator/v2.4.14/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.14/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.14/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.14/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.14/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.14/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.14/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4628 operator netapp-spark-operator (1.1.2)
  operators/netapp-spark-operator/1.1.2/manifests/charts.netapp.com_sparkoperators.yaml
  operators/netapp-spark-operator/1.1.2/manifests/controller-manager_v1_serviceaccount.yaml
  operators/netapp-spark-operator/1.1.2/manifests/leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/netapp-spark-operator/1.1.2/manifests/leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/netapp-spark-operator/1.1.2/manifests/manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netapp-spark-operator/1.1.2/manifests/netapp-spark-operator.clusterserviceversion.yaml
  operators/netapp-spark-operator/1.1.2/manifests/sparkoperator.k8s.io_scheduledsparkapplications.yaml
  operators/netapp-spark-operator/1.1.2/manifests/sparkoperator.k8s.io_sparkapplications.yaml
  operators/netapp-spark-operator/1.1.2/metadata/annotations.yaml
  operators/netapp-spark-operator/1.1.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4631 operator gitlab-runner-operator (1.30.0)
  operators/gitlab-runner-operator/1.30.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.30.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.30.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4632 operator tawon-operator (2.39.11)
  operators/tawon-operator/2.39.11/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.11/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.11/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.11/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.11/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.11/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.11/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.11/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.11/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.11/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4634 operator scaleops-operator (v1.8.8)
  operators/scaleops-operator/v1.8.8/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.8/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4638 operator kubemq-operator-marketplace (1.8.6)
  operators/kubemq-operator-marketplace/1.8.6/manifests/kubemq-operator-marketplace.clusterserviceversion.yaml
  operators/kubemq-operator-marketplace/1.8.6/manifests/kubemq-operator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubemq-operator-marketplace/1.8.6/manifests/kubemqclusters.core.k8s.kubemq.io.crd.yaml
  operators/kubemq-operator-marketplace/1.8.6/manifests/kubemqconnectors.core.k8s.kubemq.io.crd.yaml
  operators/kubemq-operator-marketplace/1.8.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4641 operator nutanixcsioperator (3.0.0)
  operators/nutanixcsioperator/3.0.0/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/3.0.0/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/3.0.0/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/3.0.0/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/3.0.0/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/3.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4642 operator gitlab-runner-operator (1.30.1)
  operators/gitlab-runner-operator/1.30.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.30.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.30.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4643 operator tawon-operator (2.39.16)
  operators/tawon-operator/2.39.16/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.16/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.16/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.16/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.16/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.16/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.16/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.16/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.16/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.16/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.16/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4645 operator redis-enterprise-operator-cert (7.2.4-12.21)
  operators/redis-enterprise-operator-cert/7.2.4-12.21/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.21/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.21/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.21/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.21/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.21/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4646 operator hazelcast-platform-operator (5.14.0)
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_flows.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_vectorcollections.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.14.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.14.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.14.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4647 operator netapp-spark-operator (1.1.3)
  operators/netapp-spark-operator/1.1.3/manifests/charts.netapp.com_sparkoperators.yaml
  operators/netapp-spark-operator/1.1.3/manifests/controller-manager_v1_serviceaccount.yaml
  operators/netapp-spark-operator/1.1.3/manifests/leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/netapp-spark-operator/1.1.3/manifests/leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/netapp-spark-operator/1.1.3/manifests/manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netapp-spark-operator/1.1.3/manifests/netapp-spark-operator.clusterserviceversion.yaml
  operators/netapp-spark-operator/1.1.3/manifests/sparkoperator.k8s.io_scheduledsparkapplications.yaml
  operators/netapp-spark-operator/1.1.3/manifests/sparkoperator.k8s.io_sparkapplications.yaml
  operators/netapp-spark-operator/1.1.3/metadata/annotations.yaml
  operators/netapp-spark-operator/1.1.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4650 operator ibm-data-reporter-operator (2.17.5)
  operators/ibm-data-reporter-operator/2.17.5/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.5/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.17.5/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.17.5/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.5/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.17.5/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.5/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.17.5/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.17.5/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.5/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.17.5/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.17.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4651 operator runtime-fabric-operator (v2.8.2)
  operators/runtime-fabric-operator/v2.8.2/manifests/rtf.operators.mulesoft.com_runtimefabrics.yaml
  operators/runtime-fabric-operator/v2.8.2/manifests/runtime-fabric-operator-controller-manager-metrics-service_v1_service.yaml
  operators/runtime-fabric-operator/v2.8.2/manifests/runtime-fabric-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.8.2/manifests/runtime-fabric-operator-runtimefabric-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.8.2/manifests/runtime-fabric-operator-runtimefabric-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.8.2/manifests/runtime-fabric-operator.clusterserviceversion.yaml
  operators/runtime-fabric-operator/v2.8.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4652 operator tawon-operator (2.39.17)
  operators/tawon-operator/2.39.17/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.17/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.17/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.17/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.17/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.17/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.17/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.17/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.17/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.17/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.17/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4655 operator uma-operator (2024.10.1)
  operators/uma-operator/2024.10.1/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.10.1/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.10.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4657 operator uma-team-operator (2024.10.1)
  operators/uma-team-operator/2024.10.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.10.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.10.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4658 operator scaleops-operator (v1.8.9)
  operators/scaleops-operator/v1.8.9/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.9/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4659 operator infinibox-operator-certified (v2.16.1)
  operators/infinibox-operator-certified/v2.16.1/manifests/csidriver.infinidat.com_iboxreplicas.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.16.1/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.16.1/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.16.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4612 operator digitalai-release-operator (v24.1.10)
  operators/digitalai-release-operator/v24.1.10/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.1.10/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.1.10/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.10/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.10/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.10/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.1.10/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.1.10/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v24.1.10/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4660 operator redis-enterprise-operator-cert (6.4.2-8.11)
  operators/redis-enterprise-operator-cert/6.4.2-8.11/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.11/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.11/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.11/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.11/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/6.4.2-8.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4661 operator scaleops-operator (v1.8.10)
  operators/scaleops-operator/v1.8.10/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.10/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4644 operator ccnfs-operator (7.24.32)
  operators/ccnfs-operator/7.24.32/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionbackuprestores.yaml
  operators/ccnfs-operator/7.24.32/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionconfigs.yaml
  operators/ccnfs-operator/7.24.32/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionoperations.yaml
  operators/ccnfs-operator/7.24.32/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionrollbacktasks.yaml
  operators/ccnfs-operator/7.24.32/manifests/ccnf.zte.com.cn_commoncorenetworkfunctions.yaml
  operators/ccnfs-operator/7.24.32/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionupgradetasks.yaml
  operators/ccnfs-operator/7.24.32/manifests/ccnfs-operator.clusterserviceversion.yaml
  operators/ccnfs-operator/7.24.32/manifests/cnf-operator-env-config_v1_configmap.yaml
  operators/ccnfs-operator/7.24.32/manifests/cnf-operator-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/ccnfs-operator/7.24.32/manifests/cnf-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ccnfs-operator/7.24.32/manifests/cnf-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ccnfs-operator/7.24.32/manifests/cnf-operator-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ccnfs-operator/7.24.32/manifests/manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ccnfs-operator/7.24.32/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4614 operator digitalai-deploy-operator (v24.1.10)
  operators/digitalai-deploy-operator/v24.1.10/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.1.10/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.1.10/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.10/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.10/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.10/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.1.10/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.1.10/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v24.1.10/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4662 operator scaleops-operator (v1.8.11)
  operators/scaleops-operator/v1.8.11/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.11/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4663 operator gitlab-operator-kubernetes (1.5.1)
  operators/gitlab-operator-kubernetes/1.5.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.5.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.5.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.5.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4664 operator t8c-certified (42.66.0-beta.1)
  operators/t8c-certified/42.66.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.66.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.66.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4665 operator falcon-operator (v1.3.1)
  operators/falcon-operator/v1.3.1/manifests/falcon-operator-admission-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.3.1/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.3.1/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/v1.3.1/manifests/falcon-operator-image-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.3.1/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.3.1/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.3.1/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/v1.3.1/manifests/falcon.crowdstrike.com_falconadmissions.yaml
  operators/falcon-operator/v1.3.1/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/v1.3.1/manifests/falcon.crowdstrike.com_falconimageanalyzers.yaml
  operators/falcon-operator/v1.3.1/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/v1.3.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4666 operator kubeturbo-certified (8.14.10-beta.1)
  operators/kubeturbo-certified/8.14.10-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.10-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.10-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4667 operator redis-enterprise-operator-cert (7.2.4-12.22)
  operators/redis-enterprise-operator-cert/7.2.4-12.22/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.22/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.22/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.22/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.22/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.22/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4668 operator prometurbo-certified (8.14.10-beta.1)
  operators/prometurbo-certified/8.14.10-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.14.10-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.14.10-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4669 operator dynatrace-operator (1.3.2)
  operators/dynatrace-operator/1.3.2/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.3.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.3.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.3.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.3.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.3.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.3.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4670 operator stackgres-certified (1.14.0-rc1)
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.14.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.14.0-rc1/metadata/annotations.yaml
  operators/stackgres-certified/1.14.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4671 operator uma-operator (2024.10.2)
  operators/uma-operator/2024.10.2/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.10.2/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.10.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4672 operator uma-admin-operator (2024.10.2)
  operators/uma-admin-operator/2024.10.2/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.10.2/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.10.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4673 operator uma-team-operator (2024.10.2)
  operators/uma-team-operator/2024.10.2/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.10.2/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.10.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4674 operator f5-bigip-ctlr-operator (v1.19.0)
  operators/f5-bigip-ctlr-operator/v1.19.0/manifests/cis.f5.com_f5bigipctlrs.yaml
  operators/f5-bigip-ctlr-operator/v1.19.0/manifests/f5-bigip-ctlr-operator-controller-manager-metrics-service_v1_service.yaml
  operators/f5-bigip-ctlr-operator/v1.19.0/manifests/f5-bigip-ctlr-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/f5-bigip-ctlr-operator/v1.19.0/manifests/f5-bigip-ctlr-operator.clusterserviceversion.yaml
  operators/f5-bigip-ctlr-operator/v1.19.0/metadata/annotations.yaml
  operators/f5-bigip-ctlr-operator/v1.19.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4677 operator ccnfs-operator (7.24.33)
  operators/ccnfs-operator/7.24.33/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionbackuprestores.yaml
  operators/ccnfs-operator/7.24.33/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionconfigs.yaml
  operators/ccnfs-operator/7.24.33/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionoperations.yaml
  operators/ccnfs-operator/7.24.33/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionrollbacktasks.yaml
  operators/ccnfs-operator/7.24.33/manifests/ccnf.zte.com.cn_commoncorenetworkfunctions.yaml
  operators/ccnfs-operator/7.24.33/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionupgradetasks.yaml
  operators/ccnfs-operator/7.24.33/manifests/ccnfs-operator.clusterserviceversion.yaml
  operators/ccnfs-operator/7.24.33/manifests/cnf-operator-env-config_v1_configmap.yaml
  operators/ccnfs-operator/7.24.33/manifests/cnf-operator-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/ccnfs-operator/7.24.33/manifests/cnf-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ccnfs-operator/7.24.33/manifests/cnf-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ccnfs-operator/7.24.33/manifests/cnf-operator-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ccnfs-operator/7.24.33/manifests/manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ccnfs-operator/7.24.33/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4679 operator scaleops-operator (v1.8.12)
  operators/scaleops-operator/v1.8.12/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.12/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4680 operator scaleops-operator (v1.8.13)
  operators/scaleops-operator/v1.8.13/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.13/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.13/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4681 operator scaleops-operator (v1.8.14)
  operators/scaleops-operator/v1.8.14/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.14/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.14/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4683 operator scaleops-operator (v1.8.15)
  operators/scaleops-operator/v1.8.15/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.15/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.15/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4686 operator ibm-metrics-operator (2.17.6)
  operators/ibm-metrics-operator/2.17.6/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.17.6/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.17.6/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.6/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.6/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.6/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.17.6/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.17.6/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.17.6/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.17.6/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.17.6/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.17.6/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.17.6/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.17.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4687 operator ibm-data-reporter-operator (2.17.6)
  operators/ibm-data-reporter-operator/2.17.6/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.6/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.17.6/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.17.6/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.6/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.17.6/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.6/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.17.6/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.17.6/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.6/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.17.6/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.17.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4688 operator scaleops-operator (v1.8.16)
  operators/scaleops-operator/v1.8.16/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.16/manifests/scaleops-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/scaleops-operator/v1.8.16/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.16/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4689 operator mongodb-atlas-kubernetes (2.5.0)
  operators/mongodb-atlas-kubernetes/2.5.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.5.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4693 Delete operators/nutanixcsioperator/3.1.0 directory (reverting #4690)
  operators/nutanixcsioperator/3.1.0/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/3.1.0/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/3.1.0/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/3.1.0/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/3.1.0/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/3.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#4692 operator portworx-certified (24.1.3)
  operators/portworx-certified/24.1.3/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/24.1.3/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/24.1.3/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/24.1.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4694 operator nutanixcsioperator (3.1.0)
  operators/nutanixcsioperator/3.1.0/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/3.1.0/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/3.1.0/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/3.1.0/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/3.1.0/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/3.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4695 operator scaleops-operator (v1.8.17)
  operators/scaleops-operator/v1.8.17/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.17/manifests/scaleops-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/scaleops-operator/v1.8.17/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.17/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4696 operator cilium-enterprise (1.15.10)
  operators/cilium-enterprise/1.15.10/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.15.10/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.15.10/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.15.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4697 operator anzograph-operator (v3.1.401)
  operators/anzograph-operator/v3.1.401/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.1.401/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.1.401/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4698 operator redis-enterprise-operator-cert (7.4.6-2.8)
  operators/redis-enterprise-operator-cert/7.4.6-2.8/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.8/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.8/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.8/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.8/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4699 operator openshiftartifactoryha-operator (1.3.2)
  operators/openshiftartifactoryha-operator/1.3.2/manifests/openshiftartifactoryha-operator.clusterserviceversion.yaml
  operators/openshiftartifactoryha-operator/1.3.2/manifests/openshiftartifactoryhas.charts.helm.k8s.io.crd.yaml
  operators/openshiftartifactoryha-operator/1.3.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4700 operator cilium-enterprise (1.14.16)
  operators/cilium-enterprise/1.14.16/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.16/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.16/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.16/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4701 operator cilium-enterprise (1.13.21)
  operators/cilium-enterprise/1.13.21/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.13.21/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.13.21/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.13.21/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4702 operator appdynamics-operator (24.10.0-972)
  operators/appdynamics-operator/24.10.0-972/bundle.Dockerfile
  operators/appdynamics-operator/24.10.0-972/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/infraviz_clusterrole.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/infraviz_clusterrole_binding.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/infraviz_service_account.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/target_allocator_clusterrole.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/target_allocator_clusterrole_binding.yaml
  operators/appdynamics-operator/24.10.0-972/manifests/target_allocator_service_account.yaml
  operators/appdynamics-operator/24.10.0-972/metadata/annotations.yaml
  operators/appdynamics-operator/24.10.0-972/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4703 operator nutanixcsioperator (2.6.11)
  operators/nutanixcsioperator/2.6.11/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/2.6.11/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/2.6.11/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/2.6.11/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/2.6.11/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/2.6.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4704 operator prometurbo-certified (8.14.10)
  operators/prometurbo-certified/8.14.10/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.14.10/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.14.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4705 operator stackgres-certified (1.14.0-rc2)
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.14.0-rc2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.14.0-rc2/metadata/annotations.yaml
  operators/stackgres-certified/1.14.0-rc2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4706 operator t8c-certified (42.66.0)
  operators/t8c-certified/42.66.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.66.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.66.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4707 operator kubeturbo-certified (8.14.10-beta.2)
  operators/kubeturbo-certified/8.14.10-beta.2/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.10-beta.2/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.10-beta.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4708 operator tigera-operator (1.36.0)
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_bgpconfigurations.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_bgppeers.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_blockaffinities.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_caliconodestatuses.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_clusterinformations.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_felixconfigurations.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_globalnetworkpolicies.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_globalnetworksets.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_hostendpoints.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_ipamblocks.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_ipamconfigs.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_ipamhandles.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_ippools.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_ipreservations.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_kubecontrollersconfigurations.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_networkpolicies.yaml
  operators/tigera-operator/1.36.0/manifests/crd.projectcalico.org_networksets.yaml
  operators/tigera-operator/1.36.0/manifests/operator.tigera.io_imagesets.yaml
  operators/tigera-operator/1.36.0/manifests/operator.tigera.io_installations.yaml
  operators/tigera-operator/1.36.0/manifests/operator.tigera.io_tigerastatuses.yaml
  operators/tigera-operator/1.36.0/manifests/tigera-operator.clusterserviceversion.yaml
  operators/tigera-operator/1.36.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4711 operator gpu-operator-certified (v24.9.0)
  operators/gpu-operator-certified/v24.9.0/manifests/gpu-operator-certified.clusterserviceversion.yaml
  operators/gpu-operator-certified/v24.9.0/manifests/nvidia.com_clusterpolicies.yaml
  operators/gpu-operator-certified/v24.9.0/manifests/nvidia.com_nvidiadrivers.yaml
  operators/gpu-operator-certified/v24.9.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4712 operator kubeturbo-certified (8.14.10-beta.3)
  operators/kubeturbo-certified/8.14.10-beta.3/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.10-beta.3/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.10-beta.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4713 operator scaleops-operator (v1.8.20)
  operators/scaleops-operator/v1.8.20/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.20/manifests/scaleops-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/scaleops-operator/v1.8.20/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started
