Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2024-11, with the labels that each got.

#4715 operator kubecost-operator (v2.4.15)
  operators/kubecost-operator/Makefile
  operators/kubecost-operator/v2.4.15/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.15/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.15/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.15/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.15/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.15/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.15/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4716 operator percona-xtradb-cluster-operator-certified (1.15.1)
  operators/percona-xtradb-cluster-operator-certified/1.15.1/manifests/percona-xtradb-cluster-operator.v1.15.1.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator-certified/1.15.1/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.15.1/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.15.1/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.15.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4718 operator kubeturbo-certified (8.14.10)
  operators/kubeturbo-certified/8.14.10/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.10/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4717 operator stackgres-certified (1.14.0)
  operators/stackgres-certified/1.14.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.14.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.14.0/metadata/annotations.yaml
  operators/stackgres-certified/1.14.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4720 operator scaleops-operator (v1.8.22)
  operators/scaleops-operator/v1.8.22/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.22/manifests/scaleops-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/scaleops-operator/v1.8.22/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.22/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4721 operator percona-server-mongodb-operator-certified (1.17.0)
  operators/percona-server-mongodb-operator-certified/1.17.0/manifests/percona-server-mongodb-operator.v1.17.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator-certified/1.17.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.17.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.17.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.17.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4722 operator scaleops-operator (v1.8.23)
  operators/scaleops-operator/v1.8.23/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.8.23/manifests/scaleops-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/scaleops-operator/v1.8.23/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.8.23/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4723 operator csw-operator (1.2.3)
  operators/csw-operator/1.2.3/manifests/csw-aggregate-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/csw-operator/1.2.3/manifests/csw-manager-config_v1_configmap.yaml
  operators/csw-operator/1.2.3/manifests/csw-operator.clusterserviceversion.yaml
  operators/csw-operator/1.2.3/manifests/k5.config_k5externalsecrets.yaml
  operators/csw-operator/1.2.3/manifests/k5.knowis.com_csws.yaml
  operators/csw-operator/1.2.3/manifests/k5.project.operator_k5clients.yaml
  operators/csw-operator/1.2.3/manifests/k5.project.operator_k5dashboards.yaml
  operators/csw-operator/1.2.3/manifests/k5.project.operator_k5projects.yaml
  operators/csw-operator/1.2.3/manifests/k5.project.operator_k5realms.yaml
  operators/csw-operator/1.2.3/manifests/k5.project.operator_k5topics.yaml
  operators/csw-operator/1.2.3/manifests/sol.rt.cp.knowis.de_solutions.yaml
  operators/csw-operator/1.2.3/metadata/annotations.yaml
  operators/csw-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4714 operator gitlab-operator-kubernetes (1.6.0)
  operators/gitlab-operator-kubernetes/1.6.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.6.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.6.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4731 operator scaleops-operator (v1.9.1)
  operators/scaleops-operator/v1.9.1/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.9.1/manifests/scaleops-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/scaleops-operator/v1.9.1/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.9.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4734 operator sysdig-shield-operator (v0.1.2)
  operators/sysdig-shield-operator/ci.yaml
  operators/sysdig-shield-operator/v0.1.2/manifests/rh-shield-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sysdig-shield-operator/v0.1.2/manifests/rh-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.2/manifests/rh-shield-operator-shield-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.2/manifests/rh-shield-operator-shield-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.2/manifests/rh-shield-operator.clusterserviceversion.yaml
  operators/sysdig-shield-operator/v0.1.2/manifests/shield.sysdig.com_shields.yaml
  operators/sysdig-shield-operator/v0.1.2/metadata/annotations.yaml
  operators/sysdig-shield-operator/v0.1.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4737 operator sysdig-shield-operator (v0.1.3)
  operators/sysdig-shield-operator/v0.1.3/manifests/rh-shield-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sysdig-shield-operator/v0.1.3/manifests/rh-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.3/manifests/rh-shield-operator-shield-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.3/manifests/rh-shield-operator-shield-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.3/manifests/rh-shield-operator.clusterserviceversion.yaml
  operators/sysdig-shield-operator/v0.1.3/manifests/shield.sysdig.com_shields.yaml
  operators/sysdig-shield-operator/v0.1.3/metadata/annotations.yaml
  operators/sysdig-shield-operator/v0.1.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4740 operator minio-aistor-operator (3.0.1)
  operators/minio-aistor-operator/3.0.1/manifests/apps.example.com_myapps.yaml
  operators/minio-aistor-operator/3.0.1/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/minio-aistor-operator/3.0.1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/3.0.1/manifests/minio-aistor-operator.clusterserviceversion.yaml
  operators/minio-aistor-operator/3.0.1/manifests/myapp-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/3.0.1/manifests/myapp-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/3.0.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4739 operator kubecost-operator (v2.4.16)
  operators/kubecost-operator/v2.4.16/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.16/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.16/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.16/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.16/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.16/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.16/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4741 operator scaleops-operator (v1.9.2)
  operators/scaleops-operator/v1.9.2/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.9.2/manifests/scaleops-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/scaleops-operator/v1.9.2/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.9.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4742 operator aqua-operator-certified (2022.4.683)
  operators/aqua-operator-certified/2022.4.683/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.683/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.683/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.683/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.683/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.683/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.683/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.683/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.683/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.683/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.683/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.683/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.683/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.683/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4743 operator t8c-certified (42.67.0-beta.1)
  operators/t8c-certified/42.67.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.67.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.67.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4744 operator prometurbo-certified (8.14.20-beta.1)
  operators/prometurbo-certified/8.14.20-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.14.20-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.14.20-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4746 operator kubeturbo-certified (8.14.20-beta.1)
  operators/kubeturbo-certified/8.14.20-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.20-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.20-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4747 operator scaleops-operator (v1.9.3)
  operators/scaleops-operator/v1.9.3/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.9.3/manifests/scaleops-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/scaleops-operator/v1.9.3/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.9.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4748 operator ccnfs-operator (7.24.34)
  operators/ccnfs-operator/7.24.34/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionbackuprestores.yaml
  operators/ccnfs-operator/7.24.34/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionconfigs.yaml
  operators/ccnfs-operator/7.24.34/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionoperations.yaml
  operators/ccnfs-operator/7.24.34/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionrollbacktasks.yaml
  operators/ccnfs-operator/7.24.34/manifests/ccnf.zte.com.cn_commoncorenetworkfunctions.yaml
  operators/ccnfs-operator/7.24.34/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionupgradetasks.yaml
  operators/ccnfs-operator/7.24.34/manifests/ccnfs-operator.clusterserviceversion.yaml
  operators/ccnfs-operator/7.24.34/manifests/cnf-operator-env-config_v1_configmap.yaml
  operators/ccnfs-operator/7.24.34/manifests/cnf-operator-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/ccnfs-operator/7.24.34/manifests/cnf-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ccnfs-operator/7.24.34/manifests/cnf-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ccnfs-operator/7.24.34/manifests/cnf-operator-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ccnfs-operator/7.24.34/manifests/manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ccnfs-operator/7.24.34/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4735 operator datasance-pot-operator (3.4.7)
  operators/datasance-pot-operator/3.4.7/manifests/datasance-iofog-operator.clusterserviceversion.yaml
  operators/datasance-pot-operator/3.4.7/manifests/datasance-pot-operator_clusterrole.yaml
  operators/datasance-pot-operator/3.4.7/manifests/datasance-pot-operator_role.yaml
  operators/datasance-pot-operator/3.4.7/manifests/datasance-pot-operator_rolebinding.yaml
  operators/datasance-pot-operator/3.4.7/manifests/datasance.com-controlplanes_crd.yaml
  operators/datasance-pot-operator/3.4.7/metadata/annotations.yaml
  operators/datasance-pot-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4751 operator gitlab-operator-kubernetes (1.6.1)
  operators/gitlab-operator-kubernetes/1.6.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.6.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.6.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.6.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4752 operator prometurbo-certified (8.14.20)
  operators/prometurbo-certified/8.14.20/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.14.20/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.14.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4753 operator t8c-certified (42.67.0)
  operators/t8c-certified/42.67.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.67.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.67.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4754 operator datasance-pot-operator (3.4.9)
  operators/datasance-pot-operator/3.4.9/manifests/datasance-iofog-operator.clusterserviceversion.yaml
  operators/datasance-pot-operator/3.4.9/manifests/datasance-pot-operator_clusterrole.yaml
  operators/datasance-pot-operator/3.4.9/manifests/datasance-pot-operator_role.yaml
  operators/datasance-pot-operator/3.4.9/manifests/datasance-pot-operator_rolebinding.yaml
  operators/datasance-pot-operator/3.4.9/manifests/datasance.com-controlplanes_crd.yaml
  operators/datasance-pot-operator/3.4.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4755 operator cilium-enterprise (1.16.3)
  operators/cilium-enterprise/1.16.3/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.16.3/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.16.3/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.16.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4756 operator kubecost-operator (v2.4.17)
  operators/kubecost-operator/v2.4.17/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.17/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.17/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.17/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.17/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.17/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.17/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4758 operator kubeturbo-certified (8.14.20)
  operators/kubeturbo-certified/8.14.20/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.20/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4759 operator couchbase-enterprise-certified (2.7.0-2)
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbase-v2.7.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4749 operator dell-csm-operator-certified (1.7.0)
  operators/dell-csm-operator-certified/1.7.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.7.0/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.7.0/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.7.0/tests/scorecard/config.yaml
Labels: operator-release-pipeline/started, operator-release-pipeline/passed, operator-hosted-pipeline/passed

#4762 Catalog update [v4.13,v4.14,v4.12,v4.17,v4.16,v4.15]
  catalogs/v4.12/cloudnative-pg/catalog.yaml
  catalogs/v4.13/cloudnative-pg/catalog.yaml
  catalogs/v4.14/cloudnative-pg/catalog.yaml
  catalogs/v4.15/cloudnative-pg/catalog.yaml
  catalogs/v4.16/cloudnative-pg/catalog.yaml
  catalogs/v4.17/cloudnative-pg/catalog.yaml
  operators/cloudnative-pg/Makefile
  operators/cloudnative-pg/catalog-templates/v4.12.yaml
  operators/cloudnative-pg/catalog-templates/v4.13.yaml
  operators/cloudnative-pg/catalog-templates/v4.14.yaml
  operators/cloudnative-pg/catalog-templates/v4.15.yaml
  operators/cloudnative-pg/catalog-templates/v4.16.yaml
  operators/cloudnative-pg/catalog-templates/v4.17.yaml
  operators/cloudnative-pg/ci.yaml
Labels: operator-hosted-pipeline/started

#4764 operator couchbase-enterprise-certified (2.6.4-4)
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbase-v2.6.4.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4765 operator netscaler-operator (3.1.0)
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator-netscalercloudcontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator-netscalercloudcontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator-netscalercpxwithingresscontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator-netscalercpxwithingresscontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator-netscalergslbcontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator-netscalergslbcontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator-netscaleringresscontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator-netscaleringresscontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator-netscalerobservabilityexporter-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator-netscalerobservabilityexporter-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler.com_netscalercloudcontrollers.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler.com_netscalercpxwithingresscontrollers.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler.com_netscalergslbcontrollers.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler.com_netscaleringresscontrollers.yaml
  operators/netscaler-operator/3.1.0/manifests/netscaler.com_netscalerobservabilityexporters.yaml
  operators/netscaler-operator/3.1.0/metadata/annotations.yaml
  operators/netscaler-operator/3.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4767 operator netscaler-operator (3.1.1)
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator-netscalercloudcontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator-netscalercloudcontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator-netscalercpxwithingresscontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator-netscalercpxwithingresscontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator-netscalergslbcontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator-netscalergslbcontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator-netscaleringresscontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator-netscaleringresscontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator-netscalerobservabilityexporter-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator-netscalerobservabilityexporter-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler.com_netscalercloudcontrollers.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler.com_netscalercpxwithingresscontrollers.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler.com_netscalergslbcontrollers.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler.com_netscaleringresscontrollers.yaml
  operators/netscaler-operator/3.1.1/manifests/netscaler.com_netscalerobservabilityexporters.yaml
  operators/netscaler-operator/3.1.1/metadata/annotations.yaml
  operators/netscaler-operator/3.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4768 Catalog update [v4.15,v4.16,v4.17,v4.13,v4.12,v4.14]
  catalogs/v4.12/cloudnative-pg/catalog.yaml
  catalogs/v4.13/cloudnative-pg/catalog.yaml
  catalogs/v4.14/cloudnative-pg/catalog.yaml
  catalogs/v4.15/cloudnative-pg/catalog.yaml
  catalogs/v4.16/cloudnative-pg/catalog.yaml
  catalogs/v4.17/cloudnative-pg/catalog.yaml
  operators/cloudnative-pg/catalog-templates/v4.12.yaml
  operators/cloudnative-pg/catalog-templates/v4.13.yaml
  operators/cloudnative-pg/catalog-templates/v4.14.yaml
  operators/cloudnative-pg/catalog-templates/v4.15.yaml
  operators/cloudnative-pg/catalog-templates/v4.16.yaml
  operators/cloudnative-pg/catalog-templates/v4.17.yaml
Labels: operator-hosted-pipeline/started

#4769 operator redis-enterprise-operator-cert (7.8.2-6.3)
  operators/redis-enterprise-operator-cert/7.8.2-6.3/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.2-6.3/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.2-6.3/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.2-6.3/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.8.2-6.3/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.2-6.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4770 operator kubecost-operator (v2.4.18)
  operators/kubecost-operator/v2.4.18/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.18/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.18/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.18/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.18/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.18/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.18/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4757 operator elasticsearch-eck-operator-certified (2.15.0)
  operators/elasticsearch-eck-operator-certified/2.15.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.15.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.15.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.15.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.15.0/manifests/elasticsearch-eck-operator-certified.clusterserviceversion.yaml
  operators/elasticsearch-eck-operator-certified/2.15.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.15.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.15.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.15.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.15.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.15.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.15.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4771 operator infinibox-operator-certified (v2.17.0)
  operators/infinibox-operator-certified/v2.17.0/manifests/csidriver.infinidat.com_iboxreplicas.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.0/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.0/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.17.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4773 Catalog update [v4.18,v4.12,v4.17,v4.15,v4.16,v4.13,v4.14]
  catalogs/v4.12/infoscale-operator/catalog.yaml
  catalogs/v4.13/infoscale-operator/catalog.yaml
  catalogs/v4.14/infoscale-operator/catalog.yaml
  catalogs/v4.15/infoscale-operator/catalog.yaml
  catalogs/v4.16/infoscale-operator/catalog.yaml
  catalogs/v4.17/infoscale-operator/catalog.yaml
  catalogs/v4.18/infoscale-operator/catalog.yaml
  operators/infoscale-operator/Makefile
  operators/infoscale-operator/catalog-templates/v4.12.yaml
  operators/infoscale-operator/catalog-templates/v4.13.yaml
  operators/infoscale-operator/catalog-templates/v4.14.yaml
  operators/infoscale-operator/catalog-templates/v4.15.yaml
  operators/infoscale-operator/catalog-templates/v4.16.yaml
  operators/infoscale-operator/catalog-templates/v4.17.yaml
  operators/infoscale-operator/catalog-templates/v4.18.yaml
  operators/infoscale-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4760 operator percona-postgresql-operator-certified (2.5.0-cw)
  operators/percona-postgresql-operator-certified/2.5.0-cw/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0-cw/manifests/percona-postgresql-operator.v2.5.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator-certified/2.5.0-cw/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0-cw/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0-cw/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0-cw/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0-cw/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0-cw/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0-cw/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0-cw/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4775 operator kubecost-operator (v2.4.19)
  operators/kubecost-operator/v2.4.19/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.19/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.19/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.19/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.19/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.19/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.19/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4776 Catalog update [v4.12,v4.17,v4.14,v4.15,v4.16,v4.13]
  catalogs/v4.12/cloudnative-pg/catalog.yaml
  catalogs/v4.13/cloudnative-pg/catalog.yaml
  catalogs/v4.14/cloudnative-pg/catalog.yaml
  catalogs/v4.15/cloudnative-pg/catalog.yaml
  catalogs/v4.16/cloudnative-pg/catalog.yaml
  catalogs/v4.17/cloudnative-pg/catalog.yaml
  operators/cloudnative-pg/catalog-templates/v4.12.yaml
  operators/cloudnative-pg/catalog-templates/v4.13.yaml
  operators/cloudnative-pg/catalog-templates/v4.14.yaml
  operators/cloudnative-pg/catalog-templates/v4.15.yaml
  operators/cloudnative-pg/catalog-templates/v4.16.yaml
  operators/cloudnative-pg/catalog-templates/v4.17.yaml
Labels: operator-hosted-pipeline/started

#4761 operator percona-postgresql-operator-certified (2.5.0)
  operators/percona-postgresql-operator-certified/2.5.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0/manifests/percona-postgresql-operator.v2.5.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator-certified/2.5.0/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.5.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4777 operator instana-agent-operator (2.1.10)
  operators/instana-agent-operator/2.1.10/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.10/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.10/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.10/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.10/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.10/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.10/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.10/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4778 operator prometurbo-certified (8.14.30-beta.1)
  operators/prometurbo-certified/8.14.30-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.14.30-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.14.30-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4784 operator gitlab-runner-operator (1.30.2)
  operators/gitlab-runner-operator/1.30.2/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.30.2/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.30.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3740 operator cockroachdb-certified (v2.14.0)
  operators/cockroachdb-certified/v2.14.0/manifests/cockroach-operator-webhook-service_v1_service.yaml
  operators/cockroachdb-certified/v2.14.0/manifests/cockroachdb-certified.clusterserviceversion.yaml
  operators/cockroachdb-certified/v2.14.0/manifests/crdb.cockroachlabs.com_crdbclusters.yaml
  operators/cockroachdb-certified/v2.14.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4786 operator cockroachdb-certified (v2.16.0)
  operators/cockroachdb-certified/v2.16.0/manifests/cockroach-operator-webhook-service_v1_service.yaml
  operators/cockroachdb-certified/v2.16.0/manifests/cockroachdb-certified.clusterserviceversion.yaml
  operators/cockroachdb-certified/v2.16.0/manifests/crdb.cockroachlabs.com_crdbclusters.yaml
  operators/cockroachdb-certified/v2.16.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4790 operator digitalai-deploy-operator (v24.3.0)
  operators/digitalai-deploy-operator/v24.3.0/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.3.0/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.3.0/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.0/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.0/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.0/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.3.0/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.3.0/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v24.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4782 operator gitlab-runner-operator (1.31.0)
  operators/gitlab-runner-operator/1.31.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.31.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.31.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4792 operator digitalai-release-operator (v24.3.0)
  operators/digitalai-release-operator/v24.3.0/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.3.0/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.3.0/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.0/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.0/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.0/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.3.0/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.3.0/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v24.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4793 operator tawon-operator (2.39.18)
  operators/tawon-operator/2.39.18/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.18/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.18/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.18/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.18/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.18/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.18/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.18/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.18/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.18/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.18/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4795 operator percona-server-mongodb-operator-certified (1.18.0)
  operators/percona-server-mongodb-operator-certified/1.18.0/manifests/percona-server-mongodb-operator.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator-certified/1.18.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.18.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.18.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.18.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4797 operator kubeturbo-certified (8.14.30-beta.1)
  operators/kubeturbo-certified/8.14.30-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.30-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.30-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4803 operator fujitsu-enterprise-operator (v3.1.29)
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/manifests/fujitsu-enterprise-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-operator/v3.1.29/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-operator/v3.1.29/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4804 operator tawon-operator (2.39.19)
  operators/tawon-operator/2.39.19/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.19/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.19/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.19/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.19/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.19/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.19/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.19/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.19/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.19/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.19/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4796 Catalog update [v4.13,v4.14,v4.12,v4.15,v4.16,v4.18,v4.17]
  catalogs/v4.12/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.13/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.14/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.15/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.16/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.17/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.18/dell-csm-operator-certified/catalog.yaml
  operators/dell-csm-operator-certified/Makefile
  operators/dell-csm-operator-certified/catalog-templates/v4.12.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.13.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.14.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.15.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.16.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.17.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.18.yaml
  operators/dell-csm-operator-certified/ci.yaml
Labels: operator-hosted-pipeline/started

#4805 operator kubecost-operator (v2.4.20)
  operators/kubecost-operator/v2.4.20/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.20/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.20/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.20/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.20/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.20/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4809 operator stackgres-certified (1.14.1)
  operators/stackgres-certified/1.14.1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.14.1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.14.1/metadata/annotations.yaml
  operators/stackgres-certified/1.14.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4810 operator kubecost-operator (v.2.4.22)
  operators/kubecost-operator/v.2.4.22/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v.2.4.22/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v.2.4.22/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v.2.4.22/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v.2.4.22/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v.2.4.22/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v.2.4.22/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4814 operator cockroachdb-certified (v2.16.1)
  operators/cockroachdb-certified/v2.16.1/manifests/cockroach-operator-webhook-service_v1_service.yaml
  operators/cockroachdb-certified/v2.16.1/manifests/cockroachdb-certified.clusterserviceversion.yaml
  operators/cockroachdb-certified/v2.16.1/manifests/crdb.cockroachlabs.com_crdbclusters.yaml
  operators/cockroachdb-certified/v2.16.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4818 operator nvidia-network-operator (24.10.0)
  operators/nvidia-network-operator/24.10.0/manifests/mellanox.com_hostdevicenetworks.yaml
  operators/nvidia-network-operator/24.10.0/manifests/mellanox.com_ipoibnetworks.yaml
  operators/nvidia-network-operator/24.10.0/manifests/mellanox.com_macvlannetworks.yaml
  operators/nvidia-network-operator/24.10.0/manifests/mellanox.com_nicclusterpolicies.yaml
  operators/nvidia-network-operator/24.10.0/manifests/nvidia-network-operator-webhook-service_v1_service.yaml
  operators/nvidia-network-operator/24.10.0/manifests/nvidia-network-operator.clusterserviceversion.yaml
  operators/nvidia-network-operator/24.10.0/metadata/annotations.yaml
  operators/nvidia-network-operator/24.10.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4819 operator gitlab-operator-kubernetes (1.7.1)
  operators/gitlab-operator-kubernetes/1.7.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.7.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.7.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4820 operator vfunction-server-operator (v3.8.1535)
  operators/vfunction-server-operator/v3.8.1535/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v3.8.1535/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v3.8.1535/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v3.8.1535/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v3.8.1535/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v3.8.1535/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#4821 operator sysdig-shield-operator (v0.1.4)
  operators/sysdig-shield-operator/v0.1.4/manifests/rh-shield-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sysdig-shield-operator/v0.1.4/manifests/rh-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.4/manifests/rh-shield-operator-shield-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.4/manifests/rh-shield-operator-shield-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.4/manifests/rh-shield-operator.clusterserviceversion.yaml
  operators/sysdig-shield-operator/v0.1.4/manifests/shield.sysdig.com_shields.yaml
  operators/sysdig-shield-operator/v0.1.4/metadata/annotations.yaml
  operators/sysdig-shield-operator/v0.1.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4822 operator appdynamics-operator (24.11.0-997)
  operators/appdynamics-operator/24.11.0-997/bundle.Dockerfile
  operators/appdynamics-operator/24.11.0-997/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/infraviz_clusterrole.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/infraviz_clusterrole_binding.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/infraviz_service_account.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/target_allocator_clusterrole.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/target_allocator_clusterrole_binding.yaml
  operators/appdynamics-operator/24.11.0-997/manifests/target_allocator_service_account.yaml
  operators/appdynamics-operator/24.11.0-997/metadata/annotations.yaml
  operators/appdynamics-operator/24.11.0-997/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4811 operator fujitsu-enterprise-postgres-operator (v7.1.0)
  operators/fujitsu-enterprise-postgres-operator/ci.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v7.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4812 operator fujitsu-enterprise-postgres-operator-with-cg-module (v7.1.0)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/ci.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4823 operator prometurbo-certified (8.14.30)
  operators/prometurbo-certified/8.14.30/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.14.30/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.14.30/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4824 operator crunchy-postgres-operator (5.7.1)
  operators/crunchy-postgres-operator/5.7.1/Dockerfile
  operators/crunchy-postgres-operator/5.7.1/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.7.1/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.1/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.1/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.7.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4827 operator kubeturbo-certified (8.14.30)
  operators/kubeturbo-certified/8.14.30/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.30/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.30/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4733 operator mongodb-enterprise (1.29.0)
  operators/mongodb-enterprise/1.29.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.29.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.29.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.29.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4828 operator kubecost-operator (v2.4.23)
  operators/kubecost-operator/v2.4.23/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.23/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.23/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.23/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.23/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.23/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.23/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4833 operator csw-operator (1.3.0)
  operators/csw-operator/1.3.0/manifests/csw-aggregate-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/csw-operator/1.3.0/manifests/csw-manager-config_v1_configmap.yaml
  operators/csw-operator/1.3.0/manifests/csw-operator.clusterserviceversion.yaml
  operators/csw-operator/1.3.0/manifests/k5.config_k5externalsecrets.yaml
  operators/csw-operator/1.3.0/manifests/k5.knowis.com_csws.yaml
  operators/csw-operator/1.3.0/manifests/k5.project.operator_k5clients.yaml
  operators/csw-operator/1.3.0/manifests/k5.project.operator_k5dashboards.yaml
  operators/csw-operator/1.3.0/manifests/k5.project.operator_k5projects.yaml
  operators/csw-operator/1.3.0/manifests/k5.project.operator_k5realms.yaml
  operators/csw-operator/1.3.0/manifests/k5.project.operator_k5topics.yaml
  operators/csw-operator/1.3.0/manifests/sol.rt.cp.knowis.de_solutions.yaml
  operators/csw-operator/1.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started
