Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2024-04, with the labels that each got.

#3655 operator t8c-certified (42.53.0-beta.1)
  operators/t8c-certified/42.53.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.53.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.53.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3651 operator elasticsearch-eck-operator-certified (2.12.1)
  operators/elasticsearch-eck-operator-certified/2.12.1/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.1/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.1/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.1/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.1/manifests/elasticsearch-eck-operator-certified.clusterserviceversion.yaml
  operators/elasticsearch-eck-operator-certified/2.12.1/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.1/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.1/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.1/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.1/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.1/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3666 operator dell-csm-operator-certified (1.4.4)
  operators/dell-csm-operator-certified/1.4.4/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.4/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.4/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.4.4/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.4.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3673 operator redhat-marketplace-operator (2.14.1)
  operators/redhat-marketplace-operator/2.14.1/manifests/deploy.razee.io_remoteresources.yaml
  operators/redhat-marketplace-operator/2.14.1/manifests/redhat-marketplace-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/redhat-marketplace-operator/2.14.1/manifests/redhat-marketplace-controller-manager-metrics-service_v1_service.yaml
  operators/redhat-marketplace-operator/2.14.1/manifests/redhat-marketplace-operator.clusterserviceversion.yaml
  operators/redhat-marketplace-operator/2.14.1/manifests/redhat-marketplace-servicemonitor-metrics-reader_v1_secret.yaml
  operators/redhat-marketplace-operator/2.14.1/manifests/redhat-marketplace-serving-certs-ca-bundle_v1_configmap.yaml
  operators/redhat-marketplace-operator/2.14.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3674 operator ibm-data-reporter-operator (2.14.1)
  operators/ibm-data-reporter-operator/2.14.1/manifests/ibm-data-reporter-operator-component-config-fcf6kk88g6_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.14.1/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.14.1/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.14.1/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.14.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.14.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.14.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.14.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.14.1/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.14.1/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.14.1/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.14.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3676 operator appdynamics-cloud-operator (24.3.0-111)
  operators/appdynamics-cloud-operator/24.3.0-111/bundle.Dockerfile
  operators/appdynamics-cloud-operator/24.3.0-111/manifests/appdynamics-cloud-operator-metrics-service_v1_service.yaml
  operators/appdynamics-cloud-operator/24.3.0-111/manifests/appdynamics-cloud-operator.clusterserviceversion.yaml
  operators/appdynamics-cloud-operator/24.3.0-111/manifests/cluster.appdynamics.com_clustermons.yaml
  operators/appdynamics-cloud-operator/24.3.0-111/manifests/cluster.appdynamics.com_containermons.yaml
  operators/appdynamics-cloud-operator/24.3.0-111/manifests/cluster.appdynamics.com_dbcollectors.yaml
  operators/appdynamics-cloud-operator/24.3.0-111/manifests/cluster.appdynamics.com_dbconfigs.yaml
  operators/appdynamics-cloud-operator/24.3.0-111/manifests/cluster.appdynamics.com_inframons.yaml
  operators/appdynamics-cloud-operator/24.3.0-111/manifests/cluster.appdynamics.com_logcollectors.yaml
  operators/appdynamics-cloud-operator/24.3.0-111/manifests/cluster.appdynamics.com_servermons.yaml
  operators/appdynamics-cloud-operator/24.3.0-111/manifests/manager-config_v1_configmap.yaml
  operators/appdynamics-cloud-operator/24.3.0-111/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/appdynamics-cloud-operator/24.3.0-111/metadata/annotations.yaml
  operators/appdynamics-cloud-operator/24.3.0-111/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3677 operator infinibox-operator-certified (v2.12.0)
  operators/infinibox-operator-certified/v2.12.0/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.12.0/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.12.0/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3678 operator t8c-tsc-client-certified (1.2.8-candidate-20240402211152000)
  operators/t8c-tsc-client-certified/1.2.8-candidate-20240402211152000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.8-candidate-20240402211152000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.8-candidate-20240402211152000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.8-candidate-20240402211152000/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3679 operator fujitsu-enterprise-postgres-operator (v5.2.3)
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v5.2.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3683 operator couchbase-enterprise-certified (2.6.1-1)
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbase-v2.6.1.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbaseautoscalers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbasebackuprestores.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbasebackups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbasebuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbaseclusters.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbasecollectiongroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbasecollections.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbaseephemeralbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbasegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbasememcachedbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbasemigrationreplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbasereplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbaserolebindings.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbasescopegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbasescopes.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/manifests/couchbaseusers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3687 operator stackable-commons-operator (24.3.0)
  operators/stackable-commons-operator/24.3.0/manifests/AuthenticationClass.yml
  operators/stackable-commons-operator/24.3.0/manifests/S3Bucket.yml
  operators/stackable-commons-operator/24.3.0/manifests/S3Connection.yml
  operators/stackable-commons-operator/24.3.0/manifests/commons-operator-configmap.yml
  operators/stackable-commons-operator/24.3.0/manifests/stackable-commons-operator.clusterserviceversion.yaml
  operators/stackable-commons-operator/24.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3686 operator dynatrace-operator (1.0.0)
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-high-priority_scheduling.k8s.io_v1_priorityclass.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-oneagent-csi-driver_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-oneagent-csi-driver_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.0.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3688 operator stackable-secret-operator (24.3.0)
  operators/stackable-secret-operator/24.3.0/manifests/SecretClass.yml
  operators/stackable-secret-operator/24.3.0/manifests/secret-operator-manifests.yaml
  operators/stackable-secret-operator/24.3.0/manifests/stackable-secret-operator.clusterserviceversion.yaml
  operators/stackable-secret-operator/24.3.0/metadata/annotations.yaml
  operators/stackable-secret-operator/24.3.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3689 operator stackable-listener-operator (24.3.0)
  operators/stackable-listener-operator/24.3.0/manifests/Listener.yml
  operators/stackable-listener-operator/24.3.0/manifests/ListenerClass.yml
  operators/stackable-listener-operator/24.3.0/manifests/PodListeners.yml
  operators/stackable-listener-operator/24.3.0/manifests/listener-operator-manifests.yaml
  operators/stackable-listener-operator/24.3.0/manifests/stackable-listener-operator.clusterserviceversion.yaml
  operators/stackable-listener-operator/24.3.0/metadata/annotations.yaml
  operators/stackable-listener-operator/24.3.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3690 operator couchbase-enterprise-certified (2.6.2-1)
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbase-v2.6.2.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.2-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3692 operator prometurbo-certified (8.12.0)
  operators/prometurbo-certified/8.12.0/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.0/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3691 operator kubeturbo-certified (8.12.0)
  operators/kubeturbo-certified/8.12.0/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.0/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3693 operator t8c-certified (42.53.0)
  operators/t8c-certified/42.53.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.53.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.53.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3681 operator ibm-application-gateway-operator (24.4.0)
  operators/ibm-application-gateway-operator/24.4.0/manifests/ibm-application-gateway-operator-ctrl-mgr-metrics-service_v1_service.yaml
  operators/ibm-application-gateway-operator/24.4.0/manifests/ibm-application-gateway-operator-manager-config_v1_configmap.yaml
  operators/ibm-application-gateway-operator/24.4.0/manifests/ibm-application-gateway-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-application-gateway-operator/24.4.0/manifests/ibm-application-gateway-operator-webhook-service_v1_service.yaml
  operators/ibm-application-gateway-operator/24.4.0/manifests/ibm-application-gateway-operator.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/24.4.0/manifests/ibm.com_ibmapplicationgateways.yaml
  operators/ibm-application-gateway-operator/24.4.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/24.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3695 operator stackable-airflow-operator (24.3.0)
  operators/stackable-airflow-operator/24.3.0/manifests/AirflowCluster.yml
  operators/stackable-airflow-operator/24.3.0/manifests/airflow-clusterrole.yml
  operators/stackable-airflow-operator/24.3.0/manifests/airflow-operator-configmap.yml
  operators/stackable-airflow-operator/24.3.0/manifests/stackable-airflow-operator.clusterserviceversion.yaml
  operators/stackable-airflow-operator/24.3.0/metadata/annotations.yaml
  operators/stackable-airflow-operator/24.3.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3696 operator stackable-zookeeper-operator (24.3.0)
  operators/stackable-zookeeper-operator/24.3.0/manifests/ZookeeperCluster.yml
  operators/stackable-zookeeper-operator/24.3.0/manifests/ZookeeperZnode.yml
  operators/stackable-zookeeper-operator/24.3.0/manifests/stackable-zookeeper-operator.clusterserviceversion.yaml
  operators/stackable-zookeeper-operator/24.3.0/manifests/zookeeper-clusterrole.yml
  operators/stackable-zookeeper-operator/24.3.0/manifests/zookeeper-operator-configmap.yml
  operators/stackable-zookeeper-operator/24.3.0/metadata/annotations.yaml
  operators/stackable-zookeeper-operator/24.3.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3699 operator stackable-spark-operator (24.3.0)
  operators/stackable-spark-operator/24.3.0/manifests/SparkApplication.yml
  operators/stackable-spark-operator/24.3.0/manifests/SparkHistoryServer.yml
  operators/stackable-spark-operator/24.3.0/manifests/spark-k8s-clusterrole.yml
  operators/stackable-spark-operator/24.3.0/manifests/spark-k8s-operator-configmap.yml
  operators/stackable-spark-operator/24.3.0/manifests/stackable-spark-k8s-operator.clusterserviceversion.yaml
  operators/stackable-spark-operator/24.3.0/metadata/annotations.yaml
  operators/stackable-spark-operator/24.3.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3700 operator stackable-hive-operator (24.3.0)
  operators/stackable-hive-operator/24.3.0/manifests/HiveCluster.yml
  operators/stackable-hive-operator/24.3.0/manifests/hive-clusterrole.yml
  operators/stackable-hive-operator/24.3.0/manifests/hive-operator-configmap.yml
  operators/stackable-hive-operator/24.3.0/manifests/stackable-hive-operator.clusterserviceversion.yaml
  operators/stackable-hive-operator/24.3.0/metadata/annotations.yaml
  operators/stackable-hive-operator/24.3.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3701 operator t8c-tsc-client-certified (1.2.8)
  operators/t8c-tsc-client-certified/1.2.8/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.8/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.8/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3704 operator stackable-kafka-operator (24.3.0)
  operators/stackable-kafka-operator/24.3.0/manifests/KafkaCluster.yml
  operators/stackable-kafka-operator/24.3.0/manifests/kafka-clusterrole.yml
  operators/stackable-kafka-operator/24.3.0/manifests/kafka-operator-configmap.yml
  operators/stackable-kafka-operator/24.3.0/manifests/kafka-operator-kafka-broker-clusterrole.yml
  operators/stackable-kafka-operator/24.3.0/manifests/stackable-kafka-operator.clusterserviceversion.yaml
  operators/stackable-kafka-operator/24.3.0/metadata/annotations.yaml
  operators/stackable-kafka-operator/24.3.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3705 operator stackable-superset-operator (24.3.0)
  operators/stackable-superset-operator/24.3.0/manifests/DruidConnection.yml
  operators/stackable-superset-operator/24.3.0/manifests/SupersetCluster.yml
  operators/stackable-superset-operator/24.3.0/manifests/stackable-superset-operator.clusterserviceversion.yaml
  operators/stackable-superset-operator/24.3.0/manifests/superset-clusterrole.yml
  operators/stackable-superset-operator/24.3.0/manifests/superset-operator-configmap.yml
  operators/stackable-superset-operator/24.3.0/metadata/annotations.yaml
  operators/stackable-superset-operator/24.3.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3706 operator stackable-hbase-operator (24.3.0)
  operators/stackable-hbase-operator/24.3.0/manifests/HbaseCluster.yml
  operators/stackable-hbase-operator/24.3.0/manifests/hbase-clusterrole.yml
  operators/stackable-hbase-operator/24.3.0/manifests/hbase-operator-configmap.yml
  operators/stackable-hbase-operator/24.3.0/manifests/stackable-hbase-operator.clusterserviceversion.yaml
  operators/stackable-hbase-operator/24.3.0/metadata/annotations.yaml
  operators/stackable-hbase-operator/24.3.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3707 operator stackable-druid-operator (24.3.0)
  operators/stackable-druid-operator/24.3.0/manifests/DruidCluster.yml
  operators/stackable-druid-operator/24.3.0/manifests/druid-clusterrole.yml
  operators/stackable-druid-operator/24.3.0/manifests/druid-operator-configmap.yml
  operators/stackable-druid-operator/24.3.0/manifests/stackable-druid-operator.clusterserviceversion.yaml
  operators/stackable-druid-operator/24.3.0/metadata/annotations.yaml
  operators/stackable-druid-operator/24.3.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3708 operator stackable-nifi-operator (24.3.0)
  operators/stackable-nifi-operator/24.3.0/manifests/NifiCluster.yml
  operators/stackable-nifi-operator/24.3.0/manifests/nifi-clusterrole.yml
  operators/stackable-nifi-operator/24.3.0/manifests/nifi-operator-configmap.yml
  operators/stackable-nifi-operator/24.3.0/manifests/stackable-nifi-operator.clusterserviceversion.yaml
  operators/stackable-nifi-operator/24.3.0/metadata/annotations.yaml
  operators/stackable-nifi-operator/24.3.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3709 operator stackable-trino-operator (24.3.0)
  operators/stackable-trino-operator/24.3.0/manifests/TrinoCatalog.yml
  operators/stackable-trino-operator/24.3.0/manifests/TrinoCluster.yml
  operators/stackable-trino-operator/24.3.0/manifests/stackable-trino-operator.clusterserviceversion.yaml
  operators/stackable-trino-operator/24.3.0/manifests/trino-clusterrole.yml
  operators/stackable-trino-operator/24.3.0/manifests/trino-operator-configmap.yml
  operators/stackable-trino-operator/24.3.0/metadata/annotations.yaml
  operators/stackable-trino-operator/24.3.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#3694 operator portworx-certified (23.10.5)
  operators/portworx-certified/23.10.5/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/23.10.5/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/23.10.5/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/23.10.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3710 operator abinitio-runtime-operator (v4.3.1-0)
  operators/abinitio-runtime-operator/v4.3.1-0/Dockerfile
  operators/abinitio-runtime-operator/v4.3.1-0/manifests/abinitio-runtime-operator.clusterserviceversion.yaml
  operators/abinitio-runtime-operator/v4.3.1-0/manifests/abinitio-runtime-operator_configmap.yaml
  operators/abinitio-runtime-operator/v4.3.1-0/manifests/abinitio-runtime-operator_prometheus-service.yaml
  operators/abinitio-runtime-operator/v4.3.1-0/manifests/cloud.abinitio.com_cooperatingsystemruntimeclaims.yaml
  operators/abinitio-runtime-operator/v4.3.1-0/manifests/cloud.abinitio.com_cooperatingsystemruntimepoolmetrics.yaml
  operators/abinitio-runtime-operator/v4.3.1-0/manifests/cloud.abinitio.com_cooperatingsystemruntimepools.yaml
  operators/abinitio-runtime-operator/v4.3.1-0/manifests/cloud.abinitio.com_cooperatingsystemruntimeprofiles.yaml
  operators/abinitio-runtime-operator/v4.3.1-0/manifests/cloud.abinitio.com_cooperatingsystemruntimes.yaml
  operators/abinitio-runtime-operator/v4.3.1-0/manifests/cloud.abinitio.com_cooperatingsystemruntimetemplates.yaml
  operators/abinitio-runtime-operator/v4.3.1-0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3711 operator ibm-security-verify-access-operator (24.4.0)
  operators/ibm-security-verify-access-operator/24.4.0/manifests/ibm-security-verify-access-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-access-operator/24.4.0/manifests/ibm.com_ibmsecurityverifyaccesses.yaml
  operators/ibm-security-verify-access-operator/24.4.0/manifests/verify-access-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/24.4.0/manifests/verify-access-operator-controller-manager-snapshot-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/24.4.0/manifests/verify-access-operator-manager-config_v1_configmap.yaml
  operators/ibm-security-verify-access-operator/24.4.0/manifests/verify-access-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-access-operator/24.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3697 operator joget-dx8-operator (0.0.13)
  operators/joget-dx8-operator/0.0.13/manifests/joget-dx8-operator.clusterserviceversion.yaml
  operators/joget-dx8-operator/0.0.13/manifests/jogetdx8.app.joget.com.crd.yaml
  operators/joget-dx8-operator/0.0.13/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3712 operator tenant-operator (v0.11.0)
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.11.0/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.11.0/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.11.0/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.11.0/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.11.0/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.11.0/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.11.0/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.11.0/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.11.0/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.11.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3713 operator nvidia-network-operator (24.1.1)
  operators/nvidia-network-operator/24.1.1/manifests/mellanox.com_hostdevicenetworks.yaml
  operators/nvidia-network-operator/24.1.1/manifests/mellanox.com_ipoibnetworks.yaml
  operators/nvidia-network-operator/24.1.1/manifests/mellanox.com_macvlannetworks.yaml
  operators/nvidia-network-operator/24.1.1/manifests/mellanox.com_nicclusterpolicies.yaml
  operators/nvidia-network-operator/24.1.1/manifests/nvidia-network-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nvidia-network-operator/24.1.1/manifests/nvidia-network-operator-manager-config_v1_configmap.yaml
  operators/nvidia-network-operator/24.1.1/manifests/nvidia-network-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nvidia-network-operator/24.1.1/manifests/nvidia-network-operator-webhook-service_v1_service.yaml
  operators/nvidia-network-operator/24.1.1/manifests/nvidia-network-operator.clusterserviceversion.yaml
  operators/nvidia-network-operator/24.1.1/metadata/annotations.yaml
  operators/nvidia-network-operator/24.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3714 operator netscaler-operator (2.2.0)
  operators/netscaler-operator/2.2.0/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/2.2.0/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/2.2.0/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/2.2.0/manifests/netscaler.com_netscalercpxwithingresscontrollers.yaml
  operators/netscaler-operator/2.2.0/manifests/netscaler.com_netscaleringresscontrollers.yaml
  operators/netscaler-operator/2.2.0/manifests/netscaler.com_netscalerobservabilityexporters.yaml
  operators/netscaler-operator/2.2.0/metadata/annotations.yaml
  operators/netscaler-operator/2.2.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3715 operator netscaler-adm-agent-operator (141.23.31)
  operators/netscaler-adm-agent-operator/141.23.31/manifests/netscaler-adm-agent-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-adm-agent-operator/141.23.31/manifests/netscaler-adm-agent-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-adm-agent-operator/141.23.31/manifests/netscaler-adm-agent-operator.clusterserviceversion.yaml
  operators/netscaler-adm-agent-operator/141.23.31/manifests/netscaler.com_admagents.yaml
  operators/netscaler-adm-agent-operator/141.23.31/metadata/annotations.yaml
  operators/netscaler-adm-agent-operator/141.23.31/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3719 operator cilium-enterprise (1.14.9)
  operators/cilium-enterprise/1.14.9/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.9/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.9/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3723 operator exascaler-csi-driver-operator (2.2.3)
  operators/exascaler-csi-driver-operator/2.2.3/manifests/charts.my.domain_exacsis.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-controller-manager-metrics-service_v1_service.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-controller-service-account_v1_serviceaccount.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-csi-resizer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-csi-resizer-bindinga_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-csi-resizer-role-cfg_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-csi-resizer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-driver-operator.clusterserviceversion.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-exascaler-csi-controller-cluster-role-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-exascaler-csi-controller-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-exascaler-csi-node-cluster-role-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-exascaler-csi-node-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-exascaler-csi-privileged-scc-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-exascaler-csi-privileged-scc-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-external-resizer-cfg_rbac.authorization.k8s.io_v1_role.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-node-service-account_v1_serviceaccount.yaml
  operators/exascaler-csi-driver-operator/2.2.3/metadata/annotations.yaml
  operators/exascaler-csi-driver-operator/2.2.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3729 operator runtime-fabric-operator (v2.6.22)
  operators/runtime-fabric-operator/v2.6.22/manifests/rtf.operators.mulesoft.com_runtimefabrics.yaml
  operators/runtime-fabric-operator/v2.6.22/manifests/runtime-fabric-operator-controller-manager-metrics-service_v1_service.yaml
  operators/runtime-fabric-operator/v2.6.22/manifests/runtime-fabric-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.6.22/manifests/runtime-fabric-operator.clusterserviceversion.yaml
  operators/runtime-fabric-operator/v2.6.22/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3724 operator prometurbo-certified (8.12.10-beta.1)
  operators/prometurbo-certified/8.12.10-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.10-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.10-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3730 operator openshiftartifactoryha-operator (1.2.7)
  operators/openshiftartifactoryha-operator/1.2.7/manifests/openshiftartifactoryha-operator.clusterserviceversion.yaml
  operators/openshiftartifactoryha-operator/1.2.7/manifests/openshiftartifactoryhas.charts.helm.k8s.io.crd.yaml
  operators/openshiftartifactoryha-operator/1.2.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3725 operator kubeturbo-certified (8.12.10-beta.1)
  operators/kubeturbo-certified/8.12.10-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.10-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.10-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3735 operator gitlab-operator-kubernetes (0.30.2)
  operators/gitlab-operator-kubernetes/0.30.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.30.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.30.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3734 operator t8c-certified (42.54.0-beta.1)
  operators/t8c-certified/42.54.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.54.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.54.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_operator_name

#3739 operator hazelcast-platform-operator (5.11.0)
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.11.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.11.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.11.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3741 operator gitlab-operator-kubernetes (0.30.3)
  operators/gitlab-operator-kubernetes/0.30.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.30.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.30.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3742 operator confluent-for-kubernetes (2.8.2)
  operators/confluent-for-kubernetes/2.8.2/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.8.2/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.8.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3743 operator confluent-for-kubernetes (2.7.4)
  operators/confluent-for-kubernetes/2.7.4/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.7.4/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.7.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3744 operator confluent-for-kubernetes (2.6.5)
  operators/confluent-for-kubernetes/2.6.5/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.6.5/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.6.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3746 operator dynatrace-operator (1.0.1)
  operators/dynatrace-operator/1.0.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.0.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.0.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.0.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.0.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.0.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.0.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3749 operator cilium-enterprise (1.12.21)
  operators/cilium-enterprise/1.12.21/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.12.21/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.12.21/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.12.21/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#3751 operator prometurbo-certified (8.12.10)
  operators/prometurbo-certified/8.12.10/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.10/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3752 operator kubeturbo-certified (8.12.10)
  operators/kubeturbo-certified/8.12.10/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.10/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3754 operator runtime-fabric-operator (v2.6.23)
  operators/runtime-fabric-operator/v2.6.23/manifests/rtf.operators.mulesoft.com_runtimefabrics.yaml
  operators/runtime-fabric-operator/v2.6.23/manifests/runtime-fabric-operator-controller-manager-metrics-service_v1_service.yaml
  operators/runtime-fabric-operator/v2.6.23/manifests/runtime-fabric-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.6.23/manifests/runtime-fabric-operator.clusterserviceversion.yaml
  operators/runtime-fabric-operator/v2.6.23/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3757 removing various dell-csm-operator release to make fixes
  operators/dell-csm-operator-certified/1.4.2/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.2/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.2/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.4.2/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.4.2/tests/scorecard/config.yaml
  operators/dell-csm-operator-certified/1.4.3/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.3/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.3/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.4.3/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.4.3/tests/scorecard/config.yaml
  operators/dell-csm-operator-certified/1.4.4/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.4/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.4/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.4.4/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.4.4/tests/scorecard/config.yaml
Labels: lgtm, operator-hosted-pipeline/failed

#3758 operator dell-csm-operator-certified (1.4.2)
  operators/dell-csm-operator-certified/1.4.2/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.2/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.2/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.4.2/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.4.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop

#3760 operator hpe-csi-operator (2.4.2)
  operators/hpe-csi-operator/2.4.2/manifests/hpe-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-csi-operator/2.4.2/manifests/hpe-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.4.2/manifests/hpe-csi-operator.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.4.2/manifests/storage.hpe.com_hpecsidrivers.yaml
  operators/hpe-csi-operator/2.4.2/metadata/annotations.yaml
  operators/hpe-csi-operator/2.4.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3759 operator dell-csm-operator-certified (1.4.3)
  operators/dell-csm-operator-certified/1.4.3/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.3/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.3/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.4.3/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.4.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop

#3763 operator openshiftartifactoryha-operator (1.2.8)
  operators/openshiftartifactoryha-operator/1.2.8/manifests/openshiftartifactoryha-operator.clusterserviceversion.yaml
  operators/openshiftartifactoryha-operator/1.2.8/manifests/openshiftartifactoryhas.charts.helm.k8s.io.crd.yaml
  operators/openshiftartifactoryha-operator/1.2.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3761 operator t8c-certified (42.54.0)
  operators/t8c-certified/42.54.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.54.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.54.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop

#3765 operator minio-operator (5.0.14)
  operators/minio-operator/5.0.14/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/5.0.14/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/5.0.14/manifests/console_v1_service.yaml
  operators/minio-operator/5.0.14/manifests/job.min.io_miniojobs.yaml
  operators/minio-operator/5.0.14/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/5.0.14/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/5.0.14/manifests/operator_v1_service.yaml
  operators/minio-operator/5.0.14/manifests/sts.min.io_policybindings.yaml
  operators/minio-operator/5.0.14/manifests/sts_v1_service.yaml
  operators/minio-operator/5.0.14/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3767 operator neuvector-certified-operator (1.4.4)
  operators/neuvector-certified-operator/1.4.4/manifests/neuvector-certified-operator.clusterserviceversion.yaml
  operators/neuvector-certified-operator/1.4.4/manifests/neuvectors.apm.neuvector.com.crd.yaml
  operators/neuvector-certified-operator/1.4.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3770 operator mongodb-atlas-kubernetes (2.2.1)
  operators/mongodb-atlas-kubernetes/2.2.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.2.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3772 operator gitlab-operator-kubernetes (0.31.0)
  operators/gitlab-operator-kubernetes/0.31.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.31.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.31.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3768 operator fujitsu-enterprise-postgres-operator (v5.2.4)
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v5.2.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_replaces_availability

#3777 operator stackgres-certified (1.10.0-rc1)
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.10.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.10.0-rc1/metadata/annotations.yaml
  operators/stackgres-certified/1.10.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3775 operator dell-csm-operator-certified (1.5.0)
  operators/dell-csm-operator-certified/1.5.0/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.5.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.5.0/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.5.0/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.5.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop

#3778 operator netscaler-operator (2.3.0)
  operators/netscaler-operator/2.3.0/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/2.3.0/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/2.3.0/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/2.3.0/manifests/netscaler.com_netscalercpxwithingresscontrollers.yaml
  operators/netscaler-operator/2.3.0/manifests/netscaler.com_netscaleringresscontrollers.yaml
  operators/netscaler-operator/2.3.0/manifests/netscaler.com_netscalerobservabilityexporters.yaml
  operators/netscaler-operator/2.3.0/metadata/annotations.yaml
  operators/netscaler-operator/2.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3781 operator openshiftartifactoryha-operator (1.2.9)
  operators/openshiftartifactoryha-operator/1.2.9/manifests/openshiftartifactoryha-operator.clusterserviceversion.yaml
  operators/openshiftartifactoryha-operator/1.2.9/manifests/openshiftartifactoryhas.charts.helm.k8s.io.crd.yaml
  operators/openshiftartifactoryha-operator/1.2.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3783 operator vault-secrets-operator (0.6.0)
  operators/vault-secrets-operator/0.6.0/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.6.0/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.6.0/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/0.6.0/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.6.0/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.6.0/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.6.0/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.6.0/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.6.0/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.6.0/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.6.0/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.6.0/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.6.0/metadata/annotations.yaml
  operators/vault-secrets-operator/0.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3784 operator mongodb-atlas-kubernetes (2.2.2)
  operators/mongodb-atlas-kubernetes/2.2.2/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.2.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3737 operator hspc-operator (1.14.0)
  operators/hspc-operator/1.14.0/manifests/csi.hitachi.com_hspcs.yaml
  operators/hspc-operator/1.14.0/manifests/hspc-operator.clusterserviceversion.yaml
  operators/hspc-operator/1.14.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3779 operator prometurbo-certified (8.12.20-beta.1)
  operators/prometurbo-certified/8.12.20-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.20-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.20-beta.1/metadata/annotations.yaml
Labels: operator-release-pipeline/passed, operator-hosted-pipeline/passed

#3780 operator kubeturbo-certified (8.12.20-beta.1)
  operators/kubeturbo-certified/8.12.20-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.20-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.20-beta.1/metadata/annotations.yaml
Labels: operator-release-pipeline/passed, operator-hosted-pipeline/passed

#3791 operator ibm-metrics-operator (2.14.2)
  operators/ibm-metrics-operator/2.14.2/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.14.2/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.14.2/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.14.2/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.14.2/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.14.2/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.14.2/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.14.2/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.14.2/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.14.2/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.14.2/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.14.2/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.14.2/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.14.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3793 operator redhat-marketplace-operator (2.14.2)
  operators/redhat-marketplace-operator/2.14.2/manifests/deploy.razee.io_remoteresources.yaml
  operators/redhat-marketplace-operator/2.14.2/manifests/redhat-marketplace-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/redhat-marketplace-operator/2.14.2/manifests/redhat-marketplace-controller-manager-metrics-service_v1_service.yaml
  operators/redhat-marketplace-operator/2.14.2/manifests/redhat-marketplace-operator.clusterserviceversion.yaml
  operators/redhat-marketplace-operator/2.14.2/manifests/redhat-marketplace-servicemonitor-metrics-reader_v1_secret.yaml
  operators/redhat-marketplace-operator/2.14.2/manifests/redhat-marketplace-serving-certs-ca-bundle_v1_configmap.yaml
  operators/redhat-marketplace-operator/2.14.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3794 operator ibm-data-reporter-operator (2.14.2)
  operators/ibm-data-reporter-operator/2.14.2/manifests/ibm-data-reporter-operator-component-config-fcf6kk88g6_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.14.2/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.14.2/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.14.2/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.14.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.14.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.14.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.14.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.14.2/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.14.2/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.14.2/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.14.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3785 operator fujitsu-enterprise-postgres-operator-with-cg-module (v5.1.1)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_replaces_availability

#3798 operator gitlab-operator-kubernetes (0.31.1)
  operators/gitlab-operator-kubernetes/0.31.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.31.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.31.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3803 operator stackable-listener-operator (24.4.0-1)
  operators/stackable-listener-operator/24.4.0-1/manifests/Listener.yml
  operators/stackable-listener-operator/24.4.0-1/manifests/ListenerClass.yml
  operators/stackable-listener-operator/24.4.0-1/manifests/PodListeners.yml
  operators/stackable-listener-operator/24.4.0-1/manifests/listener-operator-manifests.yaml
  operators/stackable-listener-operator/24.4.0-1/manifests/stackable-listener-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-listener-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3807 operator uma-admin-operator (2024.4.2)
  operators/uma-admin-operator/2024.4.2/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.4.2/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.4.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3808 operator uma-team-operator (2024.4.2)
  operators/uma-team-operator/2024.4.2/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.4.2/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.4.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3809 operator uma-operator (2024.4.2)
  operators/uma-operator/2024.4.2/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.4.2/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.4.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3810 operator stackgres-certified (1.10.0)
  operators/stackgres-certified/1.10.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.10.0/metadata/annotations.yaml
  operators/stackgres-certified/1.10.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3796 operator kubemq-operator-marketplace (1.8.4)
  operators/kubemq-operator-marketplace/1.8.4/manifests/kubemq-operator-marketplace.clusterserviceversion.yaml
  operators/kubemq-operator-marketplace/1.8.4/manifests/kubemq-operator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubemq-operator-marketplace/1.8.4/manifests/kubemqclusters.core.k8s.kubemq.io.crd.yaml
  operators/kubemq-operator-marketplace/1.8.4/manifests/kubemqconnectors.core.k8s.kubemq.io.crd.yaml
  operators/kubemq-operator-marketplace/1.8.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop

#3801 operator stackable-commons-operator (24.4.0-1)
  operators/stackable-commons-operator/24.4.0-1/manifests/authenticationclasses.authentication.stackable.tech.customresourcedefinition.yaml
  operators/stackable-commons-operator/24.4.0-1/manifests/commons-operator-configmap.yaml
  operators/stackable-commons-operator/24.4.0-1/manifests/s3buckets.s3.stackable.tech.customresourcedefinition.yaml
  operators/stackable-commons-operator/24.4.0-1/manifests/s3connections.s3.stackable.tech.customresourcedefinition.yaml
  operators/stackable-commons-operator/24.4.0-1/manifests/stackable-commons-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-commons-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3804 operator stackable-zookeeper-operator (24.4.0-1)
  operators/stackable-zookeeper-operator/24.4.0-1/manifests/stackable-zookeeper-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-zookeeper-operator/24.4.0-1/manifests/zookeeper-clusterrole.yaml
  operators/stackable-zookeeper-operator/24.4.0-1/manifests/zookeeper-operator-configmap.yaml
  operators/stackable-zookeeper-operator/24.4.0-1/manifests/zookeeperclusters.zookeeper.stackable.tech.customresourcedefinition.yaml
  operators/stackable-zookeeper-operator/24.4.0-1/manifests/zookeeperznodes.zookeeper.stackable.tech.customresourcedefinition.yaml
  operators/stackable-zookeeper-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3805 operator stackable-hdfs-operator (24.4.0-1)
  operators/stackable-hdfs-operator/24.4.0-1/manifests/hdfs-clusterrole.yaml
  operators/stackable-hdfs-operator/24.4.0-1/manifests/hdfs-operator-configmap.yaml
  operators/stackable-hdfs-operator/24.4.0-1/manifests/hdfsclusters.hdfs.stackable.tech.customresourcedefinition.yaml
  operators/stackable-hdfs-operator/24.4.0-1/manifests/stackable-hdfs-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-hdfs-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3802 operator stackable-secret-operator (24.4.0-1)
  operators/stackable-secret-operator/24.4.0-1/manifests/SecretClass.yml
  operators/stackable-secret-operator/24.4.0-1/manifests/secret-operator-manifests.yaml
  operators/stackable-secret-operator/24.4.0-1/manifests/stackable-secret-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-secret-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3814 operator stackable-airflow-operator (24.4.0-1)
  operators/stackable-airflow-operator/24.4.0-1/manifests/airflow-clusterrole.yaml
  operators/stackable-airflow-operator/24.4.0-1/manifests/airflow-operator-configmap.yaml
  operators/stackable-airflow-operator/24.4.0-1/manifests/airflowclusters.airflow.stackable.tech.customresourcedefinition.yaml
  operators/stackable-airflow-operator/24.4.0-1/manifests/stackable-airflow-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-airflow-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3815 operator stackable-superset-operator (24.4.0-1)
  operators/stackable-superset-operator/24.4.0-1/manifests/druidconnections.superset.stackable.tech.customresourcedefinition.yaml
  operators/stackable-superset-operator/24.4.0-1/manifests/stackable-superset-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-superset-operator/24.4.0-1/manifests/superset-clusterrole.yaml
  operators/stackable-superset-operator/24.4.0-1/manifests/superset-operator-configmap.yaml
  operators/stackable-superset-operator/24.4.0-1/manifests/supersetclusters.superset.stackable.tech.customresourcedefinition.yaml
  operators/stackable-superset-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3816 operator stackable-hive-operator (24.4.0-1)
  operators/stackable-hive-operator/24.4.0-1/manifests/hive-clusterrole.yaml
  operators/stackable-hive-operator/24.4.0-1/manifests/hive-operator-configmap.yaml
  operators/stackable-hive-operator/24.4.0-1/manifests/hiveclusters.hive.stackable.tech.customresourcedefinition.yaml
  operators/stackable-hive-operator/24.4.0-1/manifests/stackable-hive-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-hive-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3817 operator stackable-trino-operator (24.4.0-1)
  operators/stackable-trino-operator/24.4.0-1/manifests/stackable-trino-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-trino-operator/24.4.0-1/manifests/trino-clusterrole.yaml
  operators/stackable-trino-operator/24.4.0-1/manifests/trino-operator-configmap.yaml
  operators/stackable-trino-operator/24.4.0-1/manifests/trinocatalogs.trino.stackable.tech.customresourcedefinition.yaml
  operators/stackable-trino-operator/24.4.0-1/manifests/trinoclusters.trino.stackable.tech.customresourcedefinition.yaml
  operators/stackable-trino-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3818 operator stackable-hbase-operator (24.4.0-1)
  operators/stackable-hbase-operator/24.4.0-1/manifests/hbase-clusterrole.yaml
  operators/stackable-hbase-operator/24.4.0-1/manifests/hbase-operator-configmap.yaml
  operators/stackable-hbase-operator/24.4.0-1/manifests/hbaseclusters.hbase.stackable.tech.customresourcedefinition.yaml
  operators/stackable-hbase-operator/24.4.0-1/manifests/stackable-hbase-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-hbase-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3821 operator stackable-opa-operator (24.4.0-1)
  operators/stackable-opa-operator/24.4.0-1/manifests/opa-clusterrole.yaml
  operators/stackable-opa-operator/24.4.0-1/manifests/opa-operator-configmap.yaml
  operators/stackable-opa-operator/24.4.0-1/manifests/opaclusters.opa.stackable.tech.customresourcedefinition.yaml
  operators/stackable-opa-operator/24.4.0-1/manifests/stackable-opa-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-opa-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3822 operator stackable-spark-operator (24.4.0-1)
  operators/stackable-spark-operator/24.4.0-1/manifests/spark-k8s-clusterrole.yaml
  operators/stackable-spark-operator/24.4.0-1/manifests/spark-k8s-operator-configmap.yaml
  operators/stackable-spark-operator/24.4.0-1/manifests/sparkapplications.spark.stackable.tech.customresourcedefinition.yaml
  operators/stackable-spark-operator/24.4.0-1/manifests/sparkhistoryservers.spark.stackable.tech.customresourcedefinition.yaml
  operators/stackable-spark-operator/24.4.0-1/manifests/stackable-spark-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-spark-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3823 operator stackable-nifi-operator (24.4.0-1)
  operators/stackable-nifi-operator/24.4.0-1/manifests/nifi-clusterrole.yaml
  operators/stackable-nifi-operator/24.4.0-1/manifests/nifi-operator-configmap.yaml
  operators/stackable-nifi-operator/24.4.0-1/manifests/nificlusters.nifi.stackable.tech.customresourcedefinition.yaml
  operators/stackable-nifi-operator/24.4.0-1/manifests/stackable-nifi-operator.v24.4.0-1.clusterserviceversion.yaml
  operators/stackable-nifi-operator/24.4.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3820 operator hpe-ezmeral-csi-operator (v1.0.11)
  operators/hpe-ezmeral-csi-operator/v1.0.11/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/v1.0.11/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/v1.0.11/manifests/hpe-ezmeral-csi-operator.clusterserviceversion.yaml
  operators/hpe-ezmeral-csi-operator/v1.0.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3829 operator cte-k8s-operator (v1.4.13)
  operators/cte-k8s-operator/v1.4.13/manifests/cte-k8s-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cte-k8s-operator/v1.4.13/manifests/cte-k8s-operator-cte-csi-controller_v1_serviceaccount.yaml
  operators/cte-k8s-operator/v1.4.13/manifests/cte-k8s-operator-cte-csi-node_v1_serviceaccount.yaml
  operators/cte-k8s-operator/v1.4.13/manifests/cte-k8s-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cte-k8s-operator/v1.4.13/manifests/cte-k8s-operator-webhook-service_v1_service.yaml
  operators/cte-k8s-operator/v1.4.13/manifests/cte-k8s-operator.clusterserviceversion.yaml
  operators/cte-k8s-operator/v1.4.13/manifests/cte-k8s-operator.csi.cte.cpl.thalesgroup.com_ctek8soperators.yaml
  operators/cte-k8s-operator/v1.4.13/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3833 operator kove-operator (v2.1.0)
  operators/kove-operator/v2.1.0/manifests/containers.kove.com_kovememoryconfigs.yaml
  operators/kove-operator/v2.1.0/manifests/containers.kove.com_kovesystems.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-agent-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-agent_v1_serviceaccount.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-client-drivers-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-client-drivers-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-client-drivers_v1_serviceaccount.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-compatibility-detection-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-compatibility-detection-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-compatibility-detection_v1_serviceaccount.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-container-hook-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-container-hook-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-container-hook_v1_serviceaccount.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-l4-cache-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-l4-cache-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-kove-l4-cache_v1_serviceaccount.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-manager-config_v1_configmap.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator-webhook-service_v1_service.yaml
  operators/kove-operator/v2.1.0/manifests/kove-operator.clusterserviceversion.yaml
  operators/kove-operator/v2.1.0/metadata/annotations.yaml
  operators/kove-operator/v2.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3835 operator digitalai-deploy-operator (v24.1.0-429.1604)
  operators/digitalai-deploy-operator/ci.yaml
  operators/digitalai-deploy-operator/v24.1.0-429.1604/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.1.0-429.1604/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.1.0-429.1604/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.0-429.1604/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.1.0-429.1604/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.1.0-429.1604/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
