Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2024-06, with the labels that each got.

#3981 operator tenant-operator (v0.12.19)
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.19/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.12.19/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.12.19/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v0.12.19/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.12.19/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.12.19/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.12.19/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.12.19/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.12.19/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.12.19/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.12.19/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3970 operator instana-agent-operator (v2.1.0)
  operators/instana-agent-operator/v2.1.0/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/v2.1.0/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/v2.1.0/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/v2.1.0/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/v2.1.0/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/v2.1.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/v2.1.0/metadata/annotations.yaml
  operators/instana-agent-operator/v2.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3984 operator kove-operator (v2.1.1)
  operators/kove-operator/v2.1.1/manifests/containers.kove.com_kovememoryconfigs.yaml
  operators/kove-operator/v2.1.1/manifests/containers.kove.com_kovesystems.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-agent-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-agent_v1_serviceaccount.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-client-drivers-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-client-drivers-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-client-drivers_v1_serviceaccount.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-compatibility-detection-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-compatibility-detection-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-compatibility-detection_v1_serviceaccount.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-container-hook-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-container-hook-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-container-hook_v1_serviceaccount.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-l4-cache-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-l4-cache-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-kove-l4-cache_v1_serviceaccount.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-manager-config_v1_configmap.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator-webhook-service_v1_service.yaml
  operators/kove-operator/v2.1.1/manifests/kove-operator.clusterserviceversion.yaml
  operators/kove-operator/v2.1.1/metadata/annotations.yaml
  operators/kove-operator/v2.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3985 operator uma-operator (2024.5.1)
  operators/uma-operator/2024.5.1/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.5.1/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.5.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3983 operator falcon-operator (v1.0.0)
  operators/falcon-operator/ci.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon-operator-admission-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon-operator-falconcontainer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon-operator-image-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon-operator-manager-config_v1_configmap.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon-operator-node-sensor-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon-operator-node-sensor_v1_serviceaccount.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon.crowdstrike.com_falconadmissions.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon.crowdstrike.com_falconimageanalyzers.yaml
  operators/falcon-operator/v1.0.0/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/v1.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3986 operator uma-admin-operator (2024.5.1)
  operators/uma-admin-operator/2024.5.1/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.5.1/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.5.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3987 operator uma-team-operator (2024.5.1)
  operators/uma-team-operator/2024.5.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.5.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.5.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3988 operator prometurbo-certified (8.12.50-beta.1)
  operators/prometurbo-certified/8.12.50-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.50-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.50-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#3989 operator kubeturbo-certified (8.12.50-beta.1)
  operators/kubeturbo-certified/8.12.50-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.50-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.50-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#3982 operator habana-ai-operator (1.16.0-526)
  operators/habana-ai-operator/1.16.0-526/manifests/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.16.0-526/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.16.0-526/manifests/controller-manager-metrics_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/habana-ai-operator/1.16.0-526/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.16.0-526/manifests/habana.ai_deviceconfigs.yaml
  operators/habana-ai-operator/1.16.0-526/manifests/habanalabs-driver-dockerfile_v1_configmap.yaml
  operators/habana-ai-operator/1.16.0-526/manifests/manager-config_v1_configmap.yaml
  operators/habana-ai-operator/1.16.0-526/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.16.0-526/manifests/node-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.16.0-526/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.16.0-526/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/habana-ai-operator/1.16.0-526/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3993 operator elasticsearch-eck-operator-certified (2.13.0)
  operators/elasticsearch-eck-operator-certified/2.13.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.13.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.13.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.13.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.13.0/manifests/elasticsearch-eck-operator-certified.clusterserviceversion.yaml
  operators/elasticsearch-eck-operator-certified/2.13.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.13.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.13.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.13.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.13.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.13.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3994 operator t8c-certified (42.58.0-beta.1)
  operators/t8c-certified/42.58.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.58.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.58.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#3996 operator falcon-operator (v1.0.1)
  operators/falcon-operator/v1.0.1/manifests/falcon-operator-admission-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.0.1/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.0.1/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/v1.0.1/manifests/falcon-operator-image-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.0.1/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.0.1/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.0.1/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/v1.0.1/manifests/falcon.crowdstrike.com_falconadmissions.yaml
  operators/falcon-operator/v1.0.1/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/v1.0.1/manifests/falcon.crowdstrike.com_falconimageanalyzers.yaml
  operators/falcon-operator/v1.0.1/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/v1.0.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3992 operator openshiftartifactoryha-operator (1.2.10)
  operators/openshiftartifactoryha-operator/1.2.10/manifests/openshiftartifactoryha-operator.clusterserviceversion.yaml
  operators/openshiftartifactoryha-operator/1.2.10/manifests/openshiftartifactoryhas.charts.helm.k8s.io.crd.yaml
  operators/openshiftartifactoryha-operator/1.2.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4002 operator t8c-certified (42.58.0-beta.2)
  operators/t8c-certified/42.58.0-beta.2/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.58.0-beta.2/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.58.0-beta.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4003 operator runtime-fabric-operator (v2.6.52)
  operators/runtime-fabric-operator/v2.6.52/manifests/rtf.operators.mulesoft.com_runtimefabrics.yaml
  operators/runtime-fabric-operator/v2.6.52/manifests/runtime-fabric-operator-controller-manager-metrics-service_v1_service.yaml
  operators/runtime-fabric-operator/v2.6.52/manifests/runtime-fabric-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.6.52/manifests/runtime-fabric-operator.clusterserviceversion.yaml
  operators/runtime-fabric-operator/v2.6.52/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4005 operator infinibox-operator-certified (v2.13.2)
  operators/infinibox-operator-certified/v2.13.2/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.2/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.2/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.13.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4001 operator couchbase-enterprise-certified (2.5.2-1)
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbase-v2.5.2.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4008 operator couchbase-enterprise-certified (2.6.4-1)
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbase-v2.6.4.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4006 operator portworx-certified (24.1.0)
  operators/portworx-certified/24.1.0/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/24.1.0/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/24.1.0/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/24.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4014 operator fujitsu-enterprise-operator (v3.1.25)
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/manifests/fujitsu-enterprise-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-operator/v3.1.25/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-operator/v3.1.25/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4015 operator pulsar-resources-operator (0.4.10)
  operators/pulsar-resources-operator/0.4.10/bundle.Dockerfile
  operators/pulsar-resources-operator/0.4.10/manifests/pulsar-resources-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pulsar-resources-operator/0.4.10/manifests/pulsar-resources-operator-manager-config_v1_configmap.yaml
  operators/pulsar-resources-operator/0.4.10/manifests/pulsar-resources-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pulsar-resources-operator/0.4.10/manifests/pulsar-resources-operator.clusterserviceversion.yaml
  operators/pulsar-resources-operator/0.4.10/manifests/resource.streamnative.io_pulsarconnections.yaml
  operators/pulsar-resources-operator/0.4.10/manifests/resource.streamnative.io_pulsargeoreplications.yaml
  operators/pulsar-resources-operator/0.4.10/manifests/resource.streamnative.io_pulsarnamespaces.yaml
  operators/pulsar-resources-operator/0.4.10/manifests/resource.streamnative.io_pulsarpermissions.yaml
  operators/pulsar-resources-operator/0.4.10/manifests/resource.streamnative.io_pulsartenants.yaml
  operators/pulsar-resources-operator/0.4.10/manifests/resource.streamnative.io_pulsartopics.yaml
  operators/pulsar-resources-operator/0.4.10/metadata/annotations.yaml
  operators/pulsar-resources-operator/0.4.10/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4017 operator mongodb-atlas-kubernetes (2.3.1)
  operators/mongodb-atlas-kubernetes/2.3.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.3.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3995 operator dell-csm-operator-certified (1.5.1)
  operators/dell-csm-operator-certified/1.5.1/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.5.1/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.5.1/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.5.1/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.5.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3997 operator stackgres-certified (1.11.0-rc1)
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.11.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.11.0-rc1/metadata/annotations.yaml
  operators/stackgres-certified/1.11.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4009 operator percona-server-mongodb-operator-certified (1.16.0)
  operators/percona-server-mongodb-operator-certified/1.16.0/manifests/percona-server-mongodb-operator.v1.16.0.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator-certified/1.16.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.16.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.16.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.16.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4018 operator tigera-operator (1.34.0)
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_bgpconfigurations.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_bgppeers.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_blockaffinities.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_caliconodestatuses.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_clusterinformations.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_felixconfigurations.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_globalnetworkpolicies.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_globalnetworksets.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_hostendpoints.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_ipamblocks.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_ipamconfigs.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_ipamhandles.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_ippools.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_ipreservations.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_kubecontrollersconfigurations.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_networkpolicies.yaml
  operators/tigera-operator/1.34.0/manifests/crd.projectcalico.org_networksets.yaml
  operators/tigera-operator/1.34.0/manifests/operator.tigera.io_imagesets.yaml
  operators/tigera-operator/1.34.0/manifests/operator.tigera.io_installations.yaml
  operators/tigera-operator/1.34.0/manifests/operator.tigera.io_tigerastatuses.yaml
  operators/tigera-operator/1.34.0/manifests/tigera-operator.clusterserviceversion.yaml
  operators/tigera-operator/1.34.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4019 operator stackgres-certified (1.11.0)
  operators/stackgres-certified/1.11.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.11.0/metadata/annotations.yaml
  operators/stackgres-certified/1.11.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4021 operator prometurbo-certified (8.12.50)
  operators/prometurbo-certified/8.12.50/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.50/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.50/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4020 operator kubeturbo-certified (8.12.50)
  operators/kubeturbo-certified/8.12.50/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.50/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.50/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4022 operator t8c-certified (42.58.0)
  operators/t8c-certified/42.58.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.58.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.58.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4000 operator anzograph-operator (v3.1.101)
  operators/anzograph-operator/v3.1.101/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.1.101/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.1.101/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4010 operator crunchy-postgres-operator (5.6.0)
  operators/crunchy-postgres-operator/5.6.0/Dockerfile
  operators/crunchy-postgres-operator/5.6.0/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.6.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.6.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.6.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.6.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.6.0/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4031 operator cilium-enterprise (1.13.17)
  operators/cilium-enterprise/1.13.17/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.13.17/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.13.17/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.13.17/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4032 operator vfunction-server-operator (v3.5.1396)
  operators/vfunction-server-operator/v3.5.1396/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v3.5.1396/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v3.5.1396/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v3.5.1396/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v3.5.1396/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v3.5.1396/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#4033 operator cilium-enterprise (1.15.6)
  operators/cilium-enterprise/1.15.6/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.15.6/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.15.6/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.15.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4034 operator cilium-enterprise (1.14.12)
  operators/cilium-enterprise/1.14.12/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.12/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.12/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4036 operator dynatrace-operator (1.1.1)
  operators/dynatrace-operator/1.1.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.1.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.1.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.1.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.1.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.1.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4038 operator ibm-data-reporter-operator (2.16.0)
  operators/ibm-data-reporter-operator/2.16.0/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.16.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.16.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.16.0/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.16.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.16.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.16.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.16.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.16.0/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.16.0/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.16.0/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.16.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4030 operator hspc-operator (1.14.1)
  operators/hspc-operator/1.14.1/manifests/csi.hitachi.com_hspcs.yaml
  operators/hspc-operator/1.14.1/manifests/hspc-operator.clusterserviceversion.yaml
  operators/hspc-operator/1.14.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4013 operator fujitsu-enterprise-postgres-operator (v6.1.0)
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v6.1.0/metadata/annotations.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/failed

#4024 operator gitlab-operator-kubernetes (1.0.2)
  operators/gitlab-operator-kubernetes/1.0.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.0.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.0.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.0.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.0.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.0.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4043 operator uma-operator (2024.6.0)
  operators/uma-operator/2024.6.0/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.6.0/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.6.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4039 operator f5-ipam-controller-operator (v0.0.5)
  operators/f5-ipam-controller-operator/v0.0.5/manifests/f5-ipam-controller-operator-controller-manager-metrics-service_v1_service.yaml
  operators/f5-ipam-controller-operator/v0.0.5/manifests/f5-ipam-controller-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/f5-ipam-controller-operator/v0.0.5/manifests/f5-ipam-controller-operator.clusterserviceversion.yaml
  operators/f5-ipam-controller-operator/v0.0.5/manifests/fic.f5.com_f5ipamctlrs.yaml
  operators/f5-ipam-controller-operator/v0.0.5/metadata/annotations.yaml
  operators/f5-ipam-controller-operator/v0.0.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4040 operator f5-bigip-ctlr-operator (v1.17.0)
  operators/f5-bigip-ctlr-operator/v1.17.0/manifests/cis.f5.com_f5bigipctlrs.yaml
  operators/f5-bigip-ctlr-operator/v1.17.0/manifests/f5-bigip-ctlr-operator-controller-manager-metrics-service_v1_service.yaml
  operators/f5-bigip-ctlr-operator/v1.17.0/manifests/f5-bigip-ctlr-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/f5-bigip-ctlr-operator/v1.17.0/manifests/f5-bigip-ctlr-operator.clusterserviceversion.yaml
  operators/f5-bigip-ctlr-operator/v1.17.0/metadata/annotations.yaml
  operators/f5-bigip-ctlr-operator/v1.17.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4044 operator uma-admin-operator (2024.6.0)
  operators/uma-admin-operator/2024.6.0/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.6.0/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.6.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4046 operator uma-team-operator (2024.6.0)
  operators/uma-team-operator/2024.6.0/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.6.0/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.6.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4048 removing f5-ipam controller
  operators/f5-ipam-controller-operator/v0.0.5/manifests/f5-ipam-controller-operator-controller-manager-metrics-service_v1_service.yaml
  operators/f5-ipam-controller-operator/v0.0.5/manifests/f5-ipam-controller-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/f5-ipam-controller-operator/v0.0.5/manifests/f5-ipam-controller-operator.clusterserviceversion.yaml
  operators/f5-ipam-controller-operator/v0.0.5/manifests/fic.f5.com_f5ipamctlrs.yaml
  operators/f5-ipam-controller-operator/v0.0.5/metadata/annotations.yaml
  operators/f5-ipam-controller-operator/v0.0.5/tests/scorecard/config.yaml
Labels: lgtm, operator-hosted-pipeline/failed

#4049 operator f5-ipam-controller-operator (v0.0.5)
  operators/f5-ipam-controller-operator/v0.0.5/manifests/f5-ipam-controller-operator-controller-manager-metrics-service_v1_service.yaml
  operators/f5-ipam-controller-operator/v0.0.5/manifests/f5-ipam-controller-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/f5-ipam-controller-operator/v0.0.5/manifests/f5-ipam-controller-operator.clusterserviceversion.yaml
  operators/f5-ipam-controller-operator/v0.0.5/manifests/fic.f5.com_f5ipamctlrs.yaml
  operators/f5-ipam-controller-operator/v0.0.5/metadata/annotations.yaml
  operators/f5-ipam-controller-operator/v0.0.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4050 operator prometurbo-certified (8.12.60-beta.1)
  operators/prometurbo-certified/8.12.60-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.60-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.60-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4051 operator kubeturbo-certified (8.12.60-beta.1)
  operators/kubeturbo-certified/8.12.60-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.60-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.60-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4012 operator fujitsu-enterprise-postgres-operator-with-cg-module (v6.1.0)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4052 operator nspc-operator (1.13.0)
  operators/nspc-operator/1.13.0/manifests/csi.nec.com_nspcs.yaml
  operators/nspc-operator/1.13.0/manifests/nspc-operator.clusterserviceversion.yaml
  operators/nspc-operator/1.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4047 operator mongodb-enterprise (1.26.0)
  operators/mongodb-enterprise/1.26.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.26.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.26.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.26.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.26.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.26.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.26.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.26.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.26.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.26.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.26.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.26.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.26.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.26.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4054 operator uma-admin-operator (2024.6.1)
  operators/uma-admin-operator/2024.6.1/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.6.1/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.6.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4055 operator couchbase-enterprise-certified (2.6.4-2)
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbase-v2.6.4.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4056 operator t8c-certified (42.59.0-beta.1)
  operators/t8c-certified/42.59.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.59.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.59.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4057 operator anzograph-operator (v3.1.102)
  operators/anzograph-operator/v3.1.102/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.1.102/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.1.102/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4058 operator openshiftartifactoryha-operator (1.3.0)
  operators/openshiftartifactoryha-operator/1.3.0/manifests/openshiftartifactoryha-operator.clusterserviceversion.yaml
  operators/openshiftartifactoryha-operator/1.3.0/manifests/openshiftartifactoryhas.charts.helm.k8s.io.crd.yaml
  operators/openshiftartifactoryha-operator/1.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4059 operator intel-device-plugins-operator (0.29.0)
  operators/intel-device-plugins-operator/0.29.0/manifests/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.29.0/manifests/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.29.0/manifests/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.29.0/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.29.0/metadata/annotations.yaml
  operators/intel-device-plugins-operator/0.29.0/tests/scorecard/config.yaml
  operators/intel-device-plugins-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4060 operator appdynamics-operator (24.6.0-823)
  operators/appdynamics-operator/24.6.0-823/bundle.Dockerfile
  operators/appdynamics-operator/24.6.0-823/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/24.6.0-823/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/24.6.0-823/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/24.6.0-823/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/24.6.0-823/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/24.6.0-823/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/24.6.0-823/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/24.6.0-823/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/24.6.0-823/manifests/infraviz_clusterrole.yaml
  operators/appdynamics-operator/24.6.0-823/manifests/infraviz_clusterrole_binding.yaml
  operators/appdynamics-operator/24.6.0-823/manifests/infraviz_service_account.yaml
  operators/appdynamics-operator/24.6.0-823/metadata/annotations.yaml
  operators/appdynamics-operator/24.6.0-823/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4062 operator instana-agent-operator (2.1.1)
  operators/instana-agent-operator/2.1.1/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.1/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.1/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.1/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.1/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.1/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4063 operator datadog-operator-certified (1.7.0)
  operators/datadog-operator-certified/1.7.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator-certified/1.7.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator-certified/1.7.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator-certified/1.7.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator-certified/1.7.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator-certified/1.7.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator-certified/1.7.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator-certified/1.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4064 operator dynatrace-operator (1.2.0)
  operators/dynatrace-operator/1.2.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.2.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.2.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.2.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.2.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.2.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4068 operator kubeturbo-certified (8.12.60)
  operators/kubeturbo-certified/8.12.60/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.60/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.60/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4067 operator prometurbo-certified (8.12.60)
  operators/prometurbo-certified/8.12.60/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.60/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.60/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4070 operator prometurbo-certified (8.13.0-beta.1)
  operators/prometurbo-certified/8.13.0-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.0-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4071 operator kubeturbo-certified (8.13.0-beta.1)
  operators/kubeturbo-certified/8.13.0-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.0-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name
