Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2024-08, with the labels that each got.

#4235 operator netscaler-operator (3.0.1)
  operators/netscaler-operator/3.0.1/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler.com_netscalercloudcontrollers.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler.com_netscalergslbcontrollers.yaml
  operators/netscaler-operator/3.0.1/metadata/annotations.yaml
  operators/netscaler-operator/3.0.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4237 operator hpe-csi-operator (2.5.0)
  operators/hpe-csi-operator/2.5.0/manifests/hpe-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-csi-operator/2.5.0/manifests/hpe-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.5.0/manifests/hpe-csi-operator.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.5.0/manifests/storage.hpe.com_hpecsidrivers.yaml
  operators/hpe-csi-operator/2.5.0/metadata/annotations.yaml
  operators/hpe-csi-operator/2.5.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4239 Delete operators/netscaler-operator/3.0.0 and 3.0.1 directory
  operators/netscaler-operator/3.0.0/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/3.0.0/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.0.0/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/3.0.0/manifests/netscaler.com_netscalercloudcontrollers.yaml
  operators/netscaler-operator/3.0.0/manifests/netscaler.com_netscalergslbcontrollers.yaml
  operators/netscaler-operator/3.0.0/metadata/annotations.yaml
  operators/netscaler-operator/3.0.0/tests/scorecard/config.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler.com_netscalercloudcontrollers.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler.com_netscalergslbcontrollers.yaml
  operators/netscaler-operator/3.0.1/metadata/annotations.yaml
  operators/netscaler-operator/3.0.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#4240 operator netscaler-operator (3.0.1)
  operators/netscaler-operator/3.0.1/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler.com_netscalercloudcontrollers.yaml
  operators/netscaler-operator/3.0.1/manifests/netscaler.com_netscalergslbcontrollers.yaml
  operators/netscaler-operator/3.0.1/metadata/annotations.yaml
  operators/netscaler-operator/3.0.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4241 operator hpe-csi-operator (2.5.1)
  operators/hpe-csi-operator/2.5.1/manifests/hpe-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-csi-operator/2.5.1/manifests/hpe-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.5.1/manifests/hpe-csi-operator.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.5.1/manifests/storage.hpe.com_hpecsidrivers.yaml
  operators/hpe-csi-operator/2.5.1/metadata/annotations.yaml
  operators/hpe-csi-operator/2.5.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4243 operator runtime-component-operator-certified (1.3.3)
  operators/runtime-component-operator-certified/1.3.3/manifests/rc.app.stacks_runtimecomponents.yaml
  operators/runtime-component-operator-certified/1.3.3/manifests/rc.app.stacks_runtimeoperations.yaml
  operators/runtime-component-operator-certified/1.3.3/manifests/runtime-component-operator-certified.clusterserviceversion.yaml
  operators/runtime-component-operator-certified/1.3.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4244 operator open-liberty-certified (1.3.3)
  operators/open-liberty-certified/1.3.3/manifests/apps.openliberty.io_openlibertyapplications.yaml
  operators/open-liberty-certified/1.3.3/manifests/apps.openliberty.io_openlibertydumps.yaml
  operators/open-liberty-certified/1.3.3/manifests/apps.openliberty.io_openlibertytraces.yaml
  operators/open-liberty-certified/1.3.3/manifests/open-liberty-certified.clusterserviceversion.yaml
  operators/open-liberty-certified/1.3.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4245 operator t8c-certified (42.61.0-beta.1)
  operators/t8c-certified/42.61.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.61.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.61.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4246 operator tenant-operator (v0.12.63)
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.63/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.12.63/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.12.63/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v0.12.63/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.12.63/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.12.63/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.12.63/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.12.63/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.12.63/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.12.63/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.12.63/metadata/annotations.yaml
Labels: operator-release-pipeline/started, operator-hosted-pipeline/passed

#4247 operator tenant-operator (v0.12.64)
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.64/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.12.64/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.12.64/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v0.12.64/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.12.64/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.12.64/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.12.64/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.12.64/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.12.64/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.12.64/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.12.64/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4253 operator ibm-data-reporter-operator (2.16.3)
  operators/ibm-data-reporter-operator/2.16.3/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.16.3/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.16.3/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.16.3/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.16.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.16.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.16.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.16.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.16.3/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.16.3/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.16.3/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.16.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4254 operator tawon-operator (2.35.0)
  operators/tawon-operator/2.35.0/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.35.0/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.35.0/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.35.0/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.35.0/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.35.0/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.35.0/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.35.0/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.35.0/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.35.0/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.35.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4255 operator f5-bigip-ctlr-operator (v1.17.1)
  operators/f5-bigip-ctlr-operator/v1.17.1/manifests/cis.f5.com_f5bigipctlrs.yaml
  operators/f5-bigip-ctlr-operator/v1.17.1/manifests/f5-bigip-ctlr-operator-controller-manager-metrics-service_v1_service.yaml
  operators/f5-bigip-ctlr-operator/v1.17.1/manifests/f5-bigip-ctlr-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/f5-bigip-ctlr-operator/v1.17.1/manifests/f5-bigip-ctlr-operator.clusterserviceversion.yaml
  operators/f5-bigip-ctlr-operator/v1.17.1/metadata/annotations.yaml
  operators/f5-bigip-ctlr-operator/v1.17.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4256 operator appdynamics-cloud-operator (24.7.0-133)
  operators/appdynamics-cloud-operator/24.7.0-133/bundle.Dockerfile
  operators/appdynamics-cloud-operator/24.7.0-133/manifests/appdynamics-cloud-operator-metrics-service_v1_service.yaml
  operators/appdynamics-cloud-operator/24.7.0-133/manifests/appdynamics-cloud-operator.clusterserviceversion.yaml
  operators/appdynamics-cloud-operator/24.7.0-133/manifests/cluster.appdynamics.com_clustermons.yaml
  operators/appdynamics-cloud-operator/24.7.0-133/manifests/cluster.appdynamics.com_containermons.yaml
  operators/appdynamics-cloud-operator/24.7.0-133/manifests/cluster.appdynamics.com_dbcollectors.yaml
  operators/appdynamics-cloud-operator/24.7.0-133/manifests/cluster.appdynamics.com_dbconfigs.yaml
  operators/appdynamics-cloud-operator/24.7.0-133/manifests/cluster.appdynamics.com_inframons.yaml
  operators/appdynamics-cloud-operator/24.7.0-133/manifests/cluster.appdynamics.com_logcollectors.yaml
  operators/appdynamics-cloud-operator/24.7.0-133/manifests/cluster.appdynamics.com_servermons.yaml
  operators/appdynamics-cloud-operator/24.7.0-133/manifests/manager-config_v1_configmap.yaml
  operators/appdynamics-cloud-operator/24.7.0-133/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/appdynamics-cloud-operator/24.7.0-133/metadata/annotations.yaml
  operators/appdynamics-cloud-operator/24.7.0-133/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4257 operator f5-ipam-controller-operator (v0.0.6)
  operators/f5-ipam-controller-operator/v0.0.6/manifests/f5-ipam-controller-operator-controller-manager-metrics-service_v1_service.yaml
  operators/f5-ipam-controller-operator/v0.0.6/manifests/f5-ipam-controller-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/f5-ipam-controller-operator/v0.0.6/manifests/f5-ipam-controller-operator.clusterserviceversion.yaml
  operators/f5-ipam-controller-operator/v0.0.6/manifests/fic.f5.com_f5ipamctlrs.yaml
  operators/f5-ipam-controller-operator/v0.0.6/metadata/annotations.yaml
  operators/f5-ipam-controller-operator/v0.0.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4258 operator tenant-operator (v0.12.65)
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.65/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.12.65/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.12.65/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v0.12.65/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.12.65/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.12.65/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.12.65/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.12.65/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.12.65/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.12.65/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.12.65/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4259 operator anzograph-operator (v3.1.201)
  operators/anzograph-operator/v3.1.201/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.1.201/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.1.201/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4260 operator falcon-operator (v1.1.0)
  operators/falcon-operator/v1.1.0/manifests/falcon-operator-admission-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.1.0/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.1.0/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/v1.1.0/manifests/falcon-operator-image-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.1.0/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.1.0/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.1.0/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/v1.1.0/manifests/falcon.crowdstrike.com_falconadmissions.yaml
  operators/falcon-operator/v1.1.0/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/v1.1.0/manifests/falcon.crowdstrike.com_falconimageanalyzers.yaml
  operators/falcon-operator/v1.1.0/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/v1.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4261 operator cilium-enterprise (1.13.18)
  operators/cilium-enterprise/1.13.18/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.13.18/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.13.18/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.13.18/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4262 operator splunk-operator (2.6.0)
  operators/splunk-operator/2.6.0/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk-operator/2.6.0/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk-operator/2.6.0/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk-operator/2.6.0/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk-operator/2.6.0/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk-operator/2.6.0/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk-operator/2.6.0/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk-operator/2.6.0/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk-operator/2.6.0/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk-operator/2.6.0/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk-operator/2.6.0/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk-operator/2.6.0/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk-operator/2.6.0/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk-operator/2.6.0/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk-operator/2.6.0/metadata/annotations.yaml
  operators/splunk-operator/2.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4263 operator uma-operator (2024.8.0)
  operators/uma-operator/2024.8.0/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.8.0/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.8.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4264 operator hpe-ezmeral-csi-operator (1.0.15)
  operators/hpe-ezmeral-csi-operator/1.0.15/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.15/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.15/manifests/hpe-ezmeral-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-ezmeral-csi-operator/1.0.15/manifests/hpe-ezmeral-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-ezmeral-csi-operator/1.0.15/manifests/hpe-ezmeral-csi-operator.clusterserviceversion.yaml
  operators/hpe-ezmeral-csi-operator/1.0.15/metadata/annotations.yaml
  operators/hpe-ezmeral-csi-operator/1.0.15/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4265 operator habana-ai-operator (1.17.0-495)
  operators/habana-ai-operator/1.17.0-495/manifests/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.17.0-495/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.17.0-495/manifests/controller-manager-metrics_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/habana-ai-operator/1.17.0-495/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.17.0-495/manifests/habana.ai_deviceconfigs.yaml
  operators/habana-ai-operator/1.17.0-495/manifests/habanalabs-driver-dockerfile_v1_configmap.yaml
  operators/habana-ai-operator/1.17.0-495/manifests/manager-config_v1_configmap.yaml
  operators/habana-ai-operator/1.17.0-495/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.17.0-495/manifests/node-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.17.0-495/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.17.0-495/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/habana-ai-operator/1.17.0-495/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4266 operator uma-admin-operator (2024.8.0)
  operators/uma-admin-operator/2024.8.0/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.8.0/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.8.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4267 operator uma-team-operator (2024.8.0)
  operators/uma-team-operator/2024.8.0/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.8.0/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.8.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4269 operator t8c-certified (42.61.0)
  operators/t8c-certified/42.61.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.61.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.61.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4268 operator netscaler-adm-agent-operator (141.31.38)
  operators/netscaler-adm-agent-operator/141.31.38/manifests/netscaler-adm-agent-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-adm-agent-operator/141.31.38/manifests/netscaler-adm-agent-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-adm-agent-operator/141.31.38/manifests/netscaler-adm-agent-operator.clusterserviceversion.yaml
  operators/netscaler-adm-agent-operator/141.31.38/manifests/netscaler.com_admagents.yaml
  operators/netscaler-adm-agent-operator/141.31.38/metadata/annotations.yaml
  operators/netscaler-adm-agent-operator/141.31.38/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4272 operator cilium-enterprise (1.14.13)
  operators/cilium-enterprise/1.14.13/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.13/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.13/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.13/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4273 operator cilium-enterprise (1.15.7)
  operators/cilium-enterprise/1.15.7/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.15.7/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.15.7/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.15.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4274 operator gitlab-operator-kubernetes (1.2.2)
  operators/gitlab-operator-kubernetes/1.2.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.2.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.2.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4276 operator instana-agent-operator (v2.1.6)
  operators/instana-agent-operator/v2.1.6/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/v2.1.6/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/v2.1.6/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/v2.1.6/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/v2.1.6/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/v2.1.6/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/v2.1.6/metadata/annotations.yaml
  operators/instana-agent-operator/v2.1.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4277 operator stackable-commons-operator (24.7.0)
  operators/stackable-commons-operator/24.7.0/manifests/authenticationclasses.authentication.stackable.tech.customresourcedefinition.yaml
  operators/stackable-commons-operator/24.7.0/manifests/commons-operator-configmap.yaml
  operators/stackable-commons-operator/24.7.0/manifests/s3buckets.s3.stackable.tech.customresourcedefinition.yaml
  operators/stackable-commons-operator/24.7.0/manifests/s3connections.s3.stackable.tech.customresourcedefinition.yaml
  operators/stackable-commons-operator/24.7.0/manifests/stackable-commons-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-commons-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4279 operator stackable-secret-operator (24.7.0)
  operators/stackable-secret-operator/24.7.0/manifests/SecretClass.yml
  operators/stackable-secret-operator/24.7.0/manifests/secret-operator-manifests.yaml
  operators/stackable-secret-operator/24.7.0/manifests/stackable-secret-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-secret-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4280 operator elasticsearch-eck-operator-certified (2.14.0)
  operators/elasticsearch-eck-operator-certified/2.14.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.14.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.14.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.14.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.14.0/manifests/elasticsearch-eck-operator-certified.clusterserviceversion.yaml
  operators/elasticsearch-eck-operator-certified/2.14.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.14.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.14.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.14.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.14.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.14.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.14.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4281 operator dynatrace-operator (1.2.2)
  operators/dynatrace-operator/1.2.2/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.2.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.2.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4282 operator pubsubplus-eventbroker-operator (1.1.1)
  operators/pubsubplus-eventbroker-operator/1.1.1/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.1.1/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.1.1/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4270 operator kubeturbo-certified (8.13.20)
  operators/kubeturbo-certified/8.13.20/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.20/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.20/metadata/annotations.yaml
Labels: operator-release-pipeline/passed, operator-hosted-pipeline/passed, tests/skip/check_operator_name

#4271 operator prometurbo-certified (8.13.20)
  operators/prometurbo-certified/8.13.20/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.20/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/passed, operator-release-pipeline/failed, tests/skip/check_operator_name

#4283 operator tawon-operator (2.36.0)
  operators/tawon-operator/2.36.0/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.36.0/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.36.0/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.36.0/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.36.0/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.36.0/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.36.0/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.36.0/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.36.0/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.36.0/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.36.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4285 operator stackable-zookeeper-operator (24.7.0)
  operators/stackable-zookeeper-operator/24.7.0/manifests/stackable-zookeeper-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-zookeeper-operator/24.7.0/manifests/zookeeper-clusterrole.yaml
  operators/stackable-zookeeper-operator/24.7.0/manifests/zookeeper-operator-configmap.yaml
  operators/stackable-zookeeper-operator/24.7.0/manifests/zookeeperclusters.zookeeper.stackable.tech.customresourcedefinition.yaml
  operators/stackable-zookeeper-operator/24.7.0/manifests/zookeeperznodes.zookeeper.stackable.tech.customresourcedefinition.yaml
  operators/stackable-zookeeper-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4286 operator stackable-opa-operator (24.7.0)
  operators/stackable-opa-operator/24.7.0/manifests/opa-clusterrole.yaml
  operators/stackable-opa-operator/24.7.0/manifests/opa-operator-configmap.yaml
  operators/stackable-opa-operator/24.7.0/manifests/opaclusters.opa.stackable.tech.customresourcedefinition.yaml
  operators/stackable-opa-operator/24.7.0/manifests/stackable-opa-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-opa-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4287 operator stackable-airflow-operator (24.7.0)
  operators/stackable-airflow-operator/24.7.0/manifests/airflow-clusterrole.yaml
  operators/stackable-airflow-operator/24.7.0/manifests/airflow-operator-configmap.yaml
  operators/stackable-airflow-operator/24.7.0/manifests/airflowclusters.airflow.stackable.tech.customresourcedefinition.yaml
  operators/stackable-airflow-operator/24.7.0/manifests/stackable-airflow-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-airflow-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4288 operator stackable-druid-operator (24.7.0)
  operators/stackable-druid-operator/24.7.0/manifests/druid-clusterrole.yaml
  operators/stackable-druid-operator/24.7.0/manifests/druid-operator-configmap.yaml
  operators/stackable-druid-operator/24.7.0/manifests/druidclusters.druid.stackable.tech.customresourcedefinition.yaml
  operators/stackable-druid-operator/24.7.0/manifests/stackable-druid-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-druid-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4289 operator stackable-hbase-operator (24.7.0)
  operators/stackable-hbase-operator/24.7.0/manifests/hbase-clusterrole.yaml
  operators/stackable-hbase-operator/24.7.0/manifests/hbase-operator-configmap.yaml
  operators/stackable-hbase-operator/24.7.0/manifests/hbaseclusters.hbase.stackable.tech.customresourcedefinition.yaml
  operators/stackable-hbase-operator/24.7.0/manifests/stackable-hbase-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-hbase-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4290 operator stackable-hdfs-operator (24.7.0)
  operators/stackable-hdfs-operator/24.7.0/manifests/hdfs-clusterrole-nodes.yaml
  operators/stackable-hdfs-operator/24.7.0/manifests/hdfs-clusterrole.yaml
  operators/stackable-hdfs-operator/24.7.0/manifests/hdfs-operator-configmap.yaml
  operators/stackable-hdfs-operator/24.7.0/manifests/hdfsclusters.hdfs.stackable.tech.customresourcedefinition.yaml
  operators/stackable-hdfs-operator/24.7.0/manifests/stackable-hdfs-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-hdfs-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4291 operator stackable-hive-operator (24.7.0)
  operators/stackable-hive-operator/24.7.0/manifests/hive-clusterrole.yaml
  operators/stackable-hive-operator/24.7.0/manifests/hive-operator-configmap.yaml
  operators/stackable-hive-operator/24.7.0/manifests/hiveclusters.hive.stackable.tech.customresourcedefinition.yaml
  operators/stackable-hive-operator/24.7.0/manifests/stackable-hive-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-hive-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4292 operator stackable-kafka-operator (24.7.0)
  operators/stackable-kafka-operator/24.7.0/manifests/kafka-clusterrole.yaml
  operators/stackable-kafka-operator/24.7.0/manifests/kafka-operator-configmap.yaml
  operators/stackable-kafka-operator/24.7.0/manifests/kafkaclusters.kafka.stackable.tech.customresourcedefinition.yaml
  operators/stackable-kafka-operator/24.7.0/manifests/stackable-kafka-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-kafka-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4293 operator stackable-nifi-operator (24.7.0)
  operators/stackable-nifi-operator/24.7.0/manifests/nifi-clusterrole.yaml
  operators/stackable-nifi-operator/24.7.0/manifests/nifi-operator-configmap.yaml
  operators/stackable-nifi-operator/24.7.0/manifests/nificlusters.nifi.stackable.tech.customresourcedefinition.yaml
  operators/stackable-nifi-operator/24.7.0/manifests/stackable-nifi-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-nifi-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4294 operator stackable-spark-operator (24.7.0)
  operators/stackable-spark-operator/24.7.0/manifests/spark-k8s-clusterrole.yaml
  operators/stackable-spark-operator/24.7.0/manifests/spark-k8s-operator-configmap.yaml
  operators/stackable-spark-operator/24.7.0/manifests/sparkapplications.spark.stackable.tech.customresourcedefinition.yaml
  operators/stackable-spark-operator/24.7.0/manifests/sparkhistoryservers.spark.stackable.tech.customresourcedefinition.yaml
  operators/stackable-spark-operator/24.7.0/manifests/stackable-spark-k8s-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-spark-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4295 operator stackable-superset-operator (24.7.0)
  operators/stackable-superset-operator/24.7.0/manifests/druidconnections.superset.stackable.tech.customresourcedefinition.yaml
  operators/stackable-superset-operator/24.7.0/manifests/stackable-superset-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-superset-operator/24.7.0/manifests/superset-clusterrole.yaml
  operators/stackable-superset-operator/24.7.0/manifests/superset-operator-configmap.yaml
  operators/stackable-superset-operator/24.7.0/manifests/supersetclusters.superset.stackable.tech.customresourcedefinition.yaml
  operators/stackable-superset-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4296 operator stackable-trino-operator (24.7.0)
  operators/stackable-trino-operator/24.7.0/manifests/stackable-trino-operator.v24.7.0.clusterserviceversion.yaml
  operators/stackable-trino-operator/24.7.0/manifests/trino-clusterrole.yaml
  operators/stackable-trino-operator/24.7.0/manifests/trino-operator-configmap.yaml
  operators/stackable-trino-operator/24.7.0/manifests/trinocatalogs.trino.stackable.tech.customresourcedefinition.yaml
  operators/stackable-trino-operator/24.7.0/manifests/trinoclusters.trino.stackable.tech.customresourcedefinition.yaml
  operators/stackable-trino-operator/24.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4300 operator nexus-repository-ha-operator-certified (3.71.0-1)
  operators/nexus-repository-ha-operator-certified/3.71.0-1/manifests/nexus-repository-ha-operator-certified.clusterserviceversion.yaml
  operators/nexus-repository-ha-operator-certified/3.71.0-1/manifests/sonatype.com_nexusrepos_crd.yaml
  operators/nexus-repository-ha-operator-certified/3.71.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4275 operator aqua-operator-certified (2022.4.587)
  operators/aqua-operator-certified/2022.4.587/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.587/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.587/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.587/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.587/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.587/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.587/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.587/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.587/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.587/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.587/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.587/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.587/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.587/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4301 operator confluent-for-kubernetes (2.9.1)
  operators/confluent-for-kubernetes/2.9.1/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.9.1/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.9.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4302 operator kubearmor-operator-certified (1.4.0)
  operators/kubearmor-operator-certified/1.4.0/manifests/kubearmor-operator-certified.clusterserviceversion.yaml
  operators/kubearmor-operator-certified/1.4.0/manifests/operator.kubearmor.com_kubearmorconfigs.yaml
  operators/kubearmor-operator-certified/1.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4303 operator gpu-operator-certified (v24.6.1)
  operators/gpu-operator-certified/v24.6.1/manifests/gpu-operator-certified.clusterserviceversion.yaml
  operators/gpu-operator-certified/v24.6.1/manifests/nvidia.com_clusterpolicies.yaml
  operators/gpu-operator-certified/v24.6.1/manifests/nvidia.com_nvidiadrivers.yaml
  operators/gpu-operator-certified/v24.6.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4304 operator instana-agent-operator (v2.1.7)
  operators/instana-agent-operator/v2.1.7/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/v2.1.7/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/v2.1.7/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/v2.1.7/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/v2.1.7/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/v2.1.7/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/v2.1.7/metadata/annotations.yaml
  operators/instana-agent-operator/v2.1.7/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4305 operator tawon-operator (2.37.0)
  operators/tawon-operator/2.37.0/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.37.0/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.37.0/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.37.0/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.37.0/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.37.0/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.37.0/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.37.0/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.37.0/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.37.0/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.37.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4306 operator t8c-certified (42.62.0-beta.1)
  operators/t8c-certified/42.62.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.62.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.62.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4307 operator prometurbo-certified (8.13.30-beta.1)
  operators/prometurbo-certified/8.13.30-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.30-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.30-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4308 operator kubeturbo-certified (8.13.30-beta.1)
  operators/kubeturbo-certified/8.13.30-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.30-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.30-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4309 operator redis-enterprise-operator-cert (7.2.4-12.11)
  operators/redis-enterprise-operator-cert/7.2.4-12.11/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.11/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.11/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.11/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.11/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4312 operator tawon-operator (2.37.1)
  operators/tawon-operator/2.37.1/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.37.1/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.37.1/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.37.1/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.37.1/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.37.1/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.37.1/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.37.1/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.37.1/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.37.1/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.37.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4314 operator cilium-enterprise (1.15.8)
  operators/cilium-enterprise/1.15.8/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.15.8/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.15.8/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.15.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4315 operator cilium-enterprise (1.14.14)
  operators/cilium-enterprise/1.14.14/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.14/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.14/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.14/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4316 operator cilium-enterprise (1.13.19)
  operators/cilium-enterprise/1.13.19/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.13.19/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.13.19/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.13.19/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4317 operator runtime-fabric-operator (v2.7.0)
  operators/runtime-fabric-operator/v2.7.0/manifests/rtf.operators.mulesoft.com_runtimefabrics.yaml
  operators/runtime-fabric-operator/v2.7.0/manifests/runtime-fabric-operator-controller-manager-metrics-service_v1_service.yaml
  operators/runtime-fabric-operator/v2.7.0/manifests/runtime-fabric-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.7.0/manifests/runtime-fabric-operator-runtimefabric-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.7.0/manifests/runtime-fabric-operator-runtimefabric-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.7.0/manifests/runtime-fabric-operator.clusterserviceversion.yaml
  operators/runtime-fabric-operator/v2.7.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4318 operator netscaler-operator (2.4.2)
  operators/netscaler-operator/2.4.2/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/2.4.2/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/2.4.2/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/2.4.2/manifests/netscaler.com_netscalercpxwithingresscontrollers.yaml
  operators/netscaler-operator/2.4.2/manifests/netscaler.com_netscaleringresscontrollers.yaml
  operators/netscaler-operator/2.4.2/manifests/netscaler.com_netscalerobservabilityexporters.yaml
  operators/netscaler-operator/2.4.2/metadata/annotations.yaml
  operators/netscaler-operator/2.4.2/tests/scorecard/config.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/failed

#4313 operator gitlab-operator-kubernetes (1.3.0)
  operators/gitlab-operator-kubernetes/1.3.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.3.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4310 operator oceanbase-operator (2.2.2)
  operators/oceanbase-operator/2.2.2/bundle.Dockerfile
  operators/oceanbase-operator/2.2.2/manifests/ob-operator.clusterserviceversion.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase-controller-manager-metrics-service_v1_service.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase-operator-metrics_v1_service.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase-webhook-service_v1_service.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase.oceanbase.com_obclusteroperations.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase.oceanbase.com_obclusters.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase.oceanbase.com_obparameters.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase.oceanbase.com_obresourcerescues.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase.oceanbase.com_observers.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase.oceanbase.com_obtenantbackuppolicies.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase.oceanbase.com_obtenantbackups.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase.oceanbase.com_obtenantoperations.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase.oceanbase.com_obtenantrestores.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase.oceanbase.com_obtenants.yaml
  operators/oceanbase-operator/2.2.2/manifests/oceanbase.oceanbase.com_obzones.yaml
  operators/oceanbase-operator/2.2.2/metadata/annotations.yaml
  operators/oceanbase-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4297 operator dell-csm-operator-certified (1.6.0)
  operators/dell-csm-operator-certified/1.6.0/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.6.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.6.0/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.6.0/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/passed

#4320 operator infinibox-operator-certified (v2.15.0)
  operators/infinibox-operator-certified/v2.15.0/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.15.0/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.15.0/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.15.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4321 operator gitlab-runner-operator (1.28.0)
  operators/gitlab-runner-operator/1.28.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.28.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.28.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.28.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.28.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.28.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.28.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4324 operator prometurbo-certified (8.13.30)
  operators/prometurbo-certified/8.13.30/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.30/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.30/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4325 operator kubeturbo-certified (8.13.30)
  operators/kubeturbo-certified/8.13.30/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.30/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.30/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4323 operator t8c-certified (42.62.0)
  operators/t8c-certified/42.62.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.62.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.62.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4322 operator nxiq-operator-certified (1.181.0-1)
  operators/nxiq-operator-certified/1.181.0-1/manifests/nxiq-operator-certified.clusterserviceversion.yaml
  operators/nxiq-operator-certified/1.181.0-1/manifests/sonatype.com_nexusiqs_crd.yaml
  operators/nxiq-operator-certified/1.181.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4326 operator datadog-operator-certified (1.8.0)
  operators/datadog-operator-certified/1.8.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator-certified/1.8.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator-certified/1.8.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator-certified/1.8.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator-certified/1.8.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator-certified/1.8.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator-certified/1.8.0/manifests/datadoghq.com_datadogpodautoscalers.yaml
  operators/datadog-operator-certified/1.8.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator-certified/1.8.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4327 operator conjur-follower-operator (2.3.5)
  operators/conjur-follower-operator/2.3.5/manifests/conjur-follower-operator-conjurfollower-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.3.5/manifests/conjur-follower-operator-conjurfollower-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.3.5/manifests/conjur-follower-operator.clusterserviceversion.yaml
  operators/conjur-follower-operator/2.3.5/manifests/conjur.cyberark.com_conjurfollowers.yaml
  operators/conjur-follower-operator/2.3.5/metadata/annotations.yaml
  operators/conjur-follower-operator/2.3.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4329 operator gitlab-operator-kubernetes (1.3.1)
  operators/gitlab-operator-kubernetes/1.3.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.3.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.3.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4330 operator couchbase-enterprise-certified (2.5.0-2)
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbase-v2.5.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbaseautoscalers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbasebackuprestores.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbasebackups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbasebuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbaseclusters.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbasecollectiongroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbasecollections.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbaseephemeralbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbasegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbasememcachedbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbasemigrationreplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbasereplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbaserolebindings.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbasescopegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbasescopes.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/manifests/couchbaseusers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.0-2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4331 operator couchbase-enterprise-certified (2.5.1-2)
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbase-v2.5.1.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbaseautoscalers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbasebackuprestores.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbasebackups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbasebuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbaseclusters.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbasecollectiongroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbasecollections.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbaseephemeralbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbasegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbasememcachedbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbasemigrationreplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbasereplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbaserolebindings.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbasescopegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbasescopes.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/manifests/couchbaseusers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4332 operator couchbase-enterprise-certified (2.5.2-2)
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbase-v2.5.2.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.5.2-2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4333 operator couchbase-enterprise-certified (2.7.0-1)
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbase-v2.7.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4339 operator fujitsu-enterprise-postgres-operator-with-cg-module (v6.1.3)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/ci.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4337 operator fujitsu-enterprise-operator (v3.1.27)
  operators/fujitsu-enterprise-operator/ci.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/manifests/fujitsu-enterprise-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-operator/v3.1.27/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-operator/v3.1.27/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4338 operator fujitsu-enterprise-postgres-operator (v6.1.3)
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v6.1.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4341 operator confluent-for-kubernetes (2.9.2)
  operators/confluent-for-kubernetes/2.9.2/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.9.2/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.9.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4340 operator mongodb-enterprise (1.27.0)
  operators/mongodb-enterprise/1.27.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.27.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.27.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.27.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4345 operator exascaler-csi-driver-operator (2.2.6)
  operators/exascaler-csi-driver-operator/2.2.6/manifests/charts.my.domain_exacsis.yaml
  operators/exascaler-csi-driver-operator/2.2.6/manifests/exascaler-csi-controller-manager-metrics-service_v1_service.yaml
  operators/exascaler-csi-driver-operator/2.2.6/manifests/exascaler-csi-driver-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.6/manifests/exascaler-csi-driver-operator.clusterserviceversion.yaml
  operators/exascaler-csi-driver-operator/2.2.6/manifests/exascaler-csi-driver-role-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.6/manifests/exascaler-csi-driver-service-account_v1_serviceaccount.yaml
  operators/exascaler-csi-driver-operator/2.2.6/manifests/exascaler-csi-exascaler-csi-privileged-scc-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.6/manifests/exascaler-csi-exascaler-csi-privileged-scc-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/exascaler-csi-driver-operator/2.2.6/manifests/exascaler-csi-external-resizer-cfg_rbac.authorization.k8s.io_v1_role.yaml
  operators/exascaler-csi-driver-operator/2.2.6/manifests/exascaler-csi-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.6/manifests/exascaler-csi-resizer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.6/manifests/exascaler-csi-resizer-role-cfg_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.6/manifests/exascaler-csi-resizer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.6/metadata/annotations.yaml
  operators/exascaler-csi-driver-operator/2.2.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4346 operator tawon-operator (2.38.0)
  operators/tawon-operator/2.38.0/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.38.0/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.38.0/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.38.0/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.38.0/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.38.0/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.38.0/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.38.0/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.38.0/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.38.0/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.38.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4347 operator stackgres-certified (1.13.0-rc1)
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.13.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.13.0-rc1/metadata/annotations.yaml
  operators/stackgres-certified/1.13.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4348 operator aci-containers-operator (v1.0.7)
  operators/aci-containers-operator/v1.0.7/manifests/aci-containers-operator.aci.ctrl.crd.yaml
  operators/aci-containers-operator/v1.0.7/manifests/aci-containers-operator.clusterserviceversion.yaml
  operators/aci-containers-operator/v1.0.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4349 operator aiu-operator (v2.1.0-rc.2)
  operators/aiu-operator/ci.yaml
  operators/aiu-operator/v2.1.0-rc.2/manifests/aiu-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/aiu-operator/v2.1.0-rc.2/manifests/aiu-operator-metrics-service_v1_service.yaml
  operators/aiu-operator/v2.1.0-rc.2/manifests/aiu-operator.clusterserviceversion.yaml
  operators/aiu-operator/v2.1.0-rc.2/manifests/aiu.ibm.com_aiuclusterpolicies.yaml
  operators/aiu-operator/v2.1.0-rc.2/manifests/aiu.ibm.com_aiunodestates.yaml
  operators/aiu-operator/v2.1.0-rc.2/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aiu-operator/v2.1.0-rc.2/manifests/sidecar-injector-configmap_v1_configmap.yaml
  operators/aiu-operator/v2.1.0-rc.2/manifests/webhook-service_v1_service.yaml
  operators/aiu-operator/v2.1.0-rc.2/metadata/annotations.yaml
  operators/aiu-operator/v2.1.0-rc.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4351 operator prometurbo-certified (8.13.40-beta.1)
  operators/prometurbo-certified/8.13.40-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.40-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.40-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4352 operator kubeturbo-certified (8.13.40-beta.1)
  operators/kubeturbo-certified/8.13.40-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.40-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.40-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4353 operator aiu-operator (v2.1.0)
  operators/aiu-operator/v2.1.0/manifests/aiu-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/aiu-operator/v2.1.0/manifests/aiu-operator-metrics-service_v1_service.yaml
  operators/aiu-operator/v2.1.0/manifests/aiu-operator.clusterserviceversion.yaml
  operators/aiu-operator/v2.1.0/manifests/aiu.ibm.com_aiuclusterpolicies.yaml
  operators/aiu-operator/v2.1.0/manifests/aiu.ibm.com_aiunodestates.yaml
  operators/aiu-operator/v2.1.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aiu-operator/v2.1.0/manifests/sidecar-injector-configmap_v1_configmap.yaml
  operators/aiu-operator/v2.1.0/manifests/webhook-service_v1_service.yaml
  operators/aiu-operator/v2.1.0/metadata/annotations.yaml
  operators/aiu-operator/v2.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4354 operator kubearmor-operator-certified (1.4.1)
  operators/kubearmor-operator-certified/1.4.1/manifests/kubearmor-operator-certified.clusterserviceversion.yaml
  operators/kubearmor-operator-certified/1.4.1/manifests/operator.kubearmor.com_kubearmorconfigs.yaml
  operators/kubearmor-operator-certified/1.4.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4355 operator crunchy-postgres-operator (5.6.1)
  operators/crunchy-postgres-operator/5.6.1/Dockerfile
  operators/crunchy-postgres-operator/5.6.1/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.6.1/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.6.1/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.6.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.6.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.6.1/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.6.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4356 operator ibm-metrics-operator (2.17.0)
  operators/ibm-metrics-operator/2.17.0/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.17.0/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.17.0/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.0/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.0/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.0/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.17.0/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.17.0/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.17.0/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.17.0/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.17.0/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.17.0/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.17.0/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.17.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4357 operator ibm-data-reporter-operator (2.17.0)
  operators/ibm-data-reporter-operator/2.17.0/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.17.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.17.0/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.17.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.17.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.17.0/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.0/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.17.0/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.17.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4361 operator accuknox-operator-certified (0.7.1)
  operators/accuknox-operator-certified/0.7.1/manifests/accuknox-operator-certified.clusterserviceversion.yaml
  operators/accuknox-operator-certified/0.7.1/manifests/accuknox-operator-controller-manager-metrics-service_v1_service.yaml
  operators/accuknox-operator-certified/0.7.1/manifests/operator.accuknox.com_accuknoxconfigs.yaml
  operators/accuknox-operator-certified/0.7.1/metadata/annotations.yaml
  operators/accuknox-operator-certified/0.7.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4359 operator openshiftartifactoryha-operator (1.3.1)
  operators/openshiftartifactoryha-operator/1.3.1/manifests/openshiftartifactoryha-operator.clusterserviceversion.yaml
  operators/openshiftartifactoryha-operator/1.3.1/manifests/openshiftartifactoryhas.charts.helm.k8s.io.crd.yaml
  operators/openshiftartifactoryha-operator/1.3.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4360 operator nvidia-network-operator (24.7.0)
  operators/nvidia-network-operator/24.7.0/manifests/mellanox.com_hostdevicenetworks.yaml
  operators/nvidia-network-operator/24.7.0/manifests/mellanox.com_ipoibnetworks.yaml
  operators/nvidia-network-operator/24.7.0/manifests/mellanox.com_macvlannetworks.yaml
  operators/nvidia-network-operator/24.7.0/manifests/mellanox.com_nicclusterpolicies.yaml
  operators/nvidia-network-operator/24.7.0/manifests/nvidia-network-operator-webhook-service_v1_service.yaml
  operators/nvidia-network-operator/24.7.0/manifests/nvidia-network-operator.clusterserviceversion.yaml
  operators/nvidia-network-operator/24.7.0/metadata/annotations.yaml
  operators/nvidia-network-operator/24.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4358 operator anzograph-operator (v3.1.301)
  operators/anzograph-operator/v3.1.301/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.1.301/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.1.301/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started
