Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2024-07, with the labels that each got.

#4076 operator gitlab-operator-kubernetes (1.1.1)
  operators/gitlab-operator-kubernetes/1.1.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.1.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.1.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4066 operator gitlab-runner-operator (1.26.0)
  operators/gitlab-runner-operator/1.26.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.26.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.26.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.26.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.26.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4081 operator anzograph-operator (v3.1.103)
  operators/anzograph-operator/v3.1.103/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.1.103/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.1.103/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4082 operator anzounstructured-operator (v2.0.501)
  operators/anzounstructured-operator/v2.0.501/manifests/anzounstructured-operator.clusterserviceversion.yaml
  operators/anzounstructured-operator/v2.0.501/manifests/anzounstructured.clusters.cambridgesemantics.com_anzounstructureds.yaml
  operators/anzounstructured-operator/v2.0.501/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4083 revert operator anzograph-operator (v3.1.101)
  operators/anzograph-operator/v3.1.101/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.1.101/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.1.101/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#4086 Delete operators/workload-manager-operator directory
  operators/workload-manager-operator/1.3.0/manifests/workload-manager-operator-workload-manager-operator-rolebinding_v1_clusterrolebinding.yaml
  operators/workload-manager-operator/1.3.0/manifests/workload-manager-operator.clusterserviceversion.yaml
  operators/workload-manager-operator/1.3.0/manifests/workloadmanager.nec.com_workloadmanagers.yaml
  operators/workload-manager-operator/1.3.0/metadata/annotations.yaml
  operators/workload-manager-operator/1.3.0/tests/scorecard/config.yaml
  operators/workload-manager-operator/ci.yaml
  operators/workload-manager-operator/v1.3.0/manifests/workload-manager-operator-workload-manager-operator-rolebinding_v1_clusterrolebinding.yaml
  operators/workload-manager-operator/v1.3.0/manifests/workload-manager-operator.clusterserviceversion.yaml
  operators/workload-manager-operator/v1.3.0/manifests/workloadmanager.nec.com_workloadmanagers.yaml
  operators/workload-manager-operator/v1.3.0/metadata/annotations.yaml
  operators/workload-manager-operator/v1.3.0/tests/scorecard/config.yaml
  operators/workload-manager-operator/v1.3.1/manifests/workload-manager-operator-workload-manager-operator-rolebinding_v1_clusterrolebinding.yaml
  operators/workload-manager-operator/v1.3.1/manifests/workload-manager-operator.clusterserviceversion.yaml
  operators/workload-manager-operator/v1.3.1/manifests/workloadmanager.nec.com_workloadmanagers.yaml
  operators/workload-manager-operator/v1.3.1/metadata/annotations.yaml
  operators/workload-manager-operator/v1.3.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#4090 operator digitalai-release-operator (v24.1.3)
  operators/digitalai-release-operator/v24.1.3/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.1.3/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.1.3/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.3/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.1.3/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.1.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4091 operator digitalai-deploy-operator (v24.1.3)
  operators/digitalai-deploy-operator/v24.1.3/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.1.3/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.1.3/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.3/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.1.3/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.1.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4093 operator gitlab-runner-operator (1.26.1)
  operators/gitlab-runner-operator/1.26.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.26.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.26.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4096 operator gitlab-runner-operator (1.26.2)
  operators/gitlab-runner-operator/1.26.2/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.26.2/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.26.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4089 operator fujitsu-enterprise-operator (v3.1.26)
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/manifests/fujitsu-enterprise-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-operator/v3.1.26/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-operator/v3.1.26/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4095 operator fujitsu-enterprise-postgres-operator-with-cg-module (v6.1.1)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4094 operator fujitsu-enterprise-postgres-operator (v6.1.1)
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v6.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4114 operator kubecost-operator (v0.0.4)
  operators/kubecost-operator/ci.yaml
  operators/kubecost-operator/v0.0.4/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v0.0.4/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v0.0.4/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v0.0.4/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v0.0.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4118 operator uma-admin-operator (2024.6.2)
  operators/uma-admin-operator/2024.6.2/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.6.2/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.6.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4119 operator uma-team-operator (2024.6.2)
  operators/uma-team-operator/2024.6.2/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.6.2/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.6.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4121 operator couchbase-enterprise-certified (2.6.4-3)
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbase-v2.6.4.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4128 operator tawon-operator (2.32.8)
  operators/tawon-operator/2.32.8/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.32.8/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.32.8/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.32.8/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.32.8/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.32.8/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.32.8/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.32.8/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.32.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4134 operator kubeturbo-certified (8.13.0)
  operators/kubeturbo-certified/8.13.0/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.0/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4135 operator nexus-repository-ha-operator-certified (3.70.0-1)
  operators/nexus-repository-ha-operator-certified/3.70.0-1/manifests/nexus-repository-ha-operator-certified.clusterserviceversion.yaml
  operators/nexus-repository-ha-operator-certified/3.70.0-1/manifests/sonatype.com_nexusrepos_crd.yaml
  operators/nexus-repository-ha-operator-certified/3.70.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4138 operator nexus-repository-ha-operator-certified (3.70.1-1)
  operators/nexus-repository-ha-operator-certified/3.70.1-1/manifests/nexus-repository-ha-operator-certified.clusterserviceversion.yaml
  operators/nexus-repository-ha-operator-certified/3.70.1-1/manifests/sonatype.com_nexusrepos_crd.yaml
  operators/nexus-repository-ha-operator-certified/3.70.1-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4139 operator anzounstructured-operator (v2.0.600)
  operators/anzounstructured-operator/v2.0.600/manifests/anzounstructured-operator.clusterserviceversion.yaml
  operators/anzounstructured-operator/v2.0.600/manifests/anzounstructured.clusters.cambridgesemantics.com_anzounstructureds.yaml
  operators/anzounstructured-operator/v2.0.600/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4137 operator gitlab-operator-kubernetes (1.1.2)
  operators/gitlab-operator-kubernetes/1.1.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.1.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.1.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.1.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4129 operator anzo-operator (v2.0.500)
  operators/anzo-operator/v2.0.500/manifests/anzo-operator.clusterserviceversion.yaml
  operators/anzo-operator/v2.0.500/manifests/anzo.cambridgesemantics.com_anzos.yaml
  operators/anzo-operator/v2.0.500/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4101 operator app-insights-operator (1.8.0)
  operators/app-insights-operator/1.8.0/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.8.0/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.8.0/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.8.0/manifests/appinsights.randoli_appinsightsagents.yaml
  operators/app-insights-operator/1.8.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4079 operator pubsubplus-eventbroker-operator (1.1.0)
  operators/pubsubplus-eventbroker-operator/1.1.0/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.1.0/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.1.0/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.1.0/tests/scorecard/config.yaml
  operators/pubsubplus-eventbroker-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4144 operator tawon-operator (2.32.10)
  operators/tawon-operator/2.32.10/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.32.10/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.32.10/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.32.10/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.32.10/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.32.10/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.32.10/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.32.10/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.32.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4143 operator ibm-storage-odf-operator (1.5.0)
  operators/ibm-storage-odf-operator/1.5.0/manifests/flashsystem-csi-cr_v1_configmap.yaml
  operators/ibm-storage-odf-operator/1.5.0/manifests/flashsystemcluster-metrics_rbac.authorization.k8s.io_v1_role.yaml
  operators/ibm-storage-odf-operator/1.5.0/manifests/flashsystemcluster-metrics_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/ibm-storage-odf-operator/1.5.0/manifests/ibm-storage-odf-operator-metrics-service_v1_service.yaml
  operators/ibm-storage-odf-operator/1.5.0/manifests/ibm-storage-odf-operator.clusterserviceversion.yaml
  operators/ibm-storage-odf-operator/1.5.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-storage-odf-operator/1.5.0/manifests/odf.ibm.com_flashsystemclusters.yaml
  operators/ibm-storage-odf-operator/1.5.0/metadata/annotations.yaml
  operators/ibm-storage-odf-operator/1.5.0/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#4145 operator anzograph-operator (v3.1.105)
  operators/anzograph-operator/v3.1.105/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.1.105/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.1.105/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4146 operator infinibox-operator-certified (v2.14.0)
  operators/infinibox-operator-certified/v2.14.0/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.14.0/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.14.0/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.14.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4125 operator percona-server-mongodb-operator-certified (1.16.1)
  operators/percona-server-mongodb-operator-certified/1.16.1/manifests/percona-server-mongodb-operator.v1.16.1.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator-certified/1.16.1/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.16.1/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.16.1/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.16.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4149 operator anzograph-operator (v3.1.106)
  operators/anzograph-operator/v3.1.106/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.1.106/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.1.106/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4150 operator cass-operator (v1.21.1)
  operators/cass-operator/v1.21.1/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator/v1.21.1/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator/v1.21.1/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator/v1.21.1/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator/v1.21.1/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator/v1.21.1/metadata/annotations.yaml
  operators/cass-operator/v1.21.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4155 operator prometurbo-certified (8.13.10-beta.1)
  operators/prometurbo-certified/8.13.10-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.10-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.10-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4156 operator kubeturbo-certified (8.13.10-beta.1)
  operators/kubeturbo-certified/8.13.10-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.10-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.10-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4157 operator instana-agent-operator (v2.1.3)
  operators/instana-agent-operator/v2.1.3/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/v2.1.3/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/v2.1.3/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/v2.1.3/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/v2.1.3/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/v2.1.3/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/v2.1.3/metadata/annotations.yaml
  operators/instana-agent-operator/v2.1.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4160 operator t8c-certified (42.60.0-beta.1)
  operators/t8c-certified/42.60.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.60.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.60.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4159 operator stackgres-certified (1.12.0-rc1)
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.12.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.12.0-rc1/metadata/annotations.yaml
  operators/stackgres-certified/1.12.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4166 operator aqua-operator-certified (2022.4.557)
  operators/aqua-operator-certified/2022.4.557/Dockerfile
  operators/aqua-operator-certified/2022.4.557/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.557/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.557/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.557/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.557/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.557/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.557/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.557/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.557/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.557/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.557/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.557/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.557/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.557/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4075 operator neuvector-certified-operator (1.4.5)
  operators/neuvector-certified-operator/1.4.5/manifests/neuvector-certified-operator.clusterserviceversion.yaml
  operators/neuvector-certified-operator/1.4.5/manifests/neuvectors.apm.neuvector.com.crd.yaml
  operators/neuvector-certified-operator/1.4.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4167 operator app-insights-operator (1.8.1)
  operators/app-insights-operator/1.8.1/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.8.1/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.8.1/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.8.1/manifests/appinsights.randoli_appinsightsagents.yaml
  operators/app-insights-operator/1.8.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4169 operator confluent-for-kubernetes (2.7.5)
  operators/confluent-for-kubernetes/2.7.5/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.7.5/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.7.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4170 operator confluent-for-kubernetes (2.8.3)
  operators/confluent-for-kubernetes/2.8.3/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.8.3/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.8.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4171 operator gitlab-operator-kubernetes (1.2.0)
  operators/gitlab-operator-kubernetes/1.2.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.2.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.2.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4140 operator nvidia-network-operator (24.4.1)
  operators/nvidia-network-operator/24.4.1/manifests/mellanox.com_hostdevicenetworks.yaml
  operators/nvidia-network-operator/24.4.1/manifests/mellanox.com_ipoibnetworks.yaml
  operators/nvidia-network-operator/24.4.1/manifests/mellanox.com_macvlannetworks.yaml
  operators/nvidia-network-operator/24.4.1/manifests/mellanox.com_nicclusterpolicies.yaml
  operators/nvidia-network-operator/24.4.1/manifests/nvidia-network-operator-webhook-service_v1_service.yaml
  operators/nvidia-network-operator/24.4.1/manifests/nvidia-network-operator.clusterserviceversion.yaml
  operators/nvidia-network-operator/24.4.1/metadata/annotations.yaml
  operators/nvidia-network-operator/24.4.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4172 operator dynatrace-operator (1.2.1)
  operators/dynatrace-operator/1.2.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.2.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4168 operator netscaler-operator (2.4.0)
  operators/netscaler-operator/2.4.0/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/2.4.0/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/2.4.0/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/2.4.0/manifests/netscaler.com_netscalercpxwithingresscontrollers.yaml
  operators/netscaler-operator/2.4.0/manifests/netscaler.com_netscaleringresscontrollers.yaml
  operators/netscaler-operator/2.4.0/manifests/netscaler.com_netscalerobservabilityexporters.yaml
  operators/netscaler-operator/2.4.0/metadata/annotations.yaml
  operators/netscaler-operator/2.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4173 operator ibm-metrics-operator (2.16.1)
  operators/ibm-metrics-operator/2.16.1/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.16.1/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.16.1/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.16.1/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.16.1/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.16.1/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.16.1/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.16.1/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.16.1/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.16.1/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.16.1/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.16.1/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.16.1/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.16.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4175 operator ibm-data-reporter-operator (2.16.1)
  operators/ibm-data-reporter-operator/2.16.1/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.16.1/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.16.1/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.16.1/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.16.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.16.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.16.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.16.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.16.1/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.16.1/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.16.1/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.16.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4174 operator vault-secrets-operator (0.8.0)
  operators/vault-secrets-operator/0.8.0/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.8.0/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.8.0/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/0.8.0/manifests/secrets.hashicorp.com_vaultauthglobals.yaml
  operators/vault-secrets-operator/0.8.0/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.8.0/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.8.0/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.8.0/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.8.0/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.8.0/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.8.0/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.8.0/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.8.0/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.8.0/metadata/annotations.yaml
  operators/vault-secrets-operator/0.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4176 operator stackgres-certified (1.12.0)
  operators/stackgres-certified/1.12.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.12.0/metadata/annotations.yaml
  operators/stackgres-certified/1.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4177 operator appdynamics-operator (24.7.0-861)
  operators/appdynamics-operator/24.7.0-861/bundle.Dockerfile
  operators/appdynamics-operator/24.7.0-861/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/24.7.0-861/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/24.7.0-861/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/24.7.0-861/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/24.7.0-861/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/24.7.0-861/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/24.7.0-861/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/24.7.0-861/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/24.7.0-861/manifests/infraviz_clusterrole.yaml
  operators/appdynamics-operator/24.7.0-861/manifests/infraviz_clusterrole_binding.yaml
  operators/appdynamics-operator/24.7.0-861/manifests/infraviz_service_account.yaml
  operators/appdynamics-operator/24.7.0-861/metadata/annotations.yaml
  operators/appdynamics-operator/24.7.0-861/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4180 operator gitlab-runner-operator (1.27.0)
  operators/gitlab-runner-operator/1.27.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.27.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.27.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4181 operator ibm-metrics-operator (2.16.2)
  operators/ibm-metrics-operator/2.16.2/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.16.2/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.16.2/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.16.2/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.16.2/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.16.2/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.16.2/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.16.2/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.16.2/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.16.2/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.16.2/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.16.2/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.16.2/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.16.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4182 operator ibm-data-reporter-operator (2.16.2)
  operators/ibm-data-reporter-operator/2.16.2/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.16.2/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.16.2/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.16.2/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.16.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.16.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.16.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.16.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.16.2/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.16.2/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.16.2/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.16.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4187 operator prometurbo-certified (8.13.10)
  operators/prometurbo-certified/8.13.10/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.10/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4186 operator kubeturbo-certified (8.13.10)
  operators/kubeturbo-certified/8.13.10/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.10/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4178 operator sumologic-kubernetes-collection-helm-operator (4.9.0-1)
  operators/sumologic-kubernetes-collection-helm-operator/4.9.0-1/manifests/helm-operator.sumologic.com_sumologiccollections.yaml
  operators/sumologic-kubernetes-collection-helm-operator/4.9.0-1/manifests/operator.clusterserviceversion.yaml
  operators/sumologic-kubernetes-collection-helm-operator/4.9.0-1/metadata/annotations.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/failed

#4188 operator netscaler-operator (2.4.1)
  operators/netscaler-operator/2.4.1/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/2.4.1/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/2.4.1/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/2.4.1/manifests/netscaler.com_netscalercpxwithingresscontrollers.yaml
  operators/netscaler-operator/2.4.1/manifests/netscaler.com_netscaleringresscontrollers.yaml
  operators/netscaler-operator/2.4.1/manifests/netscaler.com_netscalerobservabilityexporters.yaml
  operators/netscaler-operator/2.4.1/metadata/annotations.yaml
  operators/netscaler-operator/2.4.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4192 operator t8c-certified (42.60.0)
  operators/t8c-certified/42.60.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.60.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.60.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4191 operator nutanixcsioperator (2.6.10)
  operators/nutanixcsioperator/2.6.10/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/2.6.10/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/2.6.10/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/2.6.10/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/2.6.10/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/2.6.10/metadata/annotations.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/failed, tests/skips/check_pruned_graph

#4195 operator tawon-operator (2.33.3)
  operators/tawon-operator/2.33.3/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.33.3/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.33.3/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.33.3/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.33.3/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.33.3/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.33.3/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.33.3/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.33.3/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.33.3/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.33.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4196 operator portworx-certified (24.1.1)
  operators/portworx-certified/24.1.1/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/24.1.1/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/24.1.1/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/24.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4202 operator gitlab-operator-kubernetes (1.2.1)
  operators/gitlab-operator-kubernetes/1.2.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.2.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.2.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.2.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4207 operator digitalai-release-operator (v24.1.4)
  operators/digitalai-release-operator/v24.1.4/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.1.4/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.1.4/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.4/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.1.4/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.1.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4208 operator redis-enterprise-operator-cert (7.4.6-2.0)
  operators/redis-enterprise-operator-cert/7.4.6-2.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4210 operator digitalai-deploy-operator (v24.1.4)
  operators/digitalai-deploy-operator/v24.1.4/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.1.4/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.1.4/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.4/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.1.4/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.1.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4211 operator uma-operator (2024.7.1)
  operators/uma-operator/2024.7.1/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.7.1/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.7.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4214 operator uma-admin-operator (2024.7.1)
  operators/uma-admin-operator/2024.7.1/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.7.1/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.7.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4218 operator uma-team-operator (2024.7.1)
  operators/uma-team-operator/2024.7.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.7.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.7.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4220 operator tawon-operator (2.34.0)
  operators/tawon-operator/2.34.0/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.34.0/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.34.0/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.34.0/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.34.0/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.34.0/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.34.0/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.34.0/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.34.0/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.34.0/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.34.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4219 operator hazelcast-platform-operator (5.13.0)
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.13.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.13.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.13.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4222 operator vault-secrets-operator (0.8.1)
  operators/vault-secrets-operator/0.8.1/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.8.1/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.8.1/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/0.8.1/manifests/secrets.hashicorp.com_vaultauthglobals.yaml
  operators/vault-secrets-operator/0.8.1/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.8.1/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.8.1/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.8.1/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.8.1/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.8.1/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.8.1/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.8.1/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.8.1/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.8.1/metadata/annotations.yaml
  operators/vault-secrets-operator/0.8.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4223 operator instana-agent-operator (v2.1.4)
  operators/instana-agent-operator/v2.1.4/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/v2.1.4/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/v2.1.4/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/v2.1.4/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/v2.1.4/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/v2.1.4/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/v2.1.4/metadata/annotations.yaml
  operators/instana-agent-operator/v2.1.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4227 operator instana-agent-operator (v2.1.5)
  operators/instana-agent-operator/v2.1.5/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/v2.1.5/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/v2.1.5/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/v2.1.5/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/v2.1.5/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/v2.1.5/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/v2.1.5/metadata/annotations.yaml
  operators/instana-agent-operator/v2.1.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4228 operator confluent-for-kubernetes (2.9.0)
  operators/confluent-for-kubernetes/2.9.0/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.9.0/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.9.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4230 operator prometurbo-certified (8.13.20-beta.1)
  operators/prometurbo-certified/8.13.20-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.20-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.20-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4224 operator fujitsu-enterprise-postgres-operator-with-cg-module (v6.1.2)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v6.1.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4225 operator fujitsu-enterprise-postgres-operator (v6.1.2)
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v6.1.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4231 operator kubeturbo-certified (8.13.20-beta.1)
  operators/kubeturbo-certified/8.13.20-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.20-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.20-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4229 operator gpu-operator-certified (v24.6.0)
  operators/gpu-operator-certified/v24.6.0/manifests/gpu-operator-certified.clusterserviceversion.yaml
  operators/gpu-operator-certified/v24.6.0/manifests/nvidia.com_clusterpolicies.yaml
  operators/gpu-operator-certified/v24.6.0/manifests/nvidia.com_nvidiadrivers.yaml
  operators/gpu-operator-certified/v24.6.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4233 operator mongodb-atlas-kubernetes (2.4.1)
  operators/mongodb-atlas-kubernetes/2.4.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.4.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4234 operator netscaler-operator (3.0.0)
  operators/netscaler-operator/3.0.0/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/3.0.0/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.0.0/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/3.0.0/manifests/netscaler.com_netscalercloudcontrollers.yaml
  operators/netscaler-operator/3.0.0/manifests/netscaler.com_netscalergslbcontrollers.yaml
  operators/netscaler-operator/3.0.0/metadata/annotations.yaml
  operators/netscaler-operator/3.0.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
