Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2024-02, with the labels that each got.

#3426 operator appdynamics-cloud-operator (24.1.0-90)
  operators/appdynamics-cloud-operator/24.1.0-90/bundle.Dockerfile
  operators/appdynamics-cloud-operator/24.1.0-90/manifests/appdynamics-cloud-operator-metrics-service_v1_service.yaml
  operators/appdynamics-cloud-operator/24.1.0-90/manifests/appdynamics-cloud-operator.clusterserviceversion.yaml
  operators/appdynamics-cloud-operator/24.1.0-90/manifests/cluster.appdynamics.com_clustermons.yaml
  operators/appdynamics-cloud-operator/24.1.0-90/manifests/cluster.appdynamics.com_containermons.yaml
  operators/appdynamics-cloud-operator/24.1.0-90/manifests/cluster.appdynamics.com_dbcollectors.yaml
  operators/appdynamics-cloud-operator/24.1.0-90/manifests/cluster.appdynamics.com_dbconfigs.yaml
  operators/appdynamics-cloud-operator/24.1.0-90/manifests/cluster.appdynamics.com_inframons.yaml
  operators/appdynamics-cloud-operator/24.1.0-90/manifests/cluster.appdynamics.com_logcollectors.yaml
  operators/appdynamics-cloud-operator/24.1.0-90/manifests/cluster.appdynamics.com_servermons.yaml
  operators/appdynamics-cloud-operator/24.1.0-90/manifests/manager-config_v1_configmap.yaml
  operators/appdynamics-cloud-operator/24.1.0-90/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/appdynamics-cloud-operator/24.1.0-90/metadata/annotations.yaml
  operators/appdynamics-cloud-operator/24.1.0-90/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3429 operator zabbix-operator-certified (6.0.26)
  operators/zabbix-operator-certified/6.0.26/manifests/kubernetes.zabbix.com_zabbixagent2s.yaml
  operators/zabbix-operator-certified/6.0.26/manifests/kubernetes.zabbix.com_zabbixagents.yaml
  operators/zabbix-operator-certified/6.0.26/manifests/kubernetes.zabbix.com_zabbixfulls.yaml
  operators/zabbix-operator-certified/6.0.26/manifests/kubernetes.zabbix.com_zabbixproxymysqls.yaml
  operators/zabbix-operator-certified/6.0.26/manifests/kubernetes.zabbix.com_zabbixproxysqlites.yaml
  operators/zabbix-operator-certified/6.0.26/manifests/kubernetes.zabbix.com_zabbixservers.yaml
  operators/zabbix-operator-certified/6.0.26/manifests/zabbix-operator-certified.clusterserviceversion.yaml
  operators/zabbix-operator-certified/6.0.26/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3425 operator leaksignal-operator (1.3.1)
  operators/leaksignal-operator/1.3.1/manifests/leaksignal-cluster.crd.yaml
  operators/leaksignal-operator/1.3.1/manifests/leaksignal.clusterserviceversion.yaml
  operators/leaksignal-operator/1.3.1/manifests/leaksignal.crd.yaml
  operators/leaksignal-operator/1.3.1/metadata/annotations.yaml
  operators/leaksignal-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#3410 operator stackgres-certified (1.8.0-rc1)
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.8.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.8.0-rc1/metadata/annotations.yaml
  operators/stackgres-certified/1.8.0-rc1/tests/scorecard/config.yaml
  operators/stackgres-certified/ci.yaml
Labels: operator-hosted-pipeline/started

#3432 operator exascaler-csi-driver-operator (1.0.0)
  operators/exascaler-csi-driver-operator/1.0.0/manifests/charts.my.domain_exacsis.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-controller-manager-metrics-service_v1_service.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-controller-service-account_v1_serviceaccount.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-csi-resizer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-csi-resizer-bindinga_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-csi-resizer-role-cfg_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-csi-resizer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-driver-operator.clusterserviceversion.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-exascaler-csi-controller-cluster-role-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-exascaler-csi-controller-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-exascaler-csi-node-cluster-role-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-exascaler-csi-node-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-exascaler-csi-privileged-scc-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-exascaler-csi-privileged-scc-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-external-resizer-cfg_rbac.authorization.k8s.io_v1_role.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-node-service-account_v1_serviceaccount.yaml
  operators/exascaler-csi-driver-operator/1.0.0/metadata/annotations.yaml
  operators/exascaler-csi-driver-operator/1.0.0/tests/scorecard/config.yaml
  operators/exascaler-csi-driver-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#3437 operator cloud-native-postgresql (1.18.10)
  operators/cloud-native-postgresql/1.18.10/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.18.10/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.18.10/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.18.10/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.18.10/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.18.10/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.18.10/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.18.10/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.18.10/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3438 operator cloud-native-postgresql (1.20.6)
  operators/cloud-native-postgresql/1.20.6/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.20.6/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.20.6/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.20.6/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.20.6/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.20.6/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.20.6/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.20.6/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.20.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3439 operator stackgres-certified (1.8.0)
  operators/stackgres-certified/1.8.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.8.0/metadata/annotations.yaml
  operators/stackgres-certified/1.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3440 operator runtime-component-operator-certified (1.3.1)
  operators/runtime-component-operator-certified/1.3.1/manifests/rc.app.stacks_runtimecomponents.yaml
  operators/runtime-component-operator-certified/1.3.1/manifests/rc.app.stacks_runtimeoperations.yaml
  operators/runtime-component-operator-certified/1.3.1/manifests/runtime-component-operator-certified.clusterserviceversion.yaml
  operators/runtime-component-operator-certified/1.3.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3442 operator infoscale-sds-operator (8.0.310)
  operators/infoscale-sds-operator/8.0.310/manifests/infoscale-sds-operator.clusterserviceversion.yaml
  operators/infoscale-sds-operator/8.0.310/manifests/infoscale.veritas.com_infoscaleclusters.yaml
  operators/infoscale-sds-operator/8.0.310/manifests/infoscale.veritas.com_infoscaleclustersets.yaml
  operators/infoscale-sds-operator/8.0.310/manifests/iso-manager-config_v1_configmap.yaml
  operators/infoscale-sds-operator/8.0.310/manifests/iso-webhook-service_v1_service.yaml
  operators/infoscale-sds-operator/8.0.310/metadata/annotations.yaml
  operators/infoscale-sds-operator/8.0.310/metadata/dependencies.yaml
  operators/infoscale-sds-operator/8.0.310/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3444 operator infoscale-dr-manager (8.0.310)
  operators/infoscale-dr-manager/8.0.310/manifests/infoscale-dr-manager-config_v1_configmap.yaml
  operators/infoscale-dr-manager/8.0.310/manifests/infoscale-dr-manager.clusterserviceversion.yaml
  operators/infoscale-dr-manager/8.0.310/manifests/infoscale-dr-webhook-service_v1_service.yaml
  operators/infoscale-dr-manager/8.0.310/manifests/infoscale.veritas.com_datareplications.yaml
  operators/infoscale-dr-manager/8.0.310/manifests/infoscale.veritas.com_disasterrecoveryplans.yaml
  operators/infoscale-dr-manager/8.0.310/manifests/infoscale.veritas.com_dns.yaml
  operators/infoscale-dr-manager/8.0.310/manifests/infoscale.veritas.com_globalclustermemberships.yaml
  operators/infoscale-dr-manager/8.0.310/metadata/annotations.yaml
  operators/infoscale-dr-manager/8.0.310/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3443 operator nexus-repository-ha-operator-certified (3.65.0-1)
  operators/nexus-repository-ha-operator-certified/3.65.0-1/manifests/nexus-repository-ha-operator-certified.clusterserviceversion.yaml
  operators/nexus-repository-ha-operator-certified/3.65.0-1/manifests/sonatype.com_nexusrepos_crd.yaml
  operators/nexus-repository-ha-operator-certified/3.65.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3446 operator open-liberty-certified (1.3.1)
  operators/open-liberty-certified/1.3.1/manifests/apps.openliberty.io_openlibertyapplications.yaml
  operators/open-liberty-certified/1.3.1/manifests/apps.openliberty.io_openlibertydumps.yaml
  operators/open-liberty-certified/1.3.1/manifests/apps.openliberty.io_openlibertytraces.yaml
  operators/open-liberty-certified/1.3.1/manifests/open-liberty-certified.clusterserviceversion.yaml
  operators/open-liberty-certified/1.3.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3447 operator cloudnative-pg (1.22.1)
  operators/cloudnative-pg/1.22.1/manifests/cloudnative-pg.clusterserviceversion.yaml
  operators/cloudnative-pg/1.22.1/manifests/cnpg-default-monitoring_v1_configmap.yaml
  operators/cloudnative-pg/1.22.1/manifests/cnpg-webhook-service_v1_service.yaml
  operators/cloudnative-pg/1.22.1/manifests/postgresql.cnpg.io_backups.yaml
  operators/cloudnative-pg/1.22.1/manifests/postgresql.cnpg.io_clusters.yaml
  operators/cloudnative-pg/1.22.1/manifests/postgresql.cnpg.io_poolers.yaml
  operators/cloudnative-pg/1.22.1/manifests/postgresql.cnpg.io_scheduledbackups.yaml
  operators/cloudnative-pg/1.22.1/metadata/annotations.yaml
  operators/cloudnative-pg/1.22.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3451 operator kubeturbo-certified (8.11.30)
  operators/kubeturbo-certified/8.11.30/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.30/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.30/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3450 operator prometurbo-certified (8.11.30)
  operators/prometurbo-certified/8.11.30/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.30/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.30/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3452 operator t8c-certified (42.49.0)
  operators/t8c-certified/42.49.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.49.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.49.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3459 operator uma-operator (2024.1.1)
  operators/uma-operator/2024.1.1/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.1.1/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3460 operator uma-admin-operator (2024.1.1)
  operators/uma-admin-operator/2024.1.1/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.1.1/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3462 operator ibm-metrics-operator (2.13.3)
  operators/ibm-metrics-operator/2.13.3/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.13.3/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.13.3/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.3/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.3/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.13.3/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.13.3/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.13.3/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.13.3/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.13.3/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.13.3/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.13.3/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.13.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3461 operator uma-team-operator (2024.1.1)
  operators/uma-team-operator/2024.1.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.1.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3463 operator redhat-marketplace-operator (2.13.3)
  operators/redhat-marketplace-operator/2.13.3/manifests/deploy.razee.io_remoteresources.yaml
  operators/redhat-marketplace-operator/2.13.3/manifests/redhat-marketplace-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/redhat-marketplace-operator/2.13.3/manifests/redhat-marketplace-controller-manager-metrics-service_v1_service.yaml
  operators/redhat-marketplace-operator/2.13.3/manifests/redhat-marketplace-operator.clusterserviceversion.yaml
  operators/redhat-marketplace-operator/2.13.3/manifests/redhat-marketplace-servicemonitor-metrics-reader_v1_secret.yaml
  operators/redhat-marketplace-operator/2.13.3/manifests/redhat-marketplace-serving-certs-ca-bundle_v1_configmap.yaml
  operators/redhat-marketplace-operator/2.13.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3464 operator ibm-data-reporter-operator (2.13.3)
  operators/ibm-data-reporter-operator/2.13.3/manifests/ibm-data-reporter-operator-component-config-b2779g8ghb_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.13.3/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.13.3/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.13.3/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.13.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.13.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.13.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.13.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.13.3/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.13.3/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.13.3/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.13.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3466 operator portworx-certified (23.10.3)
  operators/portworx-certified/23.10.3/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/23.10.3/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/23.10.3/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/23.10.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3467 operator netscaler-adm-agent-operator (141.16.39)
  operators/netscaler-adm-agent-operator/141.16.39/manifests/netscaler-adm-agent-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-adm-agent-operator/141.16.39/manifests/netscaler-adm-agent-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-adm-agent-operator/141.16.39/manifests/netscaler-adm-agent-operator.clusterserviceversion.yaml
  operators/netscaler-adm-agent-operator/141.16.39/manifests/netscaler.com_admagents.yaml
  operators/netscaler-adm-agent-operator/141.16.39/metadata/annotations.yaml
  operators/netscaler-adm-agent-operator/141.16.39/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3468 operator accuknox-operator-certified (0.2.0)
  operators/accuknox-operator-certified/0.2.0/manifests/accuknox-operator-certified.clusterserviceversion.yaml
  operators/accuknox-operator-certified/0.2.0/manifests/accuknox-operator-controller-manager-metrics-service_v1_service.yaml
  operators/accuknox-operator-certified/0.2.0/manifests/operator.accuknox.com_accuknoxconfigs.yaml
  operators/accuknox-operator-certified/0.2.0/metadata/annotations.yaml
  operators/accuknox-operator-certified/0.2.0/tests/scorecard/config.yaml
  operators/accuknox-operator-certified/ci.yaml
Labels: operator-hosted-pipeline/started

#3469 operator gitlab-operator-kubernetes (0.28.2)
  operators/gitlab-operator-kubernetes/0.28.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.28.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.28.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3470 operator accuknox-operator-certified (0.2.1)
  operators/accuknox-operator-certified/0.2.1/manifests/accuknox-operator-anyuid-scc-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/accuknox-operator-certified/0.2.1/manifests/accuknox-operator-anyuid-scc-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/accuknox-operator-certified/0.2.1/manifests/accuknox-operator-certified.clusterserviceversion.yaml
  operators/accuknox-operator-certified/0.2.1/manifests/accuknox-operator-controller-manager-metrics-service_v1_service.yaml
  operators/accuknox-operator-certified/0.2.1/manifests/operator.accuknox.com_accuknoxconfigs.yaml
  operators/accuknox-operator-certified/0.2.1/metadata/annotations.yaml
  operators/accuknox-operator-certified/0.2.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#3472 operator infinibox-operator-certified (v2.11.0)
  operators/infinibox-operator-certified/v2.11.0/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.11.0/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.11.0/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.11.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3473 operator cilium-enterprise (1.12.18)
  operators/cilium-enterprise/1.12.18/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.12.18/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.12.18/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.12.18/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3475 operator cilium-enterprise (1.13.11)
  operators/cilium-enterprise/1.13.11/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.13.11/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.13.11/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.13.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3476 operator cilium-enterprise (1.14.6)
  operators/cilium-enterprise/1.14.6/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.6/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.6/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3477 operator leaksignal-operator (1.6.0)
  operators/leaksignal-operator/1.6.0/manifests/leaksignal-cluster.crd.yaml
  operators/leaksignal-operator/1.6.0/manifests/leaksignal.clusterserviceversion.yaml
  operators/leaksignal-operator/1.6.0/manifests/leaksignal.crd.yaml
  operators/leaksignal-operator/1.6.0/manifests/service.yaml
  operators/leaksignal-operator/1.6.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3478 operator prometurbo-certified (8.11.40-beta.1)
  operators/prometurbo-certified/8.11.40-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.40-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.40-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3479 operator kubeturbo-certified (8.11.40-beta.1)
  operators/kubeturbo-certified/8.11.40-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.40-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.40-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3480 operator leaksignal-operator (1.6.1)
  operators/leaksignal-operator/1.6.1/manifests/leaksignal-cluster.crd.yaml
  operators/leaksignal-operator/1.6.1/manifests/leaksignal.clusterserviceversion.yaml
  operators/leaksignal-operator/1.6.1/manifests/leaksignal.crd.yaml
  operators/leaksignal-operator/1.6.1/manifests/priority-class.yaml
  operators/leaksignal-operator/1.6.1/manifests/service.yaml
  operators/leaksignal-operator/1.6.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3481 operator leaksignal-operator (1.6.2)
  operators/leaksignal-operator/1.6.2/manifests/leaksignal-cluster.crd.yaml
  operators/leaksignal-operator/1.6.2/manifests/leaksignal.clusterserviceversion.yaml
  operators/leaksignal-operator/1.6.2/manifests/leaksignal.crd.yaml
  operators/leaksignal-operator/1.6.2/manifests/priority-class.yaml
  operators/leaksignal-operator/1.6.2/manifests/service.yaml
  operators/leaksignal-operator/1.6.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3482 operator neuvector-certified-operator (1.4.3)
  operators/neuvector-certified-operator/1.4.3/manifests/neuvector-certified-operator.clusterserviceversion.yaml
  operators/neuvector-certified-operator/1.4.3/manifests/neuvectors.apm.neuvector.com.crd.yaml
  operators/neuvector-certified-operator/1.4.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3483 operator confluent-for-kubernetes (2.8.0)
  operators/confluent-for-kubernetes/2.8.0/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.8.0/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.8.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3484 operator redis-enterprise-operator-cert (7.4.2-2.0)
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3486 Revert "operator redis-enterprise-operator-cert (7.4.2-2.0)"
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3485 operator cilium-enterprise (1.12.19)
  operators/cilium-enterprise/1.12.19/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.12.19/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.12.19/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.12.19/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3487 operator redis-enterprise-operator-cert (7.4.2-2.0)
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3488 operator cilium-enterprise (1.13.12)
  operators/cilium-enterprise/1.13.12/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.13.12/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.13.12/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.13.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3489 operator cilium-enterprise (1.14.7)
  operators/cilium-enterprise/1.14.7/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.7/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.7/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3490 operator pg4k-pgd (0.9.0)
  operators/pg4k-pgd/0.9.0/manifests/pg4k-pgd.clusterserviceversion.yaml
  operators/pg4k-pgd/0.9.0/manifests/pgd-operator-manager-config_v1_configmap.yaml
  operators/pg4k-pgd/0.9.0/manifests/pgd-operator-webhook-service_v1_service.yaml
  operators/pg4k-pgd/0.9.0/manifests/pgd.k8s.enterprisedb.io_pgdgroupcleanups.yaml
  operators/pg4k-pgd/0.9.0/manifests/pgd.k8s.enterprisedb.io_pgdgroups.yaml
  operators/pg4k-pgd/0.9.0/metadata/annotations.yaml
  operators/pg4k-pgd/0.9.0/metadata/dependencies.yaml
  operators/pg4k-pgd/0.9.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3492 operator vault-secrets-operator (0.5.0)
  operators/vault-secrets-operator/0.5.0/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.5.0/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.5.0/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/0.5.0/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.5.0/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.5.0/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.5.0/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.5.0/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.5.0/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.5.0/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.5.0/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.5.0/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.5.0/metadata/annotations.yaml
  operators/vault-secrets-operator/0.5.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3493 operator cilium (1.14.7)
  operators/cilium/1.14.7/manifests/cilium.clusterserviceversion.yaml
  operators/cilium/1.14.7/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium/1.14.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3494 operator cilium (1.13.12)
  operators/cilium/1.13.12/manifests/cilium.clusterserviceversion.yaml
  operators/cilium/1.13.12/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium/1.13.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3495 operator cilium (1.12.19)
  operators/cilium/1.12.19/manifests/cilium.clusterserviceversion.yaml
  operators/cilium/1.12.19/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium/1.12.19/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3499 operator gitlab-operator-kubernetes (0.29.0)
  operators/gitlab-operator-kubernetes/0.29.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.29.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.29.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3501 Delete operators/app-insights-operator directory
  operators/app-insights-operator/ci.yaml
  operators/app-insights-operator/v1.1.1/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/v1.1.1/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-insights-operator/v1.1.1/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/v1.1.1/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-insights-operator/v1.1.1/manifests/appdirector.randoli.ca_appdirectoragents.yaml
  operators/app-insights-operator/v1.1.1/manifests/appdirector.randoli.ca_clusterwideappdirectoragents.yaml
  operators/app-insights-operator/v1.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3496 operator cilium (1.15.1)
  operators/cilium/1.15.1/manifests/cilium.clusterserviceversion.yaml
  operators/cilium/1.15.1/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium/1.15.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3503 operator vault-secrets-operator (0.5.1)
  operators/vault-secrets-operator/0.5.1/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.5.1/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.5.1/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/0.5.1/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.5.1/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.5.1/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.5.1/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.5.1/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.5.1/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.5.1/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.5.1/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.5.1/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.5.1/metadata/annotations.yaml
  operators/vault-secrets-operator/0.5.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3504 operator leaksignal-operator (1.6.3)
  operators/leaksignal-operator/1.6.3/manifests/leaksignal-cluster.crd.yaml
  operators/leaksignal-operator/1.6.3/manifests/leaksignal.clusterserviceversion.yaml
  operators/leaksignal-operator/1.6.3/manifests/leaksignal.crd.yaml
  operators/leaksignal-operator/1.6.3/manifests/priority-class.yaml
  operators/leaksignal-operator/1.6.3/manifests/service.yaml
  operators/leaksignal-operator/1.6.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3507 operator prometurbo-certified (8.11.40)
  operators/prometurbo-certified/8.11.40/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.40/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.40/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3506 operator t8c-certified (42.50.0)
  operators/t8c-certified/42.50.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.50.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.50.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3505 operator app-insights-operator (1.5.0)
  operators/app-insights-operator/1.5.0/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.5.0/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.5.0/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.5.0/manifests/appinsights.randoli_appinsightsagents.yaml
  operators/app-insights-operator/1.5.0/metadata/annotations.yaml
  operators/app-insights-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#3508 operator kubeturbo-certified (8.11.40)
  operators/kubeturbo-certified/8.11.40/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.40/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.40/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3511 operator nvidia-network-operator (24.1.0)
  operators/nvidia-network-operator/24.1.0/manifests/mellanox.com_hostdevicenetworks.yaml
  operators/nvidia-network-operator/24.1.0/manifests/mellanox.com_ipoibnetworks.yaml
  operators/nvidia-network-operator/24.1.0/manifests/mellanox.com_macvlannetworks.yaml
  operators/nvidia-network-operator/24.1.0/manifests/mellanox.com_nicclusterpolicies.yaml
  operators/nvidia-network-operator/24.1.0/manifests/nvidia-network-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nvidia-network-operator/24.1.0/manifests/nvidia-network-operator-manager-config_v1_configmap.yaml
  operators/nvidia-network-operator/24.1.0/manifests/nvidia-network-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nvidia-network-operator/24.1.0/manifests/nvidia-network-operator.clusterserviceversion.yaml
  operators/nvidia-network-operator/24.1.0/metadata/annotations.yaml
  operators/nvidia-network-operator/24.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3512 operator minio-operator (5.0.12)
  operators/minio-operator/5.0.12/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/5.0.12/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/5.0.12/manifests/console_v1_service.yaml
  operators/minio-operator/5.0.12/manifests/job.min.io_miniojobs.yaml
  operators/minio-operator/5.0.12/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/5.0.12/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/5.0.12/manifests/operator_v1_service.yaml
  operators/minio-operator/5.0.12/manifests/sts.min.io_policybindings.yaml
  operators/minio-operator/5.0.12/manifests/sts_v1_service.yaml
  operators/minio-operator/5.0.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3513 operator kubemq-operator-marketplace (1.8.3)
  operators/kubemq-operator-marketplace/1.8.3/manifests/kubemq-operator-marketplace.clusterserviceversion.yaml
  operators/kubemq-operator-marketplace/1.8.3/manifests/kubemq-operator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubemq-operator-marketplace/1.8.3/manifests/kubemqclusters.core.k8s.kubemq.io.crd.yaml
  operators/kubemq-operator-marketplace/1.8.3/manifests/kubemqconnectors.core.k8s.kubemq.io.crd.yaml
  operators/kubemq-operator-marketplace/1.8.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3514 operator appdynamics-operator (24.2.0-735)
  operators/appdynamics-operator/24.2.0-735/bundle.Dockerfile
  operators/appdynamics-operator/24.2.0-735/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/24.2.0-735/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/24.2.0-735/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/24.2.0-735/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/24.2.0-735/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/24.2.0-735/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/24.2.0-735/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/24.2.0-735/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/24.2.0-735/manifests/infraviz_clusterrole.yaml
  operators/appdynamics-operator/24.2.0-735/manifests/infraviz_clusterrole_binding.yaml
  operators/appdynamics-operator/24.2.0-735/manifests/infraviz_service_account.yaml
  operators/appdynamics-operator/24.2.0-735/metadata/annotations.yaml
  operators/appdynamics-operator/24.2.0-735/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3518 operator vfunction-server-operator (v3.4.1290)
  operators/vfunction-server-operator/v3.4.1290/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v3.4.1290/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v3.4.1290/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v3.4.1290/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v3.4.1290/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v3.4.1290/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3520 operator ibm-metrics-operator (2.13.4)
  operators/ibm-metrics-operator/2.13.4/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.13.4/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.13.4/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.4/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.4/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.13.4/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.13.4/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.13.4/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.13.4/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.13.4/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.13.4/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.13.4/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.13.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3521 operator redhat-marketplace-operator (2.13.4)
  operators/redhat-marketplace-operator/2.13.4/manifests/deploy.razee.io_remoteresources.yaml
  operators/redhat-marketplace-operator/2.13.4/manifests/redhat-marketplace-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/redhat-marketplace-operator/2.13.4/manifests/redhat-marketplace-controller-manager-metrics-service_v1_service.yaml
  operators/redhat-marketplace-operator/2.13.4/manifests/redhat-marketplace-operator.clusterserviceversion.yaml
  operators/redhat-marketplace-operator/2.13.4/manifests/redhat-marketplace-servicemonitor-metrics-reader_v1_secret.yaml
  operators/redhat-marketplace-operator/2.13.4/manifests/redhat-marketplace-serving-certs-ca-bundle_v1_configmap.yaml
  operators/redhat-marketplace-operator/2.13.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3522 operator ibm-data-reporter-operator (2.13.4)
  operators/ibm-data-reporter-operator/2.13.4/manifests/ibm-data-reporter-operator-component-config-b2779g8ghb_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.13.4/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.13.4/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.13.4/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.13.4/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.13.4/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.13.4/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.13.4/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.13.4/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.13.4/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.13.4/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.13.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3523 operator stackgres-certified (1.8.1)
  operators/stackgres-certified/1.8.1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.8.1/metadata/annotations.yaml
  operators/stackgres-certified/1.8.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3527 operator confluent-for-kubernetes (2.8.1)
  operators/confluent-for-kubernetes/2.8.1/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.8.1/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.8.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3497 operator mongodb-atlas-kubernetes (2.1.0)
  operators/mongodb-atlas-kubernetes/2.1.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#3528 operator prometurbo-certified (8.11.50-beta.1)
  operators/prometurbo-certified/8.11.50-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.50-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.50-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3531 operator kubeturbo-certified (8.11.50-beta.1)
  operators/kubeturbo-certified/8.11.50-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.50-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.50-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3530 operator splunk-operator (2.5.1)
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk-operator/2.5.1/metadata/annotations.yaml
  operators/splunk-operator/2.5.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3532 Revert "operator splunk-operator (2.5.1)"
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk-operator/2.5.1/metadata/annotations.yaml
  operators/splunk-operator/2.5.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3540 operator uma-team-operator (2024.2.1)
  operators/uma-team-operator/2024.2.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.2.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3535 operator dell-csm-operator-certified (1.4.2)
  operators/dell-csm-operator-certified/1.4.2/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.2/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.2/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.4.2/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.4.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
