Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2024-01, with the labels that each got.

#3319 operator kubearmor-operator-certified (1.1.1)
  operators/kubearmor-operator-certified/1.1.1/manifests/kubearmor-operator-certified.clusterserviceversion.yaml
  operators/kubearmor-operator-certified/1.1.1/manifests/operator.kubearmor.com_kubearmorconfigs.yaml
  operators/kubearmor-operator-certified/1.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3318 operator app-insights-operator (v1.1.1)
  operators/app-insights-operator/ci.yaml
  operators/app-insights-operator/v1.1.1/manifests/app-director-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/v1.1.1/manifests/app-director-manager-config_v1_configmap.yaml
  operators/app-insights-operator/v1.1.1/manifests/app-director-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/v1.1.1/manifests/app-director-operator.clusterserviceversion.yaml
  operators/app-insights-operator/v1.1.1/manifests/appdirector.randoli.ca_appdirectoragents.yaml
  operators/app-insights-operator/v1.1.1/manifests/appdirector.randoli.ca_clusterwideappdirectoragents.yaml
  operators/app-insights-operator/v1.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3320 operator kubeturbo-certified (8.11.10-beta.1)
  operators/kubeturbo-certified/8.11.10-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.10-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.10-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3321 operator prometurbo-certified (8.11.10-beta.1)
  operators/prometurbo-certified/8.11.10-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.10-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.10-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3326 operator zabbix-operator-certified (6.0.25)
  operators/zabbix-operator-certified/6.0.25/manifests/kubernetes.zabbix.com_zabbixagent2s.yaml
  operators/zabbix-operator-certified/6.0.25/manifests/kubernetes.zabbix.com_zabbixagents.yaml
  operators/zabbix-operator-certified/6.0.25/manifests/kubernetes.zabbix.com_zabbixfulls.yaml
  operators/zabbix-operator-certified/6.0.25/manifests/kubernetes.zabbix.com_zabbixproxymysqls.yaml
  operators/zabbix-operator-certified/6.0.25/manifests/kubernetes.zabbix.com_zabbixproxysqlites.yaml
  operators/zabbix-operator-certified/6.0.25/manifests/kubernetes.zabbix.com_zabbixservers.yaml
  operators/zabbix-operator-certified/6.0.25/manifests/zabbix-operator-certified.clusterserviceversion.yaml
  operators/zabbix-operator-certified/6.0.25/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3328 operator ibm-metrics-operator (2.13.2)
  operators/ibm-metrics-operator/2.13.2/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.13.2/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.13.2/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.2/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.2/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.13.2/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.13.2/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.13.2/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.13.2/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.13.2/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.13.2/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.13.2/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.13.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3329 operator redhat-marketplace-operator (2.13.2)
  operators/redhat-marketplace-operator/2.13.2/manifests/deploy.razee.io_remoteresources.yaml
  operators/redhat-marketplace-operator/2.13.2/manifests/redhat-marketplace-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/redhat-marketplace-operator/2.13.2/manifests/redhat-marketplace-controller-manager-metrics-service_v1_service.yaml
  operators/redhat-marketplace-operator/2.13.2/manifests/redhat-marketplace-operator.clusterserviceversion.yaml
  operators/redhat-marketplace-operator/2.13.2/manifests/redhat-marketplace-servicemonitor-metrics-reader_v1_secret.yaml
  operators/redhat-marketplace-operator/2.13.2/manifests/redhat-marketplace-serving-certs-ca-bundle_v1_configmap.yaml
  operators/redhat-marketplace-operator/2.13.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3330 operator ibm-data-reporter-operator (2.13.2)
  operators/ibm-data-reporter-operator/2.13.2/manifests/ibm-data-reporter-operator-component-config-b2779g8ghb_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.13.2/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.13.2/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.13.2/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.13.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.13.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.13.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.13.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.13.2/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.13.2/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.13.2/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.13.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3337 operator couchbase-enterprise-certified (2.5.1-1)
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbase-v2.5.1.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbaseautoscalers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbasebackuprestores.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbasebackups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbasebuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbaseclusters.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbasecollectiongroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbasecollections.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbaseephemeralbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbasegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbasememcachedbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbasemigrationreplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbasereplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbaserolebindings.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbasescopegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbasescopes.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/manifests/couchbaseusers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.5.1-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3332 operator ibm-security-verify-access-operator (23.12.0)
  operators/ibm-security-verify-access-operator/23.12.0/manifests/ibm-security-verify-access-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-access-operator/23.12.0/manifests/ibm.com_ibmsecurityverifyaccesses.yaml
  operators/ibm-security-verify-access-operator/23.12.0/manifests/verify-access-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/23.12.0/manifests/verify-access-operator-controller-manager-snapshot-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/23.12.0/manifests/verify-access-operator-manager-config_v1_configmap.yaml
  operators/ibm-security-verify-access-operator/23.12.0/manifests/verify-access-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-access-operator/23.12.0/metadata/annotations.yaml
  operators/ibm-security-verify-access-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#3334 operator ccnfs-operator (5.23.40)
  operators/ccnfs-operator/5.23.40/manifests/ccnfs-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ccnfs-operator/5.23.40/manifests/ccnfs-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ccnfs-operator/5.23.40/manifests/ccnfs-operator-manager-config_v1_configmap.yaml
  operators/ccnfs-operator/5.23.40/manifests/ccnfs-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ccnfs-operator/5.23.40/manifests/ccnfs-operator-webhook-service_v1_service.yaml
  operators/ccnfs-operator/5.23.40/manifests/ccnfs-operator.clusterserviceversion.yaml
  operators/ccnfs-operator/5.23.40/manifests/commoncorenetworkfunction.zte.com.cn_commoncorenetworkfunctionbackups.yaml
  operators/ccnfs-operator/5.23.40/manifests/commoncorenetworkfunction.zte.com.cn_commoncorenetworkfunctionconfigs.yaml
  operators/ccnfs-operator/5.23.40/manifests/commoncorenetworkfunction.zte.com.cn_commoncorenetworkfunctionrestores.yaml
  operators/ccnfs-operator/5.23.40/manifests/commoncorenetworkfunction.zte.com.cn_commoncorenetworkfunctionrollbacktasks.yaml
  operators/ccnfs-operator/5.23.40/manifests/commoncorenetworkfunction.zte.com.cn_commoncorenetworkfunctions.yaml
  operators/ccnfs-operator/5.23.40/manifests/commoncorenetworkfunction.zte.com.cn_commoncorenetworkfunctionupgradetasks.yaml
  operators/ccnfs-operator/5.23.40/metadata/annotations.yaml
  operators/ccnfs-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#3348 operator kubeturbo-certified (8.11.10)
  operators/kubeturbo-certified/8.11.10/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.10/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3350 operator prometurbo-certified (8.11.10)
  operators/prometurbo-certified/8.11.10/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.10/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3356 operator uma-operator (2023.12.2)
  operators/uma-operator/2023.12.2/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2023.12.2/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2023.12.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3357 operator uma-admin-operator (2023.12.2)
  operators/uma-admin-operator/2023.12.2/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2023.12.2/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2023.12.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3355 operator t8c-certified (42.47.1)
  operators/t8c-certified/42.47.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.47.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.47.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3362 operator kove-operator (v2.0.0)
  operators/kove-operator/v2.0.0/manifests/containers.kove.com_kovememoryconfigs.yaml
  operators/kove-operator/v2.0.0/manifests/containers.kove.com_kovesystems.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-agent-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-agent_v1_serviceaccount.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-client-drivers-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-client-drivers-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-client-drivers_v1_serviceaccount.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-compatibility-detection-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-compatibility-detection-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-compatibility-detection_v1_serviceaccount.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-container-hook-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-container-hook-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-container-hook_v1_serviceaccount.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-l4-cache-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-l4-cache-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-kove-l4-cache_v1_serviceaccount.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-manager-config_v1_configmap.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator-webhook-service_v1_service.yaml
  operators/kove-operator/v2.0.0/manifests/kove-operator.clusterserviceversion.yaml
  operators/kove-operator/v2.0.0/metadata/annotations.yaml
  operators/kove-operator/v2.0.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3363 operator gitlab-operator-kubernetes (0.27.1)
  operators/gitlab-operator-kubernetes/0.27.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.27.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.27.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.27.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3364 operator tenant-operator (v0.11.0-alpha-1)
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.11.0-alpha-1/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.11.0-alpha-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3365 operator tawon-operator (2.32.0)
  operators/tawon-operator/2.32.0/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.32.0/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.32.0/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.32.0/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.32.0/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.32.0/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.32.0/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.32.0/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.32.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3366 operator vault-secrets-operator (0.4.3)
  operators/vault-secrets-operator/0.4.3/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.4.3/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.4.3/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.4.3/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.4.3/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.4.3/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.4.3/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.4.3/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.4.3/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.4.3/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.4.3/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.4.3/metadata/annotations.yaml
  operators/vault-secrets-operator/0.4.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3367 operator nexus-repository-ha-operator-certified (3.64.0-4)
  operators/nexus-repository-ha-operator-certified/3.64.0-4/manifests/nexus-repository-ha-operator-certified.clusterserviceversion.yaml
  operators/nexus-repository-ha-operator-certified/3.64.0-4/manifests/sonatype.com_nexusrepos_crd.yaml
  operators/nexus-repository-ha-operator-certified/3.64.0-4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3369 Revert "operator hspc-operator (1.12.4)"
  operators/hspc-operator/1.12.4/manifests/csi.hitachi.com_hspcs.yaml
  operators/hspc-operator/1.12.4/manifests/hspc-operator.clusterserviceversion.yaml
  operators/hspc-operator/1.12.4/metadata/annotations.yaml
  operators/hspc-operator/ci.yaml
Labels: operator-hosted-pipeline/failed

#3372 operator prometurbo-certified (8.11.20-beta.1)
  operators/prometurbo-certified/8.11.20-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.20-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.20-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3371 operator kubeturbo-certified (8.11.20-beta.1)
  operators/kubeturbo-certified/8.11.20-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.20-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.20-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3373 operator dell-csm-operator-certified (1.4.0)
  operators/dell-csm-operator-certified/1.4.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.0/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.4.0/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3368 operator sriov-fec (v2.8.0)
  operators/sriov-fec/ci.yaml
  operators/sriov-fec/v2.8.0/manifests/sriov-fec-controller-manager-metrics-service_v1_service.yaml
  operators/sriov-fec/v2.8.0/manifests/sriov-fec-manager-config_v1_configmap.yaml
  operators/sriov-fec/v2.8.0/manifests/sriov-fec-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sriov-fec/v2.8.0/manifests/sriov-fec-webhook-service_v1_service.yaml
  operators/sriov-fec/v2.8.0/manifests/sriov-fec.clusterserviceversion.yaml
  operators/sriov-fec/v2.8.0/manifests/sriovfec.intel.com_sriovfecclusterconfigs.yaml
  operators/sriov-fec/v2.8.0/manifests/sriovfec.intel.com_sriovfecnodeconfigs.yaml
  operators/sriov-fec/v2.8.0/manifests/sriovvrb.intel.com_sriovvrbclusterconfigs.yaml
  operators/sriov-fec/v2.8.0/manifests/sriovvrb.intel.com_sriovvrbnodeconfigs.yaml
  operators/sriov-fec/v2.8.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3376 operator elasticsearch-eck-operator-certified (2.11.0)
  operators/elasticsearch-eck-operator-certified/2.11.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.11.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.11.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.11.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.11.0/manifests/elasticsearch-eck-operator-certified.clusterserviceversion.yaml
  operators/elasticsearch-eck-operator-certified/2.11.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.11.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.11.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.11.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.11.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.11.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.11.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3377 operator f5-bigip-ctlr-operator (v1.16.0)
  operators/f5-bigip-ctlr-operator/v1.16.0/manifests/cis.f5.com_f5bigipctlrs.yaml
  operators/f5-bigip-ctlr-operator/v1.16.0/manifests/f5-bigip-ctlr-operator-controller-manager-metrics-service_v1_service.yaml
  operators/f5-bigip-ctlr-operator/v1.16.0/manifests/f5-bigip-ctlr-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/f5-bigip-ctlr-operator/v1.16.0/manifests/f5-bigip-ctlr-operator.clusterserviceversion.yaml
  operators/f5-bigip-ctlr-operator/v1.16.0/metadata/annotations.yaml
  operators/f5-bigip-ctlr-operator/v1.16.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3379 operator gitlab-runner-operator (1.21.0)
  operators/gitlab-runner-operator/1.21.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-sa_v1_serviceaccount.yaml
  operators/gitlab-runner-operator/1.21.0/manifests/gitlab-runner-webhook-service_v1_service.yaml
  operators/gitlab-runner-operator/1.21.0/metadata/annotations.yaml
  operators/gitlab-runner-operator/1.21.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3381 operator gitlab-operator-kubernetes (0.28.0)
  operators/gitlab-operator-kubernetes/0.28.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.28.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.28.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3382 operator stackgres-certified (1.7.0)
  operators/stackgres-certified/1.7.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.7.0/metadata/annotations.yaml
  operators/stackgres-certified/1.7.0/tests/scorecard/config.yaml
  operators/stackgres-certified/ci.yaml
Labels: operator-hosted-pipeline/started

#3386 operator vfunction-server-operator (v3.3.1265)
  operators/vfunction-server-operator/v3.3.1265/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v3.3.1265/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v3.3.1265/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v3.3.1265/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v3.3.1265/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v3.3.1265/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3388 operator vfunction-server-operator (v3.3.1267)
  operators/vfunction-server-operator/v3.3.1267/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v3.3.1267/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v3.3.1267/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v3.3.1267/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v3.3.1267/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v3.3.1267/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3383 operator portworx-certified (23.10.2)
  operators/portworx-certified/23.10.2/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/23.10.2/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/23.10.2/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/23.10.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3389 operator tawon-operator (2.32.1)
  operators/tawon-operator/2.32.1/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.32.1/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.32.1/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.32.1/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.32.1/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.32.1/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.32.1/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.32.1/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.32.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3390 operator instana-agent-operator (v2.0.18)
  operators/instana-agent-operator/v2.0.18/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/v2.0.18/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/v2.0.18/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/v2.0.18/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/v2.0.18/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/v2.0.18/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/v2.0.18/metadata/annotations.yaml
  operators/instana-agent-operator/v2.0.18/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3391 operator eginnovations-operator (0.0.7)
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.7/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.7/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.7/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3393 operator conjur-follower-operator (2.3.1)
  operators/conjur-follower-operator/2.3.1/manifests/conjur-follower-operator-conjurfollower-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.3.1/manifests/conjur-follower-operator-conjurfollower-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.3.1/manifests/conjur-follower-operator.clusterserviceversion.yaml
  operators/conjur-follower-operator/2.3.1/manifests/conjur.cyberark.com_conjurfollowers.yaml
  operators/conjur-follower-operator/2.3.1/metadata/annotations.yaml
  operators/conjur-follower-operator/2.3.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3395 operator prometurbo-certified (8.11.20)
  operators/prometurbo-certified/8.11.20/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.20/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3396 operator t8c-certified (42.48.0)
  operators/t8c-certified/42.48.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.48.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.48.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3394 operator kubeturbo-certified (8.11.20)
  operators/kubeturbo-certified/8.11.20/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.20/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3387 operator t8c-tsc-client-certified (1.2.4-candidate-20240123155312000)
  operators/t8c-tsc-client-certified/1.2.4-candidate-20240123155312000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.4-candidate-20240123155312000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.4-candidate-20240123155312000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.4-candidate-20240123155312000/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3400 operator fujitsu-enterprise-postgres-operator-with-cg-module (v5.1.0)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/ci.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3407 operator appdynamics-operator (24.1.0-705)
  operators/appdynamics-operator/24.1.0-705/bundle.Dockerfile
  operators/appdynamics-operator/24.1.0-705/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/24.1.0-705/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/24.1.0-705/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/24.1.0-705/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/24.1.0-705/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/24.1.0-705/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/24.1.0-705/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/24.1.0-705/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/24.1.0-705/metadata/annotations.yaml
  operators/appdynamics-operator/24.1.0-705/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3409 operator gitlab-operator-kubernetes (0.28.1)
  operators/gitlab-operator-kubernetes/0.28.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.28.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.28.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.28.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3414 operator t8c-tsc-client-certified (1.2.4-candidate-20240125143247000)
  operators/t8c-tsc-client-certified/1.2.4-candidate-20240125143247000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.4-candidate-20240125143247000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.4-candidate-20240125143247000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.4-candidate-20240125143247000/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3404 operator kove-operator (v2.0.1)
  operators/kove-operator/v2.0.1/manifests/containers.kove.com_kovememoryconfigs.yaml
  operators/kove-operator/v2.0.1/manifests/containers.kove.com_kovesystems.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-agent-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-agent_v1_serviceaccount.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-client-drivers-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-client-drivers-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-client-drivers_v1_serviceaccount.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-compatibility-detection-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-compatibility-detection-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-compatibility-detection_v1_serviceaccount.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-container-hook-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-container-hook-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-container-hook_v1_serviceaccount.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-l4-cache-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-l4-cache-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-kove-l4-cache_v1_serviceaccount.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-manager-config_v1_configmap.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator-webhook-service_v1_service.yaml
  operators/kove-operator/v2.0.1/manifests/kove-operator.clusterserviceversion.yaml
  operators/kove-operator/v2.0.1/metadata/annotations.yaml
  operators/kove-operator/v2.0.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3417 operator prometurbo-certified (8.11.30-beta.1)
  operators/prometurbo-certified/8.11.30-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.30-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.30-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3418 operator kubeturbo-certified (8.11.30-beta.1)
  operators/kubeturbo-certified/8.11.30-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.30-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.30-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3419 operator joget-dx8-operator (0.0.11)
  operators/joget-dx8-operator/0.0.11/manifests/joget-dx8-operator.clusterserviceversion.yaml
  operators/joget-dx8-operator/0.0.11/manifests/jogetdx8.app.joget.com.crd.yaml
  operators/joget-dx8-operator/0.0.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3421 operator cilium (1.12.18)
  operators/cilium/1.12.18/manifests/cilium.clusterserviceversion.yaml
  operators/cilium/1.12.18/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium/1.12.18/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3422 operator cilium (1.13.11)
  operators/cilium/1.13.11/manifests/cilium.clusterserviceversion.yaml
  operators/cilium/1.13.11/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium/1.13.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3423 operator cilium (1.14.6)
  operators/cilium/1.14.6/manifests/cilium.clusterserviceversion.yaml
  operators/cilium/1.14.6/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium/1.14.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3424 operator operator-certification-operator (1.1.4)
  operators/operator-certification-operator/1.1.4/manifests/certification-operator-controller-manager-metrics-service_v1_service.yaml
  operators/operator-certification-operator/1.1.4/manifests/certification-operator-manager-config_v1_configmap.yaml
  operators/operator-certification-operator/1.1.4/manifests/certification-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-certification-operator/1.1.4/manifests/certification.redhat.com_operatorpipelines.yaml
  operators/operator-certification-operator/1.1.4/manifests/operator-certification-operator.clusterserviceversion.yaml
  operators/operator-certification-operator/1.1.4/metadata/annotations.yaml
  operators/operator-certification-operator/1.1.4/metadata/dependencies.yaml
  operators/operator-certification-operator/1.1.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
