Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2024-12, with the labels that each got.

#4836 operator netscaler-operator (3.1.2)
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator-netscalercloudcontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator-netscalercloudcontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator-netscalercpxwithingresscontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator-netscalercpxwithingresscontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator-netscalergslbcontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator-netscalergslbcontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator-netscaleringresscontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator-netscaleringresscontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator-netscalerobservabilityexporter-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator-netscalerobservabilityexporter-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler.com_netscalercloudcontrollers.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler.com_netscalercpxwithingresscontrollers.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler.com_netscalergslbcontrollers.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler.com_netscaleringresscontrollers.yaml
  operators/netscaler-operator/3.1.2/manifests/netscaler.com_netscalerobservabilityexporters.yaml
  operators/netscaler-operator/3.1.2/metadata/annotations.yaml
  operators/netscaler-operator/3.1.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4837 operator confluent-for-kubernetes (2.8.5)
  operators/confluent-for-kubernetes/2.8.5/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.8.5/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.8.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4838 operator confluent-for-kubernetes (2.9.4)
  operators/confluent-for-kubernetes/2.9.4/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.9.4/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.9.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4840 operator cloudera-streams-messaging-kubernetes-operator (1.2.0-b54)
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/030-ClusterRole-strimzi-kafka-broker.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/031-ClusterRole-strimzi-entity-operator.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/033-ClusterRole-strimzi-kafka-client.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/040-Crd-kafka.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/041-Crd-kafkaconnect.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/042-Crd-strimzipodset.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/043-Crd-kafkatopic.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/044-Crd-kafkauser.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/045-Crd-kafkamirrormaker.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/046-Crd-kafkabridge.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/047-Crd-kafkaconnector.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/048-Crd-kafkamirrormaker2.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/049-Crd-kafkarebalance.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/04A-Crd-kafkanodepool.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/050-ConfigMap-strimzi-cluster-operator.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/cloudera-streams-messaging-kubernetes-operator.clusterserviceversion.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/metadata/annotations.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4841 operator tawon-operator (2.39.20)
  operators/tawon-operator/2.39.20/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.20/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.20/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.20/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.20/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.20/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.20/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.20/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.20/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.20/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4842 operator portworx-certified (24.2.0)
  operators/portworx-certified/24.2.0/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/24.2.0/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/24.2.0/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/24.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4843 operator cilium-enterprise (1.14.17)
  operators/cilium-enterprise/1.14.17/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.17/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.17/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.17/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4848 operator infinibox-operator-certified (v2.17.1)
  operators/infinibox-operator-certified/v2.17.1/manifests/csidriver.infinidat.com_iboxreplicas.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.17.1/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.17.1/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.17.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4851 operator confluent-for-kubernetes (2.10.0)
  operators/confluent-for-kubernetes/2.10.0/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_cmfrestclasses.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_flinkapplications.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_flinkenvironments.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.10.0/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.10.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4854 operator sysdig-shield-operator (v0.1.5)
  operators/sysdig-shield-operator/v0.1.5/manifests/rh-shield-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sysdig-shield-operator/v0.1.5/manifests/rh-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.5/manifests/rh-shield-operator-shield-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.5/manifests/rh-shield-operator-shield-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.5/manifests/rh-shield-operator.clusterserviceversion.yaml
  operators/sysdig-shield-operator/v0.1.5/manifests/shield.sysdig.com_shields.yaml
  operators/sysdig-shield-operator/v0.1.5/metadata/annotations.yaml
  operators/sysdig-shield-operator/v0.1.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4855 operator kubeturbo-certified (8.14.40-beta.1)
  operators/kubeturbo-certified/8.14.40-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.40-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.40-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4856 operator ibm-metrics-operator (2.17.7)
  operators/ibm-metrics-operator/2.17.7/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.17.7/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.17.7/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.7/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.7/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.7/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.17.7/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.17.7/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.17.7/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.17.7/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.17.7/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.17.7/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.17.7/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.17.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4857 operator ibm-data-reporter-operator (2.17.7)
  operators/ibm-data-reporter-operator/2.17.7/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.7/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.17.7/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.17.7/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.7/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.17.7/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.7/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.17.7/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.17.7/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.7/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.17.7/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.17.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4858 operator stackgres-certified (1.15.0-rc1)
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.15.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.15.0-rc1/metadata/annotations.yaml
  operators/stackgres-certified/1.15.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4853 Remove operator cloudera-streams-messaging-kubernetes-operator (1.2.0-b54)
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/030-ClusterRole-strimzi-kafka-broker.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/031-ClusterRole-strimzi-entity-operator.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/033-ClusterRole-strimzi-kafka-client.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/040-Crd-kafka.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/041-Crd-kafkaconnect.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/042-Crd-strimzipodset.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/043-Crd-kafkatopic.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/044-Crd-kafkauser.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/045-Crd-kafkamirrormaker.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/046-Crd-kafkabridge.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/047-Crd-kafkaconnector.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/048-Crd-kafkamirrormaker2.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/049-Crd-kafkarebalance.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/04A-Crd-kafkanodepool.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/050-ConfigMap-strimzi-cluster-operator.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/cloudera-streams-messaging-kubernetes-operator.clusterserviceversion.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/metadata/annotations.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/ci.yaml
Labels: operator-hosted-pipeline/failed

#4861 operator gpu-operator-certified (v24.9.1)
  operators/gpu-operator-certified/v24.9.1/manifests/gpu-operator-certified.clusterserviceversion.yaml
  operators/gpu-operator-certified/v24.9.1/manifests/nvidia.com_clusterpolicies.yaml
  operators/gpu-operator-certified/v24.9.1/manifests/nvidia.com_nvidiadrivers.yaml
  operators/gpu-operator-certified/v24.9.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4862 operator cloudera-streams-messaging-kubernetes-operator (1.2.0-b54)
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/030-ClusterRole-strimzi-kafka-broker.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/031-ClusterRole-strimzi-entity-operator.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/033-ClusterRole-strimzi-kafka-client.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/040-Crd-kafka.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/041-Crd-kafkaconnect.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/042-Crd-strimzipodset.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/043-Crd-kafkatopic.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/044-Crd-kafkauser.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/045-Crd-kafkamirrormaker.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/046-Crd-kafkabridge.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/047-Crd-kafkaconnector.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/048-Crd-kafkamirrormaker2.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/049-Crd-kafkarebalance.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/04A-Crd-kafkanodepool.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/050-ConfigMap-strimzi-cluster-operator.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/manifests/cloudera-streams-messaging-kubernetes-operator.clusterserviceversion.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.2.0-b54/metadata/annotations.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4865 operator cfm-operator (2.9.0-b96)
  operators/cfm-operator/2.9.0-b96/manifests/cfm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cfm-operator/2.9.0-b96/manifests/cfm-operator-manager-config_v1_configmap.yaml
  operators/cfm-operator/2.9.0-b96/manifests/cfm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cfm-operator/2.9.0-b96/manifests/cfm-operator-nifi-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cfm-operator/2.9.0-b96/manifests/cfm-operator-nifi-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cfm-operator/2.9.0-b96/manifests/cfm-operator-webhook-service_v1_service.yaml
  operators/cfm-operator/2.9.0-b96/manifests/cfm-operator.clusterserviceversion.yaml
  operators/cfm-operator/2.9.0-b96/manifests/cfm.cloudera.com_nifiregistries.yaml
  operators/cfm-operator/2.9.0-b96/manifests/cfm.cloudera.com_nifis.yaml
  operators/cfm-operator/2.9.0-b96/metadata/annotations.yaml
  operators/cfm-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4866 operator t8c-certified (42.69.0-beta.1)
  operators/t8c-certified/42.69.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.69.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.69.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4869 operator vcp-operator (v1.4.0)
  operators/vcp-operator/v1.4.0/manifests/installer.venafi.com_venafiinstalls.yaml
  operators/vcp-operator/v1.4.0/manifests/vcp-operator-metrics_v1_service.yaml
  operators/vcp-operator/v1.4.0/manifests/vcp-operator.clusterserviceversion.yaml
  operators/vcp-operator/v1.4.0/metadata/annotations.yaml
  operators/vcp-operator/v1.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4870 operator cte-k8s-operator (v1.5.2)
  operators/cte-k8s-operator/v1.5.2/manifests/cte-k8s-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cte-k8s-operator/v1.5.2/manifests/cte-k8s-operator-cte-csi-controller_v1_serviceaccount.yaml
  operators/cte-k8s-operator/v1.5.2/manifests/cte-k8s-operator-cte-csi-node_v1_serviceaccount.yaml
  operators/cte-k8s-operator/v1.5.2/manifests/cte-k8s-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cte-k8s-operator/v1.5.2/manifests/cte-k8s-operator-webhook-service_v1_service.yaml
  operators/cte-k8s-operator/v1.5.2/manifests/cte-k8s-operator.clusterserviceversion.yaml
  operators/cte-k8s-operator/v1.5.2/manifests/cte-k8s-operator.csi.cte.cpl.thalesgroup.com_ctek8soperators.yaml
  operators/cte-k8s-operator/v1.5.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4871 operator tawon-operator (3.0.0-rc3)
  operators/tawon-operator/3.0.0-rc3/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/3.0.0-rc3/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/3.0.0-rc3/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/3.0.0-rc3/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/3.0.0-rc3/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/3.0.0-rc3/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/3.0.0-rc3/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/3.0.0-rc3/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/3.0.0-rc3/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/3.0.0-rc3/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/3.0.0-rc3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4873 operator digitalai-deploy-operator (v24.1.12)
  operators/digitalai-deploy-operator/v24.1.12/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.1.12/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.1.12/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.12/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.12/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.12/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.1.12/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.1.12/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v24.1.12/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4877 operator digitalai-deploy-operator (v24.3.2)
  operators/digitalai-deploy-operator/v24.3.2/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.3.2/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.3.2/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.2/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.2/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.2/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.3.2/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.3.2/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v24.3.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4878 operator sysdig-shield-operator (v0.1.6)
  operators/sysdig-shield-operator/v0.1.6/manifests/rh-shield-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sysdig-shield-operator/v0.1.6/manifests/rh-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.6/manifests/rh-shield-operator-shield-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.6/manifests/rh-shield-operator-shield-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.1.6/manifests/rh-shield-operator.clusterserviceversion.yaml
  operators/sysdig-shield-operator/v0.1.6/manifests/shield.sysdig.com_shields.yaml
  operators/sysdig-shield-operator/v0.1.6/metadata/annotations.yaml
  operators/sysdig-shield-operator/v0.1.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4879 operator tawon-operator (2.39.21-rc4)
  operators/tawon-operator/2.39.21-rc4/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.21-rc4/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.21-rc4/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.21-rc4/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.21-rc4/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.21-rc4/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.21-rc4/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.21-rc4/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.21-rc4/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.21-rc4/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.21-rc4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4880 operator kubecost-operator (v2.4.24)
  operators/kubecost-operator/v2.4.24/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.4.24/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.4.24/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.24/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.24/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.4.24/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.4.24/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4881 operator stackgres-certified (1.15.0-rc2)
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.15.0-rc2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.15.0-rc2/metadata/annotations.yaml
  operators/stackgres-certified/1.15.0-rc2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4882 operator vault-secrets-operator (0.9.1)
  operators/vault-secrets-operator/0.9.1/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.9.1/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.9.1/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/0.9.1/manifests/secrets.hashicorp.com_vaultauthglobals.yaml
  operators/vault-secrets-operator/0.9.1/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.9.1/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.9.1/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.9.1/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.9.1/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.9.1/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.9.1/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.9.1/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.9.1/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.9.1/metadata/annotations.yaml
  operators/vault-secrets-operator/0.9.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4852 operator amd-gpu-operator (v1.1.0)
  operators/amd-gpu-operator/ci.yaml
  operators/amd-gpu-operator/v1.1.0/manifests/amd-gpu-operator-manager-config_v1_configmap.yaml
  operators/amd-gpu-operator/v1.1.0/manifests/amd-gpu-operator.clusterserviceversion.yaml
  operators/amd-gpu-operator/v1.1.0/manifests/amd.com_deviceconfigs.yaml
  operators/amd-gpu-operator/v1.1.0/metadata/annotations.yaml
  operators/amd-gpu-operator/v1.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4884 operator t8c-certified (42.69.0)
  operators/t8c-certified/42.69.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.69.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.69.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4886 operator kubeturbo-certified (8.14.40)
  operators/kubeturbo-certified/8.14.40/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.40/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.40/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4888 operator digitalai-release-operator (v24.3.2)
  operators/digitalai-release-operator/v24.3.2/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.3.2/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.3.2/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.2/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.2/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.2/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.3.2/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.3.2/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v24.3.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4889 operator zabbix-operator-certified (6.0.36)
  operators/zabbix-operator-certified/6.0.36/manifests/kubernetes.zabbix.com_zabbixagent2s.yaml
  operators/zabbix-operator-certified/6.0.36/manifests/kubernetes.zabbix.com_zabbixagents.yaml
  operators/zabbix-operator-certified/6.0.36/manifests/kubernetes.zabbix.com_zabbixfulls.yaml
  operators/zabbix-operator-certified/6.0.36/manifests/kubernetes.zabbix.com_zabbixproxymysqls.yaml
  operators/zabbix-operator-certified/6.0.36/manifests/kubernetes.zabbix.com_zabbixproxysqlites.yaml
  operators/zabbix-operator-certified/6.0.36/manifests/kubernetes.zabbix.com_zabbixservers.yaml
  operators/zabbix-operator-certified/6.0.36/manifests/zabbix-operator-certified.clusterserviceversion.yaml
  operators/zabbix-operator-certified/6.0.36/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4885 operator prometurbo-certified (8.14.40)
  operators/prometurbo-certified/8.14.40/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.14.40/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.14.40/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4890 operator t8c-tsc-client-certified (1.2.9-candidate-20241212142228000)
  operators/t8c-tsc-client-certified/1.2.9-candidate-20241212142228000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.9-candidate-20241212142228000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.9-candidate-20241212142228000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.9-candidate-20241212142228000/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4894 operator amd-gpu-operator (v1.1.1)
  operators/amd-gpu-operator/v1.1.1/manifests/amd-gpu-operator-manager-config_v1_configmap.yaml
  operators/amd-gpu-operator/v1.1.1/manifests/amd-gpu-operator.clusterserviceversion.yaml
  operators/amd-gpu-operator/v1.1.1/manifests/amd.com_deviceconfigs.yaml
  operators/amd-gpu-operator/v1.1.1/metadata/annotations.yaml
  operators/amd-gpu-operator/v1.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4887 operator gitlab-operator-kubernetes (1.7.2)
  operators/gitlab-operator-kubernetes/1.7.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.7.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.7.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.7.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4893 operator dynatrace-operator (1.4.0)
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-controller_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-logmonitoring_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-logmonitoring_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-node-config-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.4.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.4.0/manifests/install-config_v1_configmap.yaml
  operators/dynatrace-operator/1.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4898 operator app-insights-operator (1.11.1)
  operators/app-insights-operator/1.11.1/manifests/app-insights-operator-appinsightsagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.11.1/manifests/app-insights-operator-appinsightsagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.11.1/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.11.1/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.11.1/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.11.1/manifests/appinsights.randoli_appinsightsagents.yaml
  operators/app-insights-operator/1.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4901 operator t8c-tsc-client-certified (1.2.9)
  operators/t8c-tsc-client-certified/1.2.9/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.9/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.9/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4904 operator ibm-block-csi-operator (1.12.0)
  operators/ibm-block-csi-operator/1.12.0/bundle-1.12.0.Dockerfile
  operators/ibm-block-csi-operator/1.12.0/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator/1.12.0/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator/1.12.0/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator/1.12.0/manifests/ibm-block-csi-operator.clusterserviceversion.yaml
  operators/ibm-block-csi-operator/1.12.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4907 operator runtime-component-operator-certified (1.4.1)
  operators/runtime-component-operator-certified/1.4.1/manifests/rc.app.stacks_runtimecomponents.yaml
  operators/runtime-component-operator-certified/1.4.1/manifests/rc.app.stacks_runtimeoperations.yaml
  operators/runtime-component-operator-certified/1.4.1/manifests/runtime-component-operator-certified.clusterserviceversion.yaml
  operators/runtime-component-operator-certified/1.4.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4897 operator fujitsu-enterprise-postgres-operator-with-cg-module (v7.1.1)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4900 operator fujitsu-enterprise-operator (v3.1.30)
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/manifests/fujitsu-enterprise-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-operator/v3.1.30/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-operator/v3.1.30/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4914 operator tawon-operator (2.39.21-rc6)
  operators/tawon-operator/2.39.21-rc6/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.21-rc6/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.21-rc6/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.21-rc6/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.21-rc6/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.21-rc6/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.21-rc6/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.21-rc6/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.21-rc6/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.21-rc6/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.21-rc6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4909 [ISV-5446] Configure allowed catalog bundle registries
  config.yaml
Labels: operator-release-pipeline/started

#4915 operator elasticsearch-eck-operator-certified (2.16.0)
  operators/elasticsearch-eck-operator-certified/2.16.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.0/manifests/elasticsearch-eck-operator-certified.clusterserviceversion.yaml
  operators/elasticsearch-eck-operator-certified/2.16.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4916 operator tawon-operator (2.39.21)
  operators/tawon-operator/2.39.21/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.21/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.21/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.21/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.21/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.21/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.21/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.21/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.21/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.21/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.21/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4917 operator t8c-certified (42.70.0-beta.1)
  operators/t8c-certified/42.70.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.70.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.70.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4918 operator habana-ai-operator (1.19.0-561)
  operators/habana-ai-operator/1.19.0-561/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.19.0-561/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.0-561/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.19.0-561/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.19.0-561/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.19.0-561/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.19.0-561/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.19.0-561/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.0-561/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4920 operator mongodb-atlas-kubernetes (2.6.0)
  operators/mongodb-atlas-kubernetes/2.6.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4921 operator crunchy-postgres-operator (5.7.2)
  operators/crunchy-postgres-operator/5.7.2/Dockerfile
  operators/crunchy-postgres-operator/5.7.2/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.7.2/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.2/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.7.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4922 operator eginnovations-operator (0.0.9)
  operators/eginnovations-operator/0.0.9/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.9/manifests/eginnovations-operator-eguniversalagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.9/manifests/eginnovations-operator-eguniversalagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.9/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.9/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.9/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.9/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.9/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.9/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4905 operator splunk-operator (2.7.0)
  operators/splunk-operator/2.7.0/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk-operator/2.7.0/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk-operator/2.7.0/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk-operator/2.7.0/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk-operator/2.7.0/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk-operator/2.7.0/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk-operator/2.7.0/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk-operator/2.7.0/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk-operator/2.7.0/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk-operator/2.7.0/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk-operator/2.7.0/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk-operator/2.7.0/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk-operator/2.7.0/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk-operator/2.7.0/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk-operator/2.7.0/metadata/annotations.yaml
  operators/splunk-operator/2.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4925 operator gitlab-operator-kubernetes (1.8.0)
  operators/gitlab-operator-kubernetes/1.8.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.8.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4927 operator kubeturbo-certified (8.14.50-beta.1)
  operators/kubeturbo-certified/8.14.50-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.50-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.50-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4930 operator gitlab-runner-operator (1.32.0)
  operators/gitlab-runner-operator/1.32.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.32.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.32.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4932 operator prometurbo-certified (8.14.50)
  operators/prometurbo-certified/8.14.50/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.14.50/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.14.50/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4933 operator kubeturbo-certified (8.14.50)
  operators/kubeturbo-certified/8.14.50/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.50/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.50/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4931 operator t8c-certified (42.70.0)
  operators/t8c-certified/42.70.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.70.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.70.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4934 operator percona-xtradb-cluster-operator-certified (1.16.0-cw)
  operators/percona-xtradb-cluster-operator-certified/1.16.0-cw/manifests/percona-xtradb-cluster-operator.v1.16.0-cw.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator-certified/1.16.0-cw/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.16.0-cw/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.16.0-cw/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.16.0-cw/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4912 operator leaksignal-operator (1.9.1)
  operators/leaksignal-operator/1.9.1/manifests/leaksignal-cluster.crd.yaml
  operators/leaksignal-operator/1.9.1/manifests/leaksignal-network-tap.crd.yaml
  operators/leaksignal-operator/1.9.1/manifests/leaksignal.clusterserviceversion.yaml
  operators/leaksignal-operator/1.9.1/manifests/leaksignal.crd.yaml
  operators/leaksignal-operator/1.9.1/manifests/priority-class.yaml
  operators/leaksignal-operator/1.9.1/manifests/service.yaml
  operators/leaksignal-operator/1.9.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4936 operator kubearmor-operator-certified (1.4.9)
  operators/kubearmor-operator-certified/1.4.9/manifests/kubearmor-operator-certified.clusterserviceversion.yaml
  operators/kubearmor-operator-certified/1.4.9/manifests/operator.kubearmor.com_kubearmorconfigs.yaml
  operators/kubearmor-operator-certified/1.4.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4924 operator mongodb-enterprise (1.30.0)
  operators/mongodb-enterprise/1.30.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.30.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.30.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.30.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4942 operator cloud-native-postgresql (1.22.8)
  operators/cloud-native-postgresql/1.22.8/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.22.8/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.22.8/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.22.8/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.22.8/manifests/postgresql.k8s.enterprisedb.io_clusterimagecatalogs.yaml
  operators/cloud-native-postgresql/1.22.8/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.22.8/manifests/postgresql.k8s.enterprisedb.io_databases.yaml
  operators/cloud-native-postgresql/1.22.8/manifests/postgresql.k8s.enterprisedb.io_imagecatalogs.yaml
  operators/cloud-native-postgresql/1.22.8/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.22.8/manifests/postgresql.k8s.enterprisedb.io_publications.yaml
  operators/cloud-native-postgresql/1.22.8/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.22.8/manifests/postgresql.k8s.enterprisedb.io_subscriptions.yaml
  operators/cloud-native-postgresql/1.22.8/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.22.8/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4943 operator redis-enterprise-operator-cert (7.4.6-6.1)
  operators/redis-enterprise-operator-cert/7.4.6-6.1/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-6.1/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-6.1/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-6.1/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.4.6-6.1/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-6.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4945 operator appian-operator (v0.168.0)
  operators/appian-operator/ci.yaml
  operators/appian-operator/v0.168.0/manifests/appian-operator-controllers-metrics_v1_service.yaml
  operators/appian-operator/v0.168.0/manifests/appian-operator-support-bundle_v1_configmap.yaml
  operators/appian-operator/v0.168.0/manifests/appian-operator-webhooks-metrics_v1_service.yaml
  operators/appian-operator/v0.168.0/manifests/appian-operator-webhooks_v1_service.yaml
  operators/appian-operator/v0.168.0/manifests/appian-operator.clusterserviceversion.yaml
  operators/appian-operator/v0.168.0/manifests/crd.k8s.appian.com_appians.yaml
  operators/appian-operator/v0.168.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4946 operator percona-xtradb-cluster-operator-certified (1.16.1)
  operators/percona-xtradb-cluster-operator-certified/1.16.1/manifests/percona-xtradb-cluster-operator.v1.16.1.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator-certified/1.16.1/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.16.1/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.16.1/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.16.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4947 operator nxiq-operator-certified (1.185.0-1)
  operators/nxiq-operator-certified/1.185.0-1/manifests/nxiq-operator-certified.clusterserviceversion.yaml
  operators/nxiq-operator-certified/1.185.0-1/manifests/sonatype.com_nexusiqs_crd.yaml
  operators/nxiq-operator-certified/1.185.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4952 operator redis-enterprise-operator-cert (7.8.2-6.8)
  operators/redis-enterprise-operator-cert/7.8.2-6.8/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.2-6.8/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.2-6.8/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.2-6.8/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.8.2-6.8/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.2-6.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4955 operator gitlab-operator-kubernetes (1.8.1)
  operators/gitlab-operator-kubernetes/1.8.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.8.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.8.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started
