Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2024-03, with the labels that each got.

#3544 operator hspc-operator (1.13.0)
  operators/hspc-operator/1.13.0/manifests/csi.hitachi.com_hspcs.yaml
  operators/hspc-operator/1.13.0/manifests/hspc-operator.clusterserviceversion.yaml
  operators/hspc-operator/1.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3545 operator tenant-operator (v0.10.7)
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.7/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.10.7/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.10.7/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.10.7/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.10.7/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.10.7/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.10.7/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.10.7/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.10.7/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.10.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3547 Add tigera-operator 1.32.2
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_bgpconfigurations.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_bgppeers.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_blockaffinities.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_caliconodestatuses.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_clusterinformations.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_felixconfigurations.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_globalnetworkpolicies.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_globalnetworksets.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_hostendpoints.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_ipamblocks.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_ipamconfigs.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_ipamhandles.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_ippools.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_ipreservations.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_kubecontrollersconfigurations.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_networkpolicies.yaml
  operators/tigera-operator/1.32.3/manifests/crd.projectcalico.org_networksets.yaml
  operators/tigera-operator/1.32.3/manifests/operator.tigera.io_imagesets.yaml
  operators/tigera-operator/1.32.3/manifests/operator.tigera.io_installations.yaml
  operators/tigera-operator/1.32.3/manifests/operator.tigera.io_tigerastatuses.yaml
  operators/tigera-operator/1.32.3/manifests/tigera-operator.clusterserviceversion.yaml
  operators/tigera-operator/1.32.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3549 operator hpe-csi-operator (2.4.1)
  operators/hpe-csi-operator/2.4.1/manifests/hpe-csi-operator.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.4.1/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  operators/hpe-csi-operator/2.4.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3554 operator ibm-metrics-operator (2.13.5)
  operators/ibm-metrics-operator/2.13.5/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.13.5/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.13.5/manifests/ibm-metrics-operator-manager-cluster-monitoring-view-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.5/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.5/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.13.5/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.13.5/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.13.5/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.13.5/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.13.5/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.13.5/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.13.5/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.13.5/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.13.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3555 operator redhat-marketplace-operator (2.13.5)
  operators/redhat-marketplace-operator/2.13.5/manifests/deploy.razee.io_remoteresources.yaml
  operators/redhat-marketplace-operator/2.13.5/manifests/redhat-marketplace-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/redhat-marketplace-operator/2.13.5/manifests/redhat-marketplace-controller-manager-metrics-service_v1_service.yaml
  operators/redhat-marketplace-operator/2.13.5/manifests/redhat-marketplace-operator.clusterserviceversion.yaml
  operators/redhat-marketplace-operator/2.13.5/manifests/redhat-marketplace-servicemonitor-metrics-reader_v1_secret.yaml
  operators/redhat-marketplace-operator/2.13.5/manifests/redhat-marketplace-serving-certs-ca-bundle_v1_configmap.yaml
  operators/redhat-marketplace-operator/2.13.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3556 operator ibm-data-reporter-operator (2.13.5)
  operators/ibm-data-reporter-operator/2.13.5/manifests/ibm-data-reporter-operator-component-config-b2779g8ghb_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.13.5/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.13.5/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.13.5/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.13.5/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.13.5/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.13.5/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.13.5/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.13.5/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.13.5/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.13.5/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.13.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3557 operator tenant-operator (v0.10.8)
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.8/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.10.8/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.10.8/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.10.8/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.10.8/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.10.8/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.10.8/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.10.8/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.10.8/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.10.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3361 operator pan-cn-series-operator (2.0.0)
  operators/pan-cn-series-operator/2.0.0/manifests/charts.paloaltonetworks.com_cnseries.yaml
  operators/pan-cn-series-operator/2.0.0/manifests/crd-admin-cluster-role-binding-panslot.yaml
  operators/pan-cn-series-operator/2.0.0/manifests/crd-admin-cluster-role-binding-portinfo.yaml
  operators/pan-cn-series-operator/2.0.0/manifests/crd-admin-cluster-role-panslot.yaml
  operators/pan-cn-series-operator/2.0.0/manifests/crd-admin-cluster-role-portinfo.yaml
  operators/pan-cn-series-operator/2.0.0/manifests/pan-cn-mgmt-slot-crd.yaml
  operators/pan-cn-series-operator/2.0.0/manifests/pan-cn-ngfw-port-crd.yaml
  operators/pan-cn-series-operator/2.0.0/manifests/pan-cn-series-operator-controller-manager-metrics-service_v1_service.yaml
  operators/pan-cn-series-operator/2.0.0/manifests/pan-cn-series-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/pan-cn-series-operator/2.0.0/manifests/pan-cn-series-operator.clusterserviceversion.yaml
  operators/pan-cn-series-operator/2.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3558 operator datadog-operator-certified (1.4.2)
  operators/datadog-operator-certified/1.4.2/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator-certified/1.4.2/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator-certified/1.4.2/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator-certified/1.4.2/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator-certified/1.4.2/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator-certified/1.4.2/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator-certified/1.4.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3560 operator redis-enterprise-operator-cert (7.2.4-12.6)
  operators/redis-enterprise-operator-cert/7.2.4-12.6/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.6/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.6/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.6/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.6/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3561 operator minio-operator (5.0.13)
  operators/minio-operator/5.0.13/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/5.0.13/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/5.0.13/manifests/console_v1_service.yaml
  operators/minio-operator/5.0.13/manifests/job.min.io_miniojobs.yaml
  operators/minio-operator/5.0.13/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/5.0.13/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/5.0.13/manifests/operator_v1_service.yaml
  operators/minio-operator/5.0.13/manifests/sts.min.io_policybindings.yaml
  operators/minio-operator/5.0.13/manifests/sts_v1_service.yaml
  operators/minio-operator/5.0.13/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3562 operator runtime-fabric-operator (v2.6.2)
  operators/runtime-fabric-operator/v2.6.2/manifests/rtf.operators.mulesoft.com_runtimefabrics.yaml
  operators/runtime-fabric-operator/v2.6.2/manifests/runtime-fabric-operator-controller-manager-metrics-service_v1_service.yaml
  operators/runtime-fabric-operator/v2.6.2/manifests/runtime-fabric-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.6.2/manifests/runtime-fabric-operator.clusterserviceversion.yaml
  operators/runtime-fabric-operator/v2.6.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3566 Delete operators/hpe-csi-operator/2.4.1 directory
  operators/hpe-csi-operator/2.4.1/manifests/hpe-csi-operator.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.4.1/manifests/hpecsidrivers.storage.hpe.com.crd.yaml
  operators/hpe-csi-operator/2.4.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3568 operator crunchy-postgres-operator (5.5.1)
  operators/crunchy-postgres-operator/5.5.1/Dockerfile
  operators/crunchy-postgres-operator/5.5.1/licenses/TERMS
  operators/crunchy-postgres-operator/5.5.1/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.5.1/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.5.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.5.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.5.1/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.5.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3570 operator gitlab-operator-kubernetes (0.29.2)
  operators/gitlab-operator-kubernetes/0.29.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.29.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.29.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.29.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3572 operator prometurbo-certified (8.11.50-beta.2)
  operators/prometurbo-certified/8.11.50-beta.2/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.50-beta.2/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.50-beta.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3569 operator gpu-operator-certified (v23.9.2)
  operators/gpu-operator-certified/v23.9.2/manifests/gpu-operator-certified.clusterserviceversion.yaml
  operators/gpu-operator-certified/v23.9.2/manifests/nvidia.com_clusterpolicies.yaml
  operators/gpu-operator-certified/v23.9.2/manifests/nvidia.com_nvidiadrivers.yaml
  operators/gpu-operator-certified/v23.9.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3573 operator kubeturbo-certified (8.11.50)
  operators/kubeturbo-certified/8.11.50/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.50/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.50/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3574 operator prometurbo-certified (8.11.50)
  operators/prometurbo-certified/8.11.50/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.50/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.50/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3575 operator joget-dx8-operator (0.0.12)
  operators/joget-dx8-operator/0.0.12/manifests/joget-dx8-operator.clusterserviceversion.yaml
  operators/joget-dx8-operator/0.0.12/manifests/jogetdx8.app.joget.com.crd.yaml
  operators/joget-dx8-operator/0.0.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3577 operator zabbix-operator-certified (6.0.27)
  operators/zabbix-operator-certified/6.0.27/manifests/kubernetes.zabbix.com_zabbixagent2s.yaml
  operators/zabbix-operator-certified/6.0.27/manifests/kubernetes.zabbix.com_zabbixagents.yaml
  operators/zabbix-operator-certified/6.0.27/manifests/kubernetes.zabbix.com_zabbixfulls.yaml
  operators/zabbix-operator-certified/6.0.27/manifests/kubernetes.zabbix.com_zabbixproxymysqls.yaml
  operators/zabbix-operator-certified/6.0.27/manifests/kubernetes.zabbix.com_zabbixproxysqlites.yaml
  operators/zabbix-operator-certified/6.0.27/manifests/kubernetes.zabbix.com_zabbixservers.yaml
  operators/zabbix-operator-certified/6.0.27/manifests/zabbix-operator-certified.clusterserviceversion.yaml
  operators/zabbix-operator-certified/6.0.27/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3580 operator stackgres-certified (1.9.0-rc1)
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.9.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.9.0-rc1/metadata/annotations.yaml
  operators/stackgres-certified/1.9.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3565 operator t8c-certified (42.51.0)
  operators/t8c-certified/42.51.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.51.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.51.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3586 operator t8c-tsc-client-certified (1.2.6)
  operators/t8c-tsc-client-certified/1.2.6/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.6/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.6/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3587 operator cockroachdb-certified (v2.13.0)
  operators/cockroachdb-certified/v2.13.0/manifests/cockroach-operator-webhook-service_v1_service.yaml
  operators/cockroachdb-certified/v2.13.0/manifests/cockroachdb-certified.clusterserviceversion.yaml
  operators/cockroachdb-certified/v2.13.0/manifests/crdb.cockroachlabs.com_crdbclusters.yaml
  operators/cockroachdb-certified/v2.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3581 operator dell-csm-operator-certified (1.4.3)
  operators/dell-csm-operator-certified/1.4.3/manifests/apexconnectivityclients.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.3/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.4.3/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.4.3/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.4.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3590 operator prometurbo-certified (8.11.60-beta.1)
  operators/prometurbo-certified/8.11.60-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.60-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.60-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3593 operator kubeturbo-certified (8.11.60-beta.1)
  operators/kubeturbo-certified/8.11.60-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.60-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.60-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3589 operator kubearmor-operator-certified (1.3.1)
  operators/kubearmor-operator-certified/1.3.1/manifests/kubearmor-operator-certified.clusterserviceversion.yaml
  operators/kubearmor-operator-certified/1.3.1/manifests/operator.kubearmor.com_kubearmorconfigs.yaml
  operators/kubearmor-operator-certified/1.3.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3598 operator vault-secrets-operator (0.5.2)
  operators/vault-secrets-operator/0.5.2/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.5.2/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.5.2/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/0.5.2/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.5.2/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.5.2/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.5.2/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.5.2/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.5.2/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.5.2/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.5.2/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.5.2/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.5.2/metadata/annotations.yaml
  operators/vault-secrets-operator/0.5.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3597 operator hpe-csi-operator (2.4.1)
  operators/hpe-csi-operator/2.4.1/manifests/hpe-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-csi-operator/2.4.1/manifests/hpe-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.4.1/manifests/hpe-csi-operator.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.4.1/manifests/storage.hpe.com_hpecsidrivers.yaml
  operators/hpe-csi-operator/2.4.1/metadata/annotations.yaml
  operators/hpe-csi-operator/2.4.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3576 operator redteamobile-entitlement (3.0.0)
  operators/redteamobile-entitlement/3.0.0/manifests/charts.redteamobile.com_redteamobileentitlements.yaml
  operators/redteamobile-entitlement/3.0.0/manifests/redteamobile-entitlement-controller-manager-metrics-service_v1_service.yaml
  operators/redteamobile-entitlement/3.0.0/manifests/redteamobile-entitlement-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/redteamobile-entitlement/3.0.0/manifests/redteamobile-entitlement.clusterserviceversion.yaml
  operators/redteamobile-entitlement/3.0.0/metadata/annotations.yaml
  operators/redteamobile-entitlement/ci.yaml
Labels: operator-hosted-pipeline/passed

#3600 operator acc-operator (24.2.0)
  operators/acc-operator/24.2.0/manifests/acc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/acc-operator/24.2.0/manifests/acc-operator-manager-config_v1_configmap.yaml
  operators/acc-operator/24.2.0/manifests/acc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/acc-operator/24.2.0/manifests/acc-operator.clusterserviceversion.yaml
  operators/acc-operator/24.2.0/manifests/astra.netapp.io_astracontrolcenters.yaml
  operators/acc-operator/24.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3607 operator portworx-certified (23.10.4)
  operators/portworx-certified/23.10.4/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/23.10.4/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/23.10.4/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/23.10.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3608 operator tenant-operator (v0.10.9)
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.10.9/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.10.9/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.10.9/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.10.9/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.10.9/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.10.9/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.10.9/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.10.9/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.10.9/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.10.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3610 operator t8c-certified (42.52.0-beta.1)
  operators/t8c-certified/42.52.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.52.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.52.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3606 operator nxiq-operator-certified (1.174.0-1)
  operators/nxiq-operator-certified/1.174.0-1/manifests/nxiq-operator-certified.clusterserviceversion.yaml
  operators/nxiq-operator-certified/1.174.0-1/manifests/sonatype.com_nexusiqs_crd.yaml
  operators/nxiq-operator-certified/1.174.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3612 operator t8c-tsc-client-certified (1.2.7-candidate-20240320105841000)
  operators/t8c-tsc-client-certified/1.2.7-candidate-20240320105841000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.7-candidate-20240320105841000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.7-candidate-20240320105841000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.7-candidate-20240320105841000/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3609 operator percona-xtradb-cluster-operator-certified (1.14.0)
  operators/percona-xtradb-cluster-operator-certified/1.14.0/manifests/percona-xtradb-cluster-operator.v1.14.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator-certified/1.14.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.14.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.14.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.14.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3613 operator kubearmor-operator-certified (1.3.2)
  operators/kubearmor-operator-certified/1.3.2/manifests/kubearmor-operator-certified.clusterserviceversion.yaml
  operators/kubearmor-operator-certified/1.3.2/manifests/operator.kubearmor.com_kubearmorconfigs.yaml
  operators/kubearmor-operator-certified/1.3.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3618 operator t8c-certified (42.52.0)
  operators/t8c-certified/42.52.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.52.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.52.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3619 operator mongodb-atlas-kubernetes (2.2.0)
  operators/mongodb-atlas-kubernetes/2.2.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.2.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3615 operator kubeturbo-certified (8.11.60)
  operators/kubeturbo-certified/8.11.60/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.60/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.60/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3614 operator prometurbo-certified (8.11.60)
  operators/prometurbo-certified/8.11.60/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.11.60/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.11.60/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3621 operator kubeturbo-certified (8.11.60-beta.2)
  operators/kubeturbo-certified/8.11.60-beta.2/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.11.60-beta.2/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.11.60-beta.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3553 operator splunk-operator (2.5.1)
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk-operator/2.5.1/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk-operator/2.5.1/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk-operator/2.5.1/metadata/annotations.yaml
  operators/splunk-operator/2.5.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3625 operator openshiftartifactoryha-operator (1.2.6)
  operators/openshiftartifactoryha-operator/1.2.6/manifests/openshiftartifactoryha-operator.clusterserviceversion.yaml
  operators/openshiftartifactoryha-operator/1.2.6/manifests/openshiftartifactoryhas.charts.helm.k8s.io.crd.yaml
  operators/openshiftartifactoryha-operator/1.2.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3620 operator fujitsu-enterprise-postgres-operator (v5.2.2)
  operators/fujitsu-enterprise-postgres-operator/ci.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v5.2.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3624 operator netapp-spark-operator (1.0.0)
  operators/netapp-spark-operator/1.0.0/manifests/charts.netapp.com_sparkoperators.yaml
  operators/netapp-spark-operator/1.0.0/manifests/controller-manager_v1_serviceaccount.yaml
  operators/netapp-spark-operator/1.0.0/manifests/leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/netapp-spark-operator/1.0.0/manifests/leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/netapp-spark-operator/1.0.0/manifests/manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netapp-spark-operator/1.0.0/manifests/netapp-spark-operator.clusterserviceversion.yaml
  operators/netapp-spark-operator/1.0.0/manifests/sparkoperator.k8s.io_scheduledsparkapplications.yaml
  operators/netapp-spark-operator/1.0.0/manifests/sparkoperator.k8s.io_sparkapplications.yaml
  operators/netapp-spark-operator/1.0.0/metadata/annotations.yaml
  operators/netapp-spark-operator/1.0.0/tests/scorecard/config.yaml
  operators/netapp-spark-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#3637 operator openshiftxray-operator (2.1.6)
  operators/openshiftxray-operator/2.1.6/manifests/openshiftxray-operator.clusterserviceversion.yaml
  operators/openshiftxray-operator/2.1.6/manifests/openshiftxrays.charts.helm.k8s.io.crd.yaml
  operators/openshiftxray-operator/2.1.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3634 operator openshiftxray-operator (2.1.6)
  operators/openshiftxray-operator/2.1.6/manifests/openshiftxray-operator.clusterserviceversion.yaml
  operators/openshiftxray-operator/2.1.6/manifests/openshiftxrays.charts.helm.k8s.io.crd.yaml
  operators/openshiftxray-operator/2.1.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3638 operator gitlab-operator-kubernetes (0.30.0)
  operators/gitlab-operator-kubernetes/0.30.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.30.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.30.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3639 operator uma-operator (2024.3.2)
  operators/uma-operator/2024.3.2/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.3.2/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.3.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3640 operator uma-admin-operator (2024.3.2)
  operators/uma-admin-operator/2024.3.2/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.3.2/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.3.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3642 operator uma-team-operator (2024.3.2)
  operators/uma-team-operator/2024.3.2/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.3.2/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.3.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3643 operator habana-ai-operator (1.15.0-479)
  operators/habana-ai-operator/1.15.0-479/manifests/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.15.0-479/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.15.0-479/manifests/controller-manager-metrics_monitoring.coreos.com_v1_prometheusrule.yaml
  operators/habana-ai-operator/1.15.0-479/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.15.0-479/manifests/habana.ai_deviceconfigs.yaml
  operators/habana-ai-operator/1.15.0-479/manifests/habanalabs-driver-dockerfile_v1_configmap.yaml
  operators/habana-ai-operator/1.15.0-479/manifests/manager-config_v1_configmap.yaml
  operators/habana-ai-operator/1.15.0-479/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.15.0-479/manifests/node-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.15.0-479/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.15.0-479/manifests/prometheus-k8s-habana_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/habana-ai-operator/1.15.0-479/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3644 operator elasticsearch-eck-operator-certified (2.12.0)
  operators/elasticsearch-eck-operator-certified/2.12.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.0/manifests/elasticsearch-eck-operator-certified.clusterserviceversion.yaml
  operators/elasticsearch-eck-operator-certified/2.12.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.12.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3645 operator anzograph-operator (v3.1.100)
  operators/anzograph-operator/v3.1.100/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.1.100/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.1.100/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3641 operator cloud-native-postgresql (1.21.4)
  operators/cloud-native-postgresql/1.21.4/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.21.4/manifests/manager_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloud-native-postgresql/1.21.4/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.21.4/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.21.4/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.21.4/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.21.4/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.21.4/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.21.4/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.21.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3649 operator redis-enterprise-operator-cert (7.4.2-2.6)
  operators/redis-enterprise-operator-cert/7.4.2-2.6/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.6/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.6/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.6/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.6/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-2.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3635 operator t8c-tsc-client-certified (1.2.7)
  operators/t8c-tsc-client-certified/1.2.7/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.7/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.7/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.7/metadata/annotations.yaml
Labels: ok-to-test, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3662 operator appdynamics-operator (24.3.0-763)
  operators/appdynamics-operator/24.3.0-763/bundle.Dockerfile
  operators/appdynamics-operator/24.3.0-763/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/24.3.0-763/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/24.3.0-763/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/24.3.0-763/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/24.3.0-763/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/24.3.0-763/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/24.3.0-763/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/24.3.0-763/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/24.3.0-763/manifests/infraviz_clusterrole.yaml
  operators/appdynamics-operator/24.3.0-763/manifests/infraviz_clusterrole_binding.yaml
  operators/appdynamics-operator/24.3.0-763/manifests/infraviz_service_account.yaml
  operators/appdynamics-operator/24.3.0-763/metadata/annotations.yaml
  operators/appdynamics-operator/24.3.0-763/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3654 operator abinitio-runtime-operator (v4.2.2-6)
  operators/abinitio-runtime-operator/v4.2.2-6/Dockerfile
  operators/abinitio-runtime-operator/v4.2.2-6/manifests/abinitio-runtime-operator.clusterserviceversion.yaml
  operators/abinitio-runtime-operator/v4.2.2-6/manifests/abinitio-runtime-operator_configmap.yaml
  operators/abinitio-runtime-operator/v4.2.2-6/manifests/abinitio-runtime-operator_prometheus-service.yaml
  operators/abinitio-runtime-operator/v4.2.2-6/manifests/cloud.abinitio.com_cooperatingsystemruntimeclaims.yaml
  operators/abinitio-runtime-operator/v4.2.2-6/manifests/cloud.abinitio.com_cooperatingsystemruntimepoolmetrics.yaml
  operators/abinitio-runtime-operator/v4.2.2-6/manifests/cloud.abinitio.com_cooperatingsystemruntimepools.yaml
  operators/abinitio-runtime-operator/v4.2.2-6/manifests/cloud.abinitio.com_cooperatingsystemruntimeprofiles.yaml
  operators/abinitio-runtime-operator/v4.2.2-6/manifests/cloud.abinitio.com_cooperatingsystemruntimes.yaml
  operators/abinitio-runtime-operator/v4.2.2-6/manifests/cloud.abinitio.com_cooperatingsystemruntimetemplates.yaml
  operators/abinitio-runtime-operator/v4.2.2-6/metadata/annotations.yaml
  operators/abinitio-runtime-operator/v4.2.2-6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3665 operator netapp-spark-operator (1.1.0)
  operators/netapp-spark-operator/1.1.0/manifests/charts.netapp.com_sparkoperators.yaml
  operators/netapp-spark-operator/1.1.0/manifests/controller-manager_v1_serviceaccount.yaml
  operators/netapp-spark-operator/1.1.0/manifests/leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/netapp-spark-operator/1.1.0/manifests/leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/netapp-spark-operator/1.1.0/manifests/manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netapp-spark-operator/1.1.0/manifests/netapp-spark-operator.clusterserviceversion.yaml
  operators/netapp-spark-operator/1.1.0/manifests/sparkoperator.k8s.io_scheduledsparkapplications.yaml
  operators/netapp-spark-operator/1.1.0/manifests/sparkoperator.k8s.io_sparkapplications.yaml
  operators/netapp-spark-operator/1.1.0/metadata/annotations.yaml
  operators/netapp-spark-operator/1.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3664 operator cloud-native-postgresql (1.22.2)
  operators/cloud-native-postgresql/1.22.2/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.22.2/manifests/manager_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloud-native-postgresql/1.22.2/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.22.2/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.22.2/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.22.2/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.22.2/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.22.2/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.22.2/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.22.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop

#3668 operator prometurbo-certified (8.12.0-beta.1)
  operators/prometurbo-certified/8.12.0-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.0-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3669 operator ibm-metrics-operator (2.14.0)
  operators/ibm-metrics-operator/2.14.0/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.14.0/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.14.0/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.14.0/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.14.0/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.14.0/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.14.0/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.14.0/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.14.0/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.14.0/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.14.0/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.14.0/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.14.0/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.14.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3670 operator redhat-marketplace-operator (2.14.0)
  operators/redhat-marketplace-operator/2.14.0/manifests/deploy.razee.io_remoteresources.yaml
  operators/redhat-marketplace-operator/2.14.0/manifests/redhat-marketplace-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/redhat-marketplace-operator/2.14.0/manifests/redhat-marketplace-controller-manager-metrics-service_v1_service.yaml
  operators/redhat-marketplace-operator/2.14.0/manifests/redhat-marketplace-operator.clusterserviceversion.yaml
  operators/redhat-marketplace-operator/2.14.0/manifests/redhat-marketplace-servicemonitor-metrics-reader_v1_secret.yaml
  operators/redhat-marketplace-operator/2.14.0/manifests/redhat-marketplace-serving-certs-ca-bundle_v1_configmap.yaml
  operators/redhat-marketplace-operator/2.14.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3660 operator gitlab-operator-kubernetes (0.30.1)
  operators/gitlab-operator-kubernetes/0.30.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.30.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.30.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.30.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3671 operator ibm-data-reporter-operator (2.14.0)
  operators/ibm-data-reporter-operator/2.14.0/manifests/ibm-data-reporter-operator-component-config-fcf6kk88g6_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.14.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.14.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.14.0/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.14.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.14.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.14.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.14.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.14.0/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.14.0/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.14.0/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.14.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3653 operator datadog-operator-certified (1.5.0)
  operators/datadog-operator-certified/1.5.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator-certified/1.5.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator-certified/1.5.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator-certified/1.5.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator-certified/1.5.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator-certified/1.5.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator-certified/1.5.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator-certified/1.5.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3667 operator kubeturbo-certified (8.12.0-beta.1)
  operators/kubeturbo-certified/8.12.0-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.0-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started
