Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2024-09, with the labels that each got.

#4363 operator t8c-certified (42.63.0-beta.1)
  operators/t8c-certified/42.63.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.63.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.63.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4366 operator instana-agent-operator (v2.1.8)
  operators/instana-agent-operator/v2.1.8/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/v2.1.8/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/v2.1.8/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/v2.1.8/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/v2.1.8/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/v2.1.8/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/v2.1.8/metadata/annotations.yaml
  operators/instana-agent-operator/v2.1.8/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4368 operator nvidia-network-operator (24.7.1)
  operators/nvidia-network-operator/24.7.1/manifests/mellanox.com_hostdevicenetworks.yaml
  operators/nvidia-network-operator/24.7.1/manifests/mellanox.com_ipoibnetworks.yaml
  operators/nvidia-network-operator/24.7.1/manifests/mellanox.com_macvlannetworks.yaml
  operators/nvidia-network-operator/24.7.1/manifests/mellanox.com_nicclusterpolicies.yaml
  operators/nvidia-network-operator/24.7.1/manifests/nvidia-network-operator-webhook-service_v1_service.yaml
  operators/nvidia-network-operator/24.7.1/manifests/nvidia-network-operator.clusterserviceversion.yaml
  operators/nvidia-network-operator/24.7.1/metadata/annotations.yaml
  operators/nvidia-network-operator/24.7.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4369 operator kubeturbo-certified (8.13.40)
  operators/kubeturbo-certified/8.13.40/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.40/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.40/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4371 operator prometurbo-certified (8.13.40)
  operators/prometurbo-certified/8.13.40/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.40/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.40/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4373 operator operator-certification-operator (1.2.0)
  operators/operator-certification-operator/1.2.0/manifests/certification-operator-controller-manager-metrics-service_v1_service.yaml
  operators/operator-certification-operator/1.2.0/manifests/certification-operator-manager-config_v1_configmap.yaml
  operators/operator-certification-operator/1.2.0/manifests/certification-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-certification-operator/1.2.0/manifests/certification.redhat.com_operatorpipelines.yaml
  operators/operator-certification-operator/1.2.0/manifests/operator-certification-operator.clusterserviceversion.yaml
  operators/operator-certification-operator/1.2.0/metadata/annotations.yaml
  operators/operator-certification-operator/1.2.0/metadata/dependencies.yaml
  operators/operator-certification-operator/1.2.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4380 operator nexus-repository-ha-operator-certified (3.72.0-1)
  operators/nexus-repository-ha-operator-certified/3.72.0-1/manifests/nexus-repository-ha-operator-certified.clusterserviceversion.yaml
  operators/nexus-repository-ha-operator-certified/3.72.0-1/manifests/sonatype.com_nexusrepos_crd.yaml
  operators/nexus-repository-ha-operator-certified/3.72.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4381 operator falcon-operator (v1.2.0)
  operators/falcon-operator/v1.2.0/manifests/falcon-operator-admission-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.2.0/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.2.0/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/v1.2.0/manifests/falcon-operator-image-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.2.0/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.2.0/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.2.0/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/v1.2.0/manifests/falcon.crowdstrike.com_falconadmissions.yaml
  operators/falcon-operator/v1.2.0/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/v1.2.0/manifests/falcon.crowdstrike.com_falconimageanalyzers.yaml
  operators/falcon-operator/v1.2.0/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/v1.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4389 operator uma-admin-operator (2024.9.1)
  operators/uma-admin-operator/2024.9.1/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.9.1/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.9.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4390 operator uma-team-operator (2024.9.1)
  operators/uma-team-operator/2024.9.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.9.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.9.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4392 operator ibm-metrics-operator (2.17.1)
  operators/ibm-metrics-operator/2.17.1/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.17.1/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.17.1/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.1/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.1/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.1/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.17.1/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.17.1/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.17.1/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.17.1/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.17.1/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.17.1/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.17.1/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.17.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4393 operator keysight-loadcore-agents (0.2.10)
  operators/keysight-loadcore-agents/0.2.10/manifests/app.loadcore.keysight.com_agents.yaml
  operators/keysight-loadcore-agents/0.2.10/manifests/keysight-loadcore-agents-controller-manager-config-map_v1_configmap.yaml
  operators/keysight-loadcore-agents/0.2.10/manifests/keysight-loadcore-agents-controller-manager-metrics-service_v1_service.yaml
  operators/keysight-loadcore-agents/0.2.10/manifests/keysight-loadcore-agents-controller-service_v1_service.yaml
  operators/keysight-loadcore-agents/0.2.10/manifests/keysight-loadcore-agents-manager-config_v1_configmap.yaml
  operators/keysight-loadcore-agents/0.2.10/manifests/keysight-loadcore-agents-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/keysight-loadcore-agents/0.2.10/manifests/keysight-loadcore-agents.clusterserviceversion.yaml
  operators/keysight-loadcore-agents/0.2.10/metadata/annotations.yaml
  operators/keysight-loadcore-agents/ci.yaml
Labels: operator-hosted-pipeline/started

#4394 operator ibm-data-reporter-operator (2.17.1)
  operators/ibm-data-reporter-operator/2.17.1/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.1/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.17.1/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.17.1/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.17.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.17.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.17.1/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.1/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.17.1/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.17.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4388 operator tesseract-cube (1.2.1)
  operators/tesseract-cube/1.2.1/manifests/tesseract-cube-controller-manager-metrics-service_v1_service.yaml
  operators/tesseract-cube/1.2.1/manifests/tesseract-cube-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tesseract-cube/1.2.1/manifests/tesseract-cube.bsgchina.com_units.yaml
  operators/tesseract-cube/1.2.1/manifests/tesseract-cube.bsgchina.com_unitsets.yaml
  operators/tesseract-cube/1.2.1/manifests/tesseract-cube.clusterserviceversion.yaml
  operators/tesseract-cube/1.2.1/metadata/annotations.yaml
  operators/tesseract-cube/1.2.1/tests/scorecard/config.yaml
  operators/tesseract-cube/ci.yaml
Labels: operator-hosted-pipeline/started

#4401 operator uma-operator (2024.9.2)
  operators/uma-operator/2024.9.2/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.9.2/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.9.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4403 operator uma-admin-operator (2024.9.2)
  operators/uma-admin-operator/2024.9.2/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.9.2/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.9.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4404 operator uma-team-operator (2024.9.2)
  operators/uma-team-operator/2024.9.2/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.9.2/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.9.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4415 operator stackgres-certified (1.5.0)
  operators/stackgres-certified/1.5.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres-helm-controller-manager-metrics-service_v1_service.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.5.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.5.0/metadata/annotations.yaml
  operators/stackgres-certified/1.5.0/tests/scorecard/config.yaml
  operators/stackgres-certified/ci.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4416 operator stackgres-certified (1.6.0)
  operators/stackgres-certified/1.6.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.6.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.6.0/metadata/annotations.yaml
  operators/stackgres-certified/1.6.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4417 operator stackgres-certified (1.6.1)
  operators/stackgres-certified/1.6.1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-restapi_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgbackupconfigs.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.6.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.6.1/metadata/annotations.yaml
  operators/stackgres-certified/1.6.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4406 operator gaudi-ai-sw-tools-operator (0.0.1)
  operators/gaudi-ai-sw-tools-operator/0.0.1/manifests/aitools.intel_gaudiaitoolscontainers.yaml
  operators/gaudi-ai-sw-tools-operator/0.0.1/manifests/gaudi-ai-sw-tools-operator.clusterserviceversion.yaml
  operators/gaudi-ai-sw-tools-operator/0.0.1/metadata/annotations.yaml
  operators/gaudi-ai-sw-tools-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4420 operator stackgres-certified (1.7.0)
  operators/stackgres-certified/1.7.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.7.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.7.0/metadata/annotations.yaml
  operators/stackgres-certified/1.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4421 operator stackgres-certified (1.8.0)
  operators/stackgres-certified/1.8.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.8.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.8.0/metadata/annotations.yaml
  operators/stackgres-certified/1.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4422 operator stackgres-certified (1.8.1)
  operators/stackgres-certified/1.8.1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.8.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.8.1/metadata/annotations.yaml
  operators/stackgres-certified/1.8.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4413 operator fujitsu-enterprise-postgres-operator (v6.2.0)
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v6.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4423 operator stackgres-certified (1.9.0)
  operators/stackgres-certified/1.9.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.9.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.9.0/metadata/annotations.yaml
  operators/stackgres-certified/1.9.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4424 operator gitlab-operator-kubernetes (1.3.2)
  operators/gitlab-operator-kubernetes/1.3.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.3.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.3.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4430 operator infoscale-licensing-operator (8.0.330)
  operators/infoscale-licensing-operator/8.0.330/manifests/licensing-operator.clusterserviceversion.yaml
  operators/infoscale-licensing-operator/8.0.330/manifests/lico-manager-config_v1_configmap.yaml
  operators/infoscale-licensing-operator/8.0.330/manifests/lico-webhook-service_v1_service.yaml
  operators/infoscale-licensing-operator/8.0.330/manifests/vlic.veritas.com_licenses.yaml
  operators/infoscale-licensing-operator/8.0.330/metadata/annotations.yaml
  operators/infoscale-licensing-operator/8.0.330/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4431 operator infoscale-dr-manager (8.0.330)
  operators/infoscale-dr-manager/8.0.330/manifests/infoscale-dr-manager-config_v1_configmap.yaml
  operators/infoscale-dr-manager/8.0.330/manifests/infoscale-dr-manager.clusterserviceversion.yaml
  operators/infoscale-dr-manager/8.0.330/manifests/infoscale-dr-webhook-service_v1_service.yaml
  operators/infoscale-dr-manager/8.0.330/manifests/infoscale.veritas.com_datareplications.yaml
  operators/infoscale-dr-manager/8.0.330/manifests/infoscale.veritas.com_disasterrecoveryplans.yaml
  operators/infoscale-dr-manager/8.0.330/manifests/infoscale.veritas.com_dns.yaml
  operators/infoscale-dr-manager/8.0.330/manifests/infoscale.veritas.com_globalclustermemberships.yaml
  operators/infoscale-dr-manager/8.0.330/metadata/annotations.yaml
  operators/infoscale-dr-manager/8.0.330/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4434 operator stackgres-certified (1.10.0)
  operators/stackgres-certified/1.10.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.10.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.10.0/metadata/annotations.yaml
  operators/stackgres-certified/1.10.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4437 operator stackgres-certified (1.11.0)
  operators/stackgres-certified/1.11.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.11.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.11.0/metadata/annotations.yaml
  operators/stackgres-certified/1.11.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4438 operator stackgres-certified (1.12.0)
  operators/stackgres-certified/1.12.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.12.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.12.0/metadata/annotations.yaml
  operators/stackgres-certified/1.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4405 operator conjur-follower-operator (2.4.2)
  operators/conjur-follower-operator/2.4.2/manifests/conjur-follower-operator-conjurfollower-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.4.2/manifests/conjur-follower-operator-conjurfollower-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.4.2/manifests/conjur-follower-operator.clusterserviceversion.yaml
  operators/conjur-follower-operator/2.4.2/manifests/conjur.cyberark.com_conjurfollowers.yaml
  operators/conjur-follower-operator/2.4.2/metadata/annotations.yaml
  operators/conjur-follower-operator/2.4.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4408 operator prometurbo-certified (8.13.50-beta.1)
  operators/prometurbo-certified/8.13.50-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.50-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.50-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4409 operator kubeturbo-certified (8.13.50-beta.1)
  operators/kubeturbo-certified/8.13.50-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.50-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.50-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4440 operator t8c-certified (42.64.0-beta.1)
  operators/t8c-certified/42.64.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.64.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.64.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4442 operator aqua-operator-certified (2022.4.588)
  operators/aqua-operator-certified/2022.4.588/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.588/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.588/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.588/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.588/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.588/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.588/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.588/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.588/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.588/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.588/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.588/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.588/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.588/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4443 operator ibm-block-csi-operator (1.11.4)
  operators/ibm-block-csi-operator/1.11.4/bundle-1.11.4.Dockerfile
  operators/ibm-block-csi-operator/1.11.4/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator/1.11.4/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator/1.11.4/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator/1.11.4/manifests/ibm-block-csi-operator.clusterserviceversion.yaml
  operators/ibm-block-csi-operator/1.11.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4435 operator vcp-operator (v1.3.0)
  operators/vcp-operator/v1.3.0/manifests/installer.venafi.com_venafiinstalls.yaml
  operators/vcp-operator/v1.3.0/manifests/vcp-operator-metrics_v1_service.yaml
  operators/vcp-operator/v1.3.0/manifests/vcp-operator.clusterserviceversion.yaml
  operators/vcp-operator/v1.3.0/metadata/annotations.yaml
  operators/vcp-operator/v1.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4444 operator confluent-for-kubernetes (2.8.4)
  operators/confluent-for-kubernetes/2.8.4/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.8.4/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.8.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4445 operator confluent-for-kubernetes (2.9.3)
  operators/confluent-for-kubernetes/2.9.3/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.9.3/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.9.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4447 operator zabbix-operator-certified (6.0.33)
  operators/zabbix-operator-certified/6.0.33/manifests/kubernetes.zabbix.com_zabbixagent2s.yaml
  operators/zabbix-operator-certified/6.0.33/manifests/kubernetes.zabbix.com_zabbixagents.yaml
  operators/zabbix-operator-certified/6.0.33/manifests/kubernetes.zabbix.com_zabbixfulls.yaml
  operators/zabbix-operator-certified/6.0.33/manifests/kubernetes.zabbix.com_zabbixproxymysqls.yaml
  operators/zabbix-operator-certified/6.0.33/manifests/kubernetes.zabbix.com_zabbixproxysqlites.yaml
  operators/zabbix-operator-certified/6.0.33/manifests/kubernetes.zabbix.com_zabbixservers.yaml
  operators/zabbix-operator-certified/6.0.33/manifests/zabbix-operator-certified.clusterserviceversion.yaml
  operators/zabbix-operator-certified/6.0.33/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4448 operator pubsubplus-eventbroker-operator (1.2.0)
  operators/pubsubplus-eventbroker-operator/1.2.0/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.2.0/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.2.0/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.2.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4449 operator percona-xtradb-cluster-operator-certified (1.15.0)
  operators/percona-xtradb-cluster-operator-certified/1.15.0/manifests/percona-xtradb-cluster-operator.v1.15.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator-certified/1.15.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.15.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.15.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.15.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4453 operator tawon-operator (2.39.0)
  operators/tawon-operator/2.39.0/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.0/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.0/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.0/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.0/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.0/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.0/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.0/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.0/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.0/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4457 operator kubeturbo-certified (8.13.50)
  operators/kubeturbo-certified/8.13.50/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.50/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.50/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4456 operator prometurbo-certified (8.13.50)
  operators/prometurbo-certified/8.13.50/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.50/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.50/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4458 operator t8c-certified (42.64.0)
  operators/t8c-certified/42.64.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.64.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.64.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4466 operator scaleops-operator (v1.7.5)
  operators/scaleops-operator/ci.yaml
  operators/scaleops-operator/v1.7.5/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.7.5/manifests/scaleops.clusterserviceversion.yaml
  operators/scaleops-operator/v1.7.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4463 operator gitlab-operator-kubernetes (1.3.3)
  operators/gitlab-operator-kubernetes/1.3.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.3.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.3.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.3.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4464 operator gitlab-operator-kubernetes (1.4.0)
  operators/gitlab-operator-kubernetes/1.4.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.4.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.4.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4469 add .catalog_cache to git ignore
  .gitignore
Labels: operator-hosted-pipeline/failed

#4476 operator tawon-operator (2.39.1)
  operators/tawon-operator/2.39.1/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.1/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.1/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.1/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.1/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.1/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.1/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.1/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.1/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.1/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4481 operator scaleops-operator (v1.7.7)
  operators/scaleops-operator/v1.7.7/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.7.7/manifests/scaleops.clusterserviceversion.yaml
  operators/scaleops-operator/v1.7.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4483 operator ibm-storage-odf-operator (1.5.1)
  operators/ibm-storage-odf-operator/1.5.1/manifests/flashsystem-csi-cr_v1_configmap.yaml
  operators/ibm-storage-odf-operator/1.5.1/manifests/flashsystemcluster-metrics_rbac.authorization.k8s.io_v1_role.yaml
  operators/ibm-storage-odf-operator/1.5.1/manifests/flashsystemcluster-metrics_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/ibm-storage-odf-operator/1.5.1/manifests/ibm-storage-odf-operator-metrics-service_v1_service.yaml
  operators/ibm-storage-odf-operator/1.5.1/manifests/ibm-storage-odf-operator.clusterserviceversion.yaml
  operators/ibm-storage-odf-operator/1.5.1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-storage-odf-operator/1.5.1/manifests/odf.ibm.com_flashsystemclusters.yaml
  operators/ibm-storage-odf-operator/1.5.1/metadata/annotations.yaml
  operators/ibm-storage-odf-operator/1.5.1/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/started

#4484 operator eginnovations-operator (0.0.8)
  operators/eginnovations-operator/0.0.8/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.8/manifests/eginnovations-operator-manager-config_v1_configmap.yaml
  operators/eginnovations-operator/0.0.8/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.8/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.8/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.8/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.8/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.8/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4486 operator tawon-operator (2.39.2)
  operators/tawon-operator/2.39.2/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.2/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.2/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.2/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.2/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.2/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.2/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.2/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.2/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.2/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4482 operator gitlab-runner-operator (1.29.0)
  operators/gitlab-runner-operator/1.29.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.29.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.29.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.29.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.29.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.29.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.29.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4489 operator ibm-metrics-operator (2.17.2)
  operators/ibm-metrics-operator/2.17.2/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.17.2/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.17.2/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.2/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.2/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.2/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.17.2/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.17.2/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.17.2/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.17.2/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.17.2/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.17.2/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.17.2/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.17.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4490 operator ibm-data-reporter-operator (2.17.2)
  operators/ibm-data-reporter-operator/2.17.2/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.2/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.17.2/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.17.2/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.17.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.17.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.17.2/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.2/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.17.2/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.17.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4492 operator prometurbo-certified (8.13.60-beta.1)
  operators/prometurbo-certified/8.13.60-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.13.60-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.13.60-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4495 operator uma-operator (2024.9.3)
  operators/uma-operator/2024.9.3/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.9.3/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.9.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4496 operator uma-admin-operator (2024.9.3)
  operators/uma-admin-operator/2024.9.3/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2024.9.3/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2024.9.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4497 operator uma-team-operator (2024.9.3)
  operators/uma-team-operator/2024.9.3/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2024.9.3/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2024.9.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#4498 operator scaleops-operator (v1.7.9)
  operators/scaleops-operator/v1.7.9/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.7.9/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.7.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4500 operator gpu-operator-certified (v24.6.2)
  operators/gpu-operator-certified/v24.6.2/manifests/gpu-operator-certified.clusterserviceversion.yaml
  operators/gpu-operator-certified/v24.6.2/manifests/nvidia.com_clusterpolicies.yaml
  operators/gpu-operator-certified/v24.6.2/manifests/nvidia.com_nvidiadrivers.yaml
  operators/gpu-operator-certified/v24.6.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4493 operator kubeturbo-certified (8.13.60-beta.1)
  operators/kubeturbo-certified/8.13.60-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.60-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.60-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4501 operator scaleops-operator (v1.7.10)
  operators/scaleops-operator/v1.7.10/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.7.10/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.7.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4502 operator gitlab-operator-kubernetes (1.4.1)
  operators/gitlab-operator-kubernetes/1.4.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.4.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.4.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.4.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4503 operator vfunction-server-operator (v3.7.1495)
  operators/vfunction-server-operator/v3.7.1495/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v3.7.1495/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v3.7.1495/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v3.7.1495/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v3.7.1495/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v3.7.1495/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#4487 operator dynatrace-operator (1.3.0)
  operators/dynatrace-operator/1.3.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.3.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.3.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.3.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.3.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.3.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.3.0/metadata/annotations.yaml
Labels: pipeline/trigger-hosted, operator-hosted-pipeline/failed

#4504 operator tenant-operator (v0.12.66)
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.66/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.12.66/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.12.66/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v0.12.66/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.12.66/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.12.66/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.12.66/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.12.66/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.12.66/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.12.66/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.12.66/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4505 operator kubeturbo-certified (8.13.60-beta.2)
  operators/kubeturbo-certified/8.13.60-beta.2/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.60-beta.2/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.60-beta.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4506 operator kubeturbo-certified (8.13.60-beta.3)
  operators/kubeturbo-certified/8.13.60-beta.3/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.13.60-beta.3/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.13.60-beta.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4507 operator t8c-certified (42.65.0-beta.1)
  operators/t8c-certified/42.65.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.65.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.65.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4508 operator neuvector-certified-operator (1.4.6)
  operators/neuvector-certified-operator/1.4.6/manifests/neuvector-certified-operator.clusterserviceversion.yaml
  operators/neuvector-certified-operator/1.4.6/manifests/neuvectors.apm.neuvector.com.crd.yaml
  operators/neuvector-certified-operator/1.4.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4510 operator scaleops-operator (v1.7.11)
  operators/scaleops-operator/v1.7.11/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.7.11/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.7.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4511 operator scaleops-operator (v1.7.12)
  operators/scaleops-operator/v1.7.12/manifests/analysis.scaleops.sh_scaleops.yaml
  operators/scaleops-operator/v1.7.12/manifests/scaleops-operator.clusterserviceversion.yaml
  operators/scaleops-operator/v1.7.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4512 operator tawon-operator (2.39.3)
  operators/tawon-operator/2.39.3/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.3/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.3/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.3/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.3/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.3/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.3/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.3/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.3/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.3/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4514 operator stackgres-certified (1.13.0)
  operators/stackgres-certified/1.13.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.13.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.13.0/metadata/annotations.yaml
  operators/stackgres-certified/1.13.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4515 operator cilium-enterprise (1.13.20)
  operators/cilium-enterprise/1.13.20/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.13.20/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.13.20/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.13.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4516 operator minio-aistor-operator (1.0.0)
  operators/minio-aistor-operator/1.0.0/manifests/apps.example.com_myapps.yaml
  operators/minio-aistor-operator/1.0.0/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/minio-aistor-operator/1.0.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/1.0.0/manifests/minio-aistor-operator.clusterserviceversion.yaml
  operators/minio-aistor-operator/1.0.0/manifests/myapp-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/1.0.0/manifests/myapp-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/1.0.0/metadata/annotations.yaml
  operators/minio-aistor-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#4517 operator cilium-enterprise (1.14.15)
  operators/cilium-enterprise/1.14.15/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.15/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.15/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.15/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4518 operator cilium-enterprise (1.15.9)
  operators/cilium-enterprise/1.15.9/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.15.9/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.15.9/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.15.9/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started
