Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2024-05, with the labels that each got.

#3837 operator kubeturbo-certified (8.12.20)
  operators/kubeturbo-certified/8.12.20/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.20/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3838 operator prometurbo-certified (8.12.20)
  operators/prometurbo-certified/8.12.20/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.20/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3827 operator netscaler-adm-agent-operator (141.25.33)
  operators/netscaler-adm-agent-operator/141.25.33/manifests/netscaler-adm-agent-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-adm-agent-operator/141.25.33/manifests/netscaler-adm-agent-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-adm-agent-operator/141.25.33/manifests/netscaler-adm-agent-operator.clusterserviceversion.yaml
  operators/netscaler-adm-agent-operator/141.25.33/manifests/netscaler.com_admagents.yaml
  operators/netscaler-adm-agent-operator/141.25.33/metadata/annotations.yaml
  operators/netscaler-adm-agent-operator/141.25.33/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_pruned_graph, tests/skip/check_replaces_availability

#3825 operator mongodb-enterprise (1.25.0)
  operators/mongodb-enterprise/1.25.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.25.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.25.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.25.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/passed

#3839 operator t8c-certified (42.55.0)
  operators/t8c-certified/42.55.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.55.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.55.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skips/check_pruned_graph

#3840 operator redis-enterprise-operator-cert (7.4.2-12.0)
  operators/redis-enterprise-operator-cert/7.4.2-12.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-12.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-12.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-12.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.4.2-12.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.2-12.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3842 operator hazelcast-platform-operator (5.12.0)
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.12.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3844 operator appdynamics-cloud-operator (24.4.0-131)
  operators/appdynamics-cloud-operator/24.4.0-131/bundle.Dockerfile
  operators/appdynamics-cloud-operator/24.4.0-131/manifests/appdynamics-cloud-operator-metrics-service_v1_service.yaml
  operators/appdynamics-cloud-operator/24.4.0-131/manifests/appdynamics-cloud-operator.clusterserviceversion.yaml
  operators/appdynamics-cloud-operator/24.4.0-131/manifests/cluster.appdynamics.com_clustermons.yaml
  operators/appdynamics-cloud-operator/24.4.0-131/manifests/cluster.appdynamics.com_containermons.yaml
  operators/appdynamics-cloud-operator/24.4.0-131/manifests/cluster.appdynamics.com_dbcollectors.yaml
  operators/appdynamics-cloud-operator/24.4.0-131/manifests/cluster.appdynamics.com_dbconfigs.yaml
  operators/appdynamics-cloud-operator/24.4.0-131/manifests/cluster.appdynamics.com_inframons.yaml
  operators/appdynamics-cloud-operator/24.4.0-131/manifests/cluster.appdynamics.com_logcollectors.yaml
  operators/appdynamics-cloud-operator/24.4.0-131/manifests/cluster.appdynamics.com_servermons.yaml
  operators/appdynamics-cloud-operator/24.4.0-131/manifests/manager-config_v1_configmap.yaml
  operators/appdynamics-cloud-operator/24.4.0-131/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/appdynamics-cloud-operator/24.4.0-131/metadata/annotations.yaml
  operators/appdynamics-cloud-operator/24.4.0-131/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3843 Revert PR hazelcast-platform-operator (5.12.0)
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.12.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#3845 operator digitalai-release-operator (v24.1.0-rc.3-redhat)
  operators/digitalai-release-operator/v24.1.0-rc.3-redhat/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.1.0-rc.3-redhat/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.1.0-rc.3-redhat/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.0-rc.3-redhat/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.1.0-rc.3-redhat/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.1.0-rc.3-redhat/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3846 operator digitalai-deploy-operator (v24.1.0-rc.3-redhat)
  operators/digitalai-deploy-operator/v24.1.0-rc.3-redhat/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.1.0-rc.3-redhat/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.1.0-rc.3-redhat/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.0-rc.3-redhat/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.1.0-rc.3-redhat/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.1.0-rc.3-redhat/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3841 operator aqua-operator-certified (2022.4.518)
  operators/aqua-operator-certified/2022.4.518/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.518/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.518/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.518/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.518/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.518/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.518/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.518/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.518/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.518/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.518/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.518/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.518/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.518/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3812 operator xspc-operator (1.13.0)
  operators/xspc-operator/1.13.0/manifests/csi.hpe.com_xspcs.yaml
  operators/xspc-operator/1.13.0/manifests/xspc-operator.clusterserviceversion.yaml
  operators/xspc-operator/1.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop

#3853 operator minio-operator (5.0.15)
  operators/minio-operator/5.0.15/manifests/console-env_v1_configmap.yaml
  operators/minio-operator/5.0.15/manifests/console-sa-secret_v1_secret.yaml
  operators/minio-operator/5.0.15/manifests/console_v1_service.yaml
  operators/minio-operator/5.0.15/manifests/job.min.io_miniojobs.yaml
  operators/minio-operator/5.0.15/manifests/minio-operator.clusterserviceversion.yaml
  operators/minio-operator/5.0.15/manifests/minio.min.io_tenants.yaml
  operators/minio-operator/5.0.15/manifests/operator_v1_service.yaml
  operators/minio-operator/5.0.15/manifests/sts.min.io_policybindings.yaml
  operators/minio-operator/5.0.15/manifests/sts_v1_service.yaml
  operators/minio-operator/5.0.15/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3857 operator kubeturbo-certified (8.12.30-beta.1)
  operators/kubeturbo-certified/8.12.30-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.30-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.30-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3858 operator hpe-ezmeral-csi-operator (1.0.13)
  operators/hpe-ezmeral-csi-operator/1.0.13/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.13/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.13/manifests/hpe-ezmeral-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-ezmeral-csi-operator/1.0.13/manifests/hpe-ezmeral-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-ezmeral-csi-operator/1.0.13/manifests/hpe-ezmeral-csi-operator.clusterserviceversion.yaml
  operators/hpe-ezmeral-csi-operator/1.0.13/metadata/annotations.yaml
  operators/hpe-ezmeral-csi-operator/1.0.13/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3782 operator t8c-certified (42.55.0-beta.1)
  operators/t8c-certified/42.55.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.55.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.55.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop

#3861 operator hpe-ezmeral-csi-operator (1.0.14)
  operators/hpe-ezmeral-csi-operator/1.0.14/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.14/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.14/manifests/hpe-ezmeral-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-ezmeral-csi-operator/1.0.14/manifests/hpe-ezmeral-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-ezmeral-csi-operator/1.0.14/manifests/hpe-ezmeral-csi-operator.clusterserviceversion.yaml
  operators/hpe-ezmeral-csi-operator/1.0.14/metadata/annotations.yaml
  operators/hpe-ezmeral-csi-operator/1.0.14/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3864 operator dynatrace-operator (1.1.0)
  operators/dynatrace-operator/1.1.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.1.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3855 Revert "Update hazelcast-platform-operator to 5.12.0 (#3852)"
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.12.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#3867 operator hazelcast-platform-operator (5.12.0)
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.12.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.12.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.12.0/tests/scorecard/config.yaml
Labels: do-not-merge/hold, operator-hosted-pipeline/started

#3868 operator vfunction-server-operator (v3.5.1345)
  operators/vfunction-server-operator/v3.5.1345/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v3.5.1345/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v3.5.1345/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v3.5.1345/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v3.5.1345/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v3.5.1345/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#3877 operator vfunction-server-operator (v3.5.1349)
  operators/vfunction-server-operator/v3.5.1349/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v3.5.1349/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v3.5.1349/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v3.5.1349/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v3.5.1349/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v3.5.1349/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#3879 operator nexus-repository-ha-operator-certified (3.68.0-1)
  operators/nexus-repository-ha-operator-certified/3.68.0-1/manifests/nexus-repository-ha-operator-certified.clusterserviceversion.yaml
  operators/nexus-repository-ha-operator-certified/3.68.0-1/manifests/sonatype.com_nexusrepos_crd.yaml
  operators/nexus-repository-ha-operator-certified/3.68.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3881 operator gitlab-operator-kubernetes (0.31.2)
  operators/gitlab-operator-kubernetes/0.31.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/0.31.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/0.31.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/0.31.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3882 operator mongodb-atlas-kubernetes (2.3.0)
  operators/mongodb-atlas-kubernetes/2.3.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3892 Update ci.yaml for Hazelcast Platform Operator
  operators/hazelcast-platform-operator/ci.yaml
Labels: operator-hosted-pipeline/failed

#3893 operator conjur-follower-operator (2.3.4)
  operators/conjur-follower-operator/2.3.4/manifests/conjur-follower-operator-conjurfollower-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.3.4/manifests/conjur-follower-operator-conjurfollower-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.3.4/manifests/conjur-follower-operator.clusterserviceversion.yaml
  operators/conjur-follower-operator/2.3.4/manifests/conjur.cyberark.com_conjurfollowers.yaml
  operators/conjur-follower-operator/2.3.4/metadata/annotations.yaml
  operators/conjur-follower-operator/2.3.4/tests/scorecard/config.yaml
  operators/conjur-follower-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#3894 operator t8c-certified (42.56.0-beta.1)
  operators/t8c-certified/42.56.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.56.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.56.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3872 operator ibm-block-csi-operator (1.11.2)
  operators/ibm-block-csi-operator/1.11.2/bundle-1.11.2.Dockerfile
  operators/ibm-block-csi-operator/1.11.2/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator/1.11.2/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator/1.11.2/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator/1.11.2/manifests/ibm-block-csi-operator.clusterserviceversion.yaml
  operators/ibm-block-csi-operator/1.11.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3887 operator infinibox-operator-certified (v2.13.0)
  operators/infinibox-operator-certified/v2.13.0/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.0/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.0/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.13.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#3884 operator cilium-enterprise (1.13.15)
  operators/cilium-enterprise/1.13.15/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.13.15/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.13.15/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.13.15/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3895 operator cilium-enterprise (1.14.10)
  operators/cilium-enterprise/1.14.10/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.10/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.10/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3776 operator instana-agent-operator (v2.0.19)
  operators/instana-agent-operator/v2.0.19/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/v2.0.19/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/v2.0.19/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/v2.0.19/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/v2.0.19/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/v2.0.19/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/v2.0.19/metadata/annotations.yaml
  operators/instana-agent-operator/v2.0.19/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3899 operator instana-agent-operator (v2.0.27)
  operators/instana-agent-operator/v2.0.27/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/v2.0.27/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/v2.0.27/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/v2.0.27/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/v2.0.27/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/v2.0.27/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/v2.0.27/metadata/annotations.yaml
  operators/instana-agent-operator/v2.0.27/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3902 operator runtime-fabric-operator (v2.6.42)
  operators/runtime-fabric-operator/v2.6.42/manifests/rtf.operators.mulesoft.com_runtimefabrics.yaml
  operators/runtime-fabric-operator/v2.6.42/manifests/runtime-fabric-operator-controller-manager-metrics-service_v1_service.yaml
  operators/runtime-fabric-operator/v2.6.42/manifests/runtime-fabric-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.6.42/manifests/runtime-fabric-operator.clusterserviceversion.yaml
  operators/runtime-fabric-operator/v2.6.42/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3900 operator ovms-operator (1.2.0)
  operators/ovms-operator/1.2.0/manifests/intel.com_model_servers.yaml
  operators/ovms-operator/1.2.0/manifests/intel.com_notebooks.yaml
  operators/ovms-operator/1.2.0/manifests/openvino-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ovms-operator/1.2.0/manifests/openvino-operator-manager-config_v1_configmap.yaml
  operators/ovms-operator/1.2.0/manifests/openvino-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ovms-operator/1.2.0/manifests/openvino-operator.clusterserviceversion.yaml
  operators/ovms-operator/1.2.0/metadata/annotations.yaml
  operators/ovms-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#3904 operator fujitsu-enterprise-postgres-operator-with-cg-module (v5.1.2)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v5.1.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3906 operator prometurbo-certified (8.12.30)
  operators/prometurbo-certified/8.12.30/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.30/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.30/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3908 operator tenant-operator (v0.12.0)
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.0/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.12.0/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.12.0/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v0.12.0/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.12.0/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.12.0/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.12.0/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.12.0/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.12.0/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.12.0/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.12.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3907 operator t8c-certified (42.56.0)
  operators/t8c-certified/42.56.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.56.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.56.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3898 operator infoscale-sds-operator (8.0.320)
  operators/infoscale-sds-operator/8.0.320/manifests/infoscale-sds-operator.clusterserviceversion.yaml
  operators/infoscale-sds-operator/8.0.320/manifests/infoscale.veritas.com_infoscaleclusters.yaml
  operators/infoscale-sds-operator/8.0.320/manifests/infoscale.veritas.com_infoscaleclustersets.yaml
  operators/infoscale-sds-operator/8.0.320/manifests/iso-manager-config_v1_configmap.yaml
  operators/infoscale-sds-operator/8.0.320/manifests/iso-webhook-service_v1_service.yaml
  operators/infoscale-sds-operator/8.0.320/metadata/annotations.yaml
  operators/infoscale-sds-operator/8.0.320/metadata/dependencies.yaml
  operators/infoscale-sds-operator/8.0.320/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3871 operator infoscale-dr-manager (8.0.320)
  operators/infoscale-dr-manager/8.0.320/manifests/infoscale-dr-manager-config_v1_configmap.yaml
  operators/infoscale-dr-manager/8.0.320/manifests/infoscale-dr-manager.clusterserviceversion.yaml
  operators/infoscale-dr-manager/8.0.320/manifests/infoscale-dr-webhook-service_v1_service.yaml
  operators/infoscale-dr-manager/8.0.320/manifests/infoscale.veritas.com_datareplications.yaml
  operators/infoscale-dr-manager/8.0.320/manifests/infoscale.veritas.com_disasterrecoveryplans.yaml
  operators/infoscale-dr-manager/8.0.320/manifests/infoscale.veritas.com_dns.yaml
  operators/infoscale-dr-manager/8.0.320/manifests/infoscale.veritas.com_globalclustermemberships.yaml
  operators/infoscale-dr-manager/8.0.320/metadata/annotations.yaml
  operators/infoscale-dr-manager/8.0.320/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3910 operator aqua-operator-certified (2022.4.519)
  operators/aqua-operator-certified/2022.4.519/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.519/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.519/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.519/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.519/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.519/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.519/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.519/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.519/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.519/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.519/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.519/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.519/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.519/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3905 operator kubeturbo-certified (8.12.30)
  operators/kubeturbo-certified/8.12.30/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.30/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.30/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3915 operator datadog-operator-certified (1.6.0)
  operators/datadog-operator-certified/1.6.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator-certified/1.6.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator-certified/1.6.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator-certified/1.6.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator-certified/1.6.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator-certified/1.6.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator-certified/1.6.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator-certified/1.6.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3916 operator nexus-repository-ha-operator-certified (3.68.1-1)
  operators/nexus-repository-ha-operator-certified/3.68.1-1/manifests/nexus-repository-ha-operator-certified.clusterserviceversion.yaml
  operators/nexus-repository-ha-operator-certified/3.68.1-1/manifests/sonatype.com_nexusrepos_crd.yaml
  operators/nexus-repository-ha-operator-certified/3.68.1-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3917 Remove exascaler-csi-driver-operator (all versions)
  operators/exascaler-csi-driver-operator/1.0.0/manifests/charts.my.domain_exacsis.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-controller-manager-metrics-service_v1_service.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-controller-service-account_v1_serviceaccount.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-csi-resizer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-csi-resizer-bindinga_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-csi-resizer-role-cfg_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-csi-resizer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-driver-operator.clusterserviceversion.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-exascaler-csi-controller-cluster-role-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-exascaler-csi-controller-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-exascaler-csi-node-cluster-role-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-exascaler-csi-node-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-exascaler-csi-privileged-scc-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-exascaler-csi-privileged-scc-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-external-resizer-cfg_rbac.authorization.k8s.io_v1_role.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/1.0.0/manifests/exascaler-csi-node-service-account_v1_serviceaccount.yaml
  operators/exascaler-csi-driver-operator/1.0.0/metadata/annotations.yaml
  operators/exascaler-csi-driver-operator/1.0.0/tests/scorecard/config.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/charts.my.domain_exacsis.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-controller-manager-metrics-service_v1_service.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-controller-service-account_v1_serviceaccount.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-csi-resizer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-csi-resizer-bindinga_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-csi-resizer-role-cfg_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-csi-resizer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-driver-operator-controller-manager-metrics-service_v1_service.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-driver-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-driver-operator.clusterserviceversion.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-exascaler-csi-controller-cluster-role-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-exascaler-csi-controller-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-exascaler-csi-node-cluster-role-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-exascaler-csi-node-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-exascaler-csi-privileged-scc-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-exascaler-csi-privileged-scc-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-external-resizer-cfg_rbac.authorization.k8s.io_v1_role.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/exascaler-csi-driver-operator/2.2.3/manifests/exascaler-csi-node-service-account_v1_serviceaccount.yaml
  operators/exascaler-csi-driver-operator/2.2.3/metadata/annotations.yaml
  operators/exascaler-csi-driver-operator/2.2.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#3921 operator kubemq-operator-marketplace (1.8.5)
  operators/kubemq-operator-marketplace/1.8.5/manifests/kubemq-operator-marketplace.clusterserviceversion.yaml
  operators/kubemq-operator-marketplace/1.8.5/manifests/kubemq-operator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubemq-operator-marketplace/1.8.5/manifests/kubemqclusters.core.k8s.kubemq.io.crd.yaml
  operators/kubemq-operator-marketplace/1.8.5/manifests/kubemqconnectors.core.k8s.kubemq.io.crd.yaml
  operators/kubemq-operator-marketplace/1.8.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3920 operator gitlab-operator-kubernetes (1.0.0)
  operators/gitlab-operator-kubernetes/1.0.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.0.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.0.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3927 operator ibm-block-csi-operator (1.11.3)
  operators/ibm-block-csi-operator/1.11.3/bundle-1.11.3.Dockerfile
  operators/ibm-block-csi-operator/1.11.3/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator/1.11.3/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator/1.11.3/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator/1.11.3/manifests/ibm-block-csi-operator.clusterserviceversion.yaml
  operators/ibm-block-csi-operator/1.11.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3928 operator vfunction-server-operator (v3.5.1358)
  operators/vfunction-server-operator/v3.5.1358/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v3.5.1358/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v3.5.1358/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v3.5.1358/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v3.5.1358/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v3.5.1358/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#3926 operator uma-operator (2024.4.3)
  operators/uma-operator/2024.4.3/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2024.4.3/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2024.4.3/metadata/annotations.yaml
Labels: ok-to-test, operator-hosted-pipeline/started

#3931 operator infinibox-operator-certified (v2.13.1)
  operators/infinibox-operator-certified/v2.13.1/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.13.1/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.13.1/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.13.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3937 operator tenant-operator (v0.12.1)
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.1/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.12.1/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.12.1/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v0.12.1/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.12.1/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.12.1/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.12.1/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.12.1/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.12.1/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.12.1/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.12.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3936 operator aikit-operator (2024.1.0)
  operators/aikit-operator/2024.1.0/manifests/aikit-operator.clusterserviceversion.yaml
  operators/aikit-operator/2024.1.0/manifests/aikit.intel_aikitcontainers.yaml
  operators/aikit-operator/2024.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3940 operator crunchy-postgres-operator (5.5.2)
  operators/crunchy-postgres-operator/5.5.2/Dockerfile
  operators/crunchy-postgres-operator/5.5.2/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.5.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.5.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.5.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.5.2/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.5.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3941 operator prometurbo-certified (8.12.40-beta.1)
  operators/prometurbo-certified/8.12.40-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.40-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.40-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3943 operator t8c-certified (42.57.0-beta.1)
  operators/t8c-certified/42.57.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.57.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.57.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3949 operator cilium-enterprise (1.15.5)
  operators/cilium-enterprise/1.15.5/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.15.5/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.15.5/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.15.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3945 operator sriov-fec (v2.9.0)
  operators/sriov-fec/v2.9.0/manifests/sriov-fec-controller-manager-metrics-service_v1_service.yaml
  operators/sriov-fec/v2.9.0/manifests/sriov-fec-manager-config_v1_configmap.yaml
  operators/sriov-fec/v2.9.0/manifests/sriov-fec-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sriov-fec/v2.9.0/manifests/sriov-fec-webhook-service_v1_service.yaml
  operators/sriov-fec/v2.9.0/manifests/sriov-fec.clusterserviceversion.yaml
  operators/sriov-fec/v2.9.0/manifests/sriovfec.intel.com_sriovfecclusterconfigs.yaml
  operators/sriov-fec/v2.9.0/manifests/sriovfec.intel.com_sriovfecnodeconfigs.yaml
  operators/sriov-fec/v2.9.0/manifests/sriovvrb.intel.com_sriovvrbclusterconfigs.yaml
  operators/sriov-fec/v2.9.0/manifests/sriovvrb.intel.com_sriovvrbnodeconfigs.yaml
  operators/sriov-fec/v2.9.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3951 operator gitlab-operator-kubernetes (1.0.1)
  operators/gitlab-operator-kubernetes/1.0.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.0.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.0.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.0.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3952 operator tenant-operator (v0.12.13)
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v0.12.13/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v0.12.13/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v0.12.13/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v0.12.13/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v0.12.13/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v0.12.13/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v0.12.13/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v0.12.13/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v0.12.13/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v0.12.13/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v0.12.13/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3953 operator cilium-enterprise (1.13.16)
  operators/cilium-enterprise/1.13.16/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.13.16/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.13.16/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.13.16/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3954 operator acc-operator (24.2.1)
  operators/acc-operator/24.2.1/manifests/acc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/acc-operator/24.2.1/manifests/acc-operator-manager-config_v1_configmap.yaml
  operators/acc-operator/24.2.1/manifests/acc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/acc-operator/24.2.1/manifests/acc-operator.clusterserviceversion.yaml
  operators/acc-operator/24.2.1/manifests/astra.netapp.io_astracontrolcenters.yaml
  operators/acc-operator/24.2.1/metadata/annotations.yaml
Labels: operator-release-pipeline/passed, operator-hosted-pipeline/passed

#3946 operator fujitsu-enterprise-operator (v3.1.24)
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/manifests/fujitsu-enterprise-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-operator/v3.1.24/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-operator/v3.1.24/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3950 operator instana-agent-operator (v2.0.30)
  operators/instana-agent-operator/v2.0.30/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/v2.0.30/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/v2.0.30/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/v2.0.30/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/v2.0.30/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/v2.0.30/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/v2.0.30/metadata/annotations.yaml
  operators/instana-agent-operator/v2.0.30/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3922 operator instana-agent-operator (v2.0.31)
  operators/instana-agent-operator/v2.0.31/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/v2.0.31/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/v2.0.31/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/v2.0.31/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/v2.0.31/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/v2.0.31/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/v2.0.31/metadata/annotations.yaml
  operators/instana-agent-operator/v2.0.31/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3955 operator netapp-spark-operator (1.1.1)
  operators/netapp-spark-operator/1.1.1/manifests/charts.netapp.com_sparkoperators.yaml
  operators/netapp-spark-operator/1.1.1/manifests/controller-manager_v1_serviceaccount.yaml
  operators/netapp-spark-operator/1.1.1/manifests/leader-election-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/netapp-spark-operator/1.1.1/manifests/leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/netapp-spark-operator/1.1.1/manifests/manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netapp-spark-operator/1.1.1/manifests/netapp-spark-operator.clusterserviceversion.yaml
  operators/netapp-spark-operator/1.1.1/manifests/sparkoperator.k8s.io_scheduledsparkapplications.yaml
  operators/netapp-spark-operator/1.1.1/manifests/sparkoperator.k8s.io_sparkapplications.yaml
  operators/netapp-spark-operator/1.1.1/metadata/annotations.yaml
  operators/netapp-spark-operator/1.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3958 operator vault-secrets-operator (0.7.0)
  operators/vault-secrets-operator/0.7.0/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.7.0/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.7.0/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/0.7.0/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.7.0/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.7.0/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.7.0/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.7.0/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.7.0/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.7.0/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.7.0/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.7.0/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.7.0/metadata/annotations.yaml
  operators/vault-secrets-operator/0.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3947 operator fujitsu-enterprise-postgres-operator (v5.2.6)
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v5.2.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3960 operator digitalai-release-operator (v24.1.2-rc.6-redhat)
  operators/digitalai-release-operator/v24.1.2-rc.6-redhat/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.1.2-rc.6-redhat/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.1.2-rc.6-redhat/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.2-rc.6-redhat/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.1.2-rc.6-redhat/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.1.2-rc.6-redhat/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3961 operator digitalai-deploy-operator (v24.1.2-rc.6-redhat)
  operators/digitalai-deploy-operator/v24.1.2-rc.6-redhat/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.1.2-rc.6-redhat/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.1.2-rc.6-redhat/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.2-rc.6-redhat/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.1.2-rc.6-redhat/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.1.2-rc.6-redhat/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3963 operator ibm-metrics-operator (2.15.0)
  operators/ibm-metrics-operator/2.15.0/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.15.0/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.15.0/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.15.0/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.15.0/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.15.0/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.15.0/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.15.0/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.15.0/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.15.0/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.15.0/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.15.0/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.15.0/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.15.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3967 operator appdynamics-operator (24.5.0-806)
  operators/appdynamics-operator/24.5.0-806/bundle.Dockerfile
  operators/appdynamics-operator/24.5.0-806/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/24.5.0-806/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/24.5.0-806/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/24.5.0-806/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/24.5.0-806/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/24.5.0-806/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/24.5.0-806/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/24.5.0-806/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/24.5.0-806/manifests/infraviz_clusterrole.yaml
  operators/appdynamics-operator/24.5.0-806/manifests/infraviz_clusterrole_binding.yaml
  operators/appdynamics-operator/24.5.0-806/manifests/infraviz_service_account.yaml
  operators/appdynamics-operator/24.5.0-806/metadata/annotations.yaml
  operators/appdynamics-operator/24.5.0-806/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3957 operator runtime-component-operator-certified (1.3.2)
  operators/runtime-component-operator-certified/1.3.2/manifests/rc.app.stacks_runtimecomponents.yaml
  operators/runtime-component-operator-certified/1.3.2/manifests/rc.app.stacks_runtimeoperations.yaml
  operators/runtime-component-operator-certified/1.3.2/manifests/runtime-component-operator-certified.clusterserviceversion.yaml
  operators/runtime-component-operator-certified/1.3.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#3964 operator open-liberty-certified (1.3.2)
  operators/open-liberty-certified/1.3.2/manifests/apps.openliberty.io_openlibertyapplications.yaml
  operators/open-liberty-certified/1.3.2/manifests/apps.openliberty.io_openlibertydumps.yaml
  operators/open-liberty-certified/1.3.2/manifests/apps.openliberty.io_openlibertytraces.yaml
  operators/open-liberty-certified/1.3.2/manifests/open-liberty-certified.clusterserviceversion.yaml
  operators/open-liberty-certified/1.3.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#3965 operator redhat-marketplace-operator (2.15.0)
  operators/redhat-marketplace-operator/2.15.0/manifests/deploy.razee.io_remoteresources.yaml
  operators/redhat-marketplace-operator/2.15.0/manifests/redhat-marketplace-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/redhat-marketplace-operator/2.15.0/manifests/redhat-marketplace-controller-manager-metrics-service_v1_service.yaml
  operators/redhat-marketplace-operator/2.15.0/manifests/redhat-marketplace-operator.clusterserviceversion.yaml
  operators/redhat-marketplace-operator/2.15.0/manifests/redhat-marketplace-servicemonitor-metrics-reader_v1_secret.yaml
  operators/redhat-marketplace-operator/2.15.0/manifests/redhat-marketplace-serving-certs-ca-bundle_v1_configmap.yaml
  operators/redhat-marketplace-operator/2.15.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3972 operator acc-operator (24.2.2)
  operators/acc-operator/24.2.2/manifests/acc-operator-controller-manager-metrics-service_v1_service.yaml
  operators/acc-operator/24.2.2/manifests/acc-operator-manager-config_v1_configmap.yaml
  operators/acc-operator/24.2.2/manifests/acc-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/acc-operator/24.2.2/manifests/acc-operator.clusterserviceversion.yaml
  operators/acc-operator/24.2.2/manifests/astra.netapp.io_astracontrolcenters.yaml
  operators/acc-operator/24.2.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#3975 operator ibm-data-reporter-operator (2.15.0)
  operators/ibm-data-reporter-operator/2.15.0/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.15.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.15.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.15.0/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.15.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.15.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.15.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.15.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.15.0/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.15.0/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.15.0/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.15.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3976 operator joget-dx8-operator (0.0.14)
  operators/joget-dx8-operator/0.0.14/manifests/joget-dx8-operator.clusterserviceversion.yaml
  operators/joget-dx8-operator/0.0.14/manifests/jogetdx8.app.joget.com.crd.yaml
  operators/joget-dx8-operator/0.0.14/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3944 operator gitlab-runner-operator (1.25.0)
  operators/gitlab-runner-operator/1.25.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-gitlab-runner-manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-proxy-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.25.0/manifests/gitlab-runner-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-runner-operator/1.25.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#3977 operator vault-secrets-operator (0.7.1)
  operators/vault-secrets-operator/0.7.1/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.7.1/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.7.1/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/0.7.1/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.7.1/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.7.1/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.7.1/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.7.1/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.7.1/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.7.1/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.7.1/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.7.1/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.7.1/metadata/annotations.yaml
  operators/vault-secrets-operator/0.7.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#3968 operator kubeturbo-certified (8.12.40)
  operators/kubeturbo-certified/8.12.40/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.12.40/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.12.40/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name, tests/skips/check_pruned_graph

#3973 operator t8c-certified (42.57.0)
  operators/t8c-certified/42.57.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.57.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.57.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name, tests/skips/check_pruned_graph

#3969 operator prometurbo-certified (8.12.40)
  operators/prometurbo-certified/8.12.40/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.12.40/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.12.40/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name
