Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2025-01, with the labels that each got.

#4958 operator prometurbo-certified (8.14.60-beta.1)
  operators/prometurbo-certified/8.14.60-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.14.60-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.14.60-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4960 operator t8c-certified (42.71.0-beta.1)
  operators/t8c-certified/42.71.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.71.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.71.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4961 operator kubeturbo-certified (8.14.60-beta.1)
  operators/kubeturbo-certified/8.14.60-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.60-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.60-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4923 operator ibm-security-verify-access-operator (24.12.0)
  operators/ibm-security-verify-access-operator/24.12.0/manifests/ibm-security-verify-access-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-access-operator/24.12.0/manifests/ibm.com_ibmsecurityverifyaccesses.yaml
  operators/ibm-security-verify-access-operator/24.12.0/manifests/verify-access-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/24.12.0/manifests/verify-access-operator-controller-manager-snapshot-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/24.12.0/manifests/verify-access-operator-manager-config_v1_configmap.yaml
  operators/ibm-security-verify-access-operator/24.12.0/manifests/verify-access-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-access-operator/24.12.0/metadata/annotations.yaml
  operators/ibm-security-verify-access-operator/24.12.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4964 operator percona-xtradb-cluster-operator-certified (1.16.1-cw)
  operators/percona-xtradb-cluster-operator-certified/1.16.1-cw/manifests/percona-xtradb-cluster-operator.v1.16.1-cw.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator-certified/1.16.1-cw/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.16.1-cw/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.16.1-cw/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.16.1-cw/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4966 operator portworx-certified (24.2.1)
  operators/portworx-certified/24.2.1/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/24.2.1/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/24.2.1/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/24.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4970 operator instana-agent-operator (2.1.11)
  operators/instana-agent-operator/2.1.11/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.11/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.11/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.11/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.11/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.11/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.11/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.11/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4972 operator habana-ai-operator (1.19.0-561-1)
  operators/habana-ai-operator/1.19.0-561-1/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.19.0-561-1/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.0-561-1/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.19.0-561-1/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.19.0-561-1/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.19.0-561-1/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.19.0-561-1/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.19.0-561-1/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.0-561-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4978 operator gitlab-operator-kubernetes (1.8.2)
  operators/gitlab-operator-kubernetes/1.8.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.8.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.8.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4980 operator prometurbo-certified (8.14.60)
  operators/prometurbo-certified/8.14.60/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.14.60/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.14.60/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4977 operator habana-ai-operator (1.19.0-561-10)
  operators/habana-ai-operator/1.19.0-561-10/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.19.0-561-10/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.0-561-10/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.19.0-561-10/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.19.0-561-10/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.19.0-561-10/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.19.0-561-10/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.19.0-561-10/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.0-561-10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4983 operator prometurbo-certified (8.15.0-beta.1)
  operators/prometurbo-certified/8.15.0-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.0-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4981 operator kubeturbo-certified (8.14.60)
  operators/kubeturbo-certified/8.14.60/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.14.60/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.14.60/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4987 operator prometurbo-certified (8.14.61)
  operators/prometurbo-certified/8.14.61/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.14.61/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.14.61/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4979 operator t8c-certified (42.71.0)
  operators/t8c-certified/42.71.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.71.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.71.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4990 operator instana-agent-operator (2.1.12)
  operators/instana-agent-operator/2.1.12/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.12/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.12/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.12/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.12/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.12/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.12/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.12/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4991 operator mongodb-atlas-kubernetes (2.6.1)
  operators/mongodb-atlas-kubernetes/2.6.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.6.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4992 operator ibm-metrics-operator (2.17.8)
  operators/ibm-metrics-operator/2.17.8/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.17.8/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.17.8/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.8/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.8/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.17.8/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.17.8/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.17.8/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.17.8/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.17.8/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.17.8/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.17.8/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.17.8/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.17.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4993 operator ibm-data-reporter-operator (2.17.8)
  operators/ibm-data-reporter-operator/2.17.8/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.8/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.17.8/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.17.8/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.8/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.17.8/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.17.8/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.17.8/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.17.8/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.17.8/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.17.8/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.17.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4988 operator hpe-filex-csi-operator (v1.0.0-beta3)
  operators/hpe-filex-csi-operator/ci.yaml
  operators/hpe-filex-csi-operator/v1.0.0-beta3/manifests/hpe-filex-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-filex-csi-operator/v1.0.0-beta3/manifests/hpe-filex-csi-operator-hpegreenlakefilecsidriver-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-filex-csi-operator/v1.0.0-beta3/manifests/hpe-filex-csi-operator-hpegreenlakefilecsidriver-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-filex-csi-operator/v1.0.0-beta3/manifests/hpe-filex-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-filex-csi-operator/v1.0.0-beta3/manifests/hpe-filex-csi-operator.clusterserviceversion.yaml
  operators/hpe-filex-csi-operator/v1.0.0-beta3/manifests/storage.hpe.com_hpegreenlakefilecsidrivers.yaml
  operators/hpe-filex-csi-operator/v1.0.0-beta3/metadata/annotations.yaml
  operators/hpe-filex-csi-operator/v1.0.0-beta3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4994 operator habana-ai-operator (1.19.1-26)
  operators/habana-ai-operator/1.19.1-26/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.19.1-26/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.1-26/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.19.1-26/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.19.1-26/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.19.1-26/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.19.1-26/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.19.1-26/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.1-26/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#4996 operator f5-bigip-ctlr-operator (v1.20.0)
  operators/f5-bigip-ctlr-operator/v1.20.0/manifests/cis.f5.com_f5bigipctlrs.yaml
  operators/f5-bigip-ctlr-operator/v1.20.0/manifests/f5-bigip-ctlr-operator-controller-manager-metrics-service_v1_service.yaml
  operators/f5-bigip-ctlr-operator/v1.20.0/manifests/f5-bigip-ctlr-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/f5-bigip-ctlr-operator/v1.20.0/manifests/f5-bigip-ctlr-operator.clusterserviceversion.yaml
  operators/f5-bigip-ctlr-operator/v1.20.0/metadata/annotations.yaml
  operators/f5-bigip-ctlr-operator/v1.20.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#4949 operator stackgres-certified (1.14.2)
  operators/stackgres-certified/1.14.2/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.14.2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.14.2/metadata/annotations.yaml
  operators/stackgres-certified/1.14.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#4998 operator sysdig-shield-operator (v0.2.0)
  operators/sysdig-shield-operator/v0.2.0/manifests/rh-shield-operator-controller-manager-metrics-service_v1_service.yaml
  operators/sysdig-shield-operator/v0.2.0/manifests/rh-shield-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.2.0/manifests/rh-shield-operator-shield-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.2.0/manifests/rh-shield-operator-shield-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sysdig-shield-operator/v0.2.0/manifests/rh-shield-operator.clusterserviceversion.yaml
  operators/sysdig-shield-operator/v0.2.0/manifests/shield.sysdig.com_shields.yaml
  operators/sysdig-shield-operator/v0.2.0/metadata/annotations.yaml
  operators/sysdig-shield-operator/v0.2.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5002 operator airlock-microgateway (4.5.0-alpha1)
  operators/airlock-microgateway/4.5.0-alpha1/manifests/airlock-microgateway-microgateway-de-operator-config_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/airlock-microgateway-operator-leader-metrics_v1_service.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/airlock-microgateway-operator-metrics_v1_service.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/airlock-microgateway-operator-webhook_v1_service.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/airlock-microgateway-operator-xds_v1_service.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/airlock-microgateway.clusterserviceversion.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_accesscontrolpolicies.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_accesscontrols.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_apiprotections.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_contentsecurities.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_contentsecuritypolicies.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_csrfprotections.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_denyrules.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_envoyclusters.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_envoyconfigurations.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_envoyhttpfilters.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_gatewayparameters.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_graphqls.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_headerrewrites.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_identitypropagations.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_jwks.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_limits.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_oidcproviders.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_oidcrelyingparties.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_openapis.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_parsers.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_redisproviders.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_sessionhandlings.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_sidecargateways.yaml
  operators/airlock-microgateway/4.5.0-alpha1/manifests/microgateway.airlock.com_telemetries.yaml
  operators/airlock-microgateway/4.5.0-alpha1/metadata/annotations.yaml
  operators/airlock-microgateway/ci.yaml
Labels: operator-hosted-pipeline/started

#5003 operator instana-agent-operator (2.1.14)
  operators/instana-agent-operator/2.1.14/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.14/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.14/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.14/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.14/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.14/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.14/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.14/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5004 Catalog update [appian-operator] [v4.14,v4.13,v4.12,v4.15,v4.16]
  catalogs/v4.12/appian-operator/catalog.yaml
  catalogs/v4.13/appian-operator/catalog.yaml
  catalogs/v4.14/appian-operator/catalog.yaml
  catalogs/v4.15/appian-operator/catalog.yaml
  catalogs/v4.16/appian-operator/catalog.yaml
  operators/appian-operator/Makefile
  operators/appian-operator/catalog-templates/v4.12.yaml
  operators/appian-operator/catalog-templates/v4.13.yaml
  operators/appian-operator/catalog-templates/v4.14.yaml
  operators/appian-operator/catalog-templates/v4.15.yaml
  operators/appian-operator/catalog-templates/v4.16.yaml
  operators/appian-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5005 operator runtime-fabric-operator (v2.9.2)
  operators/runtime-fabric-operator/v2.9.2/manifests/rtf.operators.mulesoft.com_runtimefabrics.yaml
  operators/runtime-fabric-operator/v2.9.2/manifests/runtime-fabric-operator-controller-manager-metrics-service_v1_service.yaml
  operators/runtime-fabric-operator/v2.9.2/manifests/runtime-fabric-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.9.2/manifests/runtime-fabric-operator-runtimefabric-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.9.2/manifests/runtime-fabric-operator-runtimefabric-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.9.2/manifests/runtime-fabric-operator.clusterserviceversion.yaml
  operators/runtime-fabric-operator/v2.9.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5006 operator gitlab-operator-kubernetes (1.8.3)
  operators/gitlab-operator-kubernetes/1.8.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.8.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.8.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.8.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5008 operator aqua-operator-certified (2022.4.720)
  operators/aqua-operator-certified/2022.4.720/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.720/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.720/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.720/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.720/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.720/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.720/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.720/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.720/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.720/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.720/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.720/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.720/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.720/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5009 operator infinibox-operator-certified (v2.18.0)
  operators/infinibox-operator-certified/v2.18.0/manifests/csidriver.infinidat.com_iboxreplicas.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.18.0/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.18.0/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.18.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5012 operator gitlab-operator-kubernetes (1.9.0)
  operators/gitlab-operator-kubernetes/1.9.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.9.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.9.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5015 operator habana-ai-operator (1.19.1-26-1)
  operators/habana-ai-operator/1.19.1-26-1/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.19.1-26-1/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.1-26-1/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.19.1-26-1/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.19.1-26-1/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.19.1-26-1/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.19.1-26-1/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.19.1-26-1/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.1-26-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5018 operator crunchy-postgres-operator (5.7.3)
  operators/crunchy-postgres-operator/5.7.3/Dockerfile
  operators/crunchy-postgres-operator/5.7.3/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.7.3/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.3/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.3/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.3/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.3/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.7.3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5017 operator kubecost-operator (v2.5.2)
  operators/kubecost-operator/v2.5.2/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.5.2/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.5.2/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.5.2/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.5.2/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.5.2/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.5.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5020 operator uma-operator (2025.1.1)
  operators/uma-operator/2025.1.1/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.1.1/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5026 operator nspc-operator (1.13.1)
  operators/nspc-operator/1.13.1/manifests/csi.nec.com_nspcs.yaml
  operators/nspc-operator/1.13.1/manifests/nspc-operator.clusterserviceversion.yaml
  operators/nspc-operator/1.13.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5022 operator uma-admin-operator (2025.1.1)
  operators/uma-admin-operator/2025.1.1/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.1.1/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.1.1/metadata/annotations.yaml
Labels: ok-to-test, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5027 operator uma-team-operator (2025.1.1)
  operators/uma-team-operator/2025.1.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.1.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.1.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5007 operator redteamobile-entitlement (3.1.0)
  operators/redteamobile-entitlement/3.1.0/manifests/charts.redteamobile.com_redteamobileentitlements.yaml
  operators/redteamobile-entitlement/3.1.0/manifests/redteamobile-entitlement-controller-manager-metrics-service_v1_service.yaml
  operators/redteamobile-entitlement/3.1.0/manifests/redteamobile-entitlement-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/redteamobile-entitlement/3.1.0/manifests/redteamobile-entitlement.clusterserviceversion.yaml
  operators/redteamobile-entitlement/3.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5031 operator stackgres-certified (1.15.0-rc3)
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.15.0-rc3/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.15.0-rc3/metadata/annotations.yaml
  operators/stackgres-certified/1.15.0-rc3/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5033 operator tawon-operator (2.39.22)
  operators/tawon-operator/2.39.22/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.22/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.22/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.22/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.22/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.22/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.22/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.22/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.22/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.22/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.22/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.22/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5032 operator elasticsearch-eck-operator-certified (2.16.1)
  operators/elasticsearch-eck-operator-certified/2.16.1/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.1/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.1/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.1/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.1/manifests/elasticsearch-eck-operator-certified.clusterserviceversion.yaml
  operators/elasticsearch-eck-operator-certified/2.16.1/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.1/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.1/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.1/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.1/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.1/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/2.16.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5037 operator prometurbo-certified (8.15.0)
  operators/prometurbo-certified/8.15.0/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.0/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5038 operator kubeturbo-certified (8.15.0)
  operators/kubeturbo-certified/8.15.0/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.15.0/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.15.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5040 operator coroot-operator (1.1.2)
  operators/coroot-operator/1.1.2/manifests/coroot-operator.clusterserviceversion.yaml
  operators/coroot-operator/1.1.2/manifests/coroot.com_coroots.yaml
  operators/coroot-operator/1.1.2/metadata/annotations.yaml
  operators/coroot-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5041 operator percona-server-mongodb-operator-certified (1.19.0)
  operators/percona-server-mongodb-operator-certified/1.19.0/manifests/percona-server-mongodb-operator.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator-certified/1.19.0/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.19.0/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.19.0/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.19.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5045 operator kubecost-operator (v2.5.3)
  operators/kubecost-operator/v2.5.3/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.5.3/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.5.3/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.5.3/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.5.3/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.5.3/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.5.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5046 operator appian-operator (v0.171.0)
  operators/appian-operator/v0.171.0/manifests/appian-operator-controllers-metrics_v1_service.yaml
  operators/appian-operator/v0.171.0/manifests/appian-operator-support-bundle_v1_configmap.yaml
  operators/appian-operator/v0.171.0/manifests/appian-operator-webhooks-metrics_v1_service.yaml
  operators/appian-operator/v0.171.0/manifests/appian-operator-webhooks_v1_service.yaml
  operators/appian-operator/v0.171.0/manifests/appian-operator.clusterserviceversion.yaml
  operators/appian-operator/v0.171.0/manifests/crd.k8s.appian.com_appians.yaml
  operators/appian-operator/v0.171.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5048 operator gitlab-operator-kubernetes (1.9.1)
  operators/gitlab-operator-kubernetes/1.9.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.9.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.9.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.9.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5052 operator coroot-operator (1.1.4)
  operators/coroot-operator/1.1.4/coroot.com_coroots.yaml
  operators/coroot-operator/1.1.4/manifests/coroot-operator.clusterserviceversion.yaml
  operators/coroot-operator/1.1.4/manifests/coroot.com_coroots.yaml
  operators/coroot-operator/1.1.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5053 operator nvidia-maintenance-operator (0.2.0)
  operators/nvidia-maintenance-operator/0.2.0/manifests/maintenance-operator-webhook-service_v1_service.yaml
  operators/nvidia-maintenance-operator/0.2.0/manifests/maintenance.nvidia.com_maintenanceoperatorconfigs.yaml
  operators/nvidia-maintenance-operator/0.2.0/manifests/maintenance.nvidia.com_nodemaintenances.yaml
  operators/nvidia-maintenance-operator/0.2.0/manifests/nvidia-maintenance-operator.clusterserviceversion.yaml
  operators/nvidia-maintenance-operator/0.2.0/metadata/annotations.yaml
  operators/nvidia-maintenance-operator/0.2.0/tests/scorecard/config.yaml
  operators/nvidia-maintenance-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5054 operator nvidia-network-operator (24.10.1)
  operators/nvidia-network-operator/24.10.1/manifests/mellanox.com_hostdevicenetworks.yaml
  operators/nvidia-network-operator/24.10.1/manifests/mellanox.com_ipoibnetworks.yaml
  operators/nvidia-network-operator/24.10.1/manifests/mellanox.com_macvlannetworks.yaml
  operators/nvidia-network-operator/24.10.1/manifests/mellanox.com_nicclusterpolicies.yaml
  operators/nvidia-network-operator/24.10.1/manifests/nvidia-network-operator-webhook-service_v1_service.yaml
  operators/nvidia-network-operator/24.10.1/manifests/nvidia-network-operator.clusterserviceversion.yaml
  operators/nvidia-network-operator/24.10.1/metadata/annotations.yaml
  operators/nvidia-network-operator/24.10.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5055 operator redis-enterprise-operator-cert (7.2.4-12.33)
  operators/redis-enterprise-operator-cert/7.2.4-12.33/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.33/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.33/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.33/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.33/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-12.33/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5060 operator tenant-operator (v1.1.0)
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-keycloak_v1_serviceaccount.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-postgresql_v1_serviceaccount.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.1.0/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v1.1.0/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v1.1.0/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v1.1.0/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v1.1.0/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v1.1.0/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v1.1.0/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v1.1.0/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v1.1.0/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v1.1.0/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v1.1.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5064 operator gaudi-ai-sw-tools-operator (0.0.2)
  operators/gaudi-ai-sw-tools-operator/0.0.2/manifests/aitools.intel_gaudiaitoolscontainers.yaml
  operators/gaudi-ai-sw-tools-operator/0.0.2/manifests/gaudi-ai-sw-tools-operator.clusterserviceversion.yaml
  operators/gaudi-ai-sw-tools-operator/0.0.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5065 operator tawon-operator (2.39.23)
  operators/tawon-operator/2.39.23/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.23/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.23/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.23/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.23/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.23/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.23/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.23/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.23/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.23/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.23/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.23/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5061 operator stackable-commons-operator (24.11.1)
  operators/stackable-commons-operator/24.11.1/manifests/authenticationclasses.authentication.stackable.tech.customresourcedefinition.yaml
  operators/stackable-commons-operator/24.11.1/manifests/commons-operator-configmap.yaml
  operators/stackable-commons-operator/24.11.1/manifests/s3buckets.s3.stackable.tech.customresourcedefinition.yaml
  operators/stackable-commons-operator/24.11.1/manifests/s3connections.s3.stackable.tech.customresourcedefinition.yaml
  operators/stackable-commons-operator/24.11.1/manifests/stackable-commons-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-commons-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5063 operator stackable-secret-operator (24.11.1)
  operators/stackable-secret-operator/24.11.1/manifests/SecretClass.yml
  operators/stackable-secret-operator/24.11.1/manifests/secret-operator-manifests.yaml
  operators/stackable-secret-operator/24.11.1/manifests/stackable-secret-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-secret-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5067 operator stackable-listener-operator (24.11.1)
  operators/stackable-listener-operator/24.11.1/manifests/Listener.yml
  operators/stackable-listener-operator/24.11.1/manifests/ListenerClass.yml
  operators/stackable-listener-operator/24.11.1/manifests/PodListeners.yml
  operators/stackable-listener-operator/24.11.1/manifests/listener-operator-manifests.yaml
  operators/stackable-listener-operator/24.11.1/manifests/stackable-listener-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-listener-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5068 operator t8c-tsc-client-certified (1.2.10-candidate-20250128103413000)
  operators/t8c-tsc-client-certified/1.2.10-candidate-20250128103413000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.10-candidate-20250128103413000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.10-candidate-20250128103413000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.10-candidate-20250128103413000/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5070 operator stackable-hdfs-operator (24.11.1)
  operators/stackable-hdfs-operator/24.11.1/manifests/hdfs-clusterrole-nodes.yaml
  operators/stackable-hdfs-operator/24.11.1/manifests/hdfs-clusterrole.yaml
  operators/stackable-hdfs-operator/24.11.1/manifests/hdfs-operator-configmap.yaml
  operators/stackable-hdfs-operator/24.11.1/manifests/hdfsclusters.hdfs.stackable.tech.customresourcedefinition.yaml
  operators/stackable-hdfs-operator/24.11.1/manifests/stackable-hdfs-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-hdfs-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5071 operator stackable-hive-operator (24.11.1)
  operators/stackable-hive-operator/24.11.1/manifests/hive-clusterrole.yaml
  operators/stackable-hive-operator/24.11.1/manifests/hive-operator-configmap.yaml
  operators/stackable-hive-operator/24.11.1/manifests/hiveclusters.hive.stackable.tech.customresourcedefinition.yaml
  operators/stackable-hive-operator/24.11.1/manifests/stackable-hive-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-hive-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5072 operator stackable-hbase-operator (24.11.1)
  operators/stackable-hbase-operator/24.11.1/manifests/hbase-clusterrole.yaml
  operators/stackable-hbase-operator/24.11.1/manifests/hbase-operator-configmap.yaml
  operators/stackable-hbase-operator/24.11.1/manifests/hbaseclusters.hbase.stackable.tech.customresourcedefinition.yaml
  operators/stackable-hbase-operator/24.11.1/manifests/stackable-hbase-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-hbase-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5073 operator stackable-opa-operator (24.11.1)
  operators/stackable-opa-operator/24.11.1/manifests/opa-clusterrole.yaml
  operators/stackable-opa-operator/24.11.1/manifests/opa-operator-configmap.yaml
  operators/stackable-opa-operator/24.11.1/manifests/opaclusters.opa.stackable.tech.customresourcedefinition.yaml
  operators/stackable-opa-operator/24.11.1/manifests/stackable-opa-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-opa-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5066 operator gpu-operator-certified (v24.9.2)
  operators/gpu-operator-certified/v24.9.2/manifests/gpu-operator-certified.clusterserviceversion.yaml
  operators/gpu-operator-certified/v24.9.2/manifests/nvidia.com_clusterpolicies.yaml
  operators/gpu-operator-certified/v24.9.2/manifests/nvidia.com_nvidiadrivers.yaml
  operators/gpu-operator-certified/v24.9.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5074 operator cilium-enterprise (1.14.18)
  operators/cilium-enterprise/1.14.18/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.18/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.18/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.18/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#5077 operator stackable-druid-operator (24.11.1)
  operators/stackable-druid-operator/24.11.1/manifests/druid-clusterrole.yaml
  operators/stackable-druid-operator/24.11.1/manifests/druid-operator-configmap.yaml
  operators/stackable-druid-operator/24.11.1/manifests/druidclusters.druid.stackable.tech.customresourcedefinition.yaml
  operators/stackable-druid-operator/24.11.1/manifests/stackable-druid-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-druid-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5078 operator stackable-kafka-operator (24.11.1)
  operators/stackable-kafka-operator/24.11.1/manifests/kafka-clusterrole.yaml
  operators/stackable-kafka-operator/24.11.1/manifests/kafka-operator-configmap.yaml
  operators/stackable-kafka-operator/24.11.1/manifests/kafkaclusters.kafka.stackable.tech.customresourcedefinition.yaml
  operators/stackable-kafka-operator/24.11.1/manifests/stackable-kafka-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-kafka-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5079 operator stackable-nifi-operator (24.11.1)
  operators/stackable-nifi-operator/24.11.1/manifests/nifi-clusterrole.yaml
  operators/stackable-nifi-operator/24.11.1/manifests/nifi-operator-configmap.yaml
  operators/stackable-nifi-operator/24.11.1/manifests/nificlusters.nifi.stackable.tech.customresourcedefinition.yaml
  operators/stackable-nifi-operator/24.11.1/manifests/stackable-nifi-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-nifi-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5076 operator cilium-enterprise (1.15.12)
  operators/cilium-enterprise/1.15.12/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.15.12/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.15.12/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.15.12/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5080 operator stackable-spark-operator (24.11.1)
  operators/stackable-spark-operator/24.11.1/manifests/spark-k8s-clusterrole.yaml
  operators/stackable-spark-operator/24.11.1/manifests/spark-k8s-operator-configmap.yaml
  operators/stackable-spark-operator/24.11.1/manifests/sparkapplications.spark.stackable.tech.customresourcedefinition.yaml
  operators/stackable-spark-operator/24.11.1/manifests/sparkhistoryservers.spark.stackable.tech.customresourcedefinition.yaml
  operators/stackable-spark-operator/24.11.1/manifests/stackable-spark-k8s-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-spark-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5083 operator stackable-trino-operator (24.11.1)
  operators/stackable-trino-operator/24.11.1/manifests/stackable-trino-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-trino-operator/24.11.1/manifests/trino-clusterrole.yaml
  operators/stackable-trino-operator/24.11.1/manifests/trino-operator-configmap.yaml
  operators/stackable-trino-operator/24.11.1/manifests/trinocatalogs.trino.stackable.tech.customresourcedefinition.yaml
  operators/stackable-trino-operator/24.11.1/manifests/trinoclusters.trino.stackable.tech.customresourcedefinition.yaml
  operators/stackable-trino-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5081 operator stackable-superset-operator (24.11.1)
  operators/stackable-superset-operator/24.11.1/manifests/druidconnections.superset.stackable.tech.customresourcedefinition.yaml
  operators/stackable-superset-operator/24.11.1/manifests/stackable-superset-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-superset-operator/24.11.1/manifests/superset-clusterrole.yaml
  operators/stackable-superset-operator/24.11.1/manifests/superset-operator-configmap.yaml
  operators/stackable-superset-operator/24.11.1/manifests/supersetclusters.superset.stackable.tech.customresourcedefinition.yaml
  operators/stackable-superset-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5084 operator cilium-enterprise (1.16.5)
  operators/cilium-enterprise/1.16.5/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.16.5/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.16.5/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.16.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5082 operator stackable-airflow-operator (24.11.1)
  operators/stackable-airflow-operator/24.11.1/manifests/airflow-clusterrole.yaml
  operators/stackable-airflow-operator/24.11.1/manifests/airflow-operator-configmap.yaml
  operators/stackable-airflow-operator/24.11.1/manifests/airflowclusters.airflow.stackable.tech.customresourcedefinition.yaml
  operators/stackable-airflow-operator/24.11.1/manifests/stackable-airflow-operator.v24.11.1.clusterserviceversion.yaml
  operators/stackable-airflow-operator/24.11.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5085 operator cilium-enterprise (1.14.19)
  operators/cilium-enterprise/1.14.19/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.19/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.19/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.19/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5086 operator t8c-tsc-client-certified (1.2.10-candidate-20250128203344000)
  operators/t8c-tsc-client-certified/1.2.10-candidate-20250128203344000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.10-candidate-20250128203344000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.10-candidate-20250128203344000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.10-candidate-20250128203344000/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5087 operator cilium-enterprise (1.15.13)
  operators/cilium-enterprise/1.15.13/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.15.13/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.15.13/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.15.13/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5089 operator cilium-enterprise (1.16.6)
  operators/cilium-enterprise/1.16.6/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.16.6/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.16.6/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.16.6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5091 operator prometurbo-certified (8.15.10-beta.1)
  operators/prometurbo-certified/8.15.10-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.10-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.10-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5092 operator kubeturbo-certified (8.15.10-beta.1)
  operators/kubeturbo-certified/8.15.10-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.15.10-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.15.10-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5093 operator tawon-operator (2.39.24)
  operators/tawon-operator/2.39.24/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.24/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.24/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.24/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.24/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.24/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.24/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.24/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.24/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.24/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.24/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.24/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5094 operator app-insights-operator (1.12.0)
  operators/app-insights-operator/1.12.0/manifests/app-insights-operator-appinsightsagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.12.0/manifests/app-insights-operator-appinsightsagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.12.0/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.12.0/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.12.0/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.12.0/manifests/appinsights.randoli_appinsightsagents.yaml
  operators/app-insights-operator/1.12.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5095 operator zabbix-operator-certified (6.0.38)
  operators/zabbix-operator-certified/6.0.38/manifests/kubernetes.zabbix.com_zabbixagent2s.yaml
  operators/zabbix-operator-certified/6.0.38/manifests/kubernetes.zabbix.com_zabbixagents.yaml
  operators/zabbix-operator-certified/6.0.38/manifests/kubernetes.zabbix.com_zabbixfulls.yaml
  operators/zabbix-operator-certified/6.0.38/manifests/kubernetes.zabbix.com_zabbixproxymysqls.yaml
  operators/zabbix-operator-certified/6.0.38/manifests/kubernetes.zabbix.com_zabbixproxysqlites.yaml
  operators/zabbix-operator-certified/6.0.38/manifests/kubernetes.zabbix.com_zabbixservers.yaml
  operators/zabbix-operator-certified/6.0.38/manifests/zabbix-operator-certified.clusterserviceversion.yaml
  operators/zabbix-operator-certified/6.0.38/metadata/annotations.yaml
  operators/zabbix-operator-certified/6.0.38/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5096 operator t8c-certified (42.72.0-beta.1)
  operators/t8c-certified/42.72.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.72.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.72.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5097 operator ibm-metrics-operator (2.18.0)
  operators/ibm-metrics-operator/2.18.0/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.18.0/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.18.0/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.18.0/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.18.0/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.18.0/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.18.0/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.18.0/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.18.0/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.18.0/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.18.0/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.18.0/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.18.0/manifests/marketplace.redhat.com_razeedeployments.yaml
  operators/ibm-metrics-operator/2.18.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5098 operator ibm-data-reporter-operator (2.18.0)
  operators/ibm-data-reporter-operator/2.18.0/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.18.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.18.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.18.0/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.18.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.18.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.18.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.18.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.18.0/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.18.0/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.18.0/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.18.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5101 operator vcp-operator (v1.5.0)
  operators/vcp-operator/v1.5.0/manifests/installer.venafi.com_venafiinstalls.yaml
  operators/vcp-operator/v1.5.0/manifests/vcp-operator-metrics_v1_service.yaml
  operators/vcp-operator/v1.5.0/manifests/vcp-operator.clusterserviceversion.yaml
  operators/vcp-operator/v1.5.0/metadata/annotations.yaml
  operators/vcp-operator/v1.5.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5104 operator anjuna-operator (1.0.0)
  operators/anjuna-operator/1.0.0/manifests/anjuna-operator-anjunaruntime-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/anjuna-operator/1.0.0/manifests/anjuna-operator-anjunaruntime-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/anjuna-operator/1.0.0/manifests/anjuna-operator-controller-manager-metrics-service_v1_service.yaml
  operators/anjuna-operator/1.0.0/manifests/anjuna-operator-manager-config_v1_configmap.yaml
  operators/anjuna-operator/1.0.0/manifests/anjuna-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/anjuna-operator/1.0.0/manifests/anjuna-operator-privileged-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/anjuna-operator/1.0.0/manifests/anjuna-operator.clusterserviceversion.yaml
  operators/anjuna-operator/1.0.0/manifests/anjuna.io_anjunaruntimes.yaml
  operators/anjuna-operator/1.0.0/metadata/annotations.yaml
  operators/anjuna-operator/1.0.0/tests/scorecard/config.yaml
  operators/anjuna-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5107 operator stackgres-certified (1.15.0-rc4)
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.15.0-rc4/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.15.0-rc4/metadata/annotations.yaml
  operators/stackgres-certified/1.15.0-rc4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5108 operator coroot-operator (1.1.5)
  operators/coroot-operator/1.1.5/manifests/coroot-operator.clusterserviceversion.yaml
  operators/coroot-operator/1.1.5/manifests/coroot.com_coroots.yaml
  operators/coroot-operator/1.1.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5109 operator tawon-operator (2.39.25-rc2)
  operators/tawon-operator/2.39.25-rc2/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.25-rc2/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.25-rc2/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.25-rc2/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.25-rc2/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.25-rc2/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.25-rc2/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.25-rc2/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.25-rc2/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.25-rc2/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.25-rc2/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.25-rc2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5111 operator t8c-tsc-client-certified (1.2.11)
  operators/t8c-tsc-client-certified/1.2.11/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.2.11/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.2.11/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.2.11/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5039 operator hspc-operator (1.15.0)
  operators/hspc-operator/1.15.0/manifests/csi.hitachi.com_hspcs.yaml
  operators/hspc-operator/1.15.0/manifests/hspc-operator.clusterserviceversion.yaml
  operators/hspc-operator/1.15.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5114 operator tawon-operator (2.39.25)
  operators/tawon-operator/2.39.25/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.25/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.25/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.25/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.25/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.25/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.25/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.25/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.25/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.25/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.25/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.25/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started
