Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2025-09, with the labels that each got.

#6519 operator xspc-operator (1.16.1)
  operators/xspc-operator/1.16.1/manifests/csi.hpe.com_xspcs.yaml
  operators/xspc-operator/1.16.1/manifests/xspc-operator.clusterserviceversion.yaml
  operators/xspc-operator/1.16.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6523 operator digitalai-deploy-operator (v25.3.0-beta.813)
  operators/digitalai-deploy-operator/v25.3.0-beta.813/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.813/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.813/manifests/xld-digitalaideploy-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.813/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.813/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.813/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.813/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.813/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.813/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v25.3.0-beta.813/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6525 operator hibernation-operator (v0.1.100-e2d9c258)
  operators/hibernation-operator/v0.1.100-e2d9c258/manifests/hibernation-operator-clusterresourcesupervisor-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hibernation-operator/v0.1.100-e2d9c258/manifests/hibernation-operator-clusterresourcesupervisor-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hibernation-operator/v0.1.100-e2d9c258/manifests/hibernation-operator-clusterresourcesupervisor-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hibernation-operator/v0.1.100-e2d9c258/manifests/hibernation-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hibernation-operator/v0.1.100-e2d9c258/manifests/hibernation-operator-webhook-metrics-service_v1_service.yaml
  operators/hibernation-operator/v0.1.100-e2d9c258/manifests/hibernation-operator-webhook-service_v1_service.yaml
  operators/hibernation-operator/v0.1.100-e2d9c258/manifests/hibernation-operator.clusterserviceversion.yaml
  operators/hibernation-operator/v0.1.100-e2d9c258/manifests/hibernation.stakater.com_clusterresourcesupervisors.yaml
  operators/hibernation-operator/v0.1.100-e2d9c258/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6531 operator spyre-operator (v0.2.1)
  operators/spyre-operator/v0.2.1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/spyre-operator/v0.2.1/manifests/monitoring-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/spyre-operator/v0.2.1/manifests/monitoring-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/spyre-operator/v0.2.1/manifests/spyre-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/spyre-operator/v0.2.1/manifests/spyre-operator-metrics-service_v1_service.yaml
  operators/spyre-operator/v0.2.1/manifests/spyre-operator.clusterserviceversion.yaml
  operators/spyre-operator/v0.2.1/manifests/spyre.ibm.com_spyreclusterpolicies.yaml
  operators/spyre-operator/v0.2.1/manifests/spyre.ibm.com_spyrenodestates.yaml
  operators/spyre-operator/v0.2.1/metadata/annotations.yaml
  operators/spyre-operator/v0.2.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6534 operator hibernation-operator (v0.1.102)
  operators/hibernation-operator/v0.1.102/manifests/hibernation-operator-clusterresourcesupervisor-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hibernation-operator/v0.1.102/manifests/hibernation-operator-clusterresourcesupervisor-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hibernation-operator/v0.1.102/manifests/hibernation-operator-clusterresourcesupervisor-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hibernation-operator/v0.1.102/manifests/hibernation-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hibernation-operator/v0.1.102/manifests/hibernation-operator-webhook-metrics-service_v1_service.yaml
  operators/hibernation-operator/v0.1.102/manifests/hibernation-operator-webhook-service_v1_service.yaml
  operators/hibernation-operator/v0.1.102/manifests/hibernation-operator.clusterserviceversion.yaml
  operators/hibernation-operator/v0.1.102/manifests/hibernation.stakater.com_clusterresourcesupervisors.yaml
  operators/hibernation-operator/v0.1.102/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6540 operator prometurbo-certified (8.17.20)
  operators/prometurbo-certified/8.17.20/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.17.20/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.17.20/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6538 operator t8c-certified (42.88.0)
  operators/t8c-certified/42.88.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.88.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.88.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6541 operator habana-ai-operator (1.22.0-740)
  operators/habana-ai-operator/1.22.0-740/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.22.0-740/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.22.0-740/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.22.0-740/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.22.0-740/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.22.0-740/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.22.0-740/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.22.0-740/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.22.0-740/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6542 operator trident-operator (25.6.2)
  operators/trident-operator/25.6.2/manifests/trident-operator.v25.6.2.clusterserviceversion.yaml
  operators/trident-operator/25.6.2/manifests/trident.netapp.io_tridentconfigurators_crd.yaml
  operators/trident-operator/25.6.2/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/25.6.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6545 operator portworx-certified (25.3.1)
  operators/portworx-certified/25.3.1/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/25.3.1/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/25.3.1/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/25.3.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6546 operator rbln-npu-operator (0.0.2)
  operators/rbln-npu-operator/0.0.2/manifests/rbln-npu-operator.clusterserviceversion.yaml
  operators/rbln-npu-operator/0.0.2/manifests/rebellions.ai_rblnclusterpolicies.yaml
  operators/rbln-npu-operator/0.0.2/metadata/annotations.yaml
  operators/rbln-npu-operator/0.0.2/tests/scorecard/config.yaml
  operators/rbln-npu-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6547 operator tenant-operator (v1.4.2)
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-gateway-configmap-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-gateway-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-keycloak_v1_serviceaccount.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-postgresql_v1_serviceaccount.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-quota-intconfig-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-quota-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.4.2/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v1.4.2/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v1.4.2/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v1.4.2/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v1.4.2/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v1.4.2/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v1.4.2/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v1.4.2/metadata/annotations.yaml
  operators/tenant-operator/v1.4.2/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#6543 operator mongodb-kubernetes (1.3.0)
  operators/mongodb-kubernetes/1.3.0/bundle.Dockerfile
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb-kubernetes-appdb_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb-kubernetes-database-pods_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb-kubernetes-operator-service_v1_service.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb-kubernetes-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb-kubernetes.clusterserviceversion.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb.com_clustermongodbroles.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb.com_mongodbsearch.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-kubernetes/1.3.0/manifests/mongodbcommunity.mongodb.com_mongodbcommunity.yaml
  operators/mongodb-kubernetes/1.3.0/metadata/annotations.yaml
  operators/mongodb-kubernetes/1.3.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6493 operator eda-openshift-operator (4.0.0)
  operators/eda-openshift-operator/4.0.0/manifests/config.eda.nokia.com_connectcontrollerconfigs.yaml
  operators/eda-openshift-operator/4.0.0/manifests/connect.eda.nokia.com_connectnetworkattachmentstatuses.yaml
  operators/eda-openshift-operator/4.0.0/manifests/connect.eda.nokia.com_connectnetworkdefinitions.yaml
  operators/eda-openshift-operator/4.0.0/manifests/eda-connect-k8s-controller-metrics-service_v1_service.yaml
  operators/eda-openshift-operator/4.0.0/manifests/eda-connect-k8s-controller-rbac.yaml
  operators/eda-openshift-operator/4.0.0/manifests/eda-connect-k8s-controller-serviceaccount.yaml
  operators/eda-openshift-operator/4.0.0/manifests/eda-connect-k8s-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eda-openshift-operator/4.0.0/manifests/operator-connectcontrollerconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eda-openshift-operator/4.0.0/manifests/operator-connectcontrollerconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eda-openshift-operator/4.0.0/manifests/operator-controller-manager-metrics-service_v1_service.yaml
  operators/eda-openshift-operator/4.0.0/manifests/operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eda-openshift-operator/4.0.0/manifests/operator.clusterserviceversion.yaml
  operators/eda-openshift-operator/4.0.0/metadata/annotations.yaml
  operators/eda-openshift-operator/4.0.0/tests/scorecard/config.yaml
  operators/eda-openshift-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6556 operator gitlab-operator-kubernetes (2.3.2)
  operators/gitlab-operator-kubernetes/2.3.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.3.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.3.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.3.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.3.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.3.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.3.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.3.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.3.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.3.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6562 operator app-insights-operator (1.17.5-1)
  operators/app-insights-operator/1.17.5-1/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.17.5-1/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.5-1/manifests/app-insights-operator-netobserv-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.5-1/manifests/app-insights-operator-randoliagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.5-1/manifests/app-insights-operator-randoliagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.5-1/manifests/app-insights-operator-scc-hostmount-anyuid-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.5-1/manifests/app-insights-operator-scc-privileged-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.5-1/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.17.5-1/manifests/appinsights.randoli_randoliagents.yaml
  operators/app-insights-operator/1.17.5-1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6563 operator cpd-platform-operator (v6.1.3)
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator.clusterserviceversion.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd.ibm.com_ibmcpds.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/annotations.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#6564 Catalog update [cpd-platform-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18]
  catalogs/v4.12/cpd-platform-operator/catalog.yaml
  catalogs/v4.13/cpd-platform-operator/catalog.yaml
  catalogs/v4.14/cpd-platform-operator/catalog.yaml
  catalogs/v4.15/cpd-platform-operator/catalog.yaml
  catalogs/v4.16/cpd-platform-operator/catalog.yaml
  catalogs/v4.17/cpd-platform-operator/catalog.yaml
  catalogs/v4.18/cpd-platform-operator/catalog.yaml
  operators/cpd-platform-operator/Makefile
  operators/cpd-platform-operator/catalog-templates/v4.12.yaml
  operators/cpd-platform-operator/catalog-templates/v4.13.yaml
  operators/cpd-platform-operator/catalog-templates/v4.14.yaml
  operators/cpd-platform-operator/catalog-templates/v4.15.yaml
  operators/cpd-platform-operator/catalog-templates/v4.16.yaml
  operators/cpd-platform-operator/catalog-templates/v4.17.yaml
  operators/cpd-platform-operator/catalog-templates/v4.18.yaml
Labels: approved, operator-hosted-pipeline/started

#6552 operator t8c-certified (42.89.0-beta.1)
  operators/t8c-certified/42.89.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.89.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.89.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6579 operator prometurbo-certified (8.17.30-beta.1)
  operators/prometurbo-certified/8.17.30-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.17.30-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.17.30-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6565 operator dynatrace-operator (1.7.0)
  operators/dynatrace-operator/1.7.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.7.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.7.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.7.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.7.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6568 operator eginnovations-operator (0.0.11)
  operators/eginnovations-operator/0.0.11/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.11/manifests/eginnovations-operator-eguniversalagent-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.11/manifests/eginnovations-operator-eguniversalagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.11/manifests/eginnovations-operator-eguniversalagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.11/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.11/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.11/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.11/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.11/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.11/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6592 operator bonree-operator (1.1.0)
  operators/bonree-operator/1.1.0/manifests/bonree-operator.clusterserviceversion.yaml
  operators/bonree-operator/1.1.0/manifests/bonree-webhook_policy_v1_poddisruptionbudget.yaml
  operators/bonree-operator/1.1.0/manifests/bonree-webhook_v1_service.yaml
  operators/bonree-operator/1.1.0/manifests/bonree.com_smartkubes.yaml
  operators/bonree-operator/1.1.0/metadata/annotations.yaml
  operators/bonree-operator/1.1.0/smartkube.yaml
  operators/bonree-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6595 operator runtime-component-operator-certified (1.5.0)
  operators/runtime-component-operator-certified/1.5.0/manifests/rc.app.stacks_runtimecomponents.yaml
  operators/runtime-component-operator-certified/1.5.0/manifests/rc.app.stacks_runtimeoperations.yaml
  operators/runtime-component-operator-certified/1.5.0/manifests/runtime-component-operator-certified.clusterserviceversion.yaml
  operators/runtime-component-operator-certified/1.5.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6597 operator habana-ai-operator (1.22.1-6)
  operators/habana-ai-operator/1.22.1-6/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.22.1-6/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.22.1-6/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.22.1-6/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.22.1-6/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.22.1-6/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.22.1-6/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.22.1-6/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.22.1-6/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6598 operator habana-ai-operator (1.21.5-6)
  operators/habana-ai-operator/1.21.5-6/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.21.5-6/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.21.5-6/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.21.5-6/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.21.5-6/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.21.5-6/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.21.5-6/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.21.5-6/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.21.5-6/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6600 operator t8c-certified (42.89.0)
  operators/t8c-certified/42.89.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.89.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.89.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6601 operator prometurbo-certified (8.17.30)
  operators/prometurbo-certified/8.17.30/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.17.30/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.17.30/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6602 operator kubeturbo-certified (8.17.30)
  operators/kubeturbo-certified/8.17.30/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.17.30/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.17.30/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6603 operator app-insights-operator (1.17.5-2)
  operators/app-insights-operator/1.17.5-2/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.17.5-2/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.5-2/manifests/app-insights-operator-netobserv-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.5-2/manifests/app-insights-operator-randoliagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.5-2/manifests/app-insights-operator-randoliagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.5-2/manifests/app-insights-operator-scc-hostmount-anyuid-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.5-2/manifests/app-insights-operator-scc-privileged-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.5-2/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.17.5-2/manifests/appinsights.randoli_randoliagents.yaml
  operators/app-insights-operator/1.17.5-2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6605 operator gpu-operator-certified (v25.3.4)
  operators/gpu-operator-certified/v25.3.4/manifests/gpu-operator-certified.clusterserviceversion.yaml
  operators/gpu-operator-certified/v25.3.4/manifests/nvidia.com_clusterpolicies.yaml
  operators/gpu-operator-certified/v25.3.4/manifests/nvidia.com_nvidiadrivers.yaml
  operators/gpu-operator-certified/v25.3.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6608 remove cpd platform operator 09-19
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator.clusterserviceversion.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd.ibm.com_ibmcpds.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/annotations.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/dependencies.yaml
Labels: operator-hosted-pipeline/failed

#6609 operator cpd-platform-operator (v6.1.3)
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator.clusterserviceversion.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd.ibm.com_ibmcpds.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/annotations.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#6612 Catalog update [cpd-platform-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18]
  catalogs/v4.12/cpd-platform-operator/catalog.yaml
  catalogs/v4.13/cpd-platform-operator/catalog.yaml
  catalogs/v4.14/cpd-platform-operator/catalog.yaml
  catalogs/v4.15/cpd-platform-operator/catalog.yaml
  catalogs/v4.16/cpd-platform-operator/catalog.yaml
  catalogs/v4.17/cpd-platform-operator/catalog.yaml
  catalogs/v4.18/cpd-platform-operator/catalog.yaml
  operators/cpd-platform-operator/catalog-templates/v4.12.yaml
  operators/cpd-platform-operator/catalog-templates/v4.13.yaml
  operators/cpd-platform-operator/catalog-templates/v4.14.yaml
  operators/cpd-platform-operator/catalog-templates/v4.15.yaml
  operators/cpd-platform-operator/catalog-templates/v4.16.yaml
  operators/cpd-platform-operator/catalog-templates/v4.17.yaml
  operators/cpd-platform-operator/catalog-templates/v4.18.yaml
Labels: approved, operator-hosted-pipeline/started

#6613 operator redis-enterprise-operator-cert (7.2.4-15.1)
  operators/redis-enterprise-operator-cert/7.2.4-15.1/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-15.1/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-15.1/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-15.1/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.2.4-15.1/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.2.4-15.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6618 operator app-insights-operator (1.17.5-3)
  operators/app-insights-operator/1.17.5-3/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.17.5-3/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.5-3/manifests/app-insights-operator-netobserv-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.5-3/manifests/app-insights-operator-randoliagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.5-3/manifests/app-insights-operator-randoliagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.5-3/manifests/app-insights-operator-scc-hostmount-anyuid-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.5-3/manifests/app-insights-operator-scc-privileged-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.5-3/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.17.5-3/manifests/appinsights.randoli_randoliagents.yaml
  operators/app-insights-operator/1.17.5-3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6632 Catalog update [edb-hcp-operator] [v4.17,v4.18,v4.19]
  catalogs/v4.17/edb-hcp-operator/catalog.yaml
  catalogs/v4.18/edb-hcp-operator/catalog.yaml
  catalogs/v4.19/edb-hcp-operator/catalog.yaml
  operators/edb-hcp-operator/catalog-templates/v4.17.yaml
  operators/edb-hcp-operator/catalog-templates/v4.18.yaml
  operators/edb-hcp-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6623 operator gitlab-runner-operator (1.41.0)
  operators/gitlab-runner-operator/1.41.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.41.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.41.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.41.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.41.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.41.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.41.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6629 operator kubeturbo-certified (8.17.40-beta.1)
  operators/kubeturbo-certified/8.17.40-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.17.40-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.17.40-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6628 operator t8c-certified (42.90.0-beta.1)
  operators/t8c-certified/42.90.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.90.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.90.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6634 operator uma-admin-operator (2025.9.1)
  operators/uma-admin-operator/2025.9.1/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.9.1/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.9.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6636 operator uma-team-operator (2025.9.1)
  operators/uma-team-operator/2025.9.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.9.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.9.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6643 operator vault-secrets-operator (1.0.0)
  operators/vault-secrets-operator/1.0.0/manifests/secrets.hashicorp.com_csisecrets.yaml
  operators/vault-secrets-operator/1.0.0/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/1.0.0/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/1.0.0/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/1.0.0/manifests/secrets.hashicorp.com_vaultauthglobals.yaml
  operators/vault-secrets-operator/1.0.0/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/1.0.0/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/1.0.0/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/1.0.0/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/1.0.0/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/1.0.0/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/1.0.0/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/1.0.0/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/1.0.0/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/1.0.0/metadata/annotations.yaml
  operators/vault-secrets-operator/1.0.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6644 operator gitlab-runner-operator (1.41.1)
  operators/gitlab-runner-operator/1.41.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.41.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.41.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.41.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.41.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.41.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.41.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6645 operator mongodb-atlas-kubernetes (2.11.0)
  operators/mongodb-atlas-kubernetes/2.11.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasnetworkcontainers.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasnetworkpeerings.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasorgsettings.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/atlas.mongodb.com_atlasthirdpartyintegrations.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.11.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6647 operator kove-operator (v3.0.2)
  operators/kove-operator/v3.0.2/manifests/containers.kove.com_kovememoryconfigs.yaml
  operators/kove-operator/v3.0.2/manifests/containers.kove.com_kovesystems.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-agent-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-agent_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-ca_v1_configmap.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-client-drivers-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-client-drivers-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-client-drivers_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-compatibility-detection-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-compatibility-detection-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-compatibility-detection_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-container-hook-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-container-hook-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-container-hook_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-l4-cache-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-l4-cache-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-kove-l4-cache_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator-webhook-service_v1_service.yaml
  operators/kove-operator/v3.0.2/manifests/kove-operator.clusterserviceversion.yaml
  operators/kove-operator/v3.0.2/metadata/annotations.yaml
  operators/kove-operator/v3.0.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6648 operator conjur-follower-operator (2.6.3)
  operators/conjur-follower-operator/2.6.3/manifests/conjur-follower-operator-conjurfollower-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.6.3/manifests/conjur-follower-operator-conjurfollower-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.6.3/manifests/conjur-follower-operator.clusterserviceversion.yaml
  operators/conjur-follower-operator/2.6.3/manifests/conjur.cyberark.com_conjurfollowers.yaml
  operators/conjur-follower-operator/2.6.3/metadata/annotations.yaml
  operators/conjur-follower-operator/2.6.3/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6655 operator digitalai-deploy-operator (v24.3.11)
  operators/digitalai-deploy-operator/v24.3.11/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.3.11/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.3.11/manifests/xld-digitalaideploy-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.11/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.11/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.11/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.11/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.3.11/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.3.11/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v24.3.11/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6657 operator vault-secrets-operator (1.0.1)
  operators/vault-secrets-operator/1.0.1/manifests/secrets.hashicorp.com_csisecrets.yaml
  operators/vault-secrets-operator/1.0.1/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/1.0.1/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/1.0.1/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/1.0.1/manifests/secrets.hashicorp.com_vaultauthglobals.yaml
  operators/vault-secrets-operator/1.0.1/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/1.0.1/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/1.0.1/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/1.0.1/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/1.0.1/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/1.0.1/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/1.0.1/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/1.0.1/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/1.0.1/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/1.0.1/metadata/annotations.yaml
  operators/vault-secrets-operator/1.0.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6635 operator dell-csm-operator-certified (1.10.0)
  operators/dell-csm-operator-certified/1.10.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.10.0/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.10.0/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.10.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6662 operator hpe-csi-operator (3.0.1)
  operators/hpe-csi-operator/3.0.1/manifests/hpe-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-csi-operator/3.0.1/manifests/hpe-csi-operator-hpecsidriver-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/3.0.1/manifests/hpe-csi-operator-hpecsidriver-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/3.0.1/manifests/hpe-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/3.0.1/manifests/hpe-csi-operator.clusterserviceversion.yaml
  operators/hpe-csi-operator/3.0.1/manifests/storage.hpe.com_hpecsidrivers.yaml
  operators/hpe-csi-operator/3.0.1/metadata/annotations.yaml
  operators/hpe-csi-operator/3.0.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6663 operator instana-agent-operator (2.1.35)
  operators/instana-agent-operator/2.1.35/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.35/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.35/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.35/manifests/instana.io_agentsremote.yaml
  operators/instana-agent-operator/2.1.35/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.35/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.35/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.35/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.35/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6666 operator t8c-certified (42.90.0-beta.2)
  operators/t8c-certified/42.90.0-beta.2/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.90.0-beta.2/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.90.0-beta.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name
