Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2025-08, with the labels that each got.

#6268 operator pubsubplus-eventbroker-operator (1.4.0)
  operators/pubsubplus-eventbroker-operator/1.4.0/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.4.0/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.4.0/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.4.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6271 remove operators/cpd-platform-operator/v6.1.3 version to be added back
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator.clusterserviceversion.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd.ibm.com_ibmcpds.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/annotations.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/dependencies.yaml
Labels: approved, lgtm, operator-hosted-pipeline/failed

#6273 operator cpd-platform-operator (v6.1.3)
  operators/cpd-platform-operator/ci.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator.clusterserviceversion.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd.ibm.com_ibmcpds.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/annotations.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#6274 operator operator-aims-mobile (v0.0.1)
  operators/operator-aims-mobile/ci.yaml
  operators/operator-aims-mobile/v0.0.1/manifests/cache.microsafe.com.mx_aimsmobiles.yaml
  operators/operator-aims-mobile/v0.0.1/manifests/operator-aims-mobile-aimsmobile-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-aims-mobile/v0.0.1/manifests/operator-aims-mobile-aimsmobile-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-aims-mobile/v0.0.1/manifests/operator-aims-mobile-aimsmobile-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-aims-mobile/v0.0.1/manifests/operator-aims-mobile-controller-manager-metrics-service_v1_service.yaml
  operators/operator-aims-mobile/v0.0.1/manifests/operator-aims-mobile-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-aims-mobile/v0.0.1/manifests/operator-aims-mobile.clusterserviceversion.yaml
  operators/operator-aims-mobile/v0.0.1/metadata/annotations.yaml
  operators/operator-aims-mobile/v0.0.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6276 operator digitalai-deploy-operator (v25.3.0-beta.711)
  operators/digitalai-deploy-operator/v25.3.0-beta.711/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.711/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.711/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.711/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.711/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.711/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.711/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v25.3.0-beta.711/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v25.3.0-beta.711/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6277 operator habana-ai-operator (1.21.3-57)
  operators/habana-ai-operator/1.21.3-57/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.21.3-57/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.21.3-57/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.21.3-57/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.21.3-57/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.21.3-57/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.21.3-57/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.21.3-57/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.21.3-57/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6275 Catalog update [cpd-platform-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18]
  catalogs/v4.12/cpd-platform-operator/catalog.yaml
  catalogs/v4.13/cpd-platform-operator/catalog.yaml
  catalogs/v4.14/cpd-platform-operator/catalog.yaml
  catalogs/v4.15/cpd-platform-operator/catalog.yaml
  catalogs/v4.16/cpd-platform-operator/catalog.yaml
  catalogs/v4.17/cpd-platform-operator/catalog.yaml
  catalogs/v4.18/cpd-platform-operator/catalog.yaml
  operators/cpd-platform-operator/catalog-templates/v4.12.yaml
  operators/cpd-platform-operator/catalog-templates/v4.13.yaml
  operators/cpd-platform-operator/catalog-templates/v4.14.yaml
  operators/cpd-platform-operator/catalog-templates/v4.15.yaml
  operators/cpd-platform-operator/catalog-templates/v4.16.yaml
  operators/cpd-platform-operator/catalog-templates/v4.17.yaml
  operators/cpd-platform-operator/catalog-templates/v4.18.yaml
  operators/cpd-platform-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6281 operator vfunction-server-operator (v4.3.1762)
  operators/vfunction-server-operator/v4.3.1762/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v4.3.1762/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v4.3.1762/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v4.3.1762/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v4.3.1762/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v4.3.1762/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_pruned_graph, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#6280 operator appdynamics-operator (25.7.0-1186)
  operators/appdynamics-operator/25.7.0-1186/bundle.Dockerfile
  operators/appdynamics-operator/25.7.0-1186/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/25.7.0-1186/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/25.7.0-1186/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/25.7.0-1186/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/25.7.0-1186/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/25.7.0-1186/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/25.7.0-1186/manifests/custom-kubeconfig-configmap.yaml
  operators/appdynamics-operator/25.7.0-1186/manifests/infraviz_clusterrole.yaml
  operators/appdynamics-operator/25.7.0-1186/manifests/infraviz_service_account.yaml
  operators/appdynamics-operator/25.7.0-1186/manifests/target_allocator_clusterrole.yaml
  operators/appdynamics-operator/25.7.0-1186/manifests/target_allocator_service_account.yaml
  operators/appdynamics-operator/25.7.0-1186/metadata/annotations.yaml
  operators/appdynamics-operator/25.7.0-1186/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6282 Catalog update [cpd-platform-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18]
  catalogs/v4.12/cpd-platform-operator/catalog.yaml
  catalogs/v4.13/cpd-platform-operator/catalog.yaml
  catalogs/v4.14/cpd-platform-operator/catalog.yaml
  catalogs/v4.15/cpd-platform-operator/catalog.yaml
  catalogs/v4.16/cpd-platform-operator/catalog.yaml
  catalogs/v4.17/cpd-platform-operator/catalog.yaml
  catalogs/v4.18/cpd-platform-operator/catalog.yaml
  operators/cpd-platform-operator/Makefile
  operators/cpd-platform-operator/catalog-templates/v4.12.yaml
  operators/cpd-platform-operator/catalog-templates/v4.13.yaml
  operators/cpd-platform-operator/catalog-templates/v4.14.yaml
  operators/cpd-platform-operator/catalog-templates/v4.15.yaml
  operators/cpd-platform-operator/catalog-templates/v4.16.yaml
  operators/cpd-platform-operator/catalog-templates/v4.17.yaml
  operators/cpd-platform-operator/catalog-templates/v4.18.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator.clusterserviceversion.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd.ibm.com_ibmcpds.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/annotations.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#6285 operator uma-operator (2025.7.2)
  operators/uma-operator/2025.7.2/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.7.2/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.7.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6288 operator uma-team-operator (2025.7.2)
  operators/uma-team-operator/2025.7.2/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.7.2/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.7.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6291 Catalog update [edb-hcp-operator] [v4.17,v4.18,v4.19]
  catalogs/v4.17/edb-hcp-operator/catalog.yaml
  catalogs/v4.18/edb-hcp-operator/catalog.yaml
  catalogs/v4.19/edb-hcp-operator/catalog.yaml
  operators/edb-hcp-operator/catalog-templates/v4.17.yaml
  operators/edb-hcp-operator/catalog-templates/v4.18.yaml
  operators/edb-hcp-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6292 operator spyre-operator (v0.1.2)
  operators/spyre-operator/v0.1.2/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/spyre-operator/v0.1.2/manifests/monitoring-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/spyre-operator/v0.1.2/manifests/monitoring-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/spyre-operator/v0.1.2/manifests/spyre-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/spyre-operator/v0.1.2/manifests/spyre-operator-metrics-service_v1_service.yaml
  operators/spyre-operator/v0.1.2/manifests/spyre-operator.clusterserviceversion.yaml
  operators/spyre-operator/v0.1.2/manifests/spyre.ibm.com_spyreclusterpolicies.yaml
  operators/spyre-operator/v0.1.2/manifests/spyre.ibm.com_spyrenodestates.yaml
  operators/spyre-operator/v0.1.2/metadata/annotations.yaml
  operators/spyre-operator/v0.1.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6293 operator minio-object-store-operator (2025.8.1184927)
  operators/minio-object-store-operator/2025.8.1184927/manifests/aistor-tokenreview-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-object-store-operator/2025.8.1184927/manifests/aistor.min.io_adminjobs.yaml
  operators/minio-object-store-operator/2025.8.1184927/manifests/aistor.min.io_objectstores.yaml
  operators/minio-object-store-operator/2025.8.1184927/manifests/minio-object-store-operator.clusterserviceversion.yaml
  operators/minio-object-store-operator/2025.8.1184927/manifests/object-store-operator_v1_service.yaml
  operators/minio-object-store-operator/2025.8.1184927/manifests/sts.min.io_policybindings.yaml
  operators/minio-object-store-operator/2025.8.1184927/manifests/sts_v1_service.yaml
  operators/minio-object-store-operator/2025.8.1184927/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6299 operator ibm-block-csi-operator (1.12.5)
  operators/ibm-block-csi-operator/1.12.5/bundle-1.12.5.Dockerfile
  operators/ibm-block-csi-operator/1.12.5/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator/1.12.5/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator/1.12.5/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator/1.12.5/manifests/ibm-block-csi-operator.clusterserviceversion.yaml
  operators/ibm-block-csi-operator/1.12.5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6300 operator couchbase-enterprise-certified (2.7.1-1)
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbase-v2.7.1.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.1-1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6301 operator redis-enterprise-operator-cert (7.22.0-16.0)
  operators/redis-enterprise-operator-cert/7.22.0-16.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-16.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-16.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-16.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.22.0-16.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-16.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6318 operator ibm-metrics-operator (2.19.5)
  operators/ibm-metrics-operator/2.19.5/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.19.5/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.19.5/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.5/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.5/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.5/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.19.5/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.19.5/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.19.5/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.19.5/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.19.5/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.19.5/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.19.5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6319 operator ibm-data-reporter-operator (2.19.5)
  operators/ibm-data-reporter-operator/2.19.5/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.19.5/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.19.5/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.19.5/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.19.5/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.19.5/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.19.5/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.19.5/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.19.5/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.19.5/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.19.5/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.19.5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6320 operator aic-operator (v0.3.0)
  operators/aic-operator/v0.3.0/manifests/aic-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aic-operator/v0.3.0/manifests/aic-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aic-operator/v0.3.0/manifests/aic-operator.clusterserviceversion.yaml
  operators/aic-operator/v0.3.0/manifests/aic.quicinc.com_aics.yaml
  operators/aic-operator/v0.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6324 operator aic-operator (v0.3.1)
  operators/aic-operator/v0.3.1/manifests/aic-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aic-operator/v0.3.1/manifests/aic-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aic-operator/v0.3.1/manifests/aic-operator.clusterserviceversion.yaml
  operators/aic-operator/v0.3.1/manifests/aic.quicinc.com_aics.yaml
  operators/aic-operator/v0.3.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6325 operator instana-agent-operator (2.1.33)
  operators/instana-agent-operator/2.1.33/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.33/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.33/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.33/manifests/instana.io_agentsremote.yaml
  operators/instana-agent-operator/2.1.33/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.33/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.33/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.33/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.33/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6326 operator t8c-tsc-client-certified (1.4.2-candidate-20250806145822000)
  operators/t8c-tsc-client-certified/1.4.2-candidate-20250806145822000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.4.2-candidate-20250806145822000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.4.2-candidate-20250806145822000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.4.2-candidate-20250806145822000/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6331 operator f5-ipam-controller-operator (v0.0.8)
  operators/f5-ipam-controller-operator/v0.0.8/manifests/f5-ipam-controller-operator-controller-manager-metrics-service_v1_service.yaml
  operators/f5-ipam-controller-operator/v0.0.8/manifests/f5-ipam-controller-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/f5-ipam-controller-operator/v0.0.8/manifests/f5-ipam-controller-operator.clusterserviceversion.yaml
  operators/f5-ipam-controller-operator/v0.0.8/manifests/fic.f5.com_f5ipamctlrs.yaml
  operators/f5-ipam-controller-operator/v0.0.8/metadata/annotations.yaml
  operators/f5-ipam-controller-operator/v0.0.8/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6323 operator amd-gpu-operator (v1.3.1)
  operators/amd-gpu-operator/ci.yaml
  operators/amd-gpu-operator/v1.3.1/manifests/amd-gpu-operator-manager-config_v1_configmap.yaml
  operators/amd-gpu-operator/v1.3.1/manifests/amd-gpu-operator.clusterserviceversion.yaml
  operators/amd-gpu-operator/v1.3.1/manifests/amd.com_deviceconfigs.yaml
  operators/amd-gpu-operator/v1.3.1/metadata/annotations.yaml
  operators/amd-gpu-operator/v1.3.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6340 Catalog update [kubecost-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/kubecost-operator/catalog.yaml
  catalogs/v4.13/kubecost-operator/catalog.yaml
  catalogs/v4.14/kubecost-operator/catalog.yaml
  catalogs/v4.15/kubecost-operator/catalog.yaml
  catalogs/v4.16/kubecost-operator/catalog.yaml
  catalogs/v4.17/kubecost-operator/catalog.yaml
  catalogs/v4.18/kubecost-operator/catalog.yaml
  catalogs/v4.19/kubecost-operator/catalog.yaml
  operators/kubecost-operator/catalog-templates/v4.12.yaml
  operators/kubecost-operator/catalog-templates/v4.13.yaml
  operators/kubecost-operator/catalog-templates/v4.14.yaml
  operators/kubecost-operator/catalog-templates/v4.15.yaml
  operators/kubecost-operator/catalog-templates/v4.16.yaml
  operators/kubecost-operator/catalog-templates/v4.17.yaml
  operators/kubecost-operator/catalog-templates/v4.18.yaml
  operators/kubecost-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6342 operator amd-gpu-operator (v1.3.2)
  operators/amd-gpu-operator/v1.3.2/manifests/amd-gpu-operator-manager-config_v1_configmap.yaml
  operators/amd-gpu-operator/v1.3.2/manifests/amd-gpu-operator.clusterserviceversion.yaml
  operators/amd-gpu-operator/v1.3.2/manifests/amd.com_deviceconfigs.yaml
  operators/amd-gpu-operator/v1.3.2/metadata/annotations.yaml
  operators/amd-gpu-operator/v1.3.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6343 Catalog update [amd-gpu-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/amd-gpu-operator/catalog.yaml
  catalogs/v4.17/amd-gpu-operator/catalog.yaml
  catalogs/v4.18/amd-gpu-operator/catalog.yaml
  catalogs/v4.19/amd-gpu-operator/catalog.yaml
  operators/amd-gpu-operator/catalog-templates/v4.16.yaml
  operators/amd-gpu-operator/catalog-templates/v4.17.yaml
  operators/amd-gpu-operator/catalog-templates/v4.18.yaml
  operators/amd-gpu-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6304 Catalog update [kubecost-operator] [v4.20]
  catalogs/v4.20/kubecost-operator/catalog.yaml
  operators/kubecost-operator/ci.yaml
Labels: operator-hosted-pipeline/passed, catalog-promotion/review-needed

#6347 operator redis-enterprise-operator-cert (7.8.6-5.1)
  operators/redis-enterprise-operator-cert/7.8.6-5.1/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-5.1/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-5.1/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-5.1/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.8.6-5.1/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-5.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6351 operator t8c-tsc-client-certified (1.4.2)
  operators/t8c-tsc-client-certified/1.4.2/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.4.2/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.4.2/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.4.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6354 operator prometurbo-certified (8.17.10-beta.1)
  operators/prometurbo-certified/8.17.10-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.17.10-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.17.10-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6355 operator uma-operator (2025.8.0)
  operators/uma-operator/2025.8.0/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.8.0/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.8.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6356 operator uma-admin-operator (2025.8.0)
  operators/uma-admin-operator/2025.8.0/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.8.0/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.8.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6357 operator uma-team-operator (2025.8.0)
  operators/uma-team-operator/2025.8.0/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.8.0/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.8.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6360 operator uma-team-operator (2025.8.1)
  operators/uma-team-operator/2025.8.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.8.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.8.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6361 operator gitlab-operator-kubernetes (2.2.2)
  operators/gitlab-operator-kubernetes/2.2.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.2.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.2.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.2.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6365 operator lightbits-operator (1.1.0)
  operators/lightbits-operator/1.1.0/manifests/lightbits-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lightbits-operator/1.1.0/manifests/lightbits-operator-manager-config_v1_configmap.yaml
  operators/lightbits-operator/1.1.0/manifests/lightbits-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lightbits-operator/1.1.0/manifests/lightbits-operator.clusterserviceversion.yaml
  operators/lightbits-operator/1.1.0/manifests/storage.lightbitslabs.com_clusters.yaml
  operators/lightbits-operator/1.1.0/manifests/storage.lightbitslabs.com_csidrivers.yaml
  operators/lightbits-operator/1.1.0/metadata/annotations.yaml
  operators/lightbits-operator/1.1.0/metadata/properties.yaml
  operators/lightbits-operator/1.1.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6366 operator habana-ai-operator (1.21.4-3)
  operators/habana-ai-operator/1.21.4-3/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.21.4-3/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.21.4-3/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.21.4-3/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.21.4-3/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.21.4-3/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.21.4-3/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.21.4-3/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.21.4-3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6368 operator stackable-secret-operator (25.7.0)
  operators/stackable-secret-operator/25.7.0/manifests/SecretClass.yml
  operators/stackable-secret-operator/25.7.0/manifests/TrustStore.yml
  operators/stackable-secret-operator/25.7.0/manifests/secret-operator-manifests.yaml
  operators/stackable-secret-operator/25.7.0/manifests/stackable-secret-operator.v25.7.0.clusterserviceversion.yaml
  operators/stackable-secret-operator/25.7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6371 operator uma-admin-operator (2025.8.2)
  operators/uma-admin-operator/2025.8.2/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.8.2/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.8.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6376 operator stackable-opa-operator (25.7.0)
  operators/stackable-opa-operator/25.7.0/manifests/opa-clusterrole.yaml
  operators/stackable-opa-operator/25.7.0/manifests/opa-operator-configmap.yaml
  operators/stackable-opa-operator/25.7.0/manifests/opaclusters.opa.stackable.tech.customresourcedefinition.yaml
  operators/stackable-opa-operator/25.7.0/manifests/stackable-opa-operator.v25.7.0.clusterserviceversion.yaml
  operators/stackable-opa-operator/25.7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6381 operator stackable-druid-operator (25.7.0)
  operators/stackable-druid-operator/25.7.0/manifests/druid-clusterrole.yaml
  operators/stackable-druid-operator/25.7.0/manifests/druid-operator-configmap.yaml
  operators/stackable-druid-operator/25.7.0/manifests/druidclusters.druid.stackable.tech.customresourcedefinition.yaml
  operators/stackable-druid-operator/25.7.0/manifests/stackable-druid-operator.v25.7.0.clusterserviceversion.yaml
  operators/stackable-druid-operator/25.7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6383 operator stackable-nifi-operator (25.7.0)
  operators/stackable-nifi-operator/25.7.0/manifests/nifi-clusterrole.yaml
  operators/stackable-nifi-operator/25.7.0/manifests/nifi-operator-configmap.yaml
  operators/stackable-nifi-operator/25.7.0/manifests/nificlusters.nifi.stackable.tech.customresourcedefinition.yaml
  operators/stackable-nifi-operator/25.7.0/manifests/stackable-nifi-operator.v25.7.0.clusterserviceversion.yaml
  operators/stackable-nifi-operator/25.7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6384 operator stackable-spark-operator (25.7.0)
  operators/stackable-spark-operator/25.7.0/manifests/spark-connect-clusterrole.yaml
  operators/stackable-spark-operator/25.7.0/manifests/spark-history-clusterrole.yaml
  operators/stackable-spark-operator/25.7.0/manifests/spark-k8s-clusterrole.yaml
  operators/stackable-spark-operator/25.7.0/manifests/spark-k8s-operator-configmap.yaml
  operators/stackable-spark-operator/25.7.0/manifests/sparkapplications.spark.stackable.tech.customresourcedefinition.yaml
  operators/stackable-spark-operator/25.7.0/manifests/sparkconnectservers.spark.stackable.tech.customresourcedefinition.yaml
  operators/stackable-spark-operator/25.7.0/manifests/sparkhistoryservers.spark.stackable.tech.customresourcedefinition.yaml
  operators/stackable-spark-operator/25.7.0/manifests/stackable-spark-k8s-operator.v25.7.0.clusterserviceversion.yaml
  operators/stackable-spark-operator/25.7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6387 operator stackable-trino-operator (25.7.0)
  operators/stackable-trino-operator/25.7.0/manifests/stackable-trino-operator.v25.7.0.clusterserviceversion.yaml
  operators/stackable-trino-operator/25.7.0/manifests/trino-clusterrole.yaml
  operators/stackable-trino-operator/25.7.0/manifests/trino-operator-configmap.yaml
  operators/stackable-trino-operator/25.7.0/manifests/trinocatalogs.trino.stackable.tech.customresourcedefinition.yaml
  operators/stackable-trino-operator/25.7.0/manifests/trinoclusters.trino.stackable.tech.customresourcedefinition.yaml
  operators/stackable-trino-operator/25.7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6373 operator vmstore-csi-file-driver-operator (1.1.0)
  operators/vmstore-csi-file-driver-operator/1.1.0/manifests/charts.tintri.com_vmstorecsis.yaml
  operators/vmstore-csi-file-driver-operator/1.1.0/manifests/vmstore-csi-controller-manager-metrics-service_v1_service.yaml
  operators/vmstore-csi-file-driver-operator/1.1.0/manifests/vmstore-csi-driver-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vmstore-csi-file-driver-operator/1.1.0/manifests/vmstore-csi-driver-operator.clusterserviceversion.yaml
  operators/vmstore-csi-file-driver-operator/1.1.0/manifests/vmstore-csi-driver-role-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/vmstore-csi-file-driver-operator/1.1.0/manifests/vmstore-csi-driver-service-account_v1_serviceaccount.yaml
  operators/vmstore-csi-file-driver-operator/1.1.0/manifests/vmstore-csi-external-resizer-cfg_rbac.authorization.k8s.io_v1_role.yaml
  operators/vmstore-csi-file-driver-operator/1.1.0/manifests/vmstore-csi-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vmstore-csi-file-driver-operator/1.1.0/manifests/vmstore-csi-resizer-role-cfg_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vmstore-csi-file-driver-operator/1.1.0/manifests/vmstore-csi-vmstore-csi-privileged-scc-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vmstore-csi-file-driver-operator/1.1.0/manifests/vmstore-csi-vmstore-csi-privileged-scc-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/vmstore-csi-file-driver-operator/1.1.0/metadata/annotations.yaml
  operators/vmstore-csi-file-driver-operator/1.1.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6398 operator aqua-operator-certified (2022.4.818)
  operators/aqua-operator-certified/2022.4.818/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.818/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.818/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.818/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.818/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.818/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.818/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.818/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.818/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.818/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.818/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.818/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.818/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.818/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6405 operator lightbits-operator (1.2.0)
  operators/lightbits-operator/1.2.0/manifests/lightbits-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lightbits-operator/1.2.0/manifests/lightbits-operator-manager-config_v1_configmap.yaml
  operators/lightbits-operator/1.2.0/manifests/lightbits-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lightbits-operator/1.2.0/manifests/lightbits-operator.clusterserviceversion.yaml
  operators/lightbits-operator/1.2.0/manifests/storage.lightbitslabs.com_clusters.yaml
  operators/lightbits-operator/1.2.0/manifests/storage.lightbitslabs.com_csidrivers.yaml
  operators/lightbits-operator/1.2.0/metadata/annotations.yaml
  operators/lightbits-operator/1.2.0/metadata/properties.yaml
  operators/lightbits-operator/1.2.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6404 operator percona-xtradb-cluster-operator-certified (1.18.0-cw)
  operators/percona-xtradb-cluster-operator-certified/1.18.0-cw/manifests/percona-xtradb-cluster-operator.v1.18.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator-certified/1.18.0-cw/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.18.0-cw/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.18.0-cw/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.18.0-cw/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6407 operator prometurbo-certified (8.17.10)
  operators/prometurbo-certified/8.17.10/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.17.10/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.17.10/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6409 operator app-insights-operator (1.17.3-1)
  operators/app-insights-operator/1.17.3-1/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.17.3-1/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.3-1/manifests/app-insights-operator-netobserv-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.3-1/manifests/app-insights-operator-randoliagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.3-1/manifests/app-insights-operator-randoliagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.3-1/manifests/app-insights-operator-scc-hostmount-anyuid-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.3-1/manifests/app-insights-operator-scc-privileged-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.3-1/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.17.3-1/manifests/appinsights.randoli_randoliagents.yaml
  operators/app-insights-operator/1.17.3-1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6406 operator t8c-certified (42.87.0)
  operators/t8c-certified/42.87.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.87.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.87.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6408 operator kubeturbo-certified (8.17.10)
  operators/kubeturbo-certified/8.17.10/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.17.10/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.17.10/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6415 operator falcon-operator (v1.8.0)
  operators/falcon-operator/v1.8.0/manifests/falcon-operator-admission-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon-operator-falcon-FalconDeployment-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon-operator-falcon-FalconDeployment-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon-operator-image-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon.crowdstrike.com_falconadmissions.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon.crowdstrike.com_falcondeployments.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon.crowdstrike.com_falconimageanalyzers.yaml
  operators/falcon-operator/v1.8.0/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/v1.8.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6417 operator airlock-microgateway (4.6.3)
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-dashboard-accessctrllogs_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-dashboard-blocklogs_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-dashboard-blockmetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-dashboard-downstreammetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-dashboard-headerlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-dashboard-license_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-dashboard-logonlylogs_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-dashboard-logonlymetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-dashboard-overview_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-dashboard-requestlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-dashboard-systemmetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-dashboard-upstreammetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-operator-config_v1_configmap.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-operator-leader-metrics_v1_service.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-operator-metrics_v1_service.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-operator-webhook_v1_service.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway-operator-xds_v1_service.yaml
  operators/airlock-microgateway/4.6.3/manifests/airlock-microgateway.clusterserviceversion.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_accesscontrolpolicies.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_accesscontrols.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_apiprotections.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_contentsecurities.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_contentsecuritypolicies.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_csrfprotections.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_denyrules.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_envoyclusters.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_envoyconfigurations.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_envoyhttpfilters.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_gatewayparameters.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_graphqls.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_headerrewrites.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_identitypropagations.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_jwks.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_jwts.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_limits.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_oidcproviders.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_oidcrelyingparties.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_openapis.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_parsers.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_redisproviders.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_sessionhandlings.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_sidecargateways.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_telemetries.yaml
  operators/airlock-microgateway/4.6.3/manifests/microgateway.airlock.com_tokenexchanges.yaml
  operators/airlock-microgateway/4.6.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6420 operator digitalai-release-operator (v25.3.0-beta.711)
  operators/digitalai-release-operator/v25.3.0-beta.711/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v25.3.0-beta.711/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v25.3.0-beta.711/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.3.0-beta.711/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.3.0-beta.711/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.3.0-beta.711/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v25.3.0-beta.711/metadata/annotations.yaml
  operators/digitalai-release-operator/v25.3.0-beta.711/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v25.3.0-beta.711/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6421 operator digitalai-release-operator (v25.1.4)
  operators/digitalai-release-operator/v25.1.4/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v25.1.4/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v25.1.4/manifests/xlr-digitalairelease-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.4/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.4/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.4/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.4/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v25.1.4/metadata/annotations.yaml
  operators/digitalai-release-operator/v25.1.4/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v25.1.4/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6426 operator digitalai-release-operator (v24.3.10)
  operators/digitalai-release-operator/v24.3.10/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.3.10/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.3.10/manifests/xlr-digitalairelease-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.10/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.10/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.10/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.10/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.3.10/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.3.10/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v24.3.10/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6427 operator ipm-controller (v25.7.0)
  operators/ipm-controller/ci.yaml
  operators/ipm-controller/v25.7.0/manifests/ipm-controller-controller-manager-metrics-service_v1_service.yaml
  operators/ipm-controller/v25.7.0/manifests/ipm-controller-cpupowerprov-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ipm-controller/v25.7.0/manifests/ipm-controller-cpupowerprov-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ipm-controller/v25.7.0/manifests/ipm-controller-ipm-agent-config_v1_configmap.yaml
  operators/ipm-controller/v25.7.0/manifests/ipm-controller-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ipm-controller/v25.7.0/manifests/ipm-controller.clusterserviceversion.yaml
  operators/ipm-controller/v25.7.0/manifests/ipm.intel.com_cpupowerprovs.yaml
  operators/ipm-controller/v25.7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6430 operator template-operator (v0.1.4)
  operators/template-operator/v0.1.4/manifests/template-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/template-operator/v0.1.4/manifests/template-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/template-operator/v0.1.4/manifests/template-operator-metrics-service_v1_service.yaml
  operators/template-operator/v0.1.4/manifests/template-operator-templates.stakater.com-clustertemplateinstance-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/template-operator/v0.1.4/manifests/template-operator-templates.stakater.com-clustertemplateinstance-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/template-operator/v0.1.4/manifests/template-operator-templates.stakater.com-template-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/template-operator/v0.1.4/manifests/template-operator-templates.stakater.com-template-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/template-operator/v0.1.4/manifests/template-operator-templates.stakater.com-templateinstance-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/template-operator/v0.1.4/manifests/template-operator-templates.stakater.com-templateinstance-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/template-operator/v0.1.4/manifests/template-operator-webhook-service_v1_service.yaml
  operators/template-operator/v0.1.4/manifests/template-operator.clusterserviceversion.yaml
  operators/template-operator/v0.1.4/manifests/templates.stakater.com_clustertemplateinstances.yaml
  operators/template-operator/v0.1.4/manifests/templates.stakater.com_templateinstances.yaml
  operators/template-operator/v0.1.4/manifests/templates.stakater.com_templates.yaml
  operators/template-operator/v0.1.4/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/template-operator/v0.1.4/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/template-operator/v0.1.4/manifests/tenantoperator.stakater.com_templates.yaml
  operators/template-operator/v0.1.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6431 operator appian-operator (v0.184.0)
  operators/appian-operator/ci.yaml
  operators/appian-operator/v0.184.0/manifests/appian-operator-controllers-metrics_v1_service.yaml
  operators/appian-operator/v0.184.0/manifests/appian-operator-support-bundle_v1_configmap.yaml
  operators/appian-operator/v0.184.0/manifests/appian-operator-webhooks-metrics_v1_service.yaml
  operators/appian-operator/v0.184.0/manifests/appian-operator-webhooks_v1_service.yaml
  operators/appian-operator/v0.184.0/manifests/appian-operator.clusterserviceversion.yaml
  operators/appian-operator/v0.184.0/manifests/crd.k8s.appian.com_appians.yaml
  operators/appian-operator/v0.184.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6428 Catalog update [nvidia-network-operator] [v4.19]
  catalogs/v4.19/nvidia-network-operator/catalog.yaml
  operators/nvidia-network-operator/catalog-templates/v4.19.yaml
  operators/nvidia-network-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6444 operator redis-enterprise-operator-cert (7.22.0-17.0)
  operators/redis-enterprise-operator-cert/7.22.0-17.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-17.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-17.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-17.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.22.0-17.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-17.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6447 ci: disable automatic version promotions
  operators/edb-hcp-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6448 operator digitalai-deploy-operator (v24.3.10)
  operators/digitalai-deploy-operator/v24.3.10/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.3.10/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.3.10/manifests/xld-digitalaideploy-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.10/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.10/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.10/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.10/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.3.10/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.3.10/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v24.3.10/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6452 Catalog update [stackable-hive-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/stackable-hive-operator/catalog.yaml
  catalogs/v4.13/stackable-hive-operator/catalog.yaml
  catalogs/v4.14/stackable-hive-operator/catalog.yaml
  catalogs/v4.15/stackable-hive-operator/catalog.yaml
  catalogs/v4.16/stackable-hive-operator/catalog.yaml
  catalogs/v4.17/stackable-hive-operator/catalog.yaml
  catalogs/v4.18/stackable-hive-operator/catalog.yaml
  catalogs/v4.19/stackable-hive-operator/catalog.yaml
  operators/stackable-hive-operator/Makefile
  operators/stackable-hive-operator/catalog-templates/v4.12.yaml
  operators/stackable-hive-operator/catalog-templates/v4.13.yaml
  operators/stackable-hive-operator/catalog-templates/v4.14.yaml
  operators/stackable-hive-operator/catalog-templates/v4.15.yaml
  operators/stackable-hive-operator/catalog-templates/v4.16.yaml
  operators/stackable-hive-operator/catalog-templates/v4.17.yaml
  operators/stackable-hive-operator/catalog-templates/v4.18.yaml
  operators/stackable-hive-operator/catalog-templates/v4.19.yaml
  operators/stackable-hive-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6456 operator uma-operator (2025.7.4)
  operators/uma-operator/2025.7.4/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.7.4/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.7.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6461 Catalog update [stackable-airflow-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/stackable-airflow-operator/catalog.yaml
  catalogs/v4.13/stackable-airflow-operator/catalog.yaml
  catalogs/v4.14/stackable-airflow-operator/catalog.yaml
  catalogs/v4.15/stackable-airflow-operator/catalog.yaml
  catalogs/v4.16/stackable-airflow-operator/catalog.yaml
  catalogs/v4.17/stackable-airflow-operator/catalog.yaml
  catalogs/v4.18/stackable-airflow-operator/catalog.yaml
  catalogs/v4.19/stackable-airflow-operator/catalog.yaml
  operators/stackable-airflow-operator/Makefile
  operators/stackable-airflow-operator/catalog-templates/v4.12.yaml
  operators/stackable-airflow-operator/catalog-templates/v4.13.yaml
  operators/stackable-airflow-operator/catalog-templates/v4.14.yaml
  operators/stackable-airflow-operator/catalog-templates/v4.15.yaml
  operators/stackable-airflow-operator/catalog-templates/v4.16.yaml
  operators/stackable-airflow-operator/catalog-templates/v4.17.yaml
  operators/stackable-airflow-operator/catalog-templates/v4.18.yaml
  operators/stackable-airflow-operator/catalog-templates/v4.19.yaml
  operators/stackable-airflow-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6460 operator dynatrace-operator (1.6.2)
  operators/dynatrace-operator/1.6.2/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.6.2/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.6.2/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.6.2/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.6.2/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.6.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6457 Catalog update [stackable-nifi-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/stackable-nifi-operator/catalog.yaml
  catalogs/v4.13/stackable-nifi-operator/catalog.yaml
  catalogs/v4.14/stackable-nifi-operator/catalog.yaml
  catalogs/v4.15/stackable-nifi-operator/catalog.yaml
  catalogs/v4.16/stackable-nifi-operator/catalog.yaml
  catalogs/v4.17/stackable-nifi-operator/catalog.yaml
  catalogs/v4.18/stackable-nifi-operator/catalog.yaml
  catalogs/v4.19/stackable-nifi-operator/catalog.yaml
  operators/stackable-nifi-operator/Makefile
  operators/stackable-nifi-operator/catalog-templates/v4.12.yaml
  operators/stackable-nifi-operator/catalog-templates/v4.13.yaml
  operators/stackable-nifi-operator/catalog-templates/v4.14.yaml
  operators/stackable-nifi-operator/catalog-templates/v4.15.yaml
  operators/stackable-nifi-operator/catalog-templates/v4.16.yaml
  operators/stackable-nifi-operator/catalog-templates/v4.17.yaml
  operators/stackable-nifi-operator/catalog-templates/v4.18.yaml
  operators/stackable-nifi-operator/catalog-templates/v4.19.yaml
  operators/stackable-nifi-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6465 Catalog update [stackable-trino-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/stackable-trino-operator/catalog.yaml
  catalogs/v4.13/stackable-trino-operator/catalog.yaml
  catalogs/v4.14/stackable-trino-operator/catalog.yaml
  catalogs/v4.15/stackable-trino-operator/catalog.yaml
  catalogs/v4.16/stackable-trino-operator/catalog.yaml
  catalogs/v4.17/stackable-trino-operator/catalog.yaml
  catalogs/v4.18/stackable-trino-operator/catalog.yaml
  catalogs/v4.19/stackable-trino-operator/catalog.yaml
  operators/stackable-trino-operator/Makefile
  operators/stackable-trino-operator/catalog-templates/v4.12.yaml
  operators/stackable-trino-operator/catalog-templates/v4.13.yaml
  operators/stackable-trino-operator/catalog-templates/v4.14.yaml
  operators/stackable-trino-operator/catalog-templates/v4.15.yaml
  operators/stackable-trino-operator/catalog-templates/v4.16.yaml
  operators/stackable-trino-operator/catalog-templates/v4.17.yaml
  operators/stackable-trino-operator/catalog-templates/v4.18.yaml
  operators/stackable-trino-operator/catalog-templates/v4.19.yaml
  operators/stackable-trino-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6459 Catalog update [stackable-superset-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/stackable-superset-operator/catalog.yaml
  catalogs/v4.13/stackable-superset-operator/catalog.yaml
  catalogs/v4.14/stackable-superset-operator/catalog.yaml
  catalogs/v4.15/stackable-superset-operator/catalog.yaml
  catalogs/v4.16/stackable-superset-operator/catalog.yaml
  catalogs/v4.17/stackable-superset-operator/catalog.yaml
  catalogs/v4.18/stackable-superset-operator/catalog.yaml
  catalogs/v4.19/stackable-superset-operator/catalog.yaml
  operators/stackable-superset-operator/Makefile
  operators/stackable-superset-operator/catalog-templates/v4.12.yaml
  operators/stackable-superset-operator/catalog-templates/v4.13.yaml
  operators/stackable-superset-operator/catalog-templates/v4.14.yaml
  operators/stackable-superset-operator/catalog-templates/v4.15.yaml
  operators/stackable-superset-operator/catalog-templates/v4.16.yaml
  operators/stackable-superset-operator/catalog-templates/v4.17.yaml
  operators/stackable-superset-operator/catalog-templates/v4.18.yaml
  operators/stackable-superset-operator/catalog-templates/v4.19.yaml
  operators/stackable-superset-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6467 operator uma-operator (2025.8.3)
  operators/uma-operator/2025.8.3/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.8.3/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.8.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6472 operator edb-hcp-operator (1.2.3)
  operators/edb-hcp-operator/1.2.3/manifests/edb-hcp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/edb-hcp-operator/1.2.3/manifests/edb-hcp-operator-hybridcontrolplane-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/1.2.3/manifests/edb-hcp-operator-hybridcontrolplane-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/1.2.3/manifests/edb-hcp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/1.2.3/manifests/edb-hcp-operator-webhook-service_v1_service.yaml
  operators/edb-hcp-operator/1.2.3/manifests/edb-hcp-operator.clusterserviceversion.yaml
  operators/edb-hcp-operator/1.2.3/manifests/edbpgai.edb.com_hybridcontrolplanes.yaml
  operators/edb-hcp-operator/1.2.3/metadata/annotations.yaml
  operators/edb-hcp-operator/1.2.3/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#6473 Catalog update [edb-hcp-operator] [v4.17,v4.18,v4.19]
  catalogs/v4.17/edb-hcp-operator/catalog.yaml
  catalogs/v4.18/edb-hcp-operator/catalog.yaml
  catalogs/v4.19/edb-hcp-operator/catalog.yaml
  operators/edb-hcp-operator/catalog-templates/v4.17.yaml
  operators/edb-hcp-operator/catalog-templates/v4.18.yaml
  operators/edb-hcp-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6476 Catalog update [stackable-listener-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-listener-operator/catalog.yaml
  catalogs/v4.17/stackable-listener-operator/catalog.yaml
  catalogs/v4.18/stackable-listener-operator/catalog.yaml
  catalogs/v4.19/stackable-listener-operator/catalog.yaml
  operators/stackable-listener-operator/catalog-templates/v4.16.yaml
  operators/stackable-listener-operator/catalog-templates/v4.17.yaml
  operators/stackable-listener-operator/catalog-templates/v4.18.yaml
  operators/stackable-listener-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6477 Catalog update [stackable-commons-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-commons-operator/catalog.yaml
  catalogs/v4.17/stackable-commons-operator/catalog.yaml
  catalogs/v4.18/stackable-commons-operator/catalog.yaml
  catalogs/v4.19/stackable-commons-operator/catalog.yaml
  operators/stackable-commons-operator/catalog-templates/v4.16.yaml
  operators/stackable-commons-operator/catalog-templates/v4.17.yaml
  operators/stackable-commons-operator/catalog-templates/v4.18.yaml
  operators/stackable-commons-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6478 Catalog update [stackable-secret-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-secret-operator/catalog.yaml
  catalogs/v4.17/stackable-secret-operator/catalog.yaml
  catalogs/v4.18/stackable-secret-operator/catalog.yaml
  catalogs/v4.19/stackable-secret-operator/catalog.yaml
  operators/stackable-secret-operator/catalog-templates/v4.16.yaml
  operators/stackable-secret-operator/catalog-templates/v4.17.yaml
  operators/stackable-secret-operator/catalog-templates/v4.18.yaml
  operators/stackable-secret-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6480 Catalog update [stackable-opa-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-opa-operator/catalog.yaml
  catalogs/v4.17/stackable-opa-operator/catalog.yaml
  catalogs/v4.18/stackable-opa-operator/catalog.yaml
  catalogs/v4.19/stackable-opa-operator/catalog.yaml
  operators/stackable-opa-operator/catalog-templates/v4.16.yaml
  operators/stackable-opa-operator/catalog-templates/v4.17.yaml
  operators/stackable-opa-operator/catalog-templates/v4.18.yaml
  operators/stackable-opa-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6482 Catalog update [stackable-hive-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-hive-operator/catalog.yaml
  catalogs/v4.17/stackable-hive-operator/catalog.yaml
  catalogs/v4.18/stackable-hive-operator/catalog.yaml
  catalogs/v4.19/stackable-hive-operator/catalog.yaml
  operators/stackable-hive-operator/catalog-templates/v4.16.yaml
  operators/stackable-hive-operator/catalog-templates/v4.17.yaml
  operators/stackable-hive-operator/catalog-templates/v4.18.yaml
  operators/stackable-hive-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6483 Catalog update [stackable-hbase-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-hbase-operator/catalog.yaml
  catalogs/v4.17/stackable-hbase-operator/catalog.yaml
  catalogs/v4.18/stackable-hbase-operator/catalog.yaml
  catalogs/v4.19/stackable-hbase-operator/catalog.yaml
  operators/stackable-hbase-operator/catalog-templates/v4.16.yaml
  operators/stackable-hbase-operator/catalog-templates/v4.17.yaml
  operators/stackable-hbase-operator/catalog-templates/v4.18.yaml
  operators/stackable-hbase-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6484 Catalog update [stackable-druid-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-druid-operator/catalog.yaml
  catalogs/v4.17/stackable-druid-operator/catalog.yaml
  catalogs/v4.18/stackable-druid-operator/catalog.yaml
  catalogs/v4.19/stackable-druid-operator/catalog.yaml
  operators/stackable-druid-operator/catalog-templates/v4.16.yaml
  operators/stackable-druid-operator/catalog-templates/v4.17.yaml
  operators/stackable-druid-operator/catalog-templates/v4.18.yaml
  operators/stackable-druid-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6485 Catalog update [stackable-kafka-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-kafka-operator/catalog.yaml
  catalogs/v4.17/stackable-kafka-operator/catalog.yaml
  catalogs/v4.18/stackable-kafka-operator/catalog.yaml
  catalogs/v4.19/stackable-kafka-operator/catalog.yaml
  operators/stackable-kafka-operator/catalog-templates/v4.16.yaml
  operators/stackable-kafka-operator/catalog-templates/v4.17.yaml
  operators/stackable-kafka-operator/catalog-templates/v4.18.yaml
  operators/stackable-kafka-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6486 Catalog update [stackable-nifi-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-nifi-operator/catalog.yaml
  catalogs/v4.17/stackable-nifi-operator/catalog.yaml
  catalogs/v4.18/stackable-nifi-operator/catalog.yaml
  catalogs/v4.19/stackable-nifi-operator/catalog.yaml
  operators/stackable-nifi-operator/catalog-templates/v4.16.yaml
  operators/stackable-nifi-operator/catalog-templates/v4.17.yaml
  operators/stackable-nifi-operator/catalog-templates/v4.18.yaml
  operators/stackable-nifi-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6487 Catalog update [stackable-spark-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-spark-operator/catalog.yaml
  catalogs/v4.17/stackable-spark-operator/catalog.yaml
  catalogs/v4.18/stackable-spark-operator/catalog.yaml
  catalogs/v4.19/stackable-spark-operator/catalog.yaml
  operators/stackable-spark-operator/catalog-templates/v4.16.yaml
  operators/stackable-spark-operator/catalog-templates/v4.17.yaml
  operators/stackable-spark-operator/catalog-templates/v4.18.yaml
  operators/stackable-spark-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6488 Catalog update [stackable-superset-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-superset-operator/catalog.yaml
  catalogs/v4.17/stackable-superset-operator/catalog.yaml
  catalogs/v4.18/stackable-superset-operator/catalog.yaml
  catalogs/v4.19/stackable-superset-operator/catalog.yaml
  operators/stackable-superset-operator/catalog-templates/v4.16.yaml
  operators/stackable-superset-operator/catalog-templates/v4.17.yaml
  operators/stackable-superset-operator/catalog-templates/v4.18.yaml
  operators/stackable-superset-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6489 Catalog update [stackable-airflow-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-airflow-operator/catalog.yaml
  catalogs/v4.17/stackable-airflow-operator/catalog.yaml
  catalogs/v4.18/stackable-airflow-operator/catalog.yaml
  catalogs/v4.19/stackable-airflow-operator/catalog.yaml
  operators/stackable-airflow-operator/catalog-templates/v4.16.yaml
  operators/stackable-airflow-operator/catalog-templates/v4.17.yaml
  operators/stackable-airflow-operator/catalog-templates/v4.18.yaml
  operators/stackable-airflow-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6492 operator airlock-microgateway (4.7.0)
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-dashboard-accessctrllogs_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-dashboard-blocklogs_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-dashboard-blockmetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-dashboard-downstreammetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-dashboard-headerlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-dashboard-license_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-dashboard-logonlylogs_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-dashboard-logonlymetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-dashboard-overview_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-dashboard-requestlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-dashboard-systemmetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-dashboard-upstreammetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-operator-config_v1_configmap.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-operator-leader-metrics_v1_service.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-operator-leader_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-operator-metrics_v1_service.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-operator-webhook_v1_service.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-operator-xds_v1_service.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway-operator_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/airlock-microgateway/4.7.0/manifests/airlock-microgateway.clusterserviceversion.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_accesscontrolpolicies.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_apiprotections.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_contentsecuritypolicies.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_csrfprotections.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_denyrules.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_envoyclusters.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_envoyconfigurations.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_envoyextensionpolicies.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_envoyhttpfilters.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_gatewayparameters.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_graphqls.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_headerrewrites.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_identitypropagations.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_jwks.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_jwts.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_limits.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_oidcproviders.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_oidcrelyingparties.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_openapis.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_parsers.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_redisproviders.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_sessionhandlings.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_telemetries.yaml
  operators/airlock-microgateway/4.7.0/manifests/microgateway.airlock.com_tokenexchanges.yaml
  operators/airlock-microgateway/4.7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6495 operator kubeturbo-certified (8.17.20-beta.1)
  operators/kubeturbo-certified/8.17.20-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.17.20-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.17.20-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6490 Catalog update [stackable-trino-operator] [v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.16/stackable-trino-operator/catalog.yaml
  catalogs/v4.17/stackable-trino-operator/catalog.yaml
  catalogs/v4.18/stackable-trino-operator/catalog.yaml
  catalogs/v4.19/stackable-trino-operator/catalog.yaml
  operators/stackable-trino-operator/catalog-templates/v4.16.yaml
  operators/stackable-trino-operator/catalog-templates/v4.17.yaml
  operators/stackable-trino-operator/catalog-templates/v4.18.yaml
  operators/stackable-trino-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6498 operator ibm-metrics-operator (2.19.6)
  operators/ibm-metrics-operator/2.19.6/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.19.6/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.19.6/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.6/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.6/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.6/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.19.6/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.19.6/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.19.6/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.19.6/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.19.6/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.19.6/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.19.6/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6500 operator ibm-data-reporter-operator (2.19.6)
  operators/ibm-data-reporter-operator/2.19.6/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.19.6/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.19.6/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.19.6/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.19.6/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.19.6/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.19.6/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.19.6/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.19.6/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.19.6/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.19.6/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.19.6/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6502 operator gitlab-operator-kubernetes (2.3.1)
  operators/gitlab-operator-kubernetes/2.3.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.3.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.3.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.3.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.3.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.3.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.3.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.3.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.3.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.3.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6450 operator digitalai-release-operator (v24.1.21)
  operators/digitalai-release-operator/v24.1.21/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.1.21/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.1.21/manifests/xlr-digitalairelease-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.21/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.21/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.21/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.21/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.1.21/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.1.21/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v24.1.21/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6504 operator digitalai-deploy-operator (v24.1.21)
  operators/digitalai-deploy-operator/v24.1.21/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.1.21/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.1.21/manifests/xld-digitalaideploy-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.21/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.21/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.21/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.21/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.1.21/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.1.21/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v24.1.21/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6507 operator ibm-metrics-operator (2.20.0)
  operators/ibm-metrics-operator/2.20.0/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.20.0/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.20.0/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.20.0/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.20.0/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.20.0/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.20.0/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.20.0/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.20.0/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.20.0/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.20.0/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.20.0/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.20.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6509 operator t8c-certified (42.88.0-beta.2)
  operators/t8c-certified/42.88.0-beta.2/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.88.0-beta.2/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.88.0-beta.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6505 operator hibernation-operator (v0.1.100-affc8ffb)
  operators/hibernation-operator/ci.yaml
  operators/hibernation-operator/v0.1.100-affc8ffb/manifests/hibernation-operator-clusterresourcesupervisor-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hibernation-operator/v0.1.100-affc8ffb/manifests/hibernation-operator-clusterresourcesupervisor-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hibernation-operator/v0.1.100-affc8ffb/manifests/hibernation-operator-clusterresourcesupervisor-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hibernation-operator/v0.1.100-affc8ffb/manifests/hibernation-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hibernation-operator/v0.1.100-affc8ffb/manifests/hibernation-operator-webhook-metrics-service_v1_service.yaml
  operators/hibernation-operator/v0.1.100-affc8ffb/manifests/hibernation-operator-webhook-service_v1_service.yaml
  operators/hibernation-operator/v0.1.100-affc8ffb/manifests/hibernation-operator.clusterserviceversion.yaml
  operators/hibernation-operator/v0.1.100-affc8ffb/manifests/hibernation.stakater.com_clusterresourcesupervisors.yaml
  operators/hibernation-operator/v0.1.100-affc8ffb/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6515 operator neuvector-certified-operator (1.5.2)
  operators/neuvector-certified-operator/1.5.2/manifests/neuvector-certified-operator.clusterserviceversion.yaml
  operators/neuvector-certified-operator/1.5.2/manifests/neuvectors.apm.neuvector.com.crd.yaml
  operators/neuvector-certified-operator/1.5.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6510 operator minio-key-manager-operator (2025.8.19175300)
  operators/minio-key-manager-operator/2025.8.19175300/bundle.Dockerfile
  operators/minio-key-manager-operator/2025.8.19175300/manifests/aistor.min.io_keymanagers.yaml
  operators/minio-key-manager-operator/2025.8.19175300/manifests/minio-key-manager-operator.clusterserviceversion.yaml
  operators/minio-key-manager-operator/2025.8.19175300/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6513 operator hspc-operator (1.16.1)
  operators/hspc-operator/1.16.1/manifests/csi.hitachi.com_hspcs.yaml
  operators/hspc-operator/1.16.1/manifests/hspc-operator.clusterserviceversion.yaml
  operators/hspc-operator/1.16.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6518 Catalog update [nvidia-network-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/nvidia-network-operator/catalog.yaml
  catalogs/v4.13/nvidia-network-operator/catalog.yaml
  catalogs/v4.14/nvidia-network-operator/catalog.yaml
  catalogs/v4.15/nvidia-network-operator/catalog.yaml
  catalogs/v4.16/nvidia-network-operator/catalog.yaml
  catalogs/v4.17/nvidia-network-operator/catalog.yaml
  catalogs/v4.18/nvidia-network-operator/catalog.yaml
  catalogs/v4.19/nvidia-network-operator/catalog.yaml
  operators/nvidia-network-operator/catalog-templates/v4.12.yaml
  operators/nvidia-network-operator/catalog-templates/v4.13.yaml
  operators/nvidia-network-operator/catalog-templates/v4.14.yaml
  operators/nvidia-network-operator/catalog-templates/v4.15.yaml
  operators/nvidia-network-operator/catalog-templates/v4.16.yaml
  operators/nvidia-network-operator/catalog-templates/v4.17.yaml
  operators/nvidia-network-operator/catalog-templates/v4.18.yaml
  operators/nvidia-network-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started
