Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2025-07, with the labels that each got.

#6035 operator t8c-tsc-client-certified (1.4.1-candidate-20250701025747000)
  operators/t8c-tsc-client-certified/1.4.1-candidate-20250701025747000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.4.1-candidate-20250701025747000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.4.1-candidate-20250701025747000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.4.1-candidate-20250701025747000/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6037 operator appdynamics-operator (25.6.0-1147)
  operators/appdynamics-operator/25.6.0-1147/bundle.Dockerfile
  operators/appdynamics-operator/25.6.0-1147/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/infraviz_clusterrole.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/infraviz_clusterrole_binding.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/infraviz_service_account.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/target_allocator_clusterrole.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/target_allocator_clusterrole_binding.yaml
  operators/appdynamics-operator/25.6.0-1147/manifests/target_allocator_service_account.yaml
  operators/appdynamics-operator/25.6.0-1147/metadata/annotations.yaml
  operators/appdynamics-operator/25.6.0-1147/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6041 operator minio-key-manager-operator (2025.7.1011319)
  operators/minio-key-manager-operator/2025.7.1011319/manifests/aistor.min.io_keymanagers.yaml
  operators/minio-key-manager-operator/2025.7.1011319/manifests/minio-key-manager-operator.clusterserviceversion.yaml
  operators/minio-key-manager-operator/2025.7.1011319/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6044 operator kove-operator (v3.0.1)
  operators/kove-operator/v3.0.1/manifests/containers.kove.com_kovememoryconfigs.yaml
  operators/kove-operator/v3.0.1/manifests/containers.kove.com_kovesystems.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-agent-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-agent_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-ca_v1_configmap.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-client-drivers-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-client-drivers-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-client-drivers_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-compatibility-detection-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-compatibility-detection-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-compatibility-detection_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-container-hook-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-container-hook-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-container-hook_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-l4-cache-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-l4-cache-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-kove-l4-cache_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator-webhook-service_v1_service.yaml
  operators/kove-operator/v3.0.1/manifests/kove-operator.clusterserviceversion.yaml
  operators/kove-operator/v3.0.1/metadata/annotations.yaml
  operators/kove-operator/v3.0.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6040 operator minio-object-store-operator (2025.7.1011319)
  operators/minio-object-store-operator/2025.7.1011319/manifests/aistor-tokenreview-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-object-store-operator/2025.7.1011319/manifests/aistor.min.io_adminjobs.yaml
  operators/minio-object-store-operator/2025.7.1011319/manifests/aistor.min.io_objectstores.yaml
  operators/minio-object-store-operator/2025.7.1011319/manifests/minio-object-store-operator.clusterserviceversion.yaml
  operators/minio-object-store-operator/2025.7.1011319/manifests/object-store-operator_v1_service.yaml
  operators/minio-object-store-operator/2025.7.1011319/manifests/sts.min.io_policybindings.yaml
  operators/minio-object-store-operator/2025.7.1011319/manifests/sts_v1_service.yaml
  operators/minio-object-store-operator/2025.7.1011319/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6047 operator kubeturbo-certified (8.16.50-beta.1)
  operators/kubeturbo-certified/8.16.50-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.16.50-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.16.50-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6048 operator edb-hcp-operator (1.2.1)
  operators/edb-hcp-operator/1.2.1/manifests/edb-hcp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/edb-hcp-operator/1.2.1/manifests/edb-hcp-operator-hybridcontrolplane-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/1.2.1/manifests/edb-hcp-operator-hybridcontrolplane-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/1.2.1/manifests/edb-hcp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/1.2.1/manifests/edb-hcp-operator-webhook-service_v1_service.yaml
  operators/edb-hcp-operator/1.2.1/manifests/edb-hcp-operator.clusterserviceversion.yaml
  operators/edb-hcp-operator/1.2.1/manifests/edbpgai.edb.com_hybridcontrolplanes.yaml
  operators/edb-hcp-operator/1.2.1/metadata/annotations.yaml
  operators/edb-hcp-operator/1.2.1/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#6053 operator t8c-certified (42.84.0-beta.1)
  operators/t8c-certified/42.84.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.84.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.84.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6054 operator trident-operator (25.6.0)
  operators/trident-operator/25.6.0/manifests/trident-operator.v25.6.0.clusterserviceversion.yaml
  operators/trident-operator/25.6.0/manifests/trident.netapp.io_tridentconfigurators_crd.yaml
  operators/trident-operator/25.6.0/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/25.6.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6060 operator nim-operator-certified (v2.0.1)
  operators/nim-operator-certified/v2.0.1/manifests/apps.nvidia.com_nemocustomizers.yaml
  operators/nim-operator-certified/v2.0.1/manifests/apps.nvidia.com_nemodatastores.yaml
  operators/nim-operator-certified/v2.0.1/manifests/apps.nvidia.com_nemoentitystores.yaml
  operators/nim-operator-certified/v2.0.1/manifests/apps.nvidia.com_nemoevaluators.yaml
  operators/nim-operator-certified/v2.0.1/manifests/apps.nvidia.com_nemoguardrails.yaml
  operators/nim-operator-certified/v2.0.1/manifests/apps.nvidia.com_nimcaches.yaml
  operators/nim-operator-certified/v2.0.1/manifests/apps.nvidia.com_nimpipelines.yaml
  operators/nim-operator-certified/v2.0.1/manifests/apps.nvidia.com_nimservices.yaml
  operators/nim-operator-certified/v2.0.1/manifests/nim-operator-certified.clusterserviceversion.yaml
  operators/nim-operator-certified/v2.0.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6066 operator ibm-cpd-datastage-operator (v5.1.3)
  operators/ibm-cpd-datastage-operator/v5.1.3/manifests/ds-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-cpd-datastage-operator/v5.1.3/manifests/ds-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-cpd-datastage-operator/v5.1.3/manifests/ds-operator.clusterserviceversion.yaml
  operators/ibm-cpd-datastage-operator/v5.1.3/manifests/ds.cpd.ibm.com_datastages.yaml
  operators/ibm-cpd-datastage-operator/v5.1.3/manifests/ds.cpd.ibm.com_pxruntimes.yaml
  operators/ibm-cpd-datastage-operator/v5.1.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6073 operator ibm-cpd-wspipelines (v5.1.3)
  operators/ibm-cpd-wspipelines/v5.1.3/manifests/wspipelines.clusterserviceversion.yaml
  operators/ibm-cpd-wspipelines/v5.1.3/manifests/wspipelines.cpd.ibm.com_wspipelines.yaml
  operators/ibm-cpd-wspipelines/v5.1.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6078 operator hpe-ezmeral-csi-operator (1.0.18)
  operators/hpe-ezmeral-csi-operator/1.0.18/manifests/ezmeral.hpe.com_hpeezmeralcsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.18/manifests/ezmeral.hpe.com_hpeezmeralnfscsidrivers.yaml
  operators/hpe-ezmeral-csi-operator/1.0.18/manifests/hpe-ezmeral-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-ezmeral-csi-operator/1.0.18/manifests/hpe-ezmeral-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-ezmeral-csi-operator/1.0.18/manifests/hpe-ezmeral-csi-operator.clusterserviceversion.yaml
  operators/hpe-ezmeral-csi-operator/1.0.18/metadata/annotations.yaml
  operators/hpe-ezmeral-csi-operator/1.0.18/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6081 operator uma-team-operator (2025.7.1)
  operators/uma-team-operator/2025.7.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.7.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.7.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6082 operator ibm-storage-odf-operator (1.8.0)
  operators/ibm-storage-odf-operator/1.8.0/manifests/flashsystem-csi-cr_v1_configmap.yaml
  operators/ibm-storage-odf-operator/1.8.0/manifests/flashsystemcluster-metrics_rbac.authorization.k8s.io_v1_role.yaml
  operators/ibm-storage-odf-operator/1.8.0/manifests/flashsystemcluster-metrics_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/ibm-storage-odf-operator/1.8.0/manifests/ibm-storage-odf-operator-metrics-service_v1_service.yaml
  operators/ibm-storage-odf-operator/1.8.0/manifests/ibm-storage-odf-operator.clusterserviceversion.yaml
  operators/ibm-storage-odf-operator/1.8.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-storage-odf-operator/1.8.0/manifests/odf.ibm.com_flashsystemclusters.yaml
  operators/ibm-storage-odf-operator/1.8.0/metadata/annotations.yaml
  operators/ibm-storage-odf-operator/1.8.0/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#6098 operator anzounstructured-operator (v3.1.104)
  operators/anzounstructured-operator/v3.1.104/manifests/anzounstructured-operator.clusterserviceversion.yaml
  operators/anzounstructured-operator/v3.1.104/manifests/anzounstructured.clusters.cambridgesemantics.com_anzounstructureds.yaml
  operators/anzounstructured-operator/v3.1.104/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6099 operator fujitsu-enterprise-postgres-operator-with-cg-module (v7.1.5)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep-ansible-operator-metrics-service_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6096 operator digitalai-deploy-operator (v24.1.19)
  operators/digitalai-deploy-operator/v24.1.19/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.1.19/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.1.19/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.19/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.19/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.19/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.1.19/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.1.19/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v24.1.19/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6106 operator portworx-certified (25.2.2)
  operators/portworx-certified/25.2.2/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/25.2.2/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/25.2.2/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/25.2.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6108 operator digitalai-deploy-operator (v25.1.2)
  operators/digitalai-deploy-operator/v25.1.2/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v25.1.2/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v25.1.2/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.2/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.2/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.2/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v25.1.2/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v25.1.2/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v25.1.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6113 operator tvo-operator (6.1.7)
  operators/tvo-operator/6.1.7/manifests/tvo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tvo-operator/6.1.7/manifests/tvo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.7/manifests/tvo-operator-tvocontrolplane-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.7/manifests/tvo-operator-tvocontrolplane-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.7/manifests/tvo-operator.clusterserviceversion.yaml
  operators/tvo-operator/6.1.7/manifests/tvo.trilio.io_tvobackuptargets.yaml
  operators/tvo-operator/6.1.7/manifests/tvo.trilio.io_tvocontrolplanes.yaml
  operators/tvo-operator/6.1.7/metadata/annotations.yaml
  operators/tvo-operator/6.1.7/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6116 operator anzograph-operator (v3.2.200)
  operators/anzograph-operator/v3.2.200/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.2.200/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.2.200/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6117 operator anzograph-operator (v3.2.300)
  operators/anzograph-operator/v3.2.300/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.2.300/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.2.300/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6118 operator gitlab-operator-kubernetes (2.1.2)
  operators/gitlab-operator-kubernetes/2.1.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.1.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.1.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.1.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.1.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.1.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.1.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.1.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.1.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.1.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6120 operator odigos-operator (v1.0.206)
  operators/odigos-operator/v1.0.206/manifests/odigos-operator-controller-manager-metrics-service_v1_service.yaml
  operators/odigos-operator/v1.0.206/manifests/odigos-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.206/manifests/odigos-operator-odigos-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.206/manifests/odigos-operator-odigos-version-f982d26dtt_v1_configmap.yaml
  operators/odigos-operator/v1.0.206/manifests/odigos-operator-odigos-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.206/manifests/odigos-operator.clusterserviceversion.yaml
  operators/odigos-operator/v1.0.206/manifests/operator.odigos.io_odigos.yaml
  operators/odigos-operator/v1.0.206/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6121 operator t8c-certified (42.84.0)
  operators/t8c-certified/42.84.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.84.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.84.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6125 operator ibm-metrics-operator (2.19.4)
  operators/ibm-metrics-operator/2.19.4/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.19.4/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.19.4/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.4/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.4/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.4/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.19.4/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.19.4/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.19.4/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.19.4/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.19.4/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.19.4/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.19.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6123 operator kubeturbo-certified (8.16.50)
  operators/kubeturbo-certified/8.16.50/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.16.50/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.16.50/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6124 operator hspc-operator (1.14.4)
  operators/hspc-operator/1.14.4/manifests/csi.hitachi.com_hspcs.yaml
  operators/hspc-operator/1.14.4/manifests/hspc-operator.clusterserviceversion.yaml
  operators/hspc-operator/1.14.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6133 operator hspc-operator (1.15.1)
  operators/hspc-operator/1.15.1/manifests/csi.hitachi.com_hspcs.yaml
  operators/hspc-operator/1.15.1/manifests/hspc-operator.clusterserviceversion.yaml
  operators/hspc-operator/1.15.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6135 Catalog update [kubecost-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/kubecost-operator/catalog.yaml
  catalogs/v4.13/kubecost-operator/catalog.yaml
  catalogs/v4.14/kubecost-operator/catalog.yaml
  catalogs/v4.15/kubecost-operator/catalog.yaml
  catalogs/v4.16/kubecost-operator/catalog.yaml
  catalogs/v4.17/kubecost-operator/catalog.yaml
  catalogs/v4.18/kubecost-operator/catalog.yaml
  catalogs/v4.19/kubecost-operator/catalog.yaml
  operators/kubecost-operator/catalog-templates/v4.12.yaml
  operators/kubecost-operator/catalog-templates/v4.13.yaml
  operators/kubecost-operator/catalog-templates/v4.14.yaml
  operators/kubecost-operator/catalog-templates/v4.15.yaml
  operators/kubecost-operator/catalog-templates/v4.16.yaml
  operators/kubecost-operator/catalog-templates/v4.17.yaml
  operators/kubecost-operator/catalog-templates/v4.18.yaml
  operators/kubecost-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6136 operator habana-ai-operator (1.21.2-76)
  operators/habana-ai-operator/1.21.2-76/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.21.2-76/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.21.2-76/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.21.2-76/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.21.2-76/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.21.2-76/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.21.2-76/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.21.2-76/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.21.2-76/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6140 operator cpd-platform-operator (v6.1.3)
  operators/cpd-platform-operator/ci.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd-platform-operator.clusterserviceversion.yaml
  operators/cpd-platform-operator/v6.1.3/manifests/cpd.ibm.com_ibmcpds.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/annotations.yaml
  operators/cpd-platform-operator/v6.1.3/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#6141 operator nxiq-operator-certified (1.193.0-1)
  operators/nxiq-operator-certified/1.193.0-1/manifests/nxiq-operator-certified.clusterserviceversion.yaml
  operators/nxiq-operator-certified/1.193.0-1/manifests/sonatype.com_nexusiqs_crd.yaml
  operators/nxiq-operator-certified/1.193.0-1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6142 operator nvidia-maintenance-operator (0.2.3)
  operators/nvidia-maintenance-operator/0.2.3/manifests/maintenance-operator-webhook-service_v1_service.yaml
  operators/nvidia-maintenance-operator/0.2.3/manifests/maintenance.nvidia.com_maintenanceoperatorconfigs.yaml
  operators/nvidia-maintenance-operator/0.2.3/manifests/maintenance.nvidia.com_nodemaintenances.yaml
  operators/nvidia-maintenance-operator/0.2.3/manifests/nvidia-maintenance-operator.clusterserviceversion.yaml
  operators/nvidia-maintenance-operator/0.2.3/metadata/annotations.yaml
  operators/nvidia-maintenance-operator/0.2.3/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6144 Catalog update [isovalent-networking] [v4.19]
  catalogs/v4.19/isovalent-networking/catalog.yaml
  operators/isovalent-networking/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6153 operator app-insights-operator (1.17.0-2)
  operators/app-insights-operator/1.17.0-2/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.17.0-2/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.0-2/manifests/app-insights-operator-netobserv-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.0-2/manifests/app-insights-operator-randoliagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.0-2/manifests/app-insights-operator-randoliagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.17.0-2/manifests/app-insights-operator-scc-hostmount-anyuid-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.0-2/manifests/app-insights-operator-scc-privileged-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.17.0-2/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.17.0-2/manifests/appinsights.randoli_randoliagents.yaml
  operators/app-insights-operator/1.17.0-2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6156 operator prometurbo-certified (8.16.60-beta.1)
  operators/prometurbo-certified/8.16.60-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.16.60-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.16.60-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6155 operator t8c-certified (42.85.0-beta.1)
  operators/t8c-certified/42.85.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.85.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.85.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6157 operator kubeturbo-certified (8.16.60-beta.1)
  operators/kubeturbo-certified/8.16.60-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.16.60-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.16.60-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6164 operator vfunction-server-operator (v4.2.1723)
  operators/vfunction-server-operator/v4.2.1723/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v4.2.1723/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v4.2.1723/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v4.2.1723/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v4.2.1723/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v4.2.1723/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_pruned_graph, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#6168 operator instana-agent-operator (2.1.30)
  operators/instana-agent-operator/2.1.30/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.30/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.30/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.30/manifests/instana.io_agentsremote.yaml
  operators/instana-agent-operator/2.1.30/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.30/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.30/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.30/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.30/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6169 operator gitlab-runner-operator (1.39.0)
  operators/gitlab-runner-operator/1.39.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.39.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.39.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.39.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.39.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.39.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.39.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6170 operator falcon-operator (v1.7.0)
  operators/falcon-operator/v1.7.0/manifests/falcon-operator-admission-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon-operator-falcon-FalconDeployment-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon-operator-falcon-FalconDeployment-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon-operator-image-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon.crowdstrike.com_falconadmissions.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon.crowdstrike.com_falcondeployments.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon.crowdstrike.com_falconimageanalyzers.yaml
  operators/falcon-operator/v1.7.0/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/v1.7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6173 operator splunk-operator (2.8.1)
  operators/splunk-operator/2.8.1/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk-operator/2.8.1/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk-operator/2.8.1/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk-operator/2.8.1/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk-operator/2.8.1/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk-operator/2.8.1/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk-operator/2.8.1/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk-operator/2.8.1/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk-operator/2.8.1/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk-operator/2.8.1/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk-operator/2.8.1/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk-operator/2.8.1/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk-operator/2.8.1/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk-operator/2.8.1/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk-operator/2.8.1/metadata/annotations.yaml
  operators/splunk-operator/2.8.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6174 operator tawon-operator (2.39.32)
  operators/tawon-operator/2.39.32/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.32/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.32/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.32/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.32/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.32/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.32/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.32/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.32/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.32/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.32/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.32/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6176 operator stackgres-certified (1.17.0)
  operators/stackgres-certified/1.17.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.17.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.17.0/metadata/annotations.yaml
  operators/stackgres-certified/1.17.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6175 operator digitalai-release-operator (v25.3.0-beta.609)
  operators/digitalai-release-operator/v25.3.0-beta.609/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v25.3.0-beta.609/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v25.3.0-beta.609/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.3.0-beta.609/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.3.0-beta.609/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.3.0-beta.609/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v25.3.0-beta.609/metadata/annotations.yaml
  operators/digitalai-release-operator/v25.3.0-beta.609/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v25.3.0-beta.609/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6139 operator vcp-operator (v1.8.0)
  operators/vcp-operator/v1.8.0/manifests/installer.venafi.com_venafiinstalls.yaml
  operators/vcp-operator/v1.8.0/manifests/vcp-operator-metrics_v1_service.yaml
  operators/vcp-operator/v1.8.0/manifests/vcp-operator.clusterserviceversion.yaml
  operators/vcp-operator/v1.8.0/metadata/annotations.yaml
  operators/vcp-operator/v1.8.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6184 operator redis-enterprise-operator-cert (7.22.0-15.0)
  operators/redis-enterprise-operator-cert/7.22.0-15.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-15.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-15.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-15.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.22.0-15.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-15.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6187 operator digitalai-deploy-operator (v25.1.3)
  operators/digitalai-deploy-operator/v25.1.3/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v25.1.3/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v25.1.3/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.3/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.3/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.3/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v25.1.3/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v25.1.3/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v25.1.3/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6188 operator vcp-operator (v1.8.1)
  operators/vcp-operator/v1.8.1/manifests/installer.venafi.com_venafiinstalls.yaml
  operators/vcp-operator/v1.8.1/manifests/vcp-operator-metrics_v1_service.yaml
  operators/vcp-operator/v1.8.1/manifests/vcp-operator.clusterserviceversion.yaml
  operators/vcp-operator/v1.8.1/metadata/annotations.yaml
  operators/vcp-operator/v1.8.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6189 operator digitalai-release-operator (v24.3.9)
  operators/digitalai-release-operator/v24.3.9/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.3.9/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.3.9/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.9/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.9/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.9/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.3.9/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.3.9/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v24.3.9/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6193 operator open-liberty-certified (1.4.4)
  operators/open-liberty-certified/1.4.4/manifests/apps.openliberty.io_openlibertyapplications.yaml
  operators/open-liberty-certified/1.4.4/manifests/apps.openliberty.io_openlibertydumps.yaml
  operators/open-liberty-certified/1.4.4/manifests/apps.openliberty.io_openlibertytraces.yaml
  operators/open-liberty-certified/1.4.4/manifests/open-liberty-certified.clusterserviceversion.yaml
  operators/open-liberty-certified/1.4.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6195 operator conjur-follower-operator (2.5.2)
  operators/conjur-follower-operator/2.5.2/manifests/conjur-follower-operator-conjurfollower-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.5.2/manifests/conjur-follower-operator-conjurfollower-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.5.2/manifests/conjur-follower-operator.clusterserviceversion.yaml
  operators/conjur-follower-operator/2.5.2/manifests/conjur.cyberark.com_conjurfollowers.yaml
  operators/conjur-follower-operator/2.5.2/metadata/annotations.yaml
  operators/conjur-follower-operator/2.5.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6196 operator conjur-follower-operator (2.6.2)
  operators/conjur-follower-operator/2.6.2/manifests/conjur-follower-operator-conjurfollower-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.6.2/manifests/conjur-follower-operator-conjurfollower-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.6.2/manifests/conjur-follower-operator.clusterserviceversion.yaml
  operators/conjur-follower-operator/2.6.2/manifests/conjur.cyberark.com_conjurfollowers.yaml
  operators/conjur-follower-operator/2.6.2/metadata/annotations.yaml
  operators/conjur-follower-operator/2.6.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6199 operator percona-postgresql-operator-certified (2.7.0)
  operators/percona-postgresql-operator-certified/2.7.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.7.0/manifests/percona-postgresql-operator.v2.7.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator-certified/2.7.0/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.7.0/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.7.0/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.7.0/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.7.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.7.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.7.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6200 operator gitlab-operator-kubernetes (2.2.1)
  operators/gitlab-operator-kubernetes/2.2.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.2.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.2.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.2.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6202 operator prometurbo-certified (8.16.60)
  operators/prometurbo-certified/8.16.60/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.16.60/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.16.60/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6201 operator t8c-certified (42.85.0)
  operators/t8c-certified/42.85.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.85.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.85.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6204 operator airlock-microgateway (4.6.2)
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-dashboard-accessctrllogs_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-dashboard-blocklogs_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-dashboard-blockmetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-dashboard-downstreammetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-dashboard-headerlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-dashboard-license_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-dashboard-logonlylogs_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-dashboard-logonlymetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-dashboard-overview_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-dashboard-requestlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-dashboard-systemmetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-dashboard-upstreammetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-operator-config_v1_configmap.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-operator-leader-metrics_v1_service.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-operator-metrics_v1_service.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-operator-webhook_v1_service.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway-operator-xds_v1_service.yaml
  operators/airlock-microgateway/4.6.2/manifests/airlock-microgateway.clusterserviceversion.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_accesscontrolpolicies.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_accesscontrols.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_apiprotections.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_contentsecurities.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_contentsecuritypolicies.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_csrfprotections.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_denyrules.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_envoyclusters.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_envoyconfigurations.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_envoyhttpfilters.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_gatewayparameters.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_graphqls.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_headerrewrites.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_identitypropagations.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_jwks.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_jwts.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_limits.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_oidcproviders.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_oidcrelyingparties.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_openapis.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_parsers.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_redisproviders.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_sessionhandlings.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_sidecargateways.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_telemetries.yaml
  operators/airlock-microgateway/4.6.2/manifests/microgateway.airlock.com_tokenexchanges.yaml
  operators/airlock-microgateway/4.6.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6209 operator prometurbo-certified (8.17.0-beta.1)
  operators/prometurbo-certified/8.17.0-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.17.0-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.17.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6211 Catalog update [k8s-triliovault] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/k8s-triliovault/catalog.yaml
  catalogs/v4.13/k8s-triliovault/catalog.yaml
  catalogs/v4.14/k8s-triliovault/catalog.yaml
  catalogs/v4.15/k8s-triliovault/catalog.yaml
  catalogs/v4.16/k8s-triliovault/catalog.yaml
  catalogs/v4.17/k8s-triliovault/catalog.yaml
  catalogs/v4.18/k8s-triliovault/catalog.yaml
  catalogs/v4.19/k8s-triliovault/catalog.yaml
  operators/k8s-triliovault/catalog-templates/basic_template.yaml
Labels: approved, operator-hosted-pipeline/started

#6215 operator uma-admin-operator (2025.5.4)
  operators/uma-admin-operator/2025.5.4/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.5.4/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.5.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6216 operator uma-team-operator (2025.5.4)
  operators/uma-team-operator/2025.5.4/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.5.4/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.5.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6228 operator gpu-operator-certified (v25.3.2)
  operators/gpu-operator-certified/v25.3.2/manifests/gpu-operator-certified.clusterserviceversion.yaml
  operators/gpu-operator-certified/v25.3.2/manifests/nvidia.com_clusterpolicies.yaml
  operators/gpu-operator-certified/v25.3.2/manifests/nvidia.com_nvidiadrivers.yaml
  operators/gpu-operator-certified/v25.3.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6229 operator t8c-certified (42.86.0-beta.1)
  operators/t8c-certified/42.86.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.86.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.86.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6219 Catalog update [hulft] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/hulft/catalog.yaml
  catalogs/v4.13/hulft/catalog.yaml
  catalogs/v4.14/hulft/catalog.yaml
  catalogs/v4.15/hulft/catalog.yaml
  catalogs/v4.16/hulft/catalog.yaml
  catalogs/v4.17/hulft/catalog.yaml
  catalogs/v4.18/hulft/catalog.yaml
  catalogs/v4.19/hulft/catalog.yaml
  operators/hulft/Makefile
  operators/hulft/catalog-templates/v4.12.yaml
  operators/hulft/catalog-templates/v4.13.yaml
  operators/hulft/catalog-templates/v4.14.yaml
  operators/hulft/catalog-templates/v4.15.yaml
  operators/hulft/catalog-templates/v4.16.yaml
  operators/hulft/catalog-templates/v4.17.yaml
  operators/hulft/catalog-templates/v4.18.yaml
  operators/hulft/catalog-templates/v4.19.yaml
  operators/hulft/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6235 Catalog update [hulft] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/hulft/catalog.yaml
  catalogs/v4.13/hulft/catalog.yaml
  catalogs/v4.14/hulft/catalog.yaml
  catalogs/v4.15/hulft/catalog.yaml
  catalogs/v4.16/hulft/catalog.yaml
  catalogs/v4.17/hulft/catalog.yaml
  catalogs/v4.18/hulft/catalog.yaml
  catalogs/v4.19/hulft/catalog.yaml
  operators/hulft/catalog-templates/hulft-catalog-template-basic.yaml
  operators/hulft/catalog-templates/v4.13.yaml
  operators/hulft/catalog-templates/v4.14.yaml
  operators/hulft/catalog-templates/v4.15.yaml
  operators/hulft/catalog-templates/v4.16.yaml
  operators/hulft/catalog-templates/v4.17.yaml
  operators/hulft/catalog-templates/v4.18.yaml
  operators/hulft/catalog-templates/v4.19.yaml
  operators/hulft/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6236 operator sumologic-kubernetes-collection-helm-operator (4.13.0-0)
  operators/sumologic-kubernetes-collection-helm-operator/4.13.0-0/manifests/helm-operator.sumologic.com_sumologiccollections.yaml
  operators/sumologic-kubernetes-collection-helm-operator/4.13.0-0/manifests/operator.clusterserviceversion.yaml
  operators/sumologic-kubernetes-collection-helm-operator/4.13.0-0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6237 operator kubecost-operator (v2.8.1)
  operators/kubecost-operator/v2.8.1/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.8.1/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.8.1/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.8.1/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.8.1/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.8.1/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.8.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6238 Catalog update [kubecost-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/kubecost-operator/catalog.yaml
  catalogs/v4.13/kubecost-operator/catalog.yaml
  catalogs/v4.14/kubecost-operator/catalog.yaml
  catalogs/v4.15/kubecost-operator/catalog.yaml
  catalogs/v4.16/kubecost-operator/catalog.yaml
  catalogs/v4.17/kubecost-operator/catalog.yaml
  catalogs/v4.18/kubecost-operator/catalog.yaml
  catalogs/v4.19/kubecost-operator/catalog.yaml
  operators/kubecost-operator/catalog-templates/v4.12.yaml
  operators/kubecost-operator/catalog-templates/v4.13.yaml
  operators/kubecost-operator/catalog-templates/v4.14.yaml
  operators/kubecost-operator/catalog-templates/v4.15.yaml
  operators/kubecost-operator/catalog-templates/v4.16.yaml
  operators/kubecost-operator/catalog-templates/v4.17.yaml
  operators/kubecost-operator/catalog-templates/v4.18.yaml
  operators/kubecost-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6056 operator vmstore-csi-file-driver-operator (1.0.0)
  operators/vmstore-csi-file-driver-operator/1.0.0/manifests/charts.tintri.com_vmstorecsis.yaml
  operators/vmstore-csi-file-driver-operator/1.0.0/manifests/vmstore-csi-controller-manager-metrics-service_v1_service.yaml
  operators/vmstore-csi-file-driver-operator/1.0.0/manifests/vmstore-csi-driver-cluster-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vmstore-csi-file-driver-operator/1.0.0/manifests/vmstore-csi-driver-operator.clusterserviceversion.yaml
  operators/vmstore-csi-file-driver-operator/1.0.0/manifests/vmstore-csi-driver-role-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/vmstore-csi-file-driver-operator/1.0.0/manifests/vmstore-csi-driver-service-account_v1_serviceaccount.yaml
  operators/vmstore-csi-file-driver-operator/1.0.0/manifests/vmstore-csi-external-resizer-cfg_rbac.authorization.k8s.io_v1_role.yaml
  operators/vmstore-csi-file-driver-operator/1.0.0/manifests/vmstore-csi-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vmstore-csi-file-driver-operator/1.0.0/manifests/vmstore-csi-resizer-role-cfg_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vmstore-csi-file-driver-operator/1.0.0/manifests/vmstore-csi-vmstore-csi-privileged-scc-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/vmstore-csi-file-driver-operator/1.0.0/manifests/vmstore-csi-vmstore-csi-privileged-scc-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/vmstore-csi-file-driver-operator/1.0.0/metadata/annotations.yaml
  operators/vmstore-csi-file-driver-operator/1.0.0/tests/scorecard/config.yaml
  operators/vmstore-csi-file-driver-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6240 operator instana-agent-operator (2.1.32)
  operators/instana-agent-operator/2.1.32/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.32/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.32/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.32/manifests/instana.io_agentsremote.yaml
  operators/instana-agent-operator/2.1.32/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.32/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.32/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.32/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.32/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6246 operator pg4k-pgd (1.1.2)
  operators/pg4k-pgd/1.1.2/manifests/pg4k-pgd.clusterserviceversion.yaml
  operators/pg4k-pgd/1.1.2/manifests/pgd-operator-manager-config_v1_configmap.yaml
  operators/pg4k-pgd/1.1.2/manifests/pgd-operator-webhook-service_v1_service.yaml
  operators/pg4k-pgd/1.1.2/manifests/pgd.k8s.enterprisedb.io_clusterimagecatalogs.yaml
  operators/pg4k-pgd/1.1.2/manifests/pgd.k8s.enterprisedb.io_imagecatalogs.yaml
  operators/pg4k-pgd/1.1.2/manifests/pgd.k8s.enterprisedb.io_pgdgroupcleanups.yaml
  operators/pg4k-pgd/1.1.2/manifests/pgd.k8s.enterprisedb.io_pgdgroups.yaml
  operators/pg4k-pgd/1.1.2/metadata/annotations.yaml
  operators/pg4k-pgd/1.1.2/metadata/dependencies.yaml
  operators/pg4k-pgd/1.1.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6248 operator hpe-csi-operator (3.0.0)
  operators/hpe-csi-operator/3.0.0/manifests/hpe-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-csi-operator/3.0.0/manifests/hpe-csi-operator-hpecsidriver-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/3.0.0/manifests/hpe-csi-operator-hpecsidriver-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/3.0.0/manifests/hpe-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/3.0.0/manifests/hpe-csi-operator.clusterserviceversion.yaml
  operators/hpe-csi-operator/3.0.0/manifests/storage.hpe.com_hpecsidrivers.yaml
  operators/hpe-csi-operator/3.0.0/metadata/annotations.yaml
  operators/hpe-csi-operator/3.0.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6253 operator harness-gitops-operator (0.3.0)
  operators/harness-gitops-operator/0.3.0/manifests/gitops.harness.io_gitopsagents.yaml
  operators/harness-gitops-operator/0.3.0/manifests/harness-gitops-operator-controller-manager-metrics-service_v1_service.yaml
  operators/harness-gitops-operator/0.3.0/manifests/harness-gitops-operator-gitopsagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/harness-gitops-operator/0.3.0/manifests/harness-gitops-operator-gitopsagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/harness-gitops-operator/0.3.0/manifests/harness-gitops-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/harness-gitops-operator/0.3.0/manifests/harness-gitops-operator.clusterserviceversion.yaml
  operators/harness-gitops-operator/0.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6259 operator sumologic-kubernetes-collection-helm-operator (4.13.0-1)
  operators/sumologic-kubernetes-collection-helm-operator/4.13.0-1/manifests/helm-operator.sumologic.com_sumologiccollections.yaml
  operators/sumologic-kubernetes-collection-helm-operator/4.13.0-1/manifests/operator.clusterserviceversion.yaml
  operators/sumologic-kubernetes-collection-helm-operator/4.13.0-1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started
