Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2025-05, with the labels that each got.

#5655 operator kubecost-operator (v2.7.1)
  operators/kubecost-operator/v2.7.1/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.7.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5658 operator kubeturbo-certified (8.16.0)
  operators/kubeturbo-certified/8.16.0/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.16.0/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.16.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5657 operator prometurbo-certified (8.16.0)
  operators/prometurbo-certified/8.16.0/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.16.0/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.16.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5660 Catalog update [kubecost-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/kubecost-operator/catalog.yaml
  catalogs/v4.13/kubecost-operator/catalog.yaml
  catalogs/v4.14/kubecost-operator/catalog.yaml
  catalogs/v4.15/kubecost-operator/catalog.yaml
  catalogs/v4.16/kubecost-operator/catalog.yaml
  catalogs/v4.17/kubecost-operator/catalog.yaml
  catalogs/v4.18/kubecost-operator/catalog.yaml
  catalogs/v4.19/kubecost-operator/catalog.yaml
  operators/kubecost-operator/catalog-templates/v4.12.yaml
  operators/kubecost-operator/catalog-templates/v4.13.yaml
  operators/kubecost-operator/catalog-templates/v4.14.yaml
  operators/kubecost-operator/catalog-templates/v4.15.yaml
  operators/kubecost-operator/catalog-templates/v4.16.yaml
  operators/kubecost-operator/catalog-templates/v4.17.yaml
  operators/kubecost-operator/catalog-templates/v4.18.yaml
  operators/kubecost-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#5661 operator ibm-security-verify-access-operator (25.4.0)
  operators/ibm-security-verify-access-operator/25.4.0/manifests/ibm-security-verify-access-operator.clusterserviceversion.yaml
  operators/ibm-security-verify-access-operator/25.4.0/manifests/ibm.com_ibmsecurityverifyaccesses.yaml
  operators/ibm-security-verify-access-operator/25.4.0/manifests/verify-access-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/25.4.0/manifests/verify-access-operator-controller-manager-snapshot-service_v1_service.yaml
  operators/ibm-security-verify-access-operator/25.4.0/manifests/verify-access-operator-manager-config_v1_configmap.yaml
  operators/ibm-security-verify-access-operator/25.4.0/manifests/verify-access-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-security-verify-access-operator/25.4.0/metadata/annotations.yaml
  operators/ibm-security-verify-access-operator/25.4.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5663 operator app-insights-operator (1.14.0)
  operators/app-insights-operator/1.14.0/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.14.0/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.14.0/manifests/app-insights-operator-randoliagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.14.0/manifests/app-insights-operator-randoliagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.14.0/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.14.0/manifests/appinsights.randoli_randoliagents.yaml
  operators/app-insights-operator/1.14.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5667 operator odigos-operator (v1.0.183)
  operators/odigos-operator/v1.0.183/manifests/odigos-operator-controller-manager-metrics-service_v1_service.yaml
  operators/odigos-operator/v1.0.183/manifests/odigos-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.183/manifests/odigos-operator-odigos-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.183/manifests/odigos-operator-odigos-version-bccd424bcm_v1_configmap.yaml
  operators/odigos-operator/v1.0.183/manifests/odigos-operator-odigos-version-m5529f26df_v1_configmap.yaml
  operators/odigos-operator/v1.0.183/manifests/odigos-operator-odigos-version-mk99cdcf27_v1_configmap.yaml
  operators/odigos-operator/v1.0.183/manifests/odigos-operator-odigos-version-t9g2c28b4f_v1_configmap.yaml
  operators/odigos-operator/v1.0.183/manifests/odigos-operator-odigos-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.183/manifests/odigos-operator.clusterserviceversion.yaml
  operators/odigos-operator/v1.0.183/manifests/operator.odigos.io_odigos.yaml
  operators/odigos-operator/v1.0.183/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5669 operator conjur-follower-operator (2.6.0)
  operators/conjur-follower-operator/2.6.0/manifests/conjur-follower-operator-conjurfollower-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.6.0/manifests/conjur-follower-operator-conjurfollower-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.6.0/manifests/conjur-follower-operator.clusterserviceversion.yaml
  operators/conjur-follower-operator/2.6.0/manifests/conjur.cyberark.com_conjurfollowers.yaml
  operators/conjur-follower-operator/2.6.0/metadata/annotations.yaml
  operators/conjur-follower-operator/2.6.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5670 operator t8c-tsc-client-certified (1.3.3-candidate-20250502220533000)
  operators/t8c-tsc-client-certified/1.3.3-candidate-20250502220533000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.3.3-candidate-20250502220533000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.3.3-candidate-20250502220533000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.3.3-candidate-20250502220533000/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5671 operator redis-enterprise-operator-cert (7.8.6-1.2)
  operators/redis-enterprise-operator-cert/7.8.6-1.2/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-1.2/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-1.2/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-1.2/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.8.6-1.2/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-1.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5672 operator uma-operator (2025.5.1)
  operators/uma-operator/2025.5.1/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.5.1/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.5.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5673 operator uma-admin-operator (2025.5.1)
  operators/uma-admin-operator/2025.5.1/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.5.1/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.5.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5674 operator uma-team-operator (2025.5.1)
  operators/uma-team-operator/2025.5.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.5.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.5.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5676 operator anzounstructured-operator (v3.1.101)
  operators/anzounstructured-operator/v3.1.101/manifests/anzounstructured-operator.clusterserviceversion.yaml
  operators/anzounstructured-operator/v3.1.101/manifests/anzounstructured.clusters.cambridgesemantics.com_anzounstructureds.yaml
  operators/anzounstructured-operator/v3.1.101/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5677 operator pubsubplus-eventbroker-operator (1.3.0)
  operators/pubsubplus-eventbroker-operator/1.3.0/manifests/pubsubplus-eventbroker-operator.clusterserviceversion.yaml
  operators/pubsubplus-eventbroker-operator/1.3.0/manifests/pubsubplus.solace.com_pubsubpluseventbrokers.yaml
  operators/pubsubplus-eventbroker-operator/1.3.0/metadata/annotations.yaml
  operators/pubsubplus-eventbroker-operator/1.3.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5678 operator cfm-operator (2.10.0-b135)
  operators/cfm-operator/2.10.0-b135/manifests/cfm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cfm-operator/2.10.0-b135/manifests/cfm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cfm-operator/2.10.0-b135/manifests/cfm-operator-nifi-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cfm-operator/2.10.0-b135/manifests/cfm-operator-nifi-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cfm-operator/2.10.0-b135/manifests/cfm-operator-webhook-service_v1_service.yaml
  operators/cfm-operator/2.10.0-b135/manifests/cfm-operator.clusterserviceversion.yaml
  operators/cfm-operator/2.10.0-b135/manifests/cfm.cloudera.com_nifiregistries.yaml
  operators/cfm-operator/2.10.0-b135/manifests/cfm.cloudera.com_nifis.yaml
  operators/cfm-operator/2.10.0-b135/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5681 operator digitalai-release-operator (v25.1.0)
  operators/digitalai-release-operator/v25.1.0/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v25.1.0/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v25.1.0/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.0/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.0/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.0/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v25.1.0/metadata/annotations.yaml
  operators/digitalai-release-operator/v25.1.0/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v25.1.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5682 operator digitalai-deploy-operator (v25.1.0)
  operators/digitalai-deploy-operator/v25.1.0/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v25.1.0/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v25.1.0/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.0/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.0/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.0/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v25.1.0/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v25.1.0/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v25.1.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5683 operator nvidia-maintenance-operator (0.2.2)
  operators/nvidia-maintenance-operator/0.2.2/manifests/maintenance-operator-webhook-service_v1_service.yaml
  operators/nvidia-maintenance-operator/0.2.2/manifests/maintenance.nvidia.com_maintenanceoperatorconfigs.yaml
  operators/nvidia-maintenance-operator/0.2.2/manifests/maintenance.nvidia.com_nodemaintenances.yaml
  operators/nvidia-maintenance-operator/0.2.2/manifests/nvidia-maintenance-operator.clusterserviceversion.yaml
  operators/nvidia-maintenance-operator/0.2.2/metadata/annotations.yaml
  operators/nvidia-maintenance-operator/0.2.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5684 operator sriov-fec (v2.11.1)
  operators/sriov-fec/v2.11.1/manifests/sriov-fec-controller-manager-metrics-service_v1_service.yaml
  operators/sriov-fec/v2.11.1/manifests/sriov-fec-daemon-assets_v1_configmap.yaml
  operators/sriov-fec/v2.11.1/manifests/sriov-fec-manager-config_v1_configmap.yaml
  operators/sriov-fec/v2.11.1/manifests/sriov-fec-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sriov-fec/v2.11.1/manifests/sriov-fec-webhook-service_v1_service.yaml
  operators/sriov-fec/v2.11.1/manifests/sriov-fec.clusterserviceversion.yaml
  operators/sriov-fec/v2.11.1/manifests/sriovfec.intel.com_sriovfecclusterconfigs.yaml
  operators/sriov-fec/v2.11.1/manifests/sriovfec.intel.com_sriovfecnodeconfigs.yaml
  operators/sriov-fec/v2.11.1/manifests/sriovvrb.intel.com_sriovvrbclusterconfigs.yaml
  operators/sriov-fec/v2.11.1/manifests/sriovvrb.intel.com_sriovvrbnodeconfigs.yaml
  operators/sriov-fec/v2.11.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5686 operator runtime-component-operator-certified (1.4.3)
  operators/runtime-component-operator-certified/1.4.3/manifests/rc.app.stacks_runtimecomponents.yaml
  operators/runtime-component-operator-certified/1.4.3/manifests/rc.app.stacks_runtimeoperations.yaml
  operators/runtime-component-operator-certified/1.4.3/manifests/runtime-component-operator-certified.clusterserviceversion.yaml
  operators/runtime-component-operator-certified/1.4.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5687 operator open-liberty-certified (1.4.3)
  operators/open-liberty-certified/1.4.3/manifests/apps.openliberty.io_openlibertyapplications.yaml
  operators/open-liberty-certified/1.4.3/manifests/apps.openliberty.io_openlibertydumps.yaml
  operators/open-liberty-certified/1.4.3/manifests/apps.openliberty.io_openlibertytraces.yaml
  operators/open-liberty-certified/1.4.3/manifests/open-liberty-certified.clusterserviceversion.yaml
  operators/open-liberty-certified/1.4.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5688 operator t8c-certified (42.79.0-beta.1)
  operators/t8c-certified/42.79.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.79.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.79.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5689 operator prometurbo-certified (8.16.10-beta.1)
  operators/prometurbo-certified/8.16.10-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.16.10-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.16.10-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5690 operator kubeturbo-certified (8.16.10-beta.1)
  operators/kubeturbo-certified/8.16.10-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.16.10-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.16.10-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5668 operator mongodb-kubernetes (1.0.0)
  operators/mongodb-kubernetes/1.0.0/bundle.Dockerfile
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes-appdb_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes-database-pods_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes-operator-service_v1_service.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb-kubernetes.clusterserviceversion.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-kubernetes/1.0.0/manifests/mongodbcommunity.mongodb.com_mongodbcommunity.yaml
  operators/mongodb-kubernetes/1.0.0/metadata/annotations.yaml
  operators/mongodb-kubernetes/1.0.0/tests/scorecard/config.yaml
  operators/mongodb-kubernetes/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#5691 operator ibm-storage-odf-operator (1.7.0)
  operators/ibm-storage-odf-operator/1.7.0/manifests/flashsystem-csi-cr_v1_configmap.yaml
  operators/ibm-storage-odf-operator/1.7.0/manifests/flashsystemcluster-metrics_rbac.authorization.k8s.io_v1_role.yaml
  operators/ibm-storage-odf-operator/1.7.0/manifests/flashsystemcluster-metrics_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/ibm-storage-odf-operator/1.7.0/manifests/ibm-storage-odf-operator-metrics-service_v1_service.yaml
  operators/ibm-storage-odf-operator/1.7.0/manifests/ibm-storage-odf-operator.clusterserviceversion.yaml
  operators/ibm-storage-odf-operator/1.7.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-storage-odf-operator/1.7.0/manifests/odf.ibm.com_flashsystemclusters.yaml
  operators/ibm-storage-odf-operator/1.7.0/metadata/annotations.yaml
  operators/ibm-storage-odf-operator/1.7.0/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#5694 operator nexus-repository-ha-operator-certified (3.80.0-2)
  operators/nexus-repository-ha-operator-certified/3.80.0-2/manifests/nexus-repository-ha-operator-certified.clusterserviceversion.yaml
  operators/nexus-repository-ha-operator-certified/3.80.0-2/manifests/sonatype.com_nexusrepos_crd.yaml
  operators/nexus-repository-ha-operator-certified/3.80.0-2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5695 operator gitlab-operator-kubernetes (1.12.2)
  operators/gitlab-operator-kubernetes/1.12.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.12.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.12.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.12.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5696 operator ibm-storage-odf-operator (1.7.1)
  operators/ibm-storage-odf-operator/1.7.1/manifests/flashsystem-csi-cr_v1_configmap.yaml
  operators/ibm-storage-odf-operator/1.7.1/manifests/flashsystemcluster-metrics_rbac.authorization.k8s.io_v1_role.yaml
  operators/ibm-storage-odf-operator/1.7.1/manifests/flashsystemcluster-metrics_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/ibm-storage-odf-operator/1.7.1/manifests/ibm-storage-odf-operator-metrics-service_v1_service.yaml
  operators/ibm-storage-odf-operator/1.7.1/manifests/ibm-storage-odf-operator.clusterserviceversion.yaml
  operators/ibm-storage-odf-operator/1.7.1/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-storage-odf-operator/1.7.1/manifests/odf.ibm.com_flashsystemclusters.yaml
  operators/ibm-storage-odf-operator/1.7.1/metadata/annotations.yaml
  operators/ibm-storage-odf-operator/1.7.1/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#5701 operator odigos-operator (v1.0.185)
  operators/odigos-operator/v1.0.185/manifests/odigos-operator-controller-manager-metrics-service_v1_service.yaml
  operators/odigos-operator/v1.0.185/manifests/odigos-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.185/manifests/odigos-operator-odigos-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.185/manifests/odigos-operator-odigos-version-bccd424bcm_v1_configmap.yaml
  operators/odigos-operator/v1.0.185/manifests/odigos-operator-odigos-version-db9k7g76mc_v1_configmap.yaml
  operators/odigos-operator/v1.0.185/manifests/odigos-operator-odigos-version-m5529f26df_v1_configmap.yaml
  operators/odigos-operator/v1.0.185/manifests/odigos-operator-odigos-version-mk99cdcf27_v1_configmap.yaml
  operators/odigos-operator/v1.0.185/manifests/odigos-operator-odigos-version-t9g2c28b4f_v1_configmap.yaml
  operators/odigos-operator/v1.0.185/manifests/odigos-operator-odigos-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.185/manifests/odigos-operator.clusterserviceversion.yaml
  operators/odigos-operator/v1.0.185/manifests/operator.odigos.io_odigos.yaml
  operators/odigos-operator/v1.0.185/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5699 operator t8c-tsc-client-certified (1.3.3)
  operators/t8c-tsc-client-certified/1.3.3/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.3.3/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.3.3/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.3.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5702 Catalog update [trident-operator] [v4.17,v4.18]
  catalogs/v4.17/trident-operator/catalog.yaml
  catalogs/v4.18/trident-operator/catalog.yaml
Labels: approved, operator-hosted-pipeline/started

#5703 Catalog update [operator-certification-operator] [v4.17,v4.18]
  catalogs/v4.17/operator-certification-operator/catalog.yaml
  catalogs/v4.18/operator-certification-operator/catalog.yaml
Labels: approved, operator-hosted-pipeline/started

#5704 Catalog update [kubecost-operator] [v4.17,v4.18,v4.19]
  catalogs/v4.17/kubecost-operator/catalog.yaml
  catalogs/v4.18/kubecost-operator/catalog.yaml
  catalogs/v4.19/kubecost-operator/catalog.yaml
Labels: approved, operator-hosted-pipeline/started

#5707 Catalog update [amd-gpu-operator] [v4.17,v4.18]
  catalogs/v4.17/amd-gpu-operator/catalog.yaml
  catalogs/v4.18/amd-gpu-operator/catalog.yaml
Labels: approved, operator-hosted-pipeline/started

#5709 Catalog update [appian-operator] [v4.17]
  catalogs/v4.17/appian-operator/catalog.yaml
Labels: approved, operator-hosted-pipeline/started

#5710 operator gitlab-runner-operator (1.36.0)
  operators/gitlab-runner-operator/1.36.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.36.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.36.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5711 operator ccnfs-operator (7.25.10)
  operators/ccnfs-operator/7.25.10/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionbackuprestores.yaml
  operators/ccnfs-operator/7.25.10/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionconfigs.yaml
  operators/ccnfs-operator/7.25.10/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionoperations.yaml
  operators/ccnfs-operator/7.25.10/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionrollbacktasks.yaml
  operators/ccnfs-operator/7.25.10/manifests/ccnf.zte.com.cn_commoncorenetworkfunctions.yaml
  operators/ccnfs-operator/7.25.10/manifests/ccnf.zte.com.cn_commoncorenetworkfunctionupgradetasks.yaml
  operators/ccnfs-operator/7.25.10/manifests/ccnfs-operator.clusterserviceversion.yaml
  operators/ccnfs-operator/7.25.10/manifests/cnf-operator-env-config_v1_configmap.yaml
  operators/ccnfs-operator/7.25.10/manifests/cnf-operator-leader-election-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/ccnfs-operator/7.25.10/manifests/cnf-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ccnfs-operator/7.25.10/manifests/cnf-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ccnfs-operator/7.25.10/manifests/cnf-operator-proxy-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ccnfs-operator/7.25.10/manifests/manager-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ccnfs-operator/7.25.10/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5712 operator confluent-for-kubernetes (2.11.1)
  operators/confluent-for-kubernetes/2.11.1/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_cmfrestclasses.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_flinkapplications.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_flinkenvironments.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.11.1/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.11.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5715 operator vfunction-server-operator (v4.1.1689)
  operators/vfunction-server-operator/v4.1.1689/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v4.1.1689/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v4.1.1689/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v4.1.1689/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v4.1.1689/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v4.1.1689/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_pruned_graph, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#5724 operator minio-object-store-operator (2025.5.12190907)
  operators/minio-object-store-operator/2025.5.12190907/manifests/aistor-tokenreview-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-object-store-operator/2025.5.12190907/manifests/aistor.min.io_adminjobs.yaml
  operators/minio-object-store-operator/2025.5.12190907/manifests/aistor.min.io_objectstores.yaml
  operators/minio-object-store-operator/2025.5.12190907/manifests/minio-object-store-operator.clusterserviceversion.yaml
  operators/minio-object-store-operator/2025.5.12190907/manifests/object-store-operator_v1_service.yaml
  operators/minio-object-store-operator/2025.5.12190907/manifests/sts.min.io_policybindings.yaml
  operators/minio-object-store-operator/2025.5.12190907/manifests/sts_v1_service.yaml
  operators/minio-object-store-operator/2025.5.12190907/metadata/annotations.yaml
  operators/minio-object-store-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#5721 operator mongodb-kubernetes (1.0.1)
  operators/mongodb-kubernetes/1.0.1/bundle.Dockerfile
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes-appdb_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes-database-pods_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes-operator-service_v1_service.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb-kubernetes.clusterserviceversion.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-kubernetes/1.0.1/manifests/mongodbcommunity.mongodb.com_mongodbcommunity.yaml
  operators/mongodb-kubernetes/1.0.1/metadata/annotations.yaml
  operators/mongodb-kubernetes/1.0.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5725 operator cloudnative-pg (1.26.0-rc3)
  operators/cloudnative-pg/1.26.0-rc3/manifests/cloudnative-pg.clusterserviceversion.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/cnpg-database-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/cnpg-database-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/cnpg-default-monitoring_v1_configmap.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/cnpg-publication-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/cnpg-publication-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/cnpg-subscription-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/cnpg-subscription-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/cnpg-webhook-service_v1_service.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/postgresql.cnpg.io_backups.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/postgresql.cnpg.io_clusterimagecatalogs.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/postgresql.cnpg.io_clusters.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/postgresql.cnpg.io_databases.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/postgresql.cnpg.io_imagecatalogs.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/postgresql.cnpg.io_poolers.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/postgresql.cnpg.io_publications.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/postgresql.cnpg.io_scheduledbackups.yaml
  operators/cloudnative-pg/1.26.0-rc3/manifests/postgresql.cnpg.io_subscriptions.yaml
  operators/cloudnative-pg/1.26.0-rc3/metadata/annotations.yaml
  operators/cloudnative-pg/1.26.0-rc3/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5731 operator app-insights-operator (1.15.0)
  operators/app-insights-operator/1.15.0/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.15.0/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.15.0/manifests/app-insights-operator-netobserv-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.15.0/manifests/app-insights-operator-randoliagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.15.0/manifests/app-insights-operator-randoliagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.15.0/manifests/app-insights-operator-scc-hostmount-anyuid-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.15.0/manifests/app-insights-operator-scc-privileged-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.15.0/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.15.0/manifests/appinsights.randoli_randoliagents.yaml
  operators/app-insights-operator/1.15.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5700 operator tigera-operator (1.38.0)
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_bgpconfigurations.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_bgppeers.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_blockaffinities.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_caliconodestatuses.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_clusterinformations.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_felixconfigurations.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_globalnetworkpolicies.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_globalnetworksets.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_hostendpoints.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_ipamblocks.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_ipamconfigs.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_ipamhandles.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_ippools.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_ipreservations.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_kubecontrollersconfigurations.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_networkpolicies.yaml
  operators/tigera-operator/1.38.0/manifests/crd.projectcalico.org_networksets.yaml
  operators/tigera-operator/1.38.0/manifests/operator.tigera.io_imagesets.yaml
  operators/tigera-operator/1.38.0/manifests/operator.tigera.io_installations.yaml
  operators/tigera-operator/1.38.0/manifests/operator.tigera.io_tigerastatuses.yaml
  operators/tigera-operator/1.38.0/manifests/tigera-operator.clusterserviceversion.yaml
  operators/tigera-operator/1.38.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5741 operator kubeturbo-certified (8.16.10)
  operators/kubeturbo-certified/8.16.10/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.16.10/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.16.10/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5738 operator gitlab-runner-operator (1.37.0)
  operators/gitlab-runner-operator/1.37.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.37.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.37.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5737 operator gitlab-operator-kubernetes (2.0.0)
  operators/gitlab-operator-kubernetes/2.0.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.0.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.0.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.0.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5735 operator nutanixcsioperator (3.3.1)
  operators/nutanixcsioperator/3.3.1/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/3.3.1/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/3.3.1/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/3.3.1/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/3.3.1/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/3.3.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5744 operator uma-admin-operator (2025.5.2)
  operators/uma-admin-operator/2025.5.2/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.5.2/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.5.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5745 operator fujitsu-enterprise-postgres-operator-with-cg-module (v7.1.3)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5740 operator prometurbo-certified (8.16.10)
  operators/prometurbo-certified/8.16.10/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.16.10/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.16.10/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5749 operator sumologic-kubernetes-collection-helm-operator (4.9.0-3)
  operators/sumologic-kubernetes-collection-helm-operator/4.9.0-3/manifests/helm-operator.sumologic.com_sumologiccollections.yaml
  operators/sumologic-kubernetes-collection-helm-operator/4.9.0-3/manifests/operator.clusterserviceversion.yaml
  operators/sumologic-kubernetes-collection-helm-operator/4.9.0-3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5751 operator kove-operator (v3.0.0)
  operators/kove-operator/v3.0.0/manifests/containers.kove.com_kovememoryconfigs.yaml
  operators/kove-operator/v3.0.0/manifests/containers.kove.com_kovesystems.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-agent-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-agent-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-agent_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-ca_v1_configmap.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-client-drivers-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-client-drivers-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-client-drivers_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-compatibility-detection-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-compatibility-detection-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-compatibility-detection_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-container-hook-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-container-hook-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-container-hook_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-l4-cache-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-l4-cache-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-kove-l4-cache_v1_serviceaccount.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator-webhook-service_v1_service.yaml
  operators/kove-operator/v3.0.0/manifests/kove-operator.clusterserviceversion.yaml
  operators/kove-operator/v3.0.0/metadata/annotations.yaml
  operators/kove-operator/v3.0.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5754 operator fujitsu-enterprise-postgres-operator (v7.2.4)
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v7.2.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5757 operator lightbits-operator (0.8.0)
  operators/lightbits-operator/0.8.0/manifests/lightbits-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lightbits-operator/0.8.0/manifests/lightbits-operator-manager-config_v1_configmap.yaml
  operators/lightbits-operator/0.8.0/manifests/lightbits-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lightbits-operator/0.8.0/manifests/lightbits-operator.clusterserviceversion.yaml
  operators/lightbits-operator/0.8.0/manifests/storage.lightbitslabs.com_clusters.yaml
  operators/lightbits-operator/0.8.0/manifests/storage.lightbitslabs.com_csidrivers.yaml
  operators/lightbits-operator/0.8.0/metadata/annotations.yaml
  operators/lightbits-operator/0.8.0/metadata/properties.yaml
  operators/lightbits-operator/0.8.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5756 operator habana-ai-operator (1.21.0-555)
  operators/habana-ai-operator/1.21.0-555/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.21.0-555/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.21.0-555/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.21.0-555/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.21.0-555/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.21.0-555/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.21.0-555/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.21.0-555/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.21.0-555/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5762 operator lightbits-operator (1.0.0)
  operators/lightbits-operator/1.0.0/manifests/lightbits-operator-controller-manager-metrics-service_v1_service.yaml
  operators/lightbits-operator/1.0.0/manifests/lightbits-operator-manager-config_v1_configmap.yaml
  operators/lightbits-operator/1.0.0/manifests/lightbits-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/lightbits-operator/1.0.0/manifests/lightbits-operator.clusterserviceversion.yaml
  operators/lightbits-operator/1.0.0/manifests/storage.lightbitslabs.com_clusters.yaml
  operators/lightbits-operator/1.0.0/manifests/storage.lightbitslabs.com_csidrivers.yaml
  operators/lightbits-operator/1.0.0/metadata/annotations.yaml
  operators/lightbits-operator/1.0.0/metadata/properties.yaml
  operators/lightbits-operator/1.0.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5761 operator tvo-operator (6.1.3)
  operators/tvo-operator/6.1.3/manifests/tvo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tvo-operator/6.1.3/manifests/tvo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.3/manifests/tvo-operator-tvocontrolplane-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.3/manifests/tvo-operator-tvocontrolplane-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.3/manifests/tvo-operator.clusterserviceversion.yaml
  operators/tvo-operator/6.1.3/manifests/tvo.trilio.io_tvobackuptargets.yaml
  operators/tvo-operator/6.1.3/manifests/tvo.trilio.io_tvocontrolplanes.yaml
  operators/tvo-operator/6.1.3/metadata/annotations.yaml
  operators/tvo-operator/6.1.3/tests/scorecard/config.yaml
Labels: approved, pipeline/trigger-hosted, operator-hosted-pipeline/failed

#5763 operator infinibox-operator-certified (v2.21.0)
  operators/infinibox-operator-certified/v2.21.0/manifests/csidriver.infinidat.com_iboxreplicas.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.21.0/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.21.0/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.21.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5764 operator anzograph-operator (v3.2.103)
  operators/anzograph-operator/v3.2.103/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.2.103/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.2.103/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5765 operator anzo-operator (v3.1.102)
  operators/anzo-operator/v3.1.102/manifests/anzo-operator.clusterserviceversion.yaml
  operators/anzo-operator/v3.1.102/manifests/anzo.cambridgesemantics.com_anzos.yaml
  operators/anzo-operator/v3.1.102/manifests/anzobackup.cambridgesemantics.com_anzobackups.yaml
  operators/anzo-operator/v3.1.102/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5766 operator tvo-operator (6.1.4)
  operators/tvo-operator/6.1.4/manifests/tvo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tvo-operator/6.1.4/manifests/tvo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.4/manifests/tvo-operator-tvocontrolplane-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.4/manifests/tvo-operator-tvocontrolplane-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.4/manifests/tvo-operator.clusterserviceversion.yaml
  operators/tvo-operator/6.1.4/manifests/tvo.trilio.io_tvobackuptargets.yaml
  operators/tvo-operator/6.1.4/manifests/tvo.trilio.io_tvocontrolplanes.yaml
  operators/tvo-operator/6.1.4/metadata/annotations.yaml
  operators/tvo-operator/6.1.4/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5736 Catalog update [k8s-triliovault] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/k8s-triliovault/catalog.yaml
  catalogs/v4.13/k8s-triliovault/catalog.yaml
  catalogs/v4.14/k8s-triliovault/catalog.yaml
  catalogs/v4.15/k8s-triliovault/catalog.yaml
  catalogs/v4.16/k8s-triliovault/catalog.yaml
  catalogs/v4.17/k8s-triliovault/catalog.yaml
  catalogs/v4.18/k8s-triliovault/catalog.yaml
  catalogs/v4.19/k8s-triliovault/catalog.yaml
  operators/k8s-triliovault/Makefile
  operators/k8s-triliovault/catalog-templates/basic_template.yaml
  operators/k8s-triliovault/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#5770 operator minio-key-manager-operator (2025.5.12190907)
  operators/minio-key-manager-operator/2025.5.12190907/manifests/aistor.min.io_keymanagers.yaml
  operators/minio-key-manager-operator/2025.5.12190907/manifests/minio-key-manager-operator.clusterserviceversion.yaml
  operators/minio-key-manager-operator/2025.5.12190907/metadata/annotations.yaml
  operators/minio-key-manager-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#5772 operator prometurbo-certified (8.16.20-beta.1)
  operators/prometurbo-certified/8.16.20-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.16.20-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.16.20-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5774 operator anzograph-operator (v3.2.104)
  operators/anzograph-operator/v3.2.104/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.2.104/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.2.104/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5776 operator vfunction-server-operator (v4.2.1704)
  operators/vfunction-server-operator/v4.2.1704/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v4.2.1704/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v4.2.1704/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v4.2.1704/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v4.2.1704/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v4.2.1704/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_pruned_graph, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#5775 operator anzo-operator (v3.1.104)
  operators/anzo-operator/v3.1.104/manifests/anzo-operator.clusterserviceversion.yaml
  operators/anzo-operator/v3.1.104/manifests/anzo.cambridgesemantics.com_anzos.yaml
  operators/anzo-operator/v3.1.104/manifests/anzobackup.cambridgesemantics.com_anzobackups.yaml
  operators/anzo-operator/v3.1.104/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5777 operator anzounstructured-operator (v3.1.103)
  operators/anzounstructured-operator/v3.1.103/manifests/anzounstructured-operator.clusterserviceversion.yaml
  operators/anzounstructured-operator/v3.1.103/manifests/anzounstructured.clusters.cambridgesemantics.com_anzounstructureds.yaml
  operators/anzounstructured-operator/v3.1.103/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5779 operator anzo-operator (v3.1.105)
  operators/anzo-operator/v3.1.105/manifests/anzo-operator.clusterserviceversion.yaml
  operators/anzo-operator/v3.1.105/manifests/anzo.cambridgesemantics.com_anzos.yaml
  operators/anzo-operator/v3.1.105/manifests/anzobackup.cambridgesemantics.com_anzobackups.yaml
  operators/anzo-operator/v3.1.105/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5783 operator aic-operator (v0.2.0)
  operators/aic-operator/v0.2.0/manifests/aic-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aic-operator/v0.2.0/manifests/aic-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aic-operator/v0.2.0/manifests/aic-operator.clusterserviceversion.yaml
  operators/aic-operator/v0.2.0/manifests/aic.quicinc.com_aics.yaml
  operators/aic-operator/v0.2.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5781 operator gitlab-operator-kubernetes (2.0.1)
  operators/gitlab-operator-kubernetes/2.0.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.0.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.0.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.0.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5785 operator portworx-certified (25.1.0)
  operators/portworx-certified/25.1.0/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/25.1.0/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/25.1.0/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/25.1.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5788 operator uma-operator (2025.5.3)
  operators/uma-operator/2025.5.3/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.5.3/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.5.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5789 operator uma-admin-operator (2025.5.3)
  operators/uma-admin-operator/2025.5.3/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.5.3/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.5.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5791 operator uma-team-operator (2025.5.3)
  operators/uma-team-operator/2025.5.3/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.5.3/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.5.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5792 operator crunchy-postgres-operator (5.8.2)
  operators/crunchy-postgres-operator/5.8.2/Dockerfile
  operators/crunchy-postgres-operator/5.8.2/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.8.2/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.8.2/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.8.2/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.8.2/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.8.2/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.8.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5778 operator dell-csm-operator-certified (1.9.0)
  operators/dell-csm-operator-certified/1.9.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.9.0/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.9.0/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.9.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5795 operator fujitsu-enterprise-postgres-operator (v7.2.5)
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep-ansible-operator-metrics-service_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v7.2.5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5794 operator fujitsu-enterprise-postgres-operator-with-cg-module (v7.1.4)
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep-ansible-operator-metrics-service_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/fujitsu-enterprise-postgres-operator-with-cg-module.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator-with-cg-module/v7.1.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5796 operator digitalai-deploy-operator (v25.1.1)
  operators/digitalai-deploy-operator/v25.1.1/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v25.1.1/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v25.1.1/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.1/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.1/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.1/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v25.1.1/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v25.1.1/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v25.1.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5797 operator digitalai-release-operator (v25.1.1)
  operators/digitalai-release-operator/v25.1.1/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v25.1.1/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v25.1.1/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.1/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.1/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.1/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v25.1.1/metadata/annotations.yaml
  operators/digitalai-release-operator/v25.1.1/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v25.1.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5800 operator ibm-data-reporter-operator (2.19.3)
  operators/ibm-data-reporter-operator/2.19.3/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.19.3/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.19.3/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.19.3/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.19.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.19.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.19.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.19.3/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.19.3/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.19.3/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.19.3/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.19.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5810 operator digitalai-release-operator (v24.3.7)
  operators/digitalai-release-operator/v24.3.7/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.3.7/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.3.7/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.7/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.7/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.7/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.3.7/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.3.7/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v24.3.7/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5812 operator digitalai-deploy-operator (v24.3.7)
  operators/digitalai-deploy-operator/v24.3.7/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.3.7/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.3.7/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.7/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.7/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.7/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.3.7/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.3.7/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v24.3.7/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5814 operator portworx-certified (25.2.0)
  operators/portworx-certified/25.2.0/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/25.2.0/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/25.2.0/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/25.2.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5818 operator zabbix-operator-certified (6.0.40)
  operators/zabbix-operator-certified/6.0.40/manifests/kubernetes.zabbix.com_zabbixagent2s.yaml
  operators/zabbix-operator-certified/6.0.40/manifests/kubernetes.zabbix.com_zabbixagents.yaml
  operators/zabbix-operator-certified/6.0.40/manifests/kubernetes.zabbix.com_zabbixfulls.yaml
  operators/zabbix-operator-certified/6.0.40/manifests/kubernetes.zabbix.com_zabbixproxymysqls.yaml
  operators/zabbix-operator-certified/6.0.40/manifests/kubernetes.zabbix.com_zabbixproxysqlites.yaml
  operators/zabbix-operator-certified/6.0.40/manifests/kubernetes.zabbix.com_zabbixservers.yaml
  operators/zabbix-operator-certified/6.0.40/manifests/zabbix-operator-certified.clusterserviceversion.yaml
  operators/zabbix-operator-certified/6.0.40/metadata/annotations.yaml
  operators/zabbix-operator-certified/6.0.40/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5780 operator isovalent-networking (v1.17.4-cee.1)
  operators/isovalent-networking/Makefile
  operators/isovalent-networking/catalog-templates/template.yaml
  operators/isovalent-networking/ci.yaml
  operators/isovalent-networking/v1.17.4-cee.1/manifests/cilium.io_ciliumconfigs.yaml
  operators/isovalent-networking/v1.17.4-cee.1/manifests/clife-ciliumconfig-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/isovalent-networking/v1.17.4-cee.1/manifests/clife-ciliumconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/isovalent-networking/v1.17.4-cee.1/manifests/clife-ciliumconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/isovalent-networking/v1.17.4-cee.1/manifests/clife-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/isovalent-networking/v1.17.4-cee.1/manifests/clife-metrics_v1_service.yaml
  operators/isovalent-networking/v1.17.4-cee.1/manifests/clife.clusterserviceversion.yaml
  operators/isovalent-networking/v1.17.4-cee.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5828 Catalog update [isovalent-networking] [v4.14,v4.15,v4.16,v4.17,v4.18]
  catalogs/v4.14/isovalent-networking/catalog.yaml
  catalogs/v4.15/isovalent-networking/catalog.yaml
  catalogs/v4.16/isovalent-networking/catalog.yaml
  catalogs/v4.17/isovalent-networking/catalog.yaml
  catalogs/v4.18/isovalent-networking/catalog.yaml
  operators/isovalent-networking/catalog-templates/template.yaml
Labels: approved, operator-hosted-pipeline/started

#5831 Catalog update [dell-csm-operator-certified] [v4.14,v4.15,v4.16,v4.17,v4.18]
  catalogs/v4.14/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.15/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.16/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.17/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.18/dell-csm-operator-certified/catalog.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.14.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.15.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.16.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.17.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.18.yaml
Labels: approved, operator-hosted-pipeline/started

#5826 operator nutanixcsioperator (3.3.3)
  operators/nutanixcsioperator/3.3.3/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/3.3.3/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/3.3.3/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/3.3.3/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/3.3.3/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/3.3.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5839 operator dell-csm-operator-certified (1.9.0)
  operators/dell-csm-operator-certified/1.9.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.9.0/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.9.0/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.9.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5836 operator t8c-certified (42.80.0)
  operators/t8c-certified/42.80.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.80.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.80.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5837 operator prometurbo-certified (8.16.20)
  operators/prometurbo-certified/8.16.20/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.16.20/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.16.20/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5840 operator hcp-terraform-operator (2.9.2)
  operators/hcp-terraform-operator/2.9.2/manifests/app.terraform.io_agentpools.yaml
  operators/hcp-terraform-operator/2.9.2/manifests/app.terraform.io_modules.yaml
  operators/hcp-terraform-operator/2.9.2/manifests/app.terraform.io_projects.yaml
  operators/hcp-terraform-operator/2.9.2/manifests/app.terraform.io_workspaces.yaml
  operators/hcp-terraform-operator/2.9.2/manifests/hcp-terraform-operator.clusterserviceversion.yaml
  operators/hcp-terraform-operator/2.9.2/metadata/annotations.yaml
  operators/hcp-terraform-operator/2.9.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5835 operator stackgres-certified (1.16.3)
  operators/stackgres-certified/1.16.3/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.16.3/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.16.3/metadata/annotations.yaml
  operators/stackgres-certified/1.16.3/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5845 Catalog update [operator-certification-operator] [v4.19]
  catalogs/v4.19/operator-certification-operator/catalog.yaml
  operators/operator-certification-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#5844 operator nvidia-network-operator (25.4.0)
  operators/nvidia-network-operator/25.4.0/manifests/mellanox.com_hostdevicenetworks.yaml
  operators/nvidia-network-operator/25.4.0/manifests/mellanox.com_ipoibnetworks.yaml
  operators/nvidia-network-operator/25.4.0/manifests/mellanox.com_macvlannetworks.yaml
  operators/nvidia-network-operator/25.4.0/manifests/mellanox.com_nicclusterpolicies.yaml
  operators/nvidia-network-operator/25.4.0/manifests/nvidia-network-operator-webhook-service_v1_service.yaml
  operators/nvidia-network-operator/25.4.0/manifests/nvidia-network-operator.clusterserviceversion.yaml
  operators/nvidia-network-operator/25.4.0/metadata/annotations.yaml
  operators/nvidia-network-operator/25.4.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5843 operator intel-device-plugins-operator (0.32.1)
  operators/intel-device-plugins-operator/0.32.1/bundle.Dockerfile
  operators/intel-device-plugins-operator/0.32.1/manifests/deviceplugin.intel.com_dsadeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/deviceplugin.intel.com_gpudeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/deviceplugin.intel.com_qatdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/deviceplugin.intel.com_sgxdeviceplugins.yaml
  operators/intel-device-plugins-operator/0.32.1/manifests/intel-device-plugins-operator.clusterserviceversion.yaml
  operators/intel-device-plugins-operator/0.32.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5838 operator kubeturbo-certified (8.16.20)
  operators/kubeturbo-certified/8.16.20/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.16.20/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.16.20/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5847 operator kubecost-operator (v2.7.2)
  operators/kubecost-operator/v2.7.2/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.7.2/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.7.2/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.7.2/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.7.2/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.7.2/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.7.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5857 operator aiu-operator (v2.4.0)
  operators/aiu-operator/v2.4.0/manifests/aiu-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/aiu-operator/v2.4.0/manifests/aiu-operator-metrics-service_v1_service.yaml
  operators/aiu-operator/v2.4.0/manifests/aiu-operator.clusterserviceversion.yaml
  operators/aiu-operator/v2.4.0/manifests/aiu.ibm.com_aiuclusterpolicies.yaml
  operators/aiu-operator/v2.4.0/manifests/aiu.ibm.com_aiunodestates.yaml
  operators/aiu-operator/v2.4.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aiu-operator/v2.4.0/manifests/monitoring-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/aiu-operator/v2.4.0/manifests/monitoring-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/aiu-operator/v2.4.0/metadata/annotations.yaml
  operators/aiu-operator/v2.4.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5861 Catalog update [kubecost-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/kubecost-operator/catalog.yaml
  catalogs/v4.13/kubecost-operator/catalog.yaml
  catalogs/v4.14/kubecost-operator/catalog.yaml
  catalogs/v4.15/kubecost-operator/catalog.yaml
  catalogs/v4.16/kubecost-operator/catalog.yaml
  catalogs/v4.17/kubecost-operator/catalog.yaml
  catalogs/v4.18/kubecost-operator/catalog.yaml
  catalogs/v4.19/kubecost-operator/catalog.yaml
  operators/kubecost-operator/catalog-templates/v4.12.yaml
  operators/kubecost-operator/catalog-templates/v4.13.yaml
  operators/kubecost-operator/catalog-templates/v4.14.yaml
  operators/kubecost-operator/catalog-templates/v4.15.yaml
  operators/kubecost-operator/catalog-templates/v4.16.yaml
  operators/kubecost-operator/catalog-templates/v4.17.yaml
  operators/kubecost-operator/catalog-templates/v4.18.yaml
  operators/kubecost-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#5863 operator neuvector-certified-operator (1.5.0)
  operators/neuvector-certified-operator/1.5.0/manifests/neuvector-certified-operator.clusterserviceversion.yaml
  operators/neuvector-certified-operator/1.5.0/manifests/neuvectors.apm.neuvector.com.crd.yaml
  operators/neuvector-certified-operator/1.5.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5864 operator habana-ai-operator (1.21.1-16)
  operators/habana-ai-operator/1.21.1-16/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.21.1-16/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.21.1-16/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.21.1-16/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.21.1-16/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.21.1-16/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.21.1-16/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.21.1-16/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.21.1-16/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started
