Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2025-04, with the labels that each got.

#5470 operator fujitsu-enterprise-postgres-operator (v7.2.2)
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v7.2.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5472 operator crunchy-postgres-operator (5.8.0)
  operators/crunchy-postgres-operator/5.8.0/Dockerfile
  operators/crunchy-postgres-operator/5.8.0/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.8.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.8.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.8.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.8.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.8.0/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.8.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5473 operator open-liberty-certified (1.4.2)
  operators/open-liberty-certified/1.4.2/manifests/apps.openliberty.io_openlibertyapplications.yaml
  operators/open-liberty-certified/1.4.2/manifests/apps.openliberty.io_openlibertydumps.yaml
  operators/open-liberty-certified/1.4.2/manifests/apps.openliberty.io_openlibertytraces.yaml
  operators/open-liberty-certified/1.4.2/manifests/open-liberty-certified.clusterserviceversion.yaml
  operators/open-liberty-certified/1.4.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5475 operator runtime-component-operator-certified (1.4.2)
  operators/runtime-component-operator-certified/1.4.2/manifests/rc.app.stacks_runtimecomponents.yaml
  operators/runtime-component-operator-certified/1.4.2/manifests/rc.app.stacks_runtimeoperations.yaml
  operators/runtime-component-operator-certified/1.4.2/manifests/runtime-component-operator-certified.clusterserviceversion.yaml
  operators/runtime-component-operator-certified/1.4.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5478 operator prometurbo-certified (8.15.50)
  operators/prometurbo-certified/8.15.50/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.50/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.50/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5481 operator stackgres-certified (1.16.0-rc3)
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.16.0-rc3/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.16.0-rc3/metadata/annotations.yaml
  operators/stackgres-certified/1.16.0-rc3/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5485 operator cockroachdb-certified (v2.18.1)
  operators/cockroachdb-certified/v2.18.1/manifests/cockroach-operator-webhook-service_v1_service.yaml
  operators/cockroachdb-certified/v2.18.1/manifests/cockroachdb-certified.clusterserviceversion.yaml
  operators/cockroachdb-certified/v2.18.1/manifests/crdb.cockroachlabs.com_crdbclusters.yaml
  operators/cockroachdb-certified/v2.18.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5486 Catalog update [trident-operator] [v4.16,v4.14,v4.15,v4.13,v4.18,v4.17,v4.12]
  catalogs/v4.12/trident-operator/catalog.yaml
  catalogs/v4.13/trident-operator/catalog.yaml
  catalogs/v4.14/trident-operator/catalog.yaml
  catalogs/v4.15/trident-operator/catalog.yaml
  catalogs/v4.16/trident-operator/catalog.yaml
  catalogs/v4.17/trident-operator/catalog.yaml
  catalogs/v4.18/trident-operator/catalog.yaml
  operators/trident-operator/Makefile
  operators/trident-operator/catalog-templates/v4.12.yaml
  operators/trident-operator/catalog-templates/v4.13.yaml
  operators/trident-operator/catalog-templates/v4.14.yaml
  operators/trident-operator/catalog-templates/v4.15.yaml
  operators/trident-operator/catalog-templates/v4.16.yaml
  operators/trident-operator/catalog-templates/v4.17.yaml
  operators/trident-operator/catalog-templates/v4.18.yaml
  operators/trident-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#5490 operator aiu-operator (v2.3.3)
  operators/aiu-operator/v2.3.3/manifests/aiu-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/aiu-operator/v2.3.3/manifests/aiu-operator-metrics-service_v1_service.yaml
  operators/aiu-operator/v2.3.3/manifests/aiu-operator.clusterserviceversion.yaml
  operators/aiu-operator/v2.3.3/manifests/aiu.ibm.com_aiuclusterpolicies.yaml
  operators/aiu-operator/v2.3.3/manifests/aiu.ibm.com_aiunodestates.yaml
  operators/aiu-operator/v2.3.3/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aiu-operator/v2.3.3/manifests/monitoring-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/aiu-operator/v2.3.3/manifests/monitoring-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/aiu-operator/v2.3.3/metadata/annotations.yaml
  operators/aiu-operator/v2.3.3/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5492 operator uma-operator (2025.4.3)
  operators/uma-operator/2025.4.3/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.4.3/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.4.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5494 operator vfunction-server-operator (v4.1.1635)
  operators/vfunction-server-operator/v4.1.1635/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v4.1.1635/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v4.1.1635/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v4.1.1635/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v4.1.1635/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v4.1.1635/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_pruned_graph, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#5493 operator uma-admin-operator (2025.4.3)
  operators/uma-admin-operator/2025.4.3/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.4.3/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.4.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5498 operator uma-team-operator (2025.4.3)
  operators/uma-team-operator/2025.4.3/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.4.3/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.4.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5499 operator redis-enterprise-operator-cert (7.8.6-1.1)
  operators/redis-enterprise-operator-cert/7.8.6-1.1/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-1.1/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-1.1/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-1.1/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.8.6-1.1/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-1.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5500 operator percona-postgresql-operator-certified (2.6.1)
  operators/percona-postgresql-operator-certified/2.6.1/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1/manifests/percona-postgresql-operator.v2.6.1.clusterserviceversion.yaml
  operators/percona-postgresql-operator-certified/2.6.1/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5482 operator gitlab-operator-kubernetes (1.11.2)
  operators/gitlab-operator-kubernetes/1.11.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.11.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.11.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5453 operator instana-agent-operator (2.1.21)
  operators/instana-agent-operator/2.1.21/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.21/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.21/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.21/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.21/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.21/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.21/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.21/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5501 operator infinibox-operator-certified (v2.20.0)
  operators/infinibox-operator-certified/v2.20.0/manifests/csidriver.infinidat.com_iboxreplicas.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.20.0/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.20.0/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.20.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5503 operator percona-postgresql-operator-certified (2.6.1-cw)
  operators/percona-postgresql-operator-certified/2.6.1-cw/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1-cw/manifests/percona-postgresql-operator.v2.6.1.clusterserviceversion.yaml
  operators/percona-postgresql-operator-certified/2.6.1-cw/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1-cw/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1-cw/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1-cw/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1-cw/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1-cw/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1-cw/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.1-cw/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5505 operator mariadb-enterprise-operator (0.0.7)
  operators/mariadb-enterprise-operator/0.0.7/manifests/enterprise.mariadb.com_backups.yaml
  operators/mariadb-enterprise-operator/0.0.7/manifests/enterprise.mariadb.com_connections.yaml
  operators/mariadb-enterprise-operator/0.0.7/manifests/enterprise.mariadb.com_databases.yaml
  operators/mariadb-enterprise-operator/0.0.7/manifests/enterprise.mariadb.com_grants.yaml
  operators/mariadb-enterprise-operator/0.0.7/manifests/enterprise.mariadb.com_mariadbs.yaml
  operators/mariadb-enterprise-operator/0.0.7/manifests/enterprise.mariadb.com_maxscales.yaml
  operators/mariadb-enterprise-operator/0.0.7/manifests/enterprise.mariadb.com_restores.yaml
  operators/mariadb-enterprise-operator/0.0.7/manifests/enterprise.mariadb.com_sqljobs.yaml
  operators/mariadb-enterprise-operator/0.0.7/manifests/enterprise.mariadb.com_users.yaml
  operators/mariadb-enterprise-operator/0.0.7/manifests/mariadb-enterprise-operator-webhook-service_v1_service.yaml
  operators/mariadb-enterprise-operator/0.0.7/manifests/mariadb-enterprise-operator.clusterserviceversion.yaml
  operators/mariadb-enterprise-operator/0.0.7/metadata/annotations.yaml
  operators/mariadb-enterprise-operator/0.0.7/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5504 operator habana-ai-operator (1.20.0-543-4)
  operators/habana-ai-operator/1.20.0-543-4/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.20.0-543-4/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.20.0-543-4/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.20.0-543-4/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.20.0-543-4/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.20.0-543-4/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.20.0-543-4/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.20.0-543-4/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.20.0-543-4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5489 operator trident-operator (25.2.1)
  operators/trident-operator/25.2.1/manifests/trident-operator.v25.2.1.clusterserviceversion.yaml
  operators/trident-operator/25.2.1/manifests/trident.netapp.io_tridentconfigurators_crd.yaml
  operators/trident-operator/25.2.1/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/25.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#5507 operator trident-operator (25.2.1)
  operators/trident-operator/25.2.1/manifests/trident-operator.v25.2.1.clusterserviceversion.yaml
  operators/trident-operator/25.2.1/manifests/trident.netapp.io_tridentconfigurators_crd.yaml
  operators/trident-operator/25.2.1/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/25.2.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5509 operator t8c-tsc-client-certified (1.3.2-candidate-20250407134258000)
  operators/t8c-tsc-client-certified/1.3.2-candidate-20250407134258000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.3.2-candidate-20250407134258000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.3.2-candidate-20250407134258000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.3.2-candidate-20250407134258000/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5510 operator digitalai-deploy-operator (v24.1.17)
  operators/digitalai-deploy-operator/v24.1.17/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.1.17/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.1.17/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.17/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.17/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.1.17/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.1.17/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.1.17/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v24.1.17/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5511 operator habana-ai-operator (1.20.0-543-5)
  operators/habana-ai-operator/1.20.0-543-5/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.20.0-543-5/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.20.0-543-5/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.20.0-543-5/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.20.0-543-5/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.20.0-543-5/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.20.0-543-5/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.20.0-543-5/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.20.0-543-5/metadata/annotations.yaml
Labels: approved, pipeline/trigger-hosted, operator-hosted-pipeline/failed

#5512 operator digitalai-release-operator (v24.1.17)
  operators/digitalai-release-operator/v24.1.17/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.1.17/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.1.17/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.17/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.17/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.17/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.1.17/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.1.17/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v24.1.17/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5448 operator ibm-block-csi-operator (1.12.2)
  operators/ibm-block-csi-operator/1.12.2/bundle-1.12.2.Dockerfile
  operators/ibm-block-csi-operator/1.12.2/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator/1.12.2/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator/1.12.2/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator/1.12.2/manifests/ibm-block-csi-operator.clusterserviceversion.yaml
  operators/ibm-block-csi-operator/1.12.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5516 operator ibm-metrics-operator (2.19.0)
  operators/ibm-metrics-operator/2.19.0/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.19.0/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.19.0/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.0/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.0/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.0/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.19.0/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.19.0/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.19.0/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.19.0/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.19.0/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.19.0/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.19.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5502 operator dell-csm-operator-certified (1.8.1)
  operators/dell-csm-operator-certified/1.8.1/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.8.1/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.8.1/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.8.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5520 operator ibm-data-reporter-operator (2.19.0)
  operators/ibm-data-reporter-operator/2.19.0/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.19.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.19.0/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.19.0/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.19.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.19.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.19.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.19.0/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.19.0/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.19.0/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.19.0/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.19.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5521 operator aci-containers-operator (v1.0.8)
  operators/aci-containers-operator/v1.0.8/manifests/aci-containers-operator.aci.ctrl.crd.yaml
  operators/aci-containers-operator/v1.0.8/manifests/aci-containers-operator.clusterserviceversion.yaml
  operators/aci-containers-operator/v1.0.8/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5523 operator kubeturbo-certified (8.15.60-beta.1)
  operators/kubeturbo-certified/8.15.60-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.15.60-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.15.60-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5524 operator t8c-certified (42.78.0-beta.1)
  operators/t8c-certified/42.78.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.78.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.78.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5517 operator digitalai-release-operator (v24.3.6)
  operators/digitalai-release-operator/v24.3.6/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.3.6/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.3.6/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.6/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.6/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.6/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.3.6/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.3.6/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v24.3.6/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5526 operator digitalai-release-operator (v25.1.0-beta.6)
  operators/digitalai-release-operator/v25.1.0-beta.6/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v25.1.0-beta.6/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v25.1.0-beta.6/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.0-beta.6/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.0-beta.6/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.0-beta.6/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v25.1.0-beta.6/metadata/annotations.yaml
  operators/digitalai-release-operator/v25.1.0-beta.6/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v25.1.0-beta.6/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5527 operator digitalai-deploy-operator (v25.1.0-beta.5)
  operators/digitalai-deploy-operator/v25.1.0-beta.5/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.5/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.5/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.5/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.5/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.5/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.5/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.5/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v25.1.0-beta.5/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5528 operator neuvector-certified-operator (1.4.9)
  operators/neuvector-certified-operator/1.4.9/manifests/neuvector-certified-operator.clusterserviceversion.yaml
  operators/neuvector-certified-operator/1.4.9/manifests/neuvectors.apm.neuvector.com.crd.yaml
  operators/neuvector-certified-operator/1.4.9/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5529 operator ibm-metrics-operator (2.19.1)
  operators/ibm-metrics-operator/2.19.1/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.19.1/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.19.1/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.1/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.1/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.1/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.19.1/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.19.1/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.19.1/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.19.1/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.19.1/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.19.1/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.19.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5531 operator ibm-data-reporter-operator (2.19.1)
  operators/ibm-data-reporter-operator/2.19.1/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.19.1/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.19.1/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.19.1/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.19.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.19.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.19.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.19.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.19.1/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.19.1/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.19.1/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.19.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5533 operator aci-containers-operator (v1.0.9)
  operators/aci-containers-operator/v1.0.9/manifests/aci-containers-operator.aci.ctrl.crd.yaml
  operators/aci-containers-operator/v1.0.9/manifests/aci-containers-operator.clusterserviceversion.yaml
  operators/aci-containers-operator/v1.0.9/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5535 operator odigos-operator (v1.0.170)
  operators/odigos-operator/v1.0.170/manifests/odigos-operator-controller-manager-metrics-service_v1_service.yaml
  operators/odigos-operator/v1.0.170/manifests/odigos-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.170/manifests/odigos-operator-odigos-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.170/manifests/odigos-operator-odigos-version-bccd424bcm_v1_configmap.yaml
  operators/odigos-operator/v1.0.170/manifests/odigos-operator-odigos-version-mk99cdcf27_v1_configmap.yaml
  operators/odigos-operator/v1.0.170/manifests/odigos-operator-odigos-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.170/manifests/odigos-operator.clusterserviceversion.yaml
  operators/odigos-operator/v1.0.170/manifests/operator.odigos.io_odigos.yaml
  operators/odigos-operator/v1.0.170/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5536 operator t8c-tsc-client-certified (1.3.2)
  operators/t8c-tsc-client-certified/1.3.2/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.3.2/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.3.2/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.3.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5537 operator aci-containers-operator (v1.0.10)
  operators/aci-containers-operator/v1.0.10/manifests/aci-containers-operator.aci.ctrl.crd.yaml
  operators/aci-containers-operator/v1.0.10/manifests/aci-containers-operator.clusterserviceversion.yaml
  operators/aci-containers-operator/v1.0.10/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5538 operator airlock-microgateway (4.5.2)
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-dashboard-accessctrllogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-dashboard-blocklogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-dashboard-blockmetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-dashboard-headerlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-dashboard-license_v1_configmap.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-dashboard-logonlylogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-dashboard-logonlymetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-dashboard-overview_v1_configmap.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-dashboard-requestlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-operator-config_v1_configmap.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-operator-leader-metrics_v1_service.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-operator-metrics_v1_service.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-operator-webhook_v1_service.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway-operator-xds_v1_service.yaml
  operators/airlock-microgateway/4.5.2/manifests/airlock-microgateway.clusterserviceversion.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_accesscontrolpolicies.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_accesscontrols.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_apiprotections.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_contentsecurities.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_contentsecuritypolicies.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_csrfprotections.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_denyrules.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_envoyclusters.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_envoyconfigurations.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_envoyhttpfilters.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_gatewayparameters.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_graphqls.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_headerrewrites.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_identitypropagations.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_jwks.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_limits.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_oidcproviders.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_oidcrelyingparties.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_openapis.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_parsers.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_redisproviders.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_sessionhandlings.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_sidecargateways.yaml
  operators/airlock-microgateway/4.5.2/manifests/microgateway.airlock.com_telemetries.yaml
  operators/airlock-microgateway/4.5.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5539 operator gitlab-operator-kubernetes (1.11.3)
  operators/gitlab-operator-kubernetes/1.11.3/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.11.3/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.3/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.3/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.11.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.3/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.11.3/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.11.3/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.3/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.11.3/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5541 operator cloudnative-pg (1.26.0-rc1)
  operators/cloudnative-pg/1.26.0-rc1/manifests/cloudnative-pg.clusterserviceversion.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/cnpg-database-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/cnpg-database-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/cnpg-default-monitoring_v1_configmap.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/cnpg-publication-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/cnpg-publication-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/cnpg-subscription-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/cnpg-subscription-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/cnpg-webhook-service_v1_service.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/postgresql.cnpg.io_backups.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/postgresql.cnpg.io_clusterimagecatalogs.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/postgresql.cnpg.io_clusters.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/postgresql.cnpg.io_databases.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/postgresql.cnpg.io_imagecatalogs.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/postgresql.cnpg.io_poolers.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/postgresql.cnpg.io_publications.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/postgresql.cnpg.io_scheduledbackups.yaml
  operators/cloudnative-pg/1.26.0-rc1/manifests/postgresql.cnpg.io_subscriptions.yaml
  operators/cloudnative-pg/1.26.0-rc1/metadata/annotations.yaml
  operators/cloudnative-pg/1.26.0-rc1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5544 operator anzo-operator (v2.0.600)
  operators/anzo-operator/v2.0.600/manifests/anzo-operator.clusterserviceversion.yaml
  operators/anzo-operator/v2.0.600/manifests/anzo.cambridgesemantics.com_anzos.yaml
  operators/anzo-operator/v2.0.600/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5545 operator uma-admin-operator (2025.4.4)
  operators/uma-admin-operator/2025.4.4/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.4.4/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.4.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5546 operator uma-team-operator (2025.4.4)
  operators/uma-team-operator/2025.4.4/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.4.4/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.4.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5549 operator netscaler-operator (3.2.0)
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-controller-manager-metrics-service_v1_service.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-netscalercloudcontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-netscalercloudcontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-netscalercpxwithingresscontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-netscalercpxwithingresscontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-netscalergslbcontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-netscalergslbcontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-netscaleringresscontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-netscaleringresscontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-netscaleripamcontroller-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-netscaleripamcontroller-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-netscalerobservabilityexporter-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator-netscalerobservabilityexporter-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler-operator.clusterserviceversion.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler.com_netscalercloudcontrollers.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler.com_netscalercpxwithingresscontrollers.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler.com_netscalergslbcontrollers.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler.com_netscaleringresscontrollers.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler.com_netscaleripamcontrollers.yaml
  operators/netscaler-operator/3.2.0/manifests/netscaler.com_netscalerobservabilityexporters.yaml
  operators/netscaler-operator/3.2.0/metadata/annotations.yaml
  operators/netscaler-operator/3.2.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/failed

#5551 operator redis-enterprise-operator-cert (7.22.0-7.0)
  operators/redis-enterprise-operator-cert/7.22.0-7.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-7.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-7.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-7.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.22.0-7.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.22.0-7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5552 operator stackable-commons-operator (25.3.0)
  operators/stackable-commons-operator/25.3.0/manifests/authenticationclasses.authentication.stackable.tech.customresourcedefinition.yaml
  operators/stackable-commons-operator/25.3.0/manifests/commons-operator-configmap.yaml
  operators/stackable-commons-operator/25.3.0/manifests/s3buckets.s3.stackable.tech.customresourcedefinition.yaml
  operators/stackable-commons-operator/25.3.0/manifests/s3connections.s3.stackable.tech.customresourcedefinition.yaml
  operators/stackable-commons-operator/25.3.0/manifests/stackable-commons-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-commons-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5554 operator stackable-listener-operator (25.3.0)
  operators/stackable-listener-operator/25.3.0/manifests/Listener.yml
  operators/stackable-listener-operator/25.3.0/manifests/ListenerClass.yml
  operators/stackable-listener-operator/25.3.0/manifests/PodListeners.yml
  operators/stackable-listener-operator/25.3.0/manifests/listener-operator-manifests.yaml
  operators/stackable-listener-operator/25.3.0/manifests/stackable-listener-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-listener-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5553 operator stackable-secret-operator (25.3.0)
  operators/stackable-secret-operator/25.3.0/manifests/SecretClass.yml
  operators/stackable-secret-operator/25.3.0/manifests/secret-operator-manifests.yaml
  operators/stackable-secret-operator/25.3.0/manifests/stackable-secret-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-secret-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5555 operator stackable-zookeeper-operator (25.3.0)
  operators/stackable-zookeeper-operator/25.3.0/manifests/stackable-zookeeper-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-zookeeper-operator/25.3.0/manifests/zookeeper-clusterrole.yaml
  operators/stackable-zookeeper-operator/25.3.0/manifests/zookeeper-operator-configmap.yaml
  operators/stackable-zookeeper-operator/25.3.0/manifests/zookeeperclusters.zookeeper.stackable.tech.customresourcedefinition.yaml
  operators/stackable-zookeeper-operator/25.3.0/manifests/zookeeperznodes.zookeeper.stackable.tech.customresourcedefinition.yaml
  operators/stackable-zookeeper-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5556 operator stackable-opa-operator (25.3.0)
  operators/stackable-opa-operator/25.3.0/manifests/opa-clusterrole.yaml
  operators/stackable-opa-operator/25.3.0/manifests/opa-operator-configmap.yaml
  operators/stackable-opa-operator/25.3.0/manifests/opaclusters.opa.stackable.tech.customresourcedefinition.yaml
  operators/stackable-opa-operator/25.3.0/manifests/stackable-opa-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-opa-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5557 operator stackable-hdfs-operator (25.3.0)
  operators/stackable-hdfs-operator/25.3.0/manifests/hdfs-clusterrole-nodes.yaml
  operators/stackable-hdfs-operator/25.3.0/manifests/hdfs-clusterrole.yaml
  operators/stackable-hdfs-operator/25.3.0/manifests/hdfs-operator-configmap.yaml
  operators/stackable-hdfs-operator/25.3.0/manifests/hdfsclusters.hdfs.stackable.tech.customresourcedefinition.yaml
  operators/stackable-hdfs-operator/25.3.0/manifests/stackable-hdfs-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-hdfs-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5558 operator stackable-hive-operator (25.3.0)
  operators/stackable-hive-operator/25.3.0/manifests/hive-clusterrole.yaml
  operators/stackable-hive-operator/25.3.0/manifests/hive-operator-configmap.yaml
  operators/stackable-hive-operator/25.3.0/manifests/hiveclusters.hive.stackable.tech.customresourcedefinition.yaml
  operators/stackable-hive-operator/25.3.0/manifests/stackable-hive-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-hive-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5559 operator stackable-hbase-operator (25.3.0)
  operators/stackable-hbase-operator/25.3.0/manifests/hbase-clusterrole.yaml
  operators/stackable-hbase-operator/25.3.0/manifests/hbase-operator-configmap.yaml
  operators/stackable-hbase-operator/25.3.0/manifests/hbaseclusters.hbase.stackable.tech.customresourcedefinition.yaml
  operators/stackable-hbase-operator/25.3.0/manifests/stackable-hbase-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-hbase-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5560 operator stackable-druid-operator (25.3.0)
  operators/stackable-druid-operator/25.3.0/manifests/druid-clusterrole.yaml
  operators/stackable-druid-operator/25.3.0/manifests/druid-operator-configmap.yaml
  operators/stackable-druid-operator/25.3.0/manifests/druidclusters.druid.stackable.tech.customresourcedefinition.yaml
  operators/stackable-druid-operator/25.3.0/manifests/stackable-druid-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-druid-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5561 operator stackable-kafka-operator (25.3.0)
  operators/stackable-kafka-operator/25.3.0/manifests/kafka-clusterrole.yaml
  operators/stackable-kafka-operator/25.3.0/manifests/kafka-operator-configmap.yaml
  operators/stackable-kafka-operator/25.3.0/manifests/kafkaclusters.kafka.stackable.tech.customresourcedefinition.yaml
  operators/stackable-kafka-operator/25.3.0/manifests/stackable-kafka-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-kafka-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5563 operator stackable-nifi-operator (25.3.0)
  operators/stackable-nifi-operator/25.3.0/manifests/nifi-clusterrole.yaml
  operators/stackable-nifi-operator/25.3.0/manifests/nifi-operator-configmap.yaml
  operators/stackable-nifi-operator/25.3.0/manifests/nificlusters.nifi.stackable.tech.customresourcedefinition.yaml
  operators/stackable-nifi-operator/25.3.0/manifests/stackable-nifi-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-nifi-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5564 operator stackable-spark-operator (25.3.0)
  operators/stackable-spark-operator/25.3.0/manifests/spark-k8s-clusterrole.yaml
  operators/stackable-spark-operator/25.3.0/manifests/spark-k8s-operator-configmap.yaml
  operators/stackable-spark-operator/25.3.0/manifests/sparkapplications.spark.stackable.tech.customresourcedefinition.yaml
  operators/stackable-spark-operator/25.3.0/manifests/sparkhistoryservers.spark.stackable.tech.customresourcedefinition.yaml
  operators/stackable-spark-operator/25.3.0/manifests/stackable-spark-k8s-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-spark-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5565 operator stackable-superset-operator (25.3.0)
  operators/stackable-superset-operator/25.3.0/manifests/druidconnections.superset.stackable.tech.customresourcedefinition.yaml
  operators/stackable-superset-operator/25.3.0/manifests/stackable-superset-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-superset-operator/25.3.0/manifests/superset-clusterrole.yaml
  operators/stackable-superset-operator/25.3.0/manifests/superset-operator-configmap.yaml
  operators/stackable-superset-operator/25.3.0/manifests/supersetclusters.superset.stackable.tech.customresourcedefinition.yaml
  operators/stackable-superset-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5566 operator stackable-airflow-operator (25.3.0)
  operators/stackable-airflow-operator/25.3.0/manifests/airflow-clusterrole.yaml
  operators/stackable-airflow-operator/25.3.0/manifests/airflow-operator-configmap.yaml
  operators/stackable-airflow-operator/25.3.0/manifests/airflowclusters.airflow.stackable.tech.customresourcedefinition.yaml
  operators/stackable-airflow-operator/25.3.0/manifests/stackable-airflow-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-airflow-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5567 operator stackable-trino-operator (25.3.0)
  operators/stackable-trino-operator/25.3.0/manifests/stackable-trino-operator.v25.3.0.clusterserviceversion.yaml
  operators/stackable-trino-operator/25.3.0/manifests/trino-clusterrole.yaml
  operators/stackable-trino-operator/25.3.0/manifests/trino-operator-configmap.yaml
  operators/stackable-trino-operator/25.3.0/manifests/trinocatalogs.trino.stackable.tech.customresourcedefinition.yaml
  operators/stackable-trino-operator/25.3.0/manifests/trinoclusters.trino.stackable.tech.customresourcedefinition.yaml
  operators/stackable-trino-operator/25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5568 operator elasticsearch-eck-operator-certified (3.0.0)
  operators/elasticsearch-eck-operator-certified/3.0.0/manifests/agents.agent.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/3.0.0/manifests/apmservers.apm.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/3.0.0/manifests/beats.beat.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/3.0.0/manifests/elasticmapsservers.maps.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/3.0.0/manifests/elasticsearch-eck-operator-certified.clusterserviceversion.yaml
  operators/elasticsearch-eck-operator-certified/3.0.0/manifests/elasticsearchautoscalers.autoscaling.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/3.0.0/manifests/elasticsearches.elasticsearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/3.0.0/manifests/enterprisesearches.enterprisesearch.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/3.0.0/manifests/kibanas.kibana.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/3.0.0/manifests/logstashes.logstash.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/3.0.0/manifests/stackconfigpolicies.stackconfigpolicy.k8s.elastic.co.crd.yaml
  operators/elasticsearch-eck-operator-certified/3.0.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5571 operator stackgres-certified (1.16.0)
  operators/stackgres-certified/1.16.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.16.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.16.0/metadata/annotations.yaml
  operators/stackgres-certified/1.16.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5575 operator percona-xtradb-cluster-operator-certified (1.17.0-cw)
  operators/percona-xtradb-cluster-operator-certified/1.17.0-cw/manifests/percona-xtradb-cluster-operator.v1.17.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator-certified/1.17.0-cw/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.17.0-cw/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.17.0-cw/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.17.0-cw/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5574 operator percona-xtradb-cluster-operator-certified (1.17.0)
  operators/percona-xtradb-cluster-operator-certified/1.17.0/manifests/percona-xtradb-cluster-operator.v1.17.0.clusterserviceversion.yaml
  operators/percona-xtradb-cluster-operator-certified/1.17.0/manifests/perconaxtradbclusterbackups.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.17.0/manifests/perconaxtradbclusterrestores.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.17.0/manifests/perconaxtradbclusters.pxc.percona.com.crd.yaml
  operators/percona-xtradb-cluster-operator-certified/1.17.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5570 operator mongodb-enterprise (1.33.0)
  operators/mongodb-enterprise/1.33.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.33.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.33.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.33.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.33.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.33.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.33.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.33.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.33.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.33.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.33.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.33.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.33.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.33.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5577 Catalog update [amd-gpu-operator] [v4.18,v4.17,v4.16]
  catalogs/v4.16/amd-gpu-operator/catalog.yaml
  catalogs/v4.17/amd-gpu-operator/catalog.yaml
  catalogs/v4.18/amd-gpu-operator/catalog.yaml
  operators/amd-gpu-operator/Makefile
  operators/amd-gpu-operator/catalog-templates/v4.16.yaml
  operators/amd-gpu-operator/catalog-templates/v4.17.yaml
  operators/amd-gpu-operator/catalog-templates/v4.18.yaml
  operators/amd-gpu-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#5579 operator instana-agent-operator (2.1.22)
  operators/instana-agent-operator/2.1.22/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.22/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.22/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.22/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.22/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.22/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.22/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.22/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5578 operator vcp-operator (v1.7.0)
  operators/vcp-operator/v1.7.0/manifests/installer.venafi.com_venafiinstalls.yaml
  operators/vcp-operator/v1.7.0/manifests/vcp-operator-metrics_v1_service.yaml
  operators/vcp-operator/v1.7.0/manifests/vcp-operator.clusterserviceversion.yaml
  operators/vcp-operator/v1.7.0/metadata/annotations.yaml
  operators/vcp-operator/v1.7.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5581 operator t8c-certified (42.78.0)
  operators/t8c-certified/42.78.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.78.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.78.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5583 operator kubeturbo-certified (8.15.60)
  operators/kubeturbo-certified/8.15.60/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.15.60/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.15.60/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5585 operator kubeturbo-certified (8.16.0-beta.1)
  operators/kubeturbo-certified/8.16.0-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.16.0-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.16.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5586 operator prometurbo-certified (8.16.0-beta.1)
  operators/prometurbo-certified/8.16.0-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.16.0-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.16.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5582 operator prometurbo-certified (8.15.60)
  operators/prometurbo-certified/8.15.60/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.60/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.60/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5589 operator cloud-native-postgresql (1.26.0-rc2)
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/cloud-native-postgresql.clusterserviceversion.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql-operator-database-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql-operator-database-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql-operator-default-monitoring_v1_configmap.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql-operator-publication-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql-operator-publication-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql-operator-subscription-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql-operator-subscription-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql-operator-webhook-service_v1_service.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql.k8s.enterprisedb.io_backups.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql.k8s.enterprisedb.io_clusterimagecatalogs.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql.k8s.enterprisedb.io_clusters.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql.k8s.enterprisedb.io_databases.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql.k8s.enterprisedb.io_imagecatalogs.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql.k8s.enterprisedb.io_poolers.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql.k8s.enterprisedb.io_publications.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql.k8s.enterprisedb.io_scheduledbackups.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/manifests/postgresql.k8s.enterprisedb.io_subscriptions.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/metadata/annotations.yaml
  operators/cloud-native-postgresql/1.26.0-rc2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5588 operator portworx-certified (24.2.4)
  operators/portworx-certified/24.2.4/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/24.2.4/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/24.2.4/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/24.2.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5591 operator gitlab-operator-kubernetes (1.12.0)
  operators/gitlab-operator-kubernetes/1.12.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.12.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.12.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.12.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5592 operator anzounstructured-operator (v2.0.700)
  operators/anzounstructured-operator/v2.0.700/manifests/anzounstructured-operator.clusterserviceversion.yaml
  operators/anzounstructured-operator/v2.0.700/manifests/anzounstructured.clusters.cambridgesemantics.com_anzounstructureds.yaml
  operators/anzounstructured-operator/v2.0.700/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5593 operator mariadb-enterprise-operator (1.0.0)
  operators/mariadb-enterprise-operator/1.0.0/manifests/enterprise.mariadb.com_backups.yaml
  operators/mariadb-enterprise-operator/1.0.0/manifests/enterprise.mariadb.com_connections.yaml
  operators/mariadb-enterprise-operator/1.0.0/manifests/enterprise.mariadb.com_databases.yaml
  operators/mariadb-enterprise-operator/1.0.0/manifests/enterprise.mariadb.com_grants.yaml
  operators/mariadb-enterprise-operator/1.0.0/manifests/enterprise.mariadb.com_mariadbs.yaml
  operators/mariadb-enterprise-operator/1.0.0/manifests/enterprise.mariadb.com_maxscales.yaml
  operators/mariadb-enterprise-operator/1.0.0/manifests/enterprise.mariadb.com_restores.yaml
  operators/mariadb-enterprise-operator/1.0.0/manifests/enterprise.mariadb.com_sqljobs.yaml
  operators/mariadb-enterprise-operator/1.0.0/manifests/enterprise.mariadb.com_users.yaml
  operators/mariadb-enterprise-operator/1.0.0/manifests/mariadb-enterprise-operator-webhook-service_v1_service.yaml
  operators/mariadb-enterprise-operator/1.0.0/manifests/mariadb-enterprise-operator.clusterserviceversion.yaml
  operators/mariadb-enterprise-operator/1.0.0/metadata/annotations.yaml
  operators/mariadb-enterprise-operator/1.0.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5595 operator crunchy-postgres-operator (5.8.1)
  operators/crunchy-postgres-operator/5.8.1/Dockerfile
  operators/crunchy-postgres-operator/5.8.1/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.8.1/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.8.1/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.8.1/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.8.1/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.8.1/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.8.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5597 operator cte-k8s-operator (v1.5.10)
  operators/cte-k8s-operator/ci.yaml
  operators/cte-k8s-operator/v1.5.10/manifests/cte-k8s-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cte-k8s-operator/v1.5.10/manifests/cte-k8s-operator-cte-csi-controller_v1_serviceaccount.yaml
  operators/cte-k8s-operator/v1.5.10/manifests/cte-k8s-operator-cte-csi-node_v1_serviceaccount.yaml
  operators/cte-k8s-operator/v1.5.10/manifests/cte-k8s-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cte-k8s-operator/v1.5.10/manifests/cte-k8s-operator-webhook-service_v1_service.yaml
  operators/cte-k8s-operator/v1.5.10/manifests/cte-k8s-operator.clusterserviceversion.yaml
  operators/cte-k8s-operator/v1.5.10/manifests/cte-k8s-operator.csi.cte.cpl.thalesgroup.com_ctek8soperators.yaml
  operators/cte-k8s-operator/v1.5.10/metadata/annotations.yaml
  operators/cte-k8s-operator/v1.5.10/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5601 operator anzounstructured-operator (v3.1.100)
  operators/anzounstructured-operator/v3.1.100/manifests/anzounstructured-operator.clusterserviceversion.yaml
  operators/anzounstructured-operator/v3.1.100/manifests/anzounstructured.clusters.cambridgesemantics.com_anzounstructureds.yaml
  operators/anzounstructured-operator/v3.1.100/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5602 operator anzograph-operator (v3.2.100)
  operators/anzograph-operator/v3.2.100/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.2.100/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.2.100/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5603 operator uma-operator (2025.4.5)
  operators/uma-operator/2025.4.5/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.4.5/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.4.5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5604 operator anzograph-operator (v3.2.101)
  operators/anzograph-operator/v3.2.101/manifests/anzograph-operator.clusterserviceversion.yaml
  operators/anzograph-operator/v3.2.101/manifests/anzograph.clusters.cambridgesemantics.com_anzographs.yaml
  operators/anzograph-operator/v3.2.101/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5606 operator stackgres-certified (1.16.1)
  operators/stackgres-certified/1.16.1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.16.1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.16.1/metadata/annotations.yaml
  operators/stackgres-certified/1.16.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5610 operator tenant-operator (v1.2.1)
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-keycloak_v1_serviceaccount.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-manager-config_v1_configmap.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-postgresql_v1_serviceaccount.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-prometheus-k8s-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-prometheus-k8s-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-quota-template-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-quota-template-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-resourcesupervisor-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-resourcesupervisor-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-template-group-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-template-group-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-template-instance-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-template-instance-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-webhook-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.2.1/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v1.2.1/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v1.2.1/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v1.2.1/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v1.2.1/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v1.2.1/manifests/tenantoperator.stakater.com_resourcesupervisors.yaml
  operators/tenant-operator/v1.2.1/manifests/tenantoperator.stakater.com_templategroupinstances.yaml
  operators/tenant-operator/v1.2.1/manifests/tenantoperator.stakater.com_templateinstances.yaml
  operators/tenant-operator/v1.2.1/manifests/tenantoperator.stakater.com_templates.yaml
  operators/tenant-operator/v1.2.1/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v1.2.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5611 operator falcon-operator (v1.5.0)
  operators/falcon-operator/v1.5.0/manifests/falcon-operator-admission-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon-operator-falcon-FalconDeployment-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon-operator-falcon-FalconDeployment-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon-operator-image-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon.crowdstrike.com_falconadmissions.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon.crowdstrike.com_falcondeployments.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon.crowdstrike.com_falconimageanalyzers.yaml
  operators/falcon-operator/v1.5.0/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/v1.5.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5608 operator uma-team-operator (2025.4.5)
  operators/uma-team-operator/2025.4.5/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.4.5/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.4.5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5612 operator cloudnative-pg (1.26.0-rc2)
  operators/cloudnative-pg/1.26.0-rc2/manifests/cloudnative-pg.clusterserviceversion.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/cnpg-database-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/cnpg-database-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/cnpg-default-monitoring_v1_configmap.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/cnpg-publication-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/cnpg-publication-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/cnpg-subscription-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/cnpg-subscription-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/cnpg-webhook-service_v1_service.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/postgresql.cnpg.io_backups.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/postgresql.cnpg.io_clusterimagecatalogs.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/postgresql.cnpg.io_clusters.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/postgresql.cnpg.io_databases.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/postgresql.cnpg.io_imagecatalogs.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/postgresql.cnpg.io_poolers.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/postgresql.cnpg.io_publications.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/postgresql.cnpg.io_scheduledbackups.yaml
  operators/cloudnative-pg/1.26.0-rc2/manifests/postgresql.cnpg.io_subscriptions.yaml
  operators/cloudnative-pg/1.26.0-rc2/metadata/annotations.yaml
  operators/cloudnative-pg/1.26.0-rc2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5615 operator aqua-operator-certified (2022.4.760)
  operators/aqua-operator-certified/2022.4.760/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.760/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.760/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.760/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.760/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.760/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.760/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.760/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.760/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.760/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.760/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.760/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.760/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.760/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5616 operator nvidia-maintenance-operator (0.2.1)
  operators/nvidia-maintenance-operator/0.2.1/manifests/maintenance-operator-webhook-service_v1_service.yaml
  operators/nvidia-maintenance-operator/0.2.1/manifests/maintenance.nvidia.com_maintenanceoperatorconfigs.yaml
  operators/nvidia-maintenance-operator/0.2.1/manifests/maintenance.nvidia.com_nodemaintenances.yaml
  operators/nvidia-maintenance-operator/0.2.1/manifests/nvidia-maintenance-operator.clusterserviceversion.yaml
  operators/nvidia-maintenance-operator/0.2.1/metadata/annotations.yaml
  operators/nvidia-maintenance-operator/0.2.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5617 operator anzo-operator (v3.1.100)
  operators/anzo-operator/v3.1.100/manifests/anzo-operator.clusterserviceversion.yaml
  operators/anzo-operator/v3.1.100/manifests/anzo.cambridgesemantics.com_anzos.yaml
  operators/anzo-operator/v3.1.100/manifests/anzobackup.cambridgesemantics.com_anzobackups.yaml
  operators/anzo-operator/v3.1.100/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5622 Catalog update [kubecost-operator] [v4.13,v4.19,v4.14,v4.12,v4.18,v4.17,v4.15,v4.16]
  catalogs/v4.12/kubecost-operator/catalog.yaml
  catalogs/v4.13/kubecost-operator/catalog.yaml
  catalogs/v4.14/kubecost-operator/catalog.yaml
  catalogs/v4.15/kubecost-operator/catalog.yaml
  catalogs/v4.16/kubecost-operator/catalog.yaml
  catalogs/v4.17/kubecost-operator/catalog.yaml
  catalogs/v4.18/kubecost-operator/catalog.yaml
  catalogs/v4.19/kubecost-operator/catalog.yaml
  operators/kubecost-operator/Makefile
  operators/kubecost-operator/catalog-templates/v4.12.yaml
  operators/kubecost-operator/catalog-templates/v4.13.yaml
  operators/kubecost-operator/catalog-templates/v4.14.yaml
  operators/kubecost-operator/catalog-templates/v4.15.yaml
  operators/kubecost-operator/catalog-templates/v4.16.yaml
  operators/kubecost-operator/catalog-templates/v4.17.yaml
  operators/kubecost-operator/catalog-templates/v4.18.yaml
  operators/kubecost-operator/catalog-templates/v4.19.yaml
  operators/kubecost-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#5624 operator edb-hcp-operator (1.1.0)
  operators/edb-hcp-operator/1.1.0/manifests/edb-hcp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/edb-hcp-operator/1.1.0/manifests/edb-hcp-operator-hybridcontrolplane-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/1.1.0/manifests/edb-hcp-operator-hybridcontrolplane-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/1.1.0/manifests/edb-hcp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/1.1.0/manifests/edb-hcp-operator-webhook-service_v1_service.yaml
  operators/edb-hcp-operator/1.1.0/manifests/edb-hcp-operator.clusterserviceversion.yaml
  operators/edb-hcp-operator/1.1.0/manifests/edbpgai.edb.com_hybridcontrolplanes.yaml
  operators/edb-hcp-operator/1.1.0/metadata/annotations.yaml
  operators/edb-hcp-operator/1.1.0/metadata/dependencies.yaml
  operators/edb-hcp-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#5625 operator kubecost-operator (v2.7.1)
  operators/kubecost-operator/v2.7.1/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.7.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5626 operator dynatrace-operator (1.5.0)
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-extensions-controller_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-logmonitoring_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-logmonitoring_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-node-config-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-opentelemetry-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-telemetry-ingest_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-telemetry-ingest_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.5.0/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.5.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5628 operator ibm-metrics-operator (2.19.2)
  operators/ibm-metrics-operator/2.19.2/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.19.2/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.19.2/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.2/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.2/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.19.2/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.19.2/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.19.2/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.19.2/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.19.2/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.19.2/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.19.2/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.19.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5629 operator ibm-data-reporter-operator (2.19.2)
  operators/ibm-data-reporter-operator/2.19.2/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.19.2/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.19.2/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.19.2/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.19.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.19.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.19.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.19.2/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.19.2/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.19.2/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.19.2/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.19.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5631 operator odigos-operator (v1.0.177)
  operators/odigos-operator/v1.0.177/manifests/odigos-operator-controller-manager-metrics-service_v1_service.yaml
  operators/odigos-operator/v1.0.177/manifests/odigos-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.177/manifests/odigos-operator-odigos-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.177/manifests/odigos-operator-odigos-version-bccd424bcm_v1_configmap.yaml
  operators/odigos-operator/v1.0.177/manifests/odigos-operator-odigos-version-mk99cdcf27_v1_configmap.yaml
  operators/odigos-operator/v1.0.177/manifests/odigos-operator-odigos-version-t9g2c28b4f_v1_configmap.yaml
  operators/odigos-operator/v1.0.177/manifests/odigos-operator-odigos-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.177/manifests/odigos-operator.clusterserviceversion.yaml
  operators/odigos-operator/v1.0.177/manifests/operator.odigos.io_odigos.yaml
  operators/odigos-operator/v1.0.177/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5632 operator hcp-terraform-operator (2.9.0)
  operators/hcp-terraform-operator/2.9.0/manifests/app.terraform.io_agentpools.yaml
  operators/hcp-terraform-operator/2.9.0/manifests/app.terraform.io_modules.yaml
  operators/hcp-terraform-operator/2.9.0/manifests/app.terraform.io_projects.yaml
  operators/hcp-terraform-operator/2.9.0/manifests/app.terraform.io_workspaces.yaml
  operators/hcp-terraform-operator/2.9.0/manifests/hcp-terraform-operator.clusterserviceversion.yaml
  operators/hcp-terraform-operator/2.9.0/metadata/annotations.yaml
  operators/hcp-terraform-operator/2.9.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5633 operator dynatrace-operator (1.5.1)
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-edgeconnect_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_role.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-extensions-controller_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-extensions-controller_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-extensions-prometheus_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-logmonitoring_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-logmonitoring_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-node-config-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-opentelemetry-collector_v1_serviceaccount.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-operator.clusterserviceversion.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-telemetry-ingest_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-telemetry-ingest_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-webhook_policy_v1_poddisruptionbudget.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace-webhook_v1_service.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace.com_dynakubes.yaml
  operators/dynatrace-operator/1.5.1/manifests/dynatrace.com_edgeconnects.yaml
  operators/dynatrace-operator/1.5.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5634 Catalog update [kubecost-operator] [v4.12,v4.17,v4.16,v4.15,v4.13,v4.19,v4.14,v4.18]
  catalogs/v4.12/kubecost-operator/catalog.yaml
  catalogs/v4.13/kubecost-operator/catalog.yaml
  catalogs/v4.14/kubecost-operator/catalog.yaml
  catalogs/v4.15/kubecost-operator/catalog.yaml
  catalogs/v4.16/kubecost-operator/catalog.yaml
  catalogs/v4.17/kubecost-operator/catalog.yaml
  catalogs/v4.18/kubecost-operator/catalog.yaml
  catalogs/v4.19/kubecost-operator/catalog.yaml
  operators/kubecost-operator/v2.7.1/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.7.1/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.7.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5635 operator instana-agent-operator (2.1.23)
  operators/instana-agent-operator/2.1.23/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.23/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.23/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.23/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.23/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.23/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.23/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.23/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5638 operator raftt-operator (1.25.1)
  operators/raftt-operator/1.25.1/manifests/raftt-operator-raftt-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/raftt-operator/1.25.1/manifests/raftt-operator-raftt-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/raftt-operator/1.25.1/manifests/raftt-operator-sa-admiral_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/raftt-operator/1.25.1/manifests/raftt-operator-sa-event-emitter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/raftt-operator/1.25.1/manifests/raftt-operator-sa-sandcastle-builtin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/raftt-operator/1.25.1/manifests/raftt-operator-sa-sandcastle_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/raftt-operator/1.25.1/manifests/raftt-operator.clusterserviceversion.yaml
  operators/raftt-operator/1.25.1/manifests/raftt.io_raftts.yaml
  operators/raftt-operator/1.25.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5639 operator vfunction-server-operator (v4.1.1673)
  operators/vfunction-server-operator/v4.1.1673/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v4.1.1673/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v4.1.1673/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v4.1.1673/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v4.1.1673/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v4.1.1673/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_pruned_graph, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#5641 operator vfunction-server-operator (v4.1.1676)
  operators/vfunction-server-operator/v4.1.1676/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v4.1.1676/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v4.1.1676/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v4.1.1676/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v4.1.1676/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v4.1.1676/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_pruned_graph, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#5644 Delete operators/memory-machine-operator dir (case 04126646)
  operators/memory-machine-operator/1.0.0-beta.1/manifests/memory-machine-operator.clusterserviceversion.yaml
  operators/memory-machine-operator/1.0.0-beta.1/manifests/memory-machine-webhook-service_v1_service.yaml
  operators/memory-machine-operator/1.0.0-beta.1/manifests/memverge-webhook-configmap_v1_configmap.yaml
  operators/memory-machine-operator/1.0.0-beta.1/manifests/mm.memverge.com_memorymachines.yaml
  operators/memory-machine-operator/1.0.0-beta.1/metadata/annotations.yaml
  operators/memory-machine-operator/ci.yaml
Labels: operator-hosted-pipeline/failed

#5643 operator runtime-fabric-operator (v2.10.17)
  operators/runtime-fabric-operator/v2.10.17/manifests/rtf.operators.mulesoft.com_runtimefabrics.yaml
  operators/runtime-fabric-operator/v2.10.17/manifests/runtime-fabric-operator-controller-manager-metrics-service_v1_service.yaml
  operators/runtime-fabric-operator/v2.10.17/manifests/runtime-fabric-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.10.17/manifests/runtime-fabric-operator-runtimefabric-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.10.17/manifests/runtime-fabric-operator-runtimefabric-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.10.17/manifests/runtime-fabric-operator.clusterserviceversion.yaml
  operators/runtime-fabric-operator/v2.10.17/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5645 operator nim-operator-certified (v2.0.0)
  operators/nim-operator-certified/v2.0.0/manifests/apps.nvidia.com_nemocustomizers.yaml
  operators/nim-operator-certified/v2.0.0/manifests/apps.nvidia.com_nemodatastores.yaml
  operators/nim-operator-certified/v2.0.0/manifests/apps.nvidia.com_nemoentitystores.yaml
  operators/nim-operator-certified/v2.0.0/manifests/apps.nvidia.com_nemoevaluators.yaml
  operators/nim-operator-certified/v2.0.0/manifests/apps.nvidia.com_nemoguardrails.yaml
  operators/nim-operator-certified/v2.0.0/manifests/apps.nvidia.com_nimcaches.yaml
  operators/nim-operator-certified/v2.0.0/manifests/apps.nvidia.com_nimpipelines.yaml
  operators/nim-operator-certified/v2.0.0/manifests/apps.nvidia.com_nimservices.yaml
  operators/nim-operator-certified/v2.0.0/manifests/nim-operator-certified.clusterserviceversion.yaml
  operators/nim-operator-certified/v2.0.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5647 operator uma-operator (2025.5.0)
  operators/uma-operator/2025.5.0/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.5.0/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.5.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5648 operator uma-admin-operator (2025.5.0)
  operators/uma-admin-operator/2025.5.0/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.5.0/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.5.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5650 operator uma-team-operator (2025.5.0)
  operators/uma-team-operator/2025.5.0/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.5.0/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.5.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph
