Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2025-06, with the labels that each got.

#5868 operator app-insights-operator (1.16.3)
  operators/app-insights-operator/1.16.3/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.16.3/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.16.3/manifests/app-insights-operator-netobserv-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.16.3/manifests/app-insights-operator-randoliagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.16.3/manifests/app-insights-operator-randoliagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.16.3/manifests/app-insights-operator-scc-hostmount-anyuid-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.16.3/manifests/app-insights-operator-scc-privileged-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.16.3/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.16.3/manifests/appinsights.randoli_randoliagents.yaml
  operators/app-insights-operator/1.16.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5873 operator appdynamics-operator (25.5.0-1119)
  operators/appdynamics-operator/25.5.0-1119/bundle.Dockerfile
  operators/appdynamics-operator/25.5.0-1119/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/infraviz_clusterrole.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/infraviz_clusterrole_binding.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/infraviz_service_account.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/target_allocator_clusterrole.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/target_allocator_clusterrole_binding.yaml
  operators/appdynamics-operator/25.5.0-1119/manifests/target_allocator_service_account.yaml
  operators/appdynamics-operator/25.5.0-1119/metadata/annotations.yaml
  operators/appdynamics-operator/25.5.0-1119/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5876 operator hulft (10.4.0)
  operators/hulft/10.4.0/manifests/hulft-controller-manager-metrics-service_v1_service.yaml
  operators/hulft/10.4.0/manifests/hulft-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hulft/10.4.0/manifests/hulft-webhook-service_v1_service.yaml
  operators/hulft/10.4.0/manifests/hulft.clusterserviceversion.yaml
  operators/hulft/10.4.0/manifests/hulft.saison-technology.com_hulfts.yaml
  operators/hulft/10.4.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5878 operator ibm-zen-operator (v6.1.3)
  operators/ibm-zen-operator/ci.yaml
  operators/ibm-zen-operator/v6.1.3/manifests/ibm-zen-operator.clusterserviceversion.yaml
  operators/ibm-zen-operator/v6.1.3/manifests/zen.cpd.ibm.com_zenextensions.yaml
  operators/ibm-zen-operator/v6.1.3/manifests/zen.cpd.ibm.com_zenservices.yaml
  operators/ibm-zen-operator/v6.1.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5879 operator t8c-tsc-client-certified (1.3.4-candidate-20250602234316000)
  operators/t8c-tsc-client-certified/1.3.4-candidate-20250602234316000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.3.4-candidate-20250602234316000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.3.4-candidate-20250602234316000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.3.4-candidate-20250602234316000/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5877 operator splunk-operator (2.8.0)
  operators/splunk-operator/2.8.0/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk-operator/2.8.0/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk-operator/2.8.0/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk-operator/2.8.0/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk-operator/2.8.0/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk-operator/2.8.0/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk-operator/2.8.0/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk-operator/2.8.0/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk-operator/2.8.0/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk-operator/2.8.0/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk-operator/2.8.0/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk-operator/2.8.0/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk-operator/2.8.0/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk-operator/2.8.0/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk-operator/2.8.0/metadata/annotations.yaml
  operators/splunk-operator/2.8.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5827 operator instana-agent-operator (2.1.25)
  operators/instana-agent-operator/2.1.25/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.25/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.25/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.25/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.25/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.25/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.25/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.25/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5887 operator t8c-certified (42.81.0-beta.1)
  operators/t8c-certified/42.81.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.81.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.81.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5888 operator prometurbo-certified (8.16.30-beta.1)
  operators/prometurbo-certified/8.16.30-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.16.30-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.16.30-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5889 operator kubeturbo-certified (8.16.30-beta.1)
  operators/kubeturbo-certified/8.16.30-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.16.30-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.16.30-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5894 operator mongodb-atlas-kubernetes (2.8.2)
  operators/mongodb-atlas-kubernetes/2.8.2/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasnetworkcontainers.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasnetworkpeerings.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.8.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5898 operator tawon-operator (2.39.31)
  operators/tawon-operator/2.39.31/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.31/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.31/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.31/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.31/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.31/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.31/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.31/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.31/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.31/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.31/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.31/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5897 operator falcon-operator (v1.6.0)
  operators/falcon-operator/v1.6.0/manifests/falcon-operator-admission-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon-operator-falcon-FalconDeployment-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon-operator-falcon-FalconDeployment-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon-operator-image-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon.crowdstrike.com_falconadmissions.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon.crowdstrike.com_falcondeployments.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon.crowdstrike.com_falconimageanalyzers.yaml
  operators/falcon-operator/v1.6.0/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/v1.6.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5900 operator percona-server-mongodb-operator-certified (1.20.1)
  operators/percona-server-mongodb-operator-certified/1.20.1/manifests/percona-server-mongodb-operator.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator-certified/1.20.1/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.20.1/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.20.1/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.20.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5904 operator t8c-certified (42.81.0-beta.2)
  operators/t8c-certified/42.81.0-beta.2/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.81.0-beta.2/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.81.0-beta.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5905 operator tvo-operator (6.1.5)
  operators/tvo-operator/6.1.5/manifests/tvo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tvo-operator/6.1.5/manifests/tvo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.5/manifests/tvo-operator-tvocontrolplane-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.5/manifests/tvo-operator-tvocontrolplane-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.5/manifests/tvo-operator.clusterserviceversion.yaml
  operators/tvo-operator/6.1.5/manifests/tvo.trilio.io_tvobackuptargets.yaml
  operators/tvo-operator/6.1.5/manifests/tvo.trilio.io_tvocontrolplanes.yaml
  operators/tvo-operator/6.1.5/metadata/annotations.yaml
  operators/tvo-operator/6.1.5/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5912 operator app-insights-operator (1.16.5-1)
  operators/app-insights-operator/1.16.5-1/manifests/app-insights-operator-controller-manager-metrics-service_v1_service.yaml
  operators/app-insights-operator/1.16.5-1/manifests/app-insights-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.16.5-1/manifests/app-insights-operator-netobserv-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.16.5-1/manifests/app-insights-operator-randoliagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.16.5-1/manifests/app-insights-operator-randoliagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/app-insights-operator/1.16.5-1/manifests/app-insights-operator-scc-hostmount-anyuid-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.16.5-1/manifests/app-insights-operator-scc-privileged-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/app-insights-operator/1.16.5-1/manifests/app-insights-operator.clusterserviceversion.yaml
  operators/app-insights-operator/1.16.5-1/manifests/appinsights.randoli_randoliagents.yaml
  operators/app-insights-operator/1.16.5-1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5919 operator kubeturbo-certified (8.16.30)
  operators/kubeturbo-certified/8.16.30/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.16.30/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.16.30/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5918 operator prometurbo-certified (8.16.30)
  operators/prometurbo-certified/8.16.30/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.16.30/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.16.30/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5917 operator t8c-certified (42.81.0)
  operators/t8c-certified/42.81.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.81.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.81.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5923 operator gitlab-operator-kubernetes (2.0.2)
  operators/gitlab-operator-kubernetes/2.0.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/2.0.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.0.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.0.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/2.0.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/2.0.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/2.0.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/2.0.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/2.0.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/2.0.2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5921 Case 04162963 PR to remove merged code for zen 6.1.3
  operators/ibm-zen-operator/v6.1.3/manifests/ibm-zen-operator.clusterserviceversion.yaml
  operators/ibm-zen-operator/v6.1.3/manifests/zen.cpd.ibm.com_zenextensions.yaml
  operators/ibm-zen-operator/v6.1.3/manifests/zen.cpd.ibm.com_zenservices.yaml
  operators/ibm-zen-operator/v6.1.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#5927 operator vfunction-server-operator (v4.2.1716)
  operators/vfunction-server-operator/v4.2.1716/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v4.2.1716/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v4.2.1716/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v4.2.1716/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v4.2.1716/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v4.2.1716/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_pruned_graph, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#5929 operator nxiq-operator-certified (1.192.0-1)
  operators/nxiq-operator-certified/1.192.0-1/manifests/nxiq-operator-certified.clusterserviceversion.yaml
  operators/nxiq-operator-certified/1.192.0-1/manifests/sonatype.com_nexusiqs_crd.yaml
  operators/nxiq-operator-certified/1.192.0-1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5930 operator gpu-operator-certified (v25.3.1)
  operators/gpu-operator-certified/v25.3.1/manifests/gpu-operator-certified.clusterserviceversion.yaml
  operators/gpu-operator-certified/v25.3.1/manifests/nvidia.com_clusterpolicies.yaml
  operators/gpu-operator-certified/v25.3.1/manifests/nvidia.com_nvidiadrivers.yaml
  operators/gpu-operator-certified/v25.3.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5924 operator t8c-tsc-client-certified (1.4.0-candidate-20250611202850000)
  operators/t8c-tsc-client-certified/1.4.0-candidate-20250611202850000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.4.0-candidate-20250611202850000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.4.0-candidate-20250611202850000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.4.0-candidate-20250611202850000/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5933 operator confluent-for-kubernetes (3.0.0)
  operators/confluent-for-kubernetes/3.0.0/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_cmfrestclasses.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_flinkapplications.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_flinkenvironments.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/3.0.0/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/3.0.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5936 operator uma-team-operator (2025.7.0)
  operators/uma-team-operator/2025.7.0/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.7.0/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.7.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5937 operator ibm-cpd-datastage-operator (v5.1.3)
  operators/ibm-cpd-datastage-operator/ci.yaml
  operators/ibm-cpd-datastage-operator/v5.1.3/manifests/ds-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-cpd-datastage-operator/v5.1.3/manifests/ds-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-cpd-datastage-operator/v5.1.3/manifests/ds-operator.clusterserviceversion.yaml
  operators/ibm-cpd-datastage-operator/v5.1.3/manifests/ds.cpd.ibm.com_datastages.yaml
  operators/ibm-cpd-datastage-operator/v5.1.3/manifests/ds.cpd.ibm.com_pxruntimes.yaml
  operators/ibm-cpd-datastage-operator/v5.1.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5907 operator kedify-agent-helm-operator (v0.2.8)
  operators/kedify-agent-helm-operator/Makefile
  operators/kedify-agent-helm-operator/ci.yaml
  operators/kedify-agent-helm-operator/v0.2.8/manifests/charts.kedify.io_kedifyagents.yaml
  operators/kedify-agent-helm-operator/v0.2.8/manifests/kedify-agent-helm-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kedify-agent-helm-operator/v0.2.8/manifests/kedify-agent-helm-operator-kedifyagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kedify-agent-helm-operator/v0.2.8/manifests/kedify-agent-helm-operator-kedifyagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kedify-agent-helm-operator/v0.2.8/manifests/kedify-agent-helm-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/kedify-agent-helm-operator/v0.2.8/manifests/kedify-agent-helm-operator-manager-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/kedify-agent-helm-operator/v0.2.8/manifests/kedify-agent-helm-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kedify-agent-helm-operator/v0.2.8/manifests/kedify-agent-helm-operator.clusterserviceversion.yaml
  operators/kedify-agent-helm-operator/v0.2.8/metadata/annotations.yaml
  operators/kedify-agent-helm-operator/v0.2.8/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5948 operator gitlab-runner-operator (1.37.1)
  operators/gitlab-runner-operator/1.37.1/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.37.1/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.37.1/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.37.1/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.37.1/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.37.1/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.37.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5959 operator couchbase-enterprise-certified (2.8.1-2)
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbase-v2.8.1.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.1-2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5966 operator ibm-zen-operator (v6.1.3)
  operators/ibm-zen-operator/v6.1.3/manifests/ibm-zen-operator.clusterserviceversion.yaml
  operators/ibm-zen-operator/v6.1.3/manifests/zen.cpd.ibm.com_zenextensions.yaml
  operators/ibm-zen-operator/v6.1.3/manifests/zen.cpd.ibm.com_zenservices.yaml
  operators/ibm-zen-operator/v6.1.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5961 operator minio-object-store-operator (2025.6.3065135)
  operators/minio-object-store-operator/2025.6.3065135/manifests/aistor-tokenreview-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-object-store-operator/2025.6.3065135/manifests/aistor.min.io_adminjobs.yaml
  operators/minio-object-store-operator/2025.6.3065135/manifests/aistor.min.io_objectstores.yaml
  operators/minio-object-store-operator/2025.6.3065135/manifests/minio-object-store-operator.clusterserviceversion.yaml
  operators/minio-object-store-operator/2025.6.3065135/manifests/object-store-operator_v1_service.yaml
  operators/minio-object-store-operator/2025.6.3065135/manifests/sts.min.io_policybindings.yaml
  operators/minio-object-store-operator/2025.6.3065135/manifests/sts_v1_service.yaml
  operators/minio-object-store-operator/2025.6.3065135/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5969 operator kubeturbo-certified (8.16.40-beta.1)
  operators/kubeturbo-certified/8.16.40-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.16.40-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.16.40-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5970 operator prometurbo-certified (8.16.40-beta.1)
  operators/prometurbo-certified/8.16.40-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.16.40-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.16.40-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5978 operator nutanixcsioperator (3.3.4)
  operators/nutanixcsioperator/3.3.4/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/3.3.4/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/3.3.4/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/3.3.4/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/3.3.4/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/3.3.4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5940 operator ibm-cpd-wspipelines (v5.1.3)
  operators/ibm-cpd-wspipelines/ci.yaml
  operators/ibm-cpd-wspipelines/v5.1.3/manifests/wspipelines.clusterserviceversion.yaml
  operators/ibm-cpd-wspipelines/v5.1.3/manifests/wspipelines.cpd.ibm.com_wspipelines.yaml
  operators/ibm-cpd-wspipelines/v5.1.3/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5932 operator ibm-elasticsearch-operator (v1.1.2667)
  operators/ibm-elasticsearch-operator/ci.yaml
  operators/ibm-elasticsearch-operator/v1.1.2667/manifests/elasticsearch.opencontent.ibm.com.yaml
  operators/ibm-elasticsearch-operator/v1.1.2667/manifests/ibm-elasticsearch-operator.clusterserviceversion.yaml
  operators/ibm-elasticsearch-operator/v1.1.2667/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5982 operator t8c-tsc-client-certified (1.4.0)
  operators/t8c-tsc-client-certified/1.4.0/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.4.0/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.4.0/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.4.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5986 operator confluent-for-kubernetes (2.11.2)
  operators/confluent-for-kubernetes/2.11.2/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_cmfrestclasses.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_flinkapplications.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_flinkenvironments.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.11.2/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.11.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5991 operator ibm-common-service-operator (v4.12)
  operators/ibm-common-service-operator/ci.yaml
  operators/ibm-common-service-operator/v4.12/manifests/ibm-common-service-operator.clusterserviceversion.yaml
  operators/ibm-common-service-operator/v4.12/manifests/operator.ibm.com_commonservices.yaml
  operators/ibm-common-service-operator/v4.12/manifests/webhook-service_v1_service.yaml
  operators/ibm-common-service-operator/v4.12/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5947 operator ibm-license-service-scanner-operator (v4.2.13)
  operators/ibm-license-service-scanner-operator/ci.yaml
  operators/ibm-license-service-scanner-operator/v4.2.13/manifests/ibm-license-service-scanner-operator.clusterserviceversion.yaml
  operators/ibm-license-service-scanner-operator/v4.2.13/manifests/ibm-licensing-scanner-operand-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/ibm-license-service-scanner-operator/v4.2.13/manifests/ibm-licensing-scanner-operand-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/ibm-license-service-scanner-operator/v4.2.13/manifests/ibm-licensing-scanner-operand-service-account_v1_serviceaccount.yaml
  operators/ibm-license-service-scanner-operator/v4.2.13/manifests/ibm-licensing-scanner-operator-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-license-service-scanner-operator/v4.2.13/manifests/operator.ibm.com_ibmlicenseservicescanners.yaml
  operators/ibm-license-service-scanner-operator/v4.2.13/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5992 operator digitalai-deploy-operator (v24.3.8)
  operators/digitalai-deploy-operator/v24.3.8/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.3.8/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.3.8/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.8/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.8/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.8/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.3.8/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.3.8/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v24.3.8/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5993 operator ibm-namespace-scope-operator (v4.2.14)
  operators/ibm-namespace-scope-operator/ci.yaml
  operators/ibm-namespace-scope-operator/v4.2.14/manifests/ibm-namespace-scope-operator.clusterserviceversion.yaml
  operators/ibm-namespace-scope-operator/v4.2.14/manifests/operator.ibm.com_namespacescopes.yaml
  operators/ibm-namespace-scope-operator/v4.2.14/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5994 operator ibm-licensing-operator-app (v4.2.14)
  operators/ibm-licensing-operator-app/ci.yaml
  operators/ibm-licensing-operator-app/v4.2.14/manifests/ibm-license-service-cluster-monitoring-view_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-licensing-operator-app/v4.2.14/manifests/ibm-licensing-operator.clusterserviceversion.yaml
  operators/ibm-licensing-operator-app/v4.2.14/manifests/operator.ibm.com_ibmlicensingdefinitions.yaml
  operators/ibm-licensing-operator-app/v4.2.14/manifests/operator.ibm.com_ibmlicensingmetadatas.yaml
  operators/ibm-licensing-operator-app/v4.2.14/manifests/operator.ibm.com_ibmlicensingquerysources.yaml
  operators/ibm-licensing-operator-app/v4.2.14/manifests/operator.ibm.com_ibmlicensings.yaml
  operators/ibm-licensing-operator-app/v4.2.14/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5996 operator ibm-license-service-reporter-operator (v4.2.14)
  operators/ibm-license-service-reporter-operator/ci.yaml
  operators/ibm-license-service-reporter-operator/v4.2.14/manifests/ibm-license-service-reporter-operator.clusterserviceversion.yaml
  operators/ibm-license-service-reporter-operator/v4.2.14/manifests/operator.ibm.com_ibmlicenseservicereporters.yaml
  operators/ibm-license-service-reporter-operator/v4.2.14/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6000 operator isovalent-networking (v1.17.5-cee.1)
  operators/isovalent-networking/v1.17.5-cee.1/manifests/cilium.io_ciliumconfigs.yaml
  operators/isovalent-networking/v1.17.5-cee.1/manifests/clife-ciliumconfig-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/isovalent-networking/v1.17.5-cee.1/manifests/clife-ciliumconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/isovalent-networking/v1.17.5-cee.1/manifests/clife-ciliumconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/isovalent-networking/v1.17.5-cee.1/manifests/clife-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/isovalent-networking/v1.17.5-cee.1/manifests/clife-metrics_v1_service.yaml
  operators/isovalent-networking/v1.17.5-cee.1/manifests/clife.clusterserviceversion.yaml
  operators/isovalent-networking/v1.17.5-cee.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6001 Catalog update [isovalent-networking] [v4.14,v4.15,v4.16,v4.17,v4.18]
  catalogs/v4.14/isovalent-networking/catalog.yaml
  catalogs/v4.15/isovalent-networking/catalog.yaml
  catalogs/v4.16/isovalent-networking/catalog.yaml
  catalogs/v4.17/isovalent-networking/catalog.yaml
  catalogs/v4.18/isovalent-networking/catalog.yaml
  operators/isovalent-networking/catalog-templates/template.yaml
Labels: approved, operator-hosted-pipeline/started

#5995 operator ibm-odlm (v4.5.0)
  operators/ibm-odlm/ci.yaml
  operators/ibm-odlm/v4.5.0/manifests/operand-deployment-lifecycle-manager.clusterserviceversion.yaml
  operators/ibm-odlm/v4.5.0/manifests/operator.ibm.com_operandbindinfos.yaml
  operators/ibm-odlm/v4.5.0/manifests/operator.ibm.com_operandconfigs.yaml
  operators/ibm-odlm/v4.5.0/manifests/operator.ibm.com_operandregistries.yaml
  operators/ibm-odlm/v4.5.0/manifests/operator.ibm.com_operandrequests.yaml
  operators/ibm-odlm/v4.5.0/manifests/operator.ibm.com_operatorconfigs.yaml
  operators/ibm-odlm/v4.5.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6008 operator operator-certification-operator (1.3.1)
  operators/operator-certification-operator/1.3.1/manifests/certification-operator-controller-manager-metrics-service_v1_service.yaml
  operators/operator-certification-operator/1.3.1/manifests/certification-operator-manager-config_v1_configmap.yaml
  operators/operator-certification-operator/1.3.1/manifests/certification-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-certification-operator/1.3.1/manifests/certification.redhat.com_operatorpipelines.yaml
  operators/operator-certification-operator/1.3.1/manifests/operator-certification-operator.clusterserviceversion.yaml
  operators/operator-certification-operator/1.3.1/metadata/annotations.yaml
  operators/operator-certification-operator/1.3.1/metadata/dependencies.yaml
  operators/operator-certification-operator/1.3.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6011 operator portworx-certified (25.2.1)
  operators/portworx-certified/25.2.1/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/25.2.1/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/25.2.1/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/25.2.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6014 operator digitalai-release-operator (v24.3.8)
  operators/digitalai-release-operator/v24.3.8/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.3.8/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.3.8/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.8/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.8/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.8/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.3.8/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.3.8/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v24.3.8/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6016 operator conjur-follower-operator (2.6.1)
  operators/conjur-follower-operator/2.6.1/manifests/conjur-follower-operator-conjurfollower-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.6.1/manifests/conjur-follower-operator-conjurfollower-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.6.1/manifests/conjur-follower-operator.clusterserviceversion.yaml
  operators/conjur-follower-operator/2.6.1/manifests/conjur.cyberark.com_conjurfollowers.yaml
  operators/conjur-follower-operator/2.6.1/metadata/annotations.yaml
  operators/conjur-follower-operator/2.6.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6017 Catalog update [kubecost-operator] [v4.12,v4.13,v4.14,v4.15,v4.16,v4.17,v4.18,v4.19]
  catalogs/v4.12/kubecost-operator/catalog.yaml
  catalogs/v4.13/kubecost-operator/catalog.yaml
  catalogs/v4.14/kubecost-operator/catalog.yaml
  catalogs/v4.15/kubecost-operator/catalog.yaml
  catalogs/v4.16/kubecost-operator/catalog.yaml
  catalogs/v4.17/kubecost-operator/catalog.yaml
  catalogs/v4.18/kubecost-operator/catalog.yaml
  catalogs/v4.19/kubecost-operator/catalog.yaml
  operators/kubecost-operator/catalog-templates/v4.12.yaml
  operators/kubecost-operator/catalog-templates/v4.13.yaml
  operators/kubecost-operator/catalog-templates/v4.14.yaml
  operators/kubecost-operator/catalog-templates/v4.15.yaml
  operators/kubecost-operator/catalog-templates/v4.16.yaml
  operators/kubecost-operator/catalog-templates/v4.17.yaml
  operators/kubecost-operator/catalog-templates/v4.18.yaml
  operators/kubecost-operator/catalog-templates/v4.19.yaml
Labels: approved, operator-hosted-pipeline/started

#6018 operator instana-agent-operator (2.1.27)
  operators/instana-agent-operator/2.1.27/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.27/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.27/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.27/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.27/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.27/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.27/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.27/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6022 operator t8c-certified (42.82.0)
  operators/t8c-certified/42.82.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.82.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.82.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6024 operator kubeturbo-certified (8.16.40)
  operators/kubeturbo-certified/8.16.40/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.16.40/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.16.40/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6023 operator prometurbo-certified (8.16.40)
  operators/prometurbo-certified/8.16.40/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.16.40/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.16.40/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6028 operator redis-enterprise-operator-cert (7.8.6-3.2)
  operators/redis-enterprise-operator-cert/7.8.6-3.2/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-3.2/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-3.2/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-3.2/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.8.6-3.2/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.6-3.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5981 operator hspc-operator (1.16.0)
  operators/hspc-operator/1.16.0/manifests/csi.hitachi.com_hspcs.yaml
  operators/hspc-operator/1.16.0/manifests/hspc-operator.clusterserviceversion.yaml
  operators/hspc-operator/1.16.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6030 operator t8c-certified (42.83.0-beta.1)
  operators/t8c-certified/42.83.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.83.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.83.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#6032 operator t8c-certified (42.83.0)
  operators/t8c-certified/42.83.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.83.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.83.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name
