Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2025-03, with the labels that each got.

#5287 operator tawon-operator (2.39.27-rc4)
  operators/tawon-operator/2.39.27-rc4/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.27-rc4/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.27-rc4/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.27-rc4/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.27-rc4/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.27-rc4/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.27-rc4/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.27-rc4/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.27-rc4/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.27-rc4/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.27-rc4/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.27-rc4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5288 operator instana-agent-operator (2.1.20)
  operators/instana-agent-operator/2.1.20/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.20/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.20/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.20/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.20/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.20/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.20/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.20/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5290 operator habana-ai-operator (1.20.0-543-1)
  operators/habana-ai-operator/1.20.0-543-1/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.20.0-543-1/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.20.0-543-1/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.20.0-543-1/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.20.0-543-1/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.20.0-543-1/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.20.0-543-1/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.20.0-543-1/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.20.0-543-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5291 operator kubecost-operator (v2.5.4)
  operators/kubecost-operator/v2.5.4/manifests/charts.kubecost.com_costanalyzers.yaml
  operators/kubecost-operator/v2.5.4/manifests/kubecost-operator-controller-manager-metrics-service_v1_service.yaml
  operators/kubecost-operator/v2.5.4/manifests/kubecost-operator-costanalyzer-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.5.4/manifests/kubecost-operator-costanalyzer-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.5.4/manifests/kubecost-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/kubecost-operator/v2.5.4/manifests/kubecost-operator.clusterserviceversion.yaml
  operators/kubecost-operator/v2.5.4/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5292 operator couchbase-enterprise-certified (2.8.0-1)
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbase-v2.8.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5294 operator t8c-tsc-client-certified (1.3.1)
  operators/t8c-tsc-client-certified/1.3.1/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.3.1/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.3.1/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.3.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5295 operator odigos-operator (v1.0.159)
  operators/odigos-operator/v1.0.159/manifests/odigos-operator-controller-manager-metrics-service_v1_service.yaml
  operators/odigos-operator/v1.0.159/manifests/odigos-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.159/manifests/odigos-operator-odigos-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.159/manifests/odigos-operator-odigos-version-46f47t59fb_v1_configmap.yaml
  operators/odigos-operator/v1.0.159/manifests/odigos-operator-odigos-version-55dgk4kht7_v1_configmap.yaml
  operators/odigos-operator/v1.0.159/manifests/odigos-operator-odigos-version-5t5fk676bf_v1_configmap.yaml
  operators/odigos-operator/v1.0.159/manifests/odigos-operator-odigos-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.159/manifests/odigos-operator.clusterserviceversion.yaml
  operators/odigos-operator/v1.0.159/manifests/operator.odigos.io_odigos.yaml
  operators/odigos-operator/v1.0.159/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5296 operator tvo-operator (6.1.2)
  operators/tvo-operator/6.1.2/manifests/tvo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tvo-operator/6.1.2/manifests/tvo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.2/manifests/tvo-operator-tvocontrolplane-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.2/manifests/tvo-operator-tvocontrolplane-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.2/manifests/tvo-operator.clusterserviceversion.yaml
  operators/tvo-operator/6.1.2/manifests/tvo.trilio.io_tvobackuptargets.yaml
  operators/tvo-operator/6.1.2/manifests/tvo.trilio.io_tvocontrolplanes.yaml
  operators/tvo-operator/6.1.2/metadata/annotations.yaml
  operators/tvo-operator/6.1.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#5302 operator uma-operator (2025.2.1)
  operators/uma-operator/2025.2.1/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.2.1/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5303 operator uma-admin-operator (2025.2.1)
  operators/uma-admin-operator/2025.2.1/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.2.1/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5307 operator uma-team-operator (2025.2.1)
  operators/uma-team-operator/2025.2.1/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.2.1/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.2.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5308 operator habana-ai-operator (1.20.0-543-2)
  operators/habana-ai-operator/1.20.0-543-2/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.20.0-543-2/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.20.0-543-2/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.20.0-543-2/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.20.0-543-2/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.20.0-543-2/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.20.0-543-2/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.20.0-543-2/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.20.0-543-2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5310 operator vault-secrets-operator (0.10.0)
  operators/vault-secrets-operator/0.10.0/manifests/secrets.hashicorp.com_hcpauths.yaml
  operators/vault-secrets-operator/0.10.0/manifests/secrets.hashicorp.com_hcpvaultsecretsapps.yaml
  operators/vault-secrets-operator/0.10.0/manifests/secrets.hashicorp.com_secrettransformations.yaml
  operators/vault-secrets-operator/0.10.0/manifests/secrets.hashicorp.com_vaultauthglobals.yaml
  operators/vault-secrets-operator/0.10.0/manifests/secrets.hashicorp.com_vaultauths.yaml
  operators/vault-secrets-operator/0.10.0/manifests/secrets.hashicorp.com_vaultconnections.yaml
  operators/vault-secrets-operator/0.10.0/manifests/secrets.hashicorp.com_vaultdynamicsecrets.yaml
  operators/vault-secrets-operator/0.10.0/manifests/secrets.hashicorp.com_vaultpkisecrets.yaml
  operators/vault-secrets-operator/0.10.0/manifests/secrets.hashicorp.com_vaultstaticsecrets.yaml
  operators/vault-secrets-operator/0.10.0/manifests/vault-secrets-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vault-secrets-operator/0.10.0/manifests/vault-secrets-operator-manager-config_v1_configmap.yaml
  operators/vault-secrets-operator/0.10.0/manifests/vault-secrets-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vault-secrets-operator/0.10.0/manifests/vault-secrets-operator.clusterserviceversion.yaml
  operators/vault-secrets-operator/0.10.0/metadata/annotations.yaml
  operators/vault-secrets-operator/0.10.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5311 operator prometurbo-certified (8.15.30)
  operators/prometurbo-certified/8.15.30/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.30/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.30/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5319 operator uma-operator (2025.3.0)
  operators/uma-operator/2025.3.0/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.3.0/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5318 operator habana-ai-operator (1.19.2-32-1)
  operators/habana-ai-operator/1.19.2-32-1/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.19.2-32-1/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.2-32-1/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.19.2-32-1/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.19.2-32-1/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.19.2-32-1/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.19.2-32-1/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.19.2-32-1/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.2-32-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5321 operator airlock-microgateway (4.5.1)
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-dashboard-accessctrllogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-dashboard-blocklogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-dashboard-blockmetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-dashboard-headerlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-dashboard-license_v1_configmap.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-dashboard-logonlylogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-dashboard-logonlymetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-dashboard-overview_v1_configmap.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-dashboard-requestlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-operator-config_v1_configmap.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-operator-leader-metrics_v1_service.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-operator-metrics_v1_service.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-operator-webhook_v1_service.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway-operator-xds_v1_service.yaml
  operators/airlock-microgateway/4.5.1/manifests/airlock-microgateway.clusterserviceversion.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_accesscontrolpolicies.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_accesscontrols.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_apiprotections.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_contentsecurities.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_contentsecuritypolicies.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_csrfprotections.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_denyrules.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_envoyclusters.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_envoyconfigurations.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_envoyhttpfilters.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_gatewayparameters.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_graphqls.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_headerrewrites.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_identitypropagations.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_jwks.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_limits.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_oidcproviders.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_oidcrelyingparties.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_openapis.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_parsers.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_redisproviders.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_sessionhandlings.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_sidecargateways.yaml
  operators/airlock-microgateway/4.5.1/manifests/microgateway.airlock.com_telemetries.yaml
  operators/airlock-microgateway/4.5.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5320 operator uma-admin-operator (2025.3.0)
  operators/uma-admin-operator/2025.3.0/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.3.0/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5323 operator uma-team-operator (2025.3.0)
  operators/uma-team-operator/2025.3.0/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.3.0/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5324 operator mongodb-atlas-kubernetes (2.8.0)
  operators/mongodb-atlas-kubernetes/2.8.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasnetworkcontainers.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasnetworkpeerings.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5325 operator portworx-certified (24.2.3)
  operators/portworx-certified/24.2.3/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/24.2.3/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/24.2.3/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/24.2.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5312 operator kubeturbo-certified (8.15.30)
  operators/kubeturbo-certified/8.15.30/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.15.30/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.15.30/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5326 operator t8c-certified (42.75.0)
  operators/t8c-certified/42.75.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.75.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.75.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5317 operator fujitsu-enterprise-postgres-operator (v7.1.2)
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v7.1.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5328 operator tawon-operator (2.39.27-rc5)
  operators/tawon-operator/2.39.27-rc5/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.27-rc5/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.27-rc5/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.27-rc5/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.27-rc5/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.27-rc5/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.27-rc5/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.27-rc5/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.27-rc5/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.27-rc5/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.27-rc5/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.27-rc5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5327 operator stackgres-certified (1.15.2)
  operators/stackgres-certified/1.15.2/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.15.2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.15.2/metadata/annotations.yaml
  operators/stackgres-certified/1.15.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5331 operator tawon-operator (2.39.27-rc6)
  operators/tawon-operator/2.39.27-rc6/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.27-rc6/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.27-rc6/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.27-rc6/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.27-rc6/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.27-rc6/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.27-rc6/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.27-rc6/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.27-rc6/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.27-rc6/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.27-rc6/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.27-rc6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5334 operator aqua-operator-certified (2022.4.759)
  operators/aqua-operator-certified/2022.4.759/manifests/aqua-operator-certified.clusterserviceversion.yaml
  operators/aqua-operator-certified/2022.4.759/manifests/aquacloudconnectors.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.759/manifests/aquacsps.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.759/manifests/aquadatabases.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.759/manifests/aquaenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.759/manifests/aquagateways.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.759/manifests/aquakubeenforcers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.759/manifests/aqualightnings.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.759/manifests/aquascanners.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.759/manifests/aquaservers.operator.aquasec.com.crd.yaml
  operators/aqua-operator-certified/2022.4.759/manifests/aquastarboards.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.759/manifests/clusterconfigauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.759/manifests/configauditreports.aquasecurity.github.io.crd.yaml
  operators/aqua-operator-certified/2022.4.759/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5339 operator tawon-operator (2.39.27)
  operators/tawon-operator/2.39.27/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.27/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.27/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.27/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.27/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.27/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.27/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.27/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.27/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.27/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.27/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.27/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5337 operator sriov-fec (v2.11.0)
  operators/sriov-fec/v2.11.0/manifests/sriov-fec-controller-manager-metrics-service_v1_service.yaml
  operators/sriov-fec/v2.11.0/manifests/sriov-fec-daemon-assets_v1_configmap.yaml
  operators/sriov-fec/v2.11.0/manifests/sriov-fec-manager-config_v1_configmap.yaml
  operators/sriov-fec/v2.11.0/manifests/sriov-fec-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/sriov-fec/v2.11.0/manifests/sriov-fec-webhook-service_v1_service.yaml
  operators/sriov-fec/v2.11.0/manifests/sriov-fec.clusterserviceversion.yaml
  operators/sriov-fec/v2.11.0/manifests/sriovfec.intel.com_sriovfecclusterconfigs.yaml
  operators/sriov-fec/v2.11.0/manifests/sriovfec.intel.com_sriovfecnodeconfigs.yaml
  operators/sriov-fec/v2.11.0/manifests/sriovvrb.intel.com_sriovvrbclusterconfigs.yaml
  operators/sriov-fec/v2.11.0/manifests/sriovvrb.intel.com_sriovvrbnodeconfigs.yaml
  operators/sriov-fec/v2.11.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5340 operator nutanixcsioperator (3.3.0)
  operators/nutanixcsioperator/3.3.0/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/3.3.0/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/3.3.0/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/3.3.0/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/3.3.0/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/3.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5347 operator prometurbo-certified (8.15.40-beta.1)
  operators/prometurbo-certified/8.15.40-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.40-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.40-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5346 operator kubeturbo-certified (8.15.40-beta.1)
  operators/kubeturbo-certified/8.15.40-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.15.40-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.15.40-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5345 operator t8c-certified (42.76.0-beta.1)
  operators/t8c-certified/42.76.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.76.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.76.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5349 operator hcp-terraform-operator (2.8.1)
  operators/hcp-terraform-operator/2.8.1/manifests/app.terraform.io_agentpools.yaml
  operators/hcp-terraform-operator/2.8.1/manifests/app.terraform.io_modules.yaml
  operators/hcp-terraform-operator/2.8.1/manifests/app.terraform.io_projects.yaml
  operators/hcp-terraform-operator/2.8.1/manifests/app.terraform.io_workspaces.yaml
  operators/hcp-terraform-operator/2.8.1/manifests/hcp-terraform-operator.clusterserviceversion.yaml
  operators/hcp-terraform-operator/2.8.1/metadata/annotations.yaml
  operators/hcp-terraform-operator/2.8.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5350 operator redis-enterprise-operator-cert (7.8.4-9.0)
  operators/redis-enterprise-operator-cert/7.8.4-9.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.4-9.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.4-9.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.4-9.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.8.4-9.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.4-9.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5351 Delete operators/hcp-terraform-operator/2.8.1 directory
  operators/hcp-terraform-operator/2.8.1/manifests/app.terraform.io_agentpools.yaml
  operators/hcp-terraform-operator/2.8.1/manifests/app.terraform.io_modules.yaml
  operators/hcp-terraform-operator/2.8.1/manifests/app.terraform.io_projects.yaml
  operators/hcp-terraform-operator/2.8.1/manifests/app.terraform.io_workspaces.yaml
  operators/hcp-terraform-operator/2.8.1/manifests/hcp-terraform-operator.clusterserviceversion.yaml
  operators/hcp-terraform-operator/2.8.1/metadata/annotations.yaml
  operators/hcp-terraform-operator/2.8.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#5366 operator gitlab-operator-kubernetes (1.10.2)
  operators/gitlab-operator-kubernetes/1.10.2/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.10.2/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.2/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.10.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5369 operator hcp-terraform-operator (2.8.1)
  operators/hcp-terraform-operator/2.8.1/manifests/app.terraform.io_agentpools.yaml
  operators/hcp-terraform-operator/2.8.1/manifests/app.terraform.io_modules.yaml
  operators/hcp-terraform-operator/2.8.1/manifests/app.terraform.io_projects.yaml
  operators/hcp-terraform-operator/2.8.1/manifests/app.terraform.io_workspaces.yaml
  operators/hcp-terraform-operator/2.8.1/manifests/hcp-terraform-operator.clusterserviceversion.yaml
  operators/hcp-terraform-operator/2.8.1/metadata/annotations.yaml
  operators/hcp-terraform-operator/2.8.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5370 operator hazelcast-platform-operator (5.15.0)
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast-platform-operator.clusterserviceversion.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast-platform-webhook-service_v1_service.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_caches.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_cronhotbackups.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_flows.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_hazelcastendpoints.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_hazelcasts.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_hotbackups.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_jetjobs.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_jetjobsnapshots.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_managementcenters.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_maps.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_multimaps.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_queues.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_replicatedmaps.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_topics.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_usercodenamespaces.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_vectorcollections.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_wanreplications.yaml
  operators/hazelcast-platform-operator/5.15.0/manifests/hazelcast.com_wansyncs.yaml
  operators/hazelcast-platform-operator/5.15.0/metadata/annotations.yaml
  operators/hazelcast-platform-operator/5.15.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5371 operator tawon-operator (2.39.28)
  operators/tawon-operator/2.39.28/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.28/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.28/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.28/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.28/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.28/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.28/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.28/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.28/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.28/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.28/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.28/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5368 operator fujitsu-enterprise-postgres-operator (v7.2.0)
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep-ansible-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep-ansible-operator-metrics_v1_service.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_fepactions.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_fepautoscales.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_fepbackups.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_fepcerts.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_fepclusters.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_fepconfigs.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_fepexporters.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_feploggings.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_feppgpool2certs.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_feppgpool2s.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_feprestores.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_fepupgrades.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_fepusers.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep.fujitsu.io_fepvolumes.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fep_scc_clusterrole.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/manifests/fujitsu-enterprise-postgres-operator.clusterserviceversion.yaml
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/metadata/.wh..wh..opq
  operators/fujitsu-enterprise-postgres-operator/v7.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5381 operator odigos-operator (v1.0.162)
  operators/odigos-operator/v1.0.162/manifests/odigos-operator-controller-manager-metrics-service_v1_service.yaml
  operators/odigos-operator/v1.0.162/manifests/odigos-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.162/manifests/odigos-operator-odigos-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.162/manifests/odigos-operator-odigos-version-46f47t59fb_v1_configmap.yaml
  operators/odigos-operator/v1.0.162/manifests/odigos-operator-odigos-version-55dgk4kht7_v1_configmap.yaml
  operators/odigos-operator/v1.0.162/manifests/odigos-operator-odigos-version-5t5fk676bf_v1_configmap.yaml
  operators/odigos-operator/v1.0.162/manifests/odigos-operator-odigos-version-d5k95b6fgc_v1_configmap.yaml
  operators/odigos-operator/v1.0.162/manifests/odigos-operator-odigos-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.162/manifests/odigos-operator.clusterserviceversion.yaml
  operators/odigos-operator/v1.0.162/manifests/operator.odigos.io_odigos.yaml
  operators/odigos-operator/v1.0.162/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5392 operator uma-admin-operator (2025.4.0)
  operators/uma-admin-operator/2025.4.0/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.4.0/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5393 operator uma-team-operator (2025.4.0)
  operators/uma-team-operator/2025.4.0/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.4.0/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5399 operator uma-operator (2025.4.1)
  operators/uma-operator/2025.4.1/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.4.1/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.4.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5403 operator percona-postgresql-operator-certified (2.6.0)
  operators/percona-postgresql-operator-certified/2.6.0/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0/manifests/percona-postgresql-operator.v2.6.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator-certified/2.6.0/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5408 operator datadog-operator-certified (1.13.0)
  operators/datadog-operator-certified/1.13.0/manifests/datadog-operator-webhook-service_v1_service.yaml
  operators/datadog-operator-certified/1.13.0/manifests/datadog-operator.clusterserviceversion.yaml
  operators/datadog-operator-certified/1.13.0/manifests/datadoghq.com_datadogagentprofiles.yaml
  operators/datadog-operator-certified/1.13.0/manifests/datadoghq.com_datadogagents.yaml
  operators/datadog-operator-certified/1.13.0/manifests/datadoghq.com_datadogdashboards.yaml
  operators/datadog-operator-certified/1.13.0/manifests/datadoghq.com_datadoggenericresources.yaml
  operators/datadog-operator-certified/1.13.0/manifests/datadoghq.com_datadogmetrics.yaml
  operators/datadog-operator-certified/1.13.0/manifests/datadoghq.com_datadogmonitors.yaml
  operators/datadog-operator-certified/1.13.0/manifests/datadoghq.com_datadogpodautoscalers.yaml
  operators/datadog-operator-certified/1.13.0/manifests/datadoghq.com_datadogslos.yaml
  operators/datadog-operator-certified/1.13.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5412 operator t8c-certified (42.76.0)
  operators/t8c-certified/42.76.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.76.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.76.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5413 operator kubeturbo-certified (8.15.40)
  operators/kubeturbo-certified/8.15.40/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.15.40/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.15.40/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5414 operator prometurbo-certified (8.15.40)
  operators/prometurbo-certified/8.15.40/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.40/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.40/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5407 operator gitlab-runner-operator (1.35.0)
  operators/gitlab-runner-operator/1.35.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.35.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.35.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5417 operator cass-operator (v1.23.2)
  operators/cass-operator/v1.23.2/manifests/cass-operator-manager-config_v1_configmap.yaml
  operators/cass-operator/v1.23.2/manifests/cass-operator-webhook-service_v1_service.yaml
  operators/cass-operator/v1.23.2/manifests/cass-operator.clusterserviceversion.yaml
  operators/cass-operator/v1.23.2/manifests/cassandra.datastax.com_cassandradatacenters.yaml
  operators/cass-operator/v1.23.2/manifests/control.k8ssandra.io_cassandratasks.yaml
  operators/cass-operator/v1.23.2/metadata/annotations.yaml
  operators/cass-operator/v1.23.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5418 operator gitlab-operator-kubernetes (1.11.0)
  operators/gitlab-operator-kubernetes/1.11.0/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.11.0/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.0/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.11.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5420 operator stackgres-certified (1.16.0-rc1)
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.16.0-rc1/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.16.0-rc1/metadata/annotations.yaml
  operators/stackgres-certified/1.16.0-rc1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5422 operator uma-operator (2025.4.2)
  operators/uma-operator/2025.4.2/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.4.2/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.4.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5428 operator percona-postgresql-operator-certified (2.6.0-cw)
  operators/percona-postgresql-operator-certified/2.6.0-cw/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0-cw/manifests/percona-postgresql-operator.v2.6.0.clusterserviceversion.yaml
  operators/percona-postgresql-operator-certified/2.6.0-cw/manifests/perconapgbackups.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0-cw/manifests/perconapgclusters.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0-cw/manifests/perconapgrestores.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0-cw/manifests/perconapgupgrades.pgv2.percona.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0-cw/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0-cw/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0-cw/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/percona-postgresql-operator-certified/2.6.0-cw/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5429 operator tawon-operator (2.39.29)
  operators/tawon-operator/2.39.29/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.29/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.29/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.29/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.29/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.29/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.29/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.29/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.29/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.29/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.29/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.29/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5430 operator confluent-for-kubernetes (2.9.5)
  operators/confluent-for-kubernetes/2.9.5/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.9.5/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.9.5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5432 operator confluent-for-kubernetes (2.10.1)
  operators/confluent-for-kubernetes/2.10.1/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_cmfrestclasses.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_flinkapplications.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_flinkenvironments.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.10.1/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.10.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5434 operator appdynamics-operator (25.3.0-1068)
  operators/appdynamics-operator/25.3.0-1068/bundle.Dockerfile
  operators/appdynamics-operator/25.3.0-1068/manifests/appdynamics-operator.clusterserviceversion.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/cluster.appdynamics.com_clusteragents.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/cluster.appdynamics.com_infravizs.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/clusteragent_clusterrole.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/clusteragent_clusterrole_binding.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/clusteragent_instrumentation_clusterrole.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/clusteragent_instrumentation_clusterrole_binding.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/clusteragent_service_account.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/infraviz_clusterrole.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/infraviz_clusterrole_binding.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/infraviz_service_account.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/target_allocator_clusterrole.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/target_allocator_clusterrole_binding.yaml
  operators/appdynamics-operator/25.3.0-1068/manifests/target_allocator_service_account.yaml
  operators/appdynamics-operator/25.3.0-1068/metadata/annotations.yaml
  operators/appdynamics-operator/25.3.0-1068/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5435 operator runtime-fabric-operator (v2.10.0)
  operators/runtime-fabric-operator/v2.10.0/manifests/rtf.operators.mulesoft.com_runtimefabrics.yaml
  operators/runtime-fabric-operator/v2.10.0/manifests/runtime-fabric-operator-controller-manager-metrics-service_v1_service.yaml
  operators/runtime-fabric-operator/v2.10.0/manifests/runtime-fabric-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.10.0/manifests/runtime-fabric-operator-runtimefabric-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.10.0/manifests/runtime-fabric-operator-runtimefabric-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/runtime-fabric-operator/v2.10.0/manifests/runtime-fabric-operator.clusterserviceversion.yaml
  operators/runtime-fabric-operator/v2.10.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5437 operator couchbase-enterprise-certified (2.7.0-4)
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbase-v2.7.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-4/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5441 operator kubeturbo-certified (8.15.50-beta.1)
  operators/kubeturbo-certified/8.15.50-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.15.50-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.15.50-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5436 operator couchbase-enterprise-certified (2.8.0-2)
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbase-v2.8.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.8.0-2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5443 operator couchbase-enterprise-certified (2.7.0-5)
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbase-v2.7.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.7.0-5/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5445 operator prometurbo-certified (8.15.50-beta.1)
  operators/prometurbo-certified/8.15.50-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.50-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.50-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5444 operator gpu-operator-certified (v25.3.0)
  operators/gpu-operator-certified/v25.3.0/manifests/gpu-operator-certified.clusterserviceversion.yaml
  operators/gpu-operator-certified/v25.3.0/manifests/nvidia.com_clusterpolicies.yaml
  operators/gpu-operator-certified/v25.3.0/manifests/nvidia.com_nvidiadrivers.yaml
  operators/gpu-operator-certified/v25.3.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5363 operator trident-operator (25.2.0)
  operators/trident-operator/25.2.0/manifests/trident-operator.v25.2.0.clusterserviceversion.yaml
  operators/trident-operator/25.2.0/manifests/trident.netapp.io_tridentconfigurators_crd.yaml
  operators/trident-operator/25.2.0/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/25.2.0/metadata/annotations.yaml
  operators/trident-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#5447 operator cockroachdb-certified (v2.18.0)
  operators/cockroachdb-certified/v2.18.0/manifests/cockroach-operator-webhook-service_v1_service.yaml
  operators/cockroachdb-certified/v2.18.0/manifests/cockroachdb-certified.clusterserviceversion.yaml
  operators/cockroachdb-certified/v2.18.0/manifests/crdb.cockroachlabs.com_crdbclusters.yaml
  operators/cockroachdb-certified/v2.18.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#5450 operator gitlab-operator-kubernetes (1.11.1)
  operators/gitlab-operator-kubernetes/1.11.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.11.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.11.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.11.1/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#5459 operator stackgres-certified (1.16.0-rc2)
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.16.0-rc2/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.16.0-rc2/metadata/annotations.yaml
  operators/stackgres-certified/1.16.0-rc2/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5460 operator t8c-certified (42.77.0-beta.1)
  operators/t8c-certified/42.77.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.77.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.77.0-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name

#5462 Catalog update [dell-csm-operator-certified] [v4.18,v4.15,v4.17,v4.14,v4.16]
  catalogs/v4.14/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.15/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.16/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.17/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.18/dell-csm-operator-certified/catalog.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.18.yaml
Labels: approved, operator-hosted-pipeline/started

#5469 operator trident-operator (25.2.1)
  operators/trident-operator/25.2.1/manifests/trident-operator.v25.2.1.clusterserviceversion.yaml
  operators/trident-operator/25.2.1/manifests/trident.netapp.io_tridentconfigurators_crd.yaml
  operators/trident-operator/25.2.1/manifests/trident.netapp.io_tridentorchestrators_crd.yaml
  operators/trident-operator/25.2.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started
