Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2025-10, with the labels that each got.

#6670 operator hulft (10.5.0)
  operators/hulft/10.5.0/manifests/hulft-controller-manager-metrics-service_v1_service.yaml
  operators/hulft/10.5.0/manifests/hulft-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hulft/10.5.0/manifests/hulft-webhook-service_v1_service.yaml
  operators/hulft/10.5.0/manifests/hulft.clusterserviceversion.yaml
  operators/hulft/10.5.0/manifests/hulft.saison-technology.com_hulfts.yaml
  operators/hulft/10.5.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6665 operator splunk-operator (3.0.0)
  operators/splunk-operator/3.0.0/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk-operator/3.0.0/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk-operator/3.0.0/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk-operator/3.0.0/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk-operator/3.0.0/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk-operator/3.0.0/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk-operator/3.0.0/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk-operator/3.0.0/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk-operator/3.0.0/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk-operator/3.0.0/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk-operator/3.0.0/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk-operator/3.0.0/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk-operator/3.0.0/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk-operator/3.0.0/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk-operator/3.0.0/metadata/annotations.yaml
  operators/splunk-operator/3.0.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6681 operator spyre-operator (v1.0.0)
  operators/spyre-operator/v1.0.0/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/spyre-operator/v1.0.0/manifests/monitoring-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/spyre-operator/v1.0.0/manifests/monitoring-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/spyre-operator/v1.0.0/manifests/spyre-operator-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/spyre-operator/v1.0.0/manifests/spyre-operator-metrics-service_v1_service.yaml
  operators/spyre-operator/v1.0.0/manifests/spyre-operator.clusterserviceversion.yaml
  operators/spyre-operator/v1.0.0/manifests/spyre.ibm.com_spyreclusterpolicies.yaml
  operators/spyre-operator/v1.0.0/manifests/spyre.ibm.com_spyrenodestates.yaml
  operators/spyre-operator/v1.0.0/metadata/annotations.yaml
  operators/spyre-operator/v1.0.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6682 operator confluent-for-kubernetes (2.9.7)
  operators/confluent-for-kubernetes/2.9.7/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.9.7/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.9.7/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6686 operator openshift-fusion-access-operator (1.0.0)
  operators/openshift-fusion-access-operator/1.0.0/manifests/fusion-access-operator-console-plugin_v1_service.yaml
  operators/openshift-fusion-access-operator/1.0.0/manifests/fusion-access-operator-fusionaccess-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-fusion-access-operator/1.0.0/manifests/fusion-access-operator-fusionaccess-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/openshift-fusion-access-operator/1.0.0/manifests/fusion-access-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/openshift-fusion-access-operator/1.0.0/manifests/fusion-access-operator-webhook-service_v1_service.yaml
  operators/openshift-fusion-access-operator/1.0.0/manifests/fusion.storage.openshift.io_fusionaccesses.yaml
  operators/openshift-fusion-access-operator/1.0.0/manifests/fusion.storage.openshift.io_localvolumediscoveries.yaml
  operators/openshift-fusion-access-operator/1.0.0/manifests/fusion.storage.openshift.io_localvolumediscoveryresults.yaml
  operators/openshift-fusion-access-operator/1.0.0/manifests/openshift-fusion-access-operator.clusterserviceversion.yaml
  operators/openshift-fusion-access-operator/1.0.0/metadata/annotations.yaml
  operators/openshift-fusion-access-operator/1.0.0/metadata/dependencies.yaml
  operators/openshift-fusion-access-operator/1.0.0/tests/scorecard/config.yaml
Labels: approved, operator-hosted-pipeline/started

#6694 Catalog update [openshift-fusion-access-operator] [v4.19,v4.20,v4.21]
  catalogs/v4.19/openshift-fusion-access-operator/catalog.yaml
  catalogs/v4.20/openshift-fusion-access-operator/catalog.yaml
  catalogs/v4.21/openshift-fusion-access-operator/catalog.yaml
  operators/openshift-fusion-access-operator/Makefile
  operators/openshift-fusion-access-operator/catalog-templates/v4.19.yaml
  operators/openshift-fusion-access-operator/catalog-templates/v4.20.yaml
  operators/openshift-fusion-access-operator/catalog-templates/v4.21.yaml
  operators/openshift-fusion-access-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/started

#6703 operator minio-volume-manager-operator (2025.10.04204030)
  operators/minio-volume-manager-operator/2025.10.04204030/manifests/charts.quay.io_aistorvolumemanagers.yaml
  operators/minio-volume-manager-operator/2025.10.04204030/manifests/private-dpv-operator-controller-manager-metrics-service_v1_service.yaml
  operators/minio-volume-manager-operator/2025.10.04204030/manifests/private-dpv-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-volume-manager-operator/2025.10.04204030/manifests/private-dpv-operator.clusterserviceversion.yaml
  operators/minio-volume-manager-operator/2025.10.04204030/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6707 operator minio-volume-manager-operator (2025.10.05094830)
  operators/minio-volume-manager-operator/2025.10.05094830/manifests/charts.quay.io_aistorvolumemanagers.yaml
  operators/minio-volume-manager-operator/2025.10.05094830/manifests/private-dpv-operator-controller-manager-metrics-service_v1_service.yaml
  operators/minio-volume-manager-operator/2025.10.05094830/manifests/private-dpv-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-volume-manager-operator/2025.10.05094830/manifests/private-dpv-operator.clusterserviceversion.yaml
  operators/minio-volume-manager-operator/2025.10.05094830/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6717 operator minio-volume-manager-operator (2025.10.05171849)
  operators/minio-volume-manager-operator/2025.10.05171849/manifests/charts.quay.io_aistorvolumemanagers.yaml
  operators/minio-volume-manager-operator/2025.10.05171849/manifests/minio-volume-manager-operator.clusterserviceversion.yaml
  operators/minio-volume-manager-operator/2025.10.05171849/manifests/private-dpv-operator-controller-manager-metrics-service_v1_service.yaml
  operators/minio-volume-manager-operator/2025.10.05171849/manifests/private-dpv-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-volume-manager-operator/2025.10.05171849/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6718 operator redis-enterprise-operator-cert (7.4.6-7.2)
  operators/redis-enterprise-operator-cert/7.4.6-7.2/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-7.2/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-7.2/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-7.2/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.4.6-7.2/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.4.6-7.2/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6725 operator tenant-operator (v1.5.0)
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-admin-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-console_v1_serviceaccount.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-gateway-configmap-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-gateway-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-keycloak_v1_serviceaccount.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-opencost-gateway_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-opencost-gateway_v1_serviceaccount.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-pilot-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-postgresql_v1_serviceaccount.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-quota-intconfig-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-quota-intconfig-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-role-prometheus-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-role-prometheus_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-sa-prometheus_v1_serviceaccount.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-showback_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-showback_v1_serviceaccount.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-tenant-metrics-service_v1_service.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-tenant-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator-webhook-service_v1_service.yaml
  operators/tenant-operator/v1.5.0/manifests/tenant-operator.clusterserviceversion.yaml
  operators/tenant-operator/v1.5.0/manifests/tenantoperator-owner-clusterrole.yaml
  operators/tenant-operator/v1.5.0/manifests/tenantoperator.stakater.com_extensions.yaml
  operators/tenant-operator/v1.5.0/manifests/tenantoperator.stakater.com_integrationconfigs.yaml
  operators/tenant-operator/v1.5.0/manifests/tenantoperator.stakater.com_quotas.yaml
  operators/tenant-operator/v1.5.0/manifests/tenantoperator.stakater.com_tenants.yaml
  operators/tenant-operator/v1.5.0/metadata/annotations.yaml
  operators/tenant-operator/v1.5.0/metadata/dependencies.yaml
Labels: approved, operator-hosted-pipeline/started

#6735 operator ibm-metrics-operator (2.21.1)
  operators/ibm-metrics-operator/2.21.1/manifests/ibm-metrics-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-metrics-operator/2.21.1/manifests/ibm-metrics-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-metrics-operator/2.21.1/manifests/ibm-metrics-operator-manager-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.21.1/manifests/ibm-metrics-operator-metric-state-view-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.21.1/manifests/ibm-metrics-operator-reporter-cluster-monitoring-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-metrics-operator/2.21.1/manifests/ibm-metrics-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-metrics-operator/2.21.1/manifests/ibm-metrics-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-metrics-operator/2.21.1/manifests/ibm-metrics-operator.clusterserviceversion.yaml
  operators/ibm-metrics-operator/2.21.1/manifests/marketplace.redhat.com_marketplaceconfigs.yaml
  operators/ibm-metrics-operator/2.21.1/manifests/marketplace.redhat.com_meterbases.yaml
  operators/ibm-metrics-operator/2.21.1/manifests/marketplace.redhat.com_meterdefinitions.yaml
  operators/ibm-metrics-operator/2.21.1/manifests/marketplace.redhat.com_meterreports.yaml
  operators/ibm-metrics-operator/2.21.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6736 operator minio-volume-manager-operator (2025.10.07173603)
  operators/minio-volume-manager-operator/2025.10.07173603/manifests/charts.quay.io_aistorvolumemanagers.yaml
  operators/minio-volume-manager-operator/2025.10.07173603/manifests/directpv-operator-controller-manager-metrics-service_v1_service.yaml
  operators/minio-volume-manager-operator/2025.10.07173603/manifests/directpv-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-volume-manager-operator/2025.10.07173603/manifests/minio-volume-manager-operator.clusterserviceversion.yaml
  operators/minio-volume-manager-operator/2025.10.07173603/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6737 operator ibm-data-reporter-operator (2.21.1)
  operators/ibm-data-reporter-operator/2.21.1/manifests/ibm-data-reporter-operator-component-config-42m8t7c92h_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.21.1/manifests/ibm-data-reporter-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/ibm-data-reporter-operator/2.21.1/manifests/ibm-data-reporter-operator-controller-manager-metrics-service_v1_service.yaml
  operators/ibm-data-reporter-operator/2.21.1/manifests/ibm-data-reporter-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.21.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/ibm-data-reporter-operator/2.21.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-data-reporter-operator/2.21.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_secret.yaml
  operators/ibm-data-reporter-operator/2.21.1/manifests/ibm-data-reporter-operator-servicemonitor-metrics-reader_v1_serviceaccount.yaml
  operators/ibm-data-reporter-operator/2.21.1/manifests/ibm-data-reporter-operator-serving-certs-ca-bundle_v1_configmap.yaml
  operators/ibm-data-reporter-operator/2.21.1/manifests/ibm-data-reporter-operator.clusterserviceversion.yaml
  operators/ibm-data-reporter-operator/2.21.1/manifests/marketplace.redhat.com_datareporterconfigs.yaml
  operators/ibm-data-reporter-operator/2.21.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6740 operator anzounstructured-operator (v3.1.300)
  operators/anzounstructured-operator/v3.1.300/manifests/anzounstructured-operator.clusterserviceversion.yaml
  operators/anzounstructured-operator/v3.1.300/manifests/anzounstructured.clusters.cambridgesemantics.com_anzounstructureds.yaml
  operators/anzounstructured-operator/v3.1.300/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started

#6741 operator uma-operator (2025.10.0)
  operators/uma-operator/2025.10.0/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.10.0/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.10.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6742 operator uma-admin-operator (2025.10.0)
  operators/uma-admin-operator/2025.10.0/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.10.0/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.10.0/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#6746 operator kubeturbo-certified (8.17.50-beta.1)
  operators/kubeturbo-certified/8.17.50-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.17.50-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.17.50-beta.1/metadata/annotations.yaml
Labels: approved, operator-hosted-pipeline/started, tests/skip/check_operator_name
