Repository redhat-openshift-ecosystem/certified-operators, pull requests merged in 2025-02, with the labels that each got.

#5115 operator airlock-microgateway (4.5.0-alpha3)
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-dashboard-accessctrllogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-dashboard-blocklogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-dashboard-blockmetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-dashboard-headerlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-dashboard-license_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-dashboard-logonlylogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-dashboard-logonlymetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-dashboard-overview_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-dashboard-requestlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-operator-config_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-operator-leader-metrics_v1_service.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-operator-metrics_v1_service.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-operator-webhook_v1_service.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway-operator-xds_v1_service.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/airlock-microgateway.clusterserviceversion.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_accesscontrolpolicies.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_accesscontrols.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_apiprotections.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_contentsecurities.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_contentsecuritypolicies.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_csrfprotections.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_denyrules.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_envoyclusters.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_envoyconfigurations.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_envoyhttpfilters.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_gatewayparameters.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_graphqls.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_headerrewrites.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_identitypropagations.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_jwks.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_limits.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_oidcproviders.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_oidcrelyingparties.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_openapis.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_parsers.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_redisproviders.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_sessionhandlings.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_sidecargateways.yaml
  operators/airlock-microgateway/4.5.0-alpha3/manifests/microgateway.airlock.com_telemetries.yaml
  operators/airlock-microgateway/4.5.0-alpha3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5119 operator portworx-certified (24.2.2)
  operators/portworx-certified/24.2.2/manifests/core_v1_storagecluster_crd.yaml
  operators/portworx-certified/24.2.2/manifests/core_v1_storagenode_crd.yaml
  operators/portworx-certified/24.2.2/manifests/portworx-certified.clusterserviceversion.yaml
  operators/portworx-certified/24.2.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5120 Update config.yaml for vfunction-server-operator
  config.yaml
Labels: operator-hosted-pipeline/failed

#5121 operator airlock-microgateway (4.5.0)
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-dashboard-accessctrllogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-dashboard-blocklogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-dashboard-blockmetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-dashboard-headerlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-dashboard-license_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-dashboard-logonlylogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-dashboard-logonlymetrics_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-dashboard-overview_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-dashboard-requestlogs_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-operator-config_v1_configmap.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-operator-leader-metrics_v1_service.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-operator-metrics_v1_service.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-operator-webhook_v1_service.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway-operator-xds_v1_service.yaml
  operators/airlock-microgateway/4.5.0/manifests/airlock-microgateway.clusterserviceversion.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_accesscontrolpolicies.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_accesscontrols.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_apiprotections.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_contentsecurities.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_contentsecuritypolicies.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_csrfprotections.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_denyrules.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_envoyclusters.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_envoyconfigurations.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_envoyhttpfilters.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_gatewayparameters.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_graphqls.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_headerrewrites.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_identitypropagations.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_jwks.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_limits.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_oidcproviders.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_oidcrelyingparties.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_openapis.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_parsers.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_redisproviders.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_sessionhandlings.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_sidecargateways.yaml
  operators/airlock-microgateway/4.5.0/manifests/microgateway.airlock.com_telemetries.yaml
  operators/airlock-microgateway/4.5.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5125 operator stackgres-certified (1.15.0)
  operators/stackgres-certified/1.15.0/manifests/stackgres-certified.clusterserviceversion.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres-editor-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres-editor-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres-operator_v1_service.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres-viewer-clusterrole_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres-viewer-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres-webconsole-admin_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres-webconsole-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres-webconsole-writer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgbackups.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgclusters.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgconfigs.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgdbops.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgdistributedlogs.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sginstanceprofiles.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgobjectstorages.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgpgconfigs.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgpoolconfigs.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgscripts.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgshardedbackups.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgshardedclusters.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgshardeddbops.yaml
  operators/stackgres-certified/1.15.0/manifests/stackgres.io_sgstreams.yaml
  operators/stackgres-certified/1.15.0/metadata/annotations.yaml
  operators/stackgres-certified/1.15.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5126 operator neuvector-certified-operator (1.4.8)
  operators/neuvector-certified-operator/1.4.8/manifests/neuvector-certified-operator.clusterserviceversion.yaml
  operators/neuvector-certified-operator/1.4.8/manifests/neuvectors.apm.neuvector.com.crd.yaml
  operators/neuvector-certified-operator/1.4.8/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5127 operator kubearmor-operator-certified (1.5.1)
  operators/kubearmor-operator-certified/1.5.1/manifests/kubearmor-operator-certified.clusterserviceversion.yaml
  operators/kubearmor-operator-certified/1.5.1/manifests/operator.kubearmor.com_kubearmorconfigs.yaml
  operators/kubearmor-operator-certified/1.5.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5128 operator eginnovations-operator (0.0.10)
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-controller-manager-metrics-service_v1_service.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-eguniversalagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-eguniversalagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator-webhook-service_v1_service.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations-operator.clusterserviceversion.yaml
  operators/eginnovations-operator/0.0.10/manifests/eginnovations.com_eguniversalagents.yaml
  operators/eginnovations-operator/0.0.10/metadata/annotations.yaml
  operators/eginnovations-operator/0.0.10/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5075 operator dell-csm-operator-certified (1.8.0)
  operators/dell-csm-operator-certified/1.8.0/manifests/containerstoragemodules.storage.dell.com.crd.yaml
  operators/dell-csm-operator-certified/1.8.0/manifests/dell-csm-operator-certified.clusterserviceversion.yaml
  operators/dell-csm-operator-certified/1.8.0/metadata/annotations.yaml
  operators/dell-csm-operator-certified/1.8.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5129 operator instana-agent-operator (2.1.15)
  operators/instana-agent-operator/2.1.15/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.15/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.15/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.15/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.15/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.15/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.15/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.15/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5130 operator tawon-operator (2.39.26)
  operators/tawon-operator/2.39.26/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.26/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.26/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.26/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.26/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.26/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.26/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.26/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.26/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.26/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.26/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.26/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5132 Catalog update [dell-csm-operator-certified] [v4.16,v4.17,v4.14,v4.15]
  catalogs/v4.14/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.15/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.16/dell-csm-operator-certified/catalog.yaml
  catalogs/v4.17/dell-csm-operator-certified/catalog.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.14.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.15.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.16.yaml
  operators/dell-csm-operator-certified/catalog-templates/v4.17.yaml
Labels: operator-hosted-pipeline/started

#5133 operator instana-agent-operator (2.1.16)
  operators/instana-agent-operator/2.1.16/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.16/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.16/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.16/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.16/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.16/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.16/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.16/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5136 operator ibm-block-csi-operator (1.12.1)
  operators/ibm-block-csi-operator/1.12.1/bundle-1.12.1.Dockerfile
  operators/ibm-block-csi-operator/1.12.1/manifests/csi.ibm.com_hostdefiners.yaml
  operators/ibm-block-csi-operator/1.12.1/manifests/csi.ibm.com_hostdefinitions.yaml
  operators/ibm-block-csi-operator/1.12.1/manifests/csi.ibm.com_ibmblockcsis.yaml
  operators/ibm-block-csi-operator/1.12.1/manifests/ibm-block-csi-operator.clusterserviceversion.yaml
  operators/ibm-block-csi-operator/1.12.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5135 operator kubeturbo-certified (8.15.10)
  operators/kubeturbo-certified/8.15.10/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.15.10/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.15.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5134 operator prometurbo-certified (8.15.10)
  operators/prometurbo-certified/8.15.10/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.10/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.10/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5138 operator t8c-certified (42.72.0)
  operators/t8c-certified/42.72.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.72.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.72.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5139 operator ibm-application-gateway-operator (25.2.0)
  operators/ibm-application-gateway-operator/25.2.0/manifests/ibm-application-gateway-operator-manager-config_v1_configmap.yaml
  operators/ibm-application-gateway-operator/25.2.0/manifests/ibm-application-gateway-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/ibm-application-gateway-operator/25.2.0/manifests/ibm-application-gateway-operator-metrics-service_v1_service.yaml
  operators/ibm-application-gateway-operator/25.2.0/manifests/ibm-application-gateway-operator-webhook-service_v1_service.yaml
  operators/ibm-application-gateway-operator/25.2.0/manifests/ibm-application-gateway-operator.clusterserviceversion.yaml
  operators/ibm-application-gateway-operator/25.2.0/manifests/ibm.com_ibmapplicationgateways.yaml
  operators/ibm-application-gateway-operator/25.2.0/metadata/annotations.yaml
  operators/ibm-application-gateway-operator/25.2.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5141 operator mongodb-atlas-kubernetes (2.7.0)
  operators/mongodb-atlas-kubernetes/2.7.0/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.7.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5146 operator cockroachdb-certified (v2.17.0)
  operators/cockroachdb-certified/v2.17.0/manifests/cockroach-operator-webhook-service_v1_service.yaml
  operators/cockroachdb-certified/v2.17.0/manifests/cockroachdb-certified.clusterserviceversion.yaml
  operators/cockroachdb-certified/v2.17.0/manifests/crdb.cockroachlabs.com_crdbclusters.yaml
  operators/cockroachdb-certified/v2.17.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5147 Add mapping to appian-operator FBC operator
  operators/appian-operator/Makefile
  operators/appian-operator/catalog-templates/basic.yaml
  operators/appian-operator/catalog-templates/v4.13.yaml
  operators/appian-operator/catalog-templates/v4.14.yaml
  operators/appian-operator/catalog-templates/v4.15.yaml
  operators/appian-operator/catalog-templates/v4.16.yaml
  operators/appian-operator/catalog-templates/v4.17.yaml
  operators/appian-operator/ci.yaml
Labels: operator-hosted-pipeline/failed

#5148 Add mapping to cloudnative-pg FBC operator
  operators/cloudnative-pg/Makefile
  operators/cloudnative-pg/catalog-templates/basic.yaml
  operators/cloudnative-pg/catalog-templates/v4.13.yaml
  operators/cloudnative-pg/catalog-templates/v4.14.yaml
  operators/cloudnative-pg/catalog-templates/v4.15.yaml
  operators/cloudnative-pg/catalog-templates/v4.16.yaml
  operators/cloudnative-pg/catalog-templates/v4.17.yaml
  operators/cloudnative-pg/catalog-templates/v4.18.yaml
  operators/cloudnative-pg/ci.yaml
Labels: operator-hosted-pipeline/failed

#5151 Catalog update [operator-certification-operator] [v4.18,v4.16,v4.13,v4.15,v4.14,v4.17]
  catalogs/v4.13/operator-certification-operator/catalog.yaml
  catalogs/v4.14/operator-certification-operator/catalog.yaml
  catalogs/v4.15/operator-certification-operator/catalog.yaml
  catalogs/v4.16/operator-certification-operator/catalog.yaml
  catalogs/v4.17/operator-certification-operator/catalog.yaml
  catalogs/v4.18/operator-certification-operator/catalog.yaml
  operators/operator-certification-operator/Makefile
  operators/operator-certification-operator/catalog-templates/basic.yaml
  operators/operator-certification-operator/catalog-templates/v4.14.yaml
  operators/operator-certification-operator/catalog-templates/v4.15.yaml
  operators/operator-certification-operator/catalog-templates/v4.16.yaml
  operators/operator-certification-operator/catalog-templates/v4.17.yaml
  operators/operator-certification-operator/catalog-templates/v4.18.yaml
  operators/operator-certification-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5152 operator operator-certification-operator (1.3.0)
  operators/operator-certification-operator/1.3.0/manifests/certification-operator-controller-manager-metrics-service_v1_service.yaml
  operators/operator-certification-operator/1.3.0/manifests/certification-operator-manager-config_v1_configmap.yaml
  operators/operator-certification-operator/1.3.0/manifests/certification-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/operator-certification-operator/1.3.0/manifests/certification.redhat.com_operatorpipelines.yaml
  operators/operator-certification-operator/1.3.0/manifests/operator-certification-operator.clusterserviceversion.yaml
  operators/operator-certification-operator/1.3.0/metadata/annotations.yaml
  operators/operator-certification-operator/1.3.0/metadata/dependencies.yaml
  operators/operator-certification-operator/1.3.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5156 operator kubearmor-operator-certified (1.5.2)
  operators/kubearmor-operator-certified/1.5.2/manifests/kubearmor-operator-certified.clusterserviceversion.yaml
  operators/kubearmor-operator-certified/1.5.2/manifests/operator.kubearmor.com_kubearmorconfigs.yaml
  operators/kubearmor-operator-certified/1.5.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5163 operator minio-aistor-operator (2025.1.28195023)
  operators/minio-aistor-operator/2025.1.28195023/manifests/aistor.min.io_aistorinstallations.yaml
  operators/minio-aistor-operator/2025.1.28195023/manifests/aistorinstall-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/2025.1.28195023/manifests/aistorinstall-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/2025.1.28195023/manifests/controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/minio-aistor-operator/2025.1.28195023/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/minio-aistor-operator/2025.1.28195023/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/minio-aistor-operator/2025.1.28195023/manifests/minio-aistor-operator.clusterserviceversion.yaml
  operators/minio-aistor-operator/2025.1.28195023/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5164 operator tigera-operator (1.36.5)
  operators/tigera-operator/1.36.5/manifests/crd.projectcalico.org_bgpconfigurations.yaml
  operators/tigera-operator/1.36.5/manifests/crd.projectcalico.org_bgppeers.yaml
  operators/tigera-operator/1.36.5/manifests/operator.tigera.io_imagesets.yaml
  operators/tigera-operator/1.36.5/manifests/operator.tigera.io_installations.yaml
  operators/tigera-operator/1.36.5/manifests/operator.tigera.io_tigerastatuses.yaml
  operators/tigera-operator/1.36.5/manifests/tigera-operator.clusterserviceversion.yaml
  operators/tigera-operator/1.36.5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5165 operator uma-operator (2025.1.2)
  operators/uma-operator/2025.1.2/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.1.2/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.1.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5166 operator habana-ai-operator (1.19.2-32)
  operators/habana-ai-operator/1.19.2-32/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.19.2-32/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.2-32/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.19.2-32/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.19.2-32/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.19.2-32/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.19.2-32/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.19.2-32/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.19.2-32/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5167 operator uma-admin-operator (2025.1.2)
  operators/uma-admin-operator/2025.1.2/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.1.2/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.1.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5168 operator uma-team-operator (2025.1.2)
  operators/uma-team-operator/2025.1.2/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.1.2/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.1.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5160 operator mongodb-enterprise (1.31.0)
  operators/mongodb-enterprise/1.31.0/bundle.Dockerfile
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_role.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise-appdb_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise-appdb_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise-database-pods_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise-operator-service_v1_service.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise-ops-manager_v1_serviceaccount.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb-enterprise.clusterserviceversion.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb.com_mongodb.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb.com_mongodbmulticluster.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb.com_mongodbusers.yaml
  operators/mongodb-enterprise/1.31.0/manifests/mongodb.com_opsmanagers.yaml
  operators/mongodb-enterprise/1.31.0/metadata/annotations.yaml
  operators/mongodb-enterprise/1.31.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5169 operator t8c-tsc-client-certified (1.3.0-candidate-20250210164243000)
  operators/t8c-tsc-client-certified/1.3.0-candidate-20250210164243000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.3.0-candidate-20250210164243000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.3.0-candidate-20250210164243000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.3.0-candidate-20250210164243000/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5171 operator couchbase-enterprise-certified (2.6.4-5)
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbase-v2.6.4.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-5/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5172 operator couchbase-enterprise-certified (2.6.1-2)
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbase-v2.6.1.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbaseautoscalers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbasebackuprestores.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbasebackups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbasebuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbaseclusters.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbasecollectiongroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbasecollections.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbaseephemeralbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbasegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbasememcachedbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbasemigrationreplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbasereplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbaserolebindings.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbasescopegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbasescopes.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/manifests/couchbaseusers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.1-2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5177 operator gitlab-runner-operator (1.33.0)
  operators/gitlab-runner-operator/1.33.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.33.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.33.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.33.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.33.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.33.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.33.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5144 operator aic-operator (v0.1.0)
  operators/aic-operator/ci.yaml
  operators/aic-operator/v0.1.0/manifests/aic-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aic-operator/v0.1.0/manifests/aic-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aic-operator/v0.1.0/manifests/aic-operator.clusterserviceversion.yaml
  operators/aic-operator/v0.1.0/manifests/aic.quicinc.com_aics.yaml
  operators/aic-operator/v0.1.0/metadata/annotations.yaml
  operators/aic-operator/v0.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5180 operator prometurbo-certified (8.15.20-beta.1)
  operators/prometurbo-certified/8.15.20-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.20-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.20-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5181 operator kubeturbo-certified (8.15.20-beta.1)
  operators/kubeturbo-certified/8.15.20-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.15.20-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.15.20-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5173 operator infoscale-licensing-operator (8.0.400)
  operators/infoscale-licensing-operator/8.0.400/manifests/licensing-operator.clusterserviceversion.yaml
  operators/infoscale-licensing-operator/8.0.400/manifests/lico-manager-config_v1_configmap.yaml
  operators/infoscale-licensing-operator/8.0.400/manifests/lico-webhook-service_v1_service.yaml
  operators/infoscale-licensing-operator/8.0.400/manifests/vlic.veritas.com_licenses.yaml
  operators/infoscale-licensing-operator/8.0.400/metadata/annotations.yaml
  operators/infoscale-licensing-operator/8.0.400/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5175 operator infoscale-dr-manager (8.0.400)
  operators/infoscale-dr-manager/8.0.400/manifests/infoscale-dr-manager-config_v1_configmap.yaml
  operators/infoscale-dr-manager/8.0.400/manifests/infoscale-dr-manager.clusterserviceversion.yaml
  operators/infoscale-dr-manager/8.0.400/manifests/infoscale-dr-webhook-service_v1_service.yaml
  operators/infoscale-dr-manager/8.0.400/manifests/infoscale.veritas.com_datareplications.yaml
  operators/infoscale-dr-manager/8.0.400/manifests/infoscale.veritas.com_disasterrecoveryplans.yaml
  operators/infoscale-dr-manager/8.0.400/manifests/infoscale.veritas.com_dns.yaml
  operators/infoscale-dr-manager/8.0.400/manifests/infoscale.veritas.com_globalclustermemberships.yaml
  operators/infoscale-dr-manager/8.0.400/metadata/annotations.yaml
  operators/infoscale-dr-manager/8.0.400/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5182 operator redis-enterprise-operator-cert (7.8.4-8.0)
  operators/redis-enterprise-operator-cert/7.8.4-8.0/manifests/reaadb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.4-8.0/manifests/rec_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.4-8.0/manifests/redb_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.4-8.0/manifests/redis-enterprise-operator-cert.clusterserviceversion.yaml
  operators/redis-enterprise-operator-cert/7.8.4-8.0/manifests/rerc_crd.yaml
  operators/redis-enterprise-operator-cert/7.8.4-8.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5183 operator infoscale-sds-operator (8.0.400)
  operators/infoscale-sds-operator/8.0.400/manifests/infoscale-sds-operator.clusterserviceversion.yaml
  operators/infoscale-sds-operator/8.0.400/manifests/infoscale.veritas.com_infoscaleclusters.yaml
  operators/infoscale-sds-operator/8.0.400/manifests/infoscale.veritas.com_infoscaleclustersets.yaml
  operators/infoscale-sds-operator/8.0.400/manifests/iso-manager-config_v1_configmap.yaml
  operators/infoscale-sds-operator/8.0.400/manifests/iso-webhook-service_v1_service.yaml
  operators/infoscale-sds-operator/8.0.400/metadata/annotations.yaml
  operators/infoscale-sds-operator/8.0.400/metadata/dependencies.yaml
  operators/infoscale-sds-operator/8.0.400/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5161 Removes the anjuna-operator
  operators/anjuna-operator/1.0.1/manifests/anjuna-operator-anjunaruntime-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/anjuna-operator/1.0.1/manifests/anjuna-operator-anjunaruntime-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/anjuna-operator/1.0.1/manifests/anjuna-operator-controller-manager-metrics-service_v1_service.yaml
  operators/anjuna-operator/1.0.1/manifests/anjuna-operator-manager-config_v1_configmap.yaml
  operators/anjuna-operator/1.0.1/manifests/anjuna-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/anjuna-operator/1.0.1/manifests/anjuna-operator-privileged-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/anjuna-operator/1.0.1/manifests/anjuna-operator.clusterserviceversion.yaml
  operators/anjuna-operator/1.0.1/manifests/anjuna.io_anjunaruntimes.yaml
  operators/anjuna-operator/1.0.1/metadata/annotations.yaml
  operators/anjuna-operator/1.0.1/tests/scorecard/config.yaml
  operators/anjuna-operator/ci.yaml
Labels: operator-hosted-pipeline/failed

#5188 operator t8c-certified (42.74.0-beta.1)
  operators/t8c-certified/42.74.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.74.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.74.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5191 operator instana-agent-operator (2.1.17)
  operators/instana-agent-operator/2.1.17/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.17/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.17/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.17/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.17/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.17/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.17/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.17/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5193 operator instana-agent-operator (2.1.18)
  operators/instana-agent-operator/2.1.18/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.18/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.18/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.18/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.18/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.18/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.18/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.18/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5195 operator t8c-tsc-client-certified (1.3.0)
  operators/t8c-tsc-client-certified/1.3.0/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.3.0/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.3.0/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.3.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5176 operator couchbase-enterprise-certified (2.6.0-2)
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbase-v2.6.0.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbaseautoscalers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbasebackuprestores.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbasebackups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbasebuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbaseclusters.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbasecollectiongroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbasecollections.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbaseephemeralbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbasegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbasememcachedbuckets.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbasemigrationreplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbasereplications.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbaserolebindings.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbasescopegroups.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbasescopes.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/manifests/couchbaseusers.couchbase.com.crd.yaml
  operators/couchbase-enterprise-certified/2.6.0-2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5197 operator vfunction-server-operator (v4.0.1594)
  operators/vfunction-server-operator/v4.0.1594/manifests/vfunction-server-operator-controller-manager-metrics-service_v1_service.yaml
  operators/vfunction-server-operator/v4.0.1594/manifests/vfunction-server-operator-manager-config_v1_configmap.yaml
  operators/vfunction-server-operator/v4.0.1594/manifests/vfunction-server-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/vfunction-server-operator/v4.0.1594/manifests/vfunction-server-operator.clusterserviceversion.yaml
  operators/vfunction-server-operator/v4.0.1594/manifests/vfunctionservers.vfunction.com.crd.yaml
  operators/vfunction-server-operator/v4.0.1594/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_upgrade_graph_loop, tests/skip/check_pruned_graph, tests/skip/check_operator_name, tests/skip/check_replaces_availability

#5201 operator hcp-terraform-operator (2.8.0)
  operators/hcp-terraform-operator/2.8.0/manifests/app.terraform.io_agentpools.yaml
  operators/hcp-terraform-operator/2.8.0/manifests/app.terraform.io_modules.yaml
  operators/hcp-terraform-operator/2.8.0/manifests/app.terraform.io_projects.yaml
  operators/hcp-terraform-operator/2.8.0/manifests/app.terraform.io_workspaces.yaml
  operators/hcp-terraform-operator/2.8.0/manifests/hcp-terraform-operator.clusterserviceversion.yaml
  operators/hcp-terraform-operator/2.8.0/metadata/annotations.yaml
  operators/hcp-terraform-operator/2.8.0/tests/scorecard/config.yaml
  operators/hcp-terraform-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5202 operator harness-gitops-operator (0.1.4)
  operators/harness-gitops-operator/0.1.4/manifests/gitops.harness.io_gitopsagents.yaml
  operators/harness-gitops-operator/0.1.4/manifests/harness-gitops-operator-controller-manager-metrics-service_v1_service.yaml
  operators/harness-gitops-operator/0.1.4/manifests/harness-gitops-operator-gitopsagent-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/harness-gitops-operator/0.1.4/manifests/harness-gitops-operator-gitopsagent-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/harness-gitops-operator/0.1.4/manifests/harness-gitops-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/harness-gitops-operator/0.1.4/manifests/harness-gitops-operator.clusterserviceversion.yaml
  operators/harness-gitops-operator/0.1.4/metadata/annotations.yaml
  operators/harness-gitops-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5203 operator mongodb-atlas-kubernetes (2.7.1)
  operators/mongodb-atlas-kubernetes/2.7.1/bundle.Dockerfile
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasbackupcompliancepolicies.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasbackuppolicies.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasbackupschedules.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlascustomroles.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasdatabaseusers.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasdatafederations.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasdeployments.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasfederatedauths.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasipaccesslists.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasprivateendpoints.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasprojects.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlassearchindexconfigs.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasstreamconnections.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasstreaminstances.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/atlas.mongodb.com_atlasteams.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/mongodb-atlas-controller-manager-metrics-service_v1_service.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/mongodb-atlas-kubernetes.clusterserviceversion.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/manifests/mongodb-atlas-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/metadata/annotations.yaml
  operators/mongodb-atlas-kubernetes/2.7.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5170 operator odigos-operator (v1.0.154)
  operators/odigos-operator/ci.yaml
  operators/odigos-operator/v1.0.154/manifests/odigos-operator-controller-manager-metrics-service_v1_service.yaml
  operators/odigos-operator/v1.0.154/manifests/odigos-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.154/manifests/odigos-operator-odigos-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.154/manifests/odigos-operator-odigos-version-46f47t59fb_v1_configmap.yaml
  operators/odigos-operator/v1.0.154/manifests/odigos-operator-odigos-version-5t5fk676bf_v1_configmap.yaml
  operators/odigos-operator/v1.0.154/manifests/odigos-operator-odigos-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/odigos-operator/v1.0.154/manifests/odigos-operator.clusterserviceversion.yaml
  operators/odigos-operator/v1.0.154/manifests/operator.odigos.io_odigos.yaml
  operators/odigos-operator/v1.0.154/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5205 operator uma-operator (2025.1.3)
  operators/uma-operator/2025.1.3/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.1.3/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.1.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5206 operator uma-admin-operator (2025.1.3)
  operators/uma-admin-operator/2025.1.3/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.1.3/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.1.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5207 operator uma-team-operator (2025.1.3)
  operators/uma-team-operator/2025.1.3/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.1.3/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.1.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5210 operator instana-agent-operator (2.1.19)
  operators/instana-agent-operator/2.1.19/manifests/controller-manager-metrics-service_v1_service.yaml
  operators/instana-agent-operator/2.1.19/manifests/instana-agent-operator.clusterserviceversion.yaml
  operators/instana-agent-operator/2.1.19/manifests/instana.io_agents.yaml
  operators/instana-agent-operator/2.1.19/manifests/manager-config_v1_configmap.yaml
  operators/instana-agent-operator/2.1.19/manifests/manager-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/instana-agent-operator/2.1.19/manifests/metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/instana-agent-operator/2.1.19/metadata/annotations.yaml
  operators/instana-agent-operator/2.1.19/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5196 operator splunk-operator (2.7.1)
  operators/splunk-operator/2.7.1/manifests/enterprise.splunk.com_clustermanagers.yaml
  operators/splunk-operator/2.7.1/manifests/enterprise.splunk.com_clustermasters.yaml
  operators/splunk-operator/2.7.1/manifests/enterprise.splunk.com_indexerclusters.yaml
  operators/splunk-operator/2.7.1/manifests/enterprise.splunk.com_licensemanagers.yaml
  operators/splunk-operator/2.7.1/manifests/enterprise.splunk.com_licensemasters.yaml
  operators/splunk-operator/2.7.1/manifests/enterprise.splunk.com_monitoringconsoles.yaml
  operators/splunk-operator/2.7.1/manifests/enterprise.splunk.com_searchheadclusters.yaml
  operators/splunk-operator/2.7.1/manifests/enterprise.splunk.com_standalones.yaml
  operators/splunk-operator/2.7.1/manifests/splunk-operator-config_v1_configmap.yaml
  operators/splunk-operator/2.7.1/manifests/splunk-operator-controller-manager-metrics-service_v1_service.yaml
  operators/splunk-operator/2.7.1/manifests/splunk-operator-controller-manager-service_v1_service.yaml
  operators/splunk-operator/2.7.1/manifests/splunk-operator-manager-config_v1_configmap.yaml
  operators/splunk-operator/2.7.1/manifests/splunk-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/splunk-operator/2.7.1/manifests/splunk-operator.clusterserviceversion.yaml
  operators/splunk-operator/2.7.1/metadata/annotations.yaml
  operators/splunk-operator/2.7.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5216 operator anjuna-operator (v2.0.0)
  operators/anjuna-operator/ci.yaml
  operators/anjuna-operator/v2.0.0/manifests/anjuna-operator-anjunaconfig-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/anjuna-operator/v2.0.0/manifests/anjuna-operator-anjunaconfig-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/anjuna-operator/v2.0.0/manifests/anjuna-operator-controller-manager-metrics-service_v1_service.yaml
  operators/anjuna-operator/v2.0.0/manifests/anjuna-operator-manager-config_v1_configmap.yaml
  operators/anjuna-operator/v2.0.0/manifests/anjuna-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/anjuna-operator/v2.0.0/manifests/anjuna-operator-privileged-role-binding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/anjuna-operator/v2.0.0/manifests/anjuna-operator.clusterserviceversion.yaml
  operators/anjuna-operator/v2.0.0/manifests/anjuna.io_anjunaconfigs.yaml
  operators/anjuna-operator/v2.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5217 operator digitalai-release-operator (v24.1.14)
  operators/digitalai-release-operator/v24.1.14/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.1.14/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.1.14/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.14/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.14/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.1.14/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.1.14/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.1.14/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v24.1.14/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5222 operator falcon-operator (v1.4.0)
  operators/falcon-operator/v1.4.0/manifests/falcon-operator-admission-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon-operator-container-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon-operator-falcon-FalconDeployment-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon-operator-falcon-FalconDeployment-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon-operator-image-controller-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon-operator-node-sensor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon-operator.clusterserviceversion.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon.crowdstrike.com_falconadmissions.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon.crowdstrike.com_falconcontainers.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon.crowdstrike.com_falcondeployments.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon.crowdstrike.com_falconimageanalyzers.yaml
  operators/falcon-operator/v1.4.0/manifests/falcon.crowdstrike.com_falconnodesensors.yaml
  operators/falcon-operator/v1.4.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5223 operator prometurbo-certified (8.15.20)
  operators/prometurbo-certified/8.15.20/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.20/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5225 Delete operators/cloudcasa-operator directory per 04060349.
  operators/cloudcasa-operator/2.2.0/manifests/apps.cloudcasa.io_cloudcasas.yaml
  operators/cloudcasa-operator/2.2.0/manifests/cloudcasa-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cloudcasa-operator/2.2.0/manifests/cloudcasa-operator-manager-config_v1_configmap.yaml
  operators/cloudcasa-operator/2.2.0/manifests/cloudcasa-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudcasa-operator/2.2.0/manifests/cloudcasa-operator.clusterserviceversion.yaml
  operators/cloudcasa-operator/2.2.0/metadata/annotations.yaml
  operators/cloudcasa-operator/2.2.0/tests/scorecard/config.yaml
  operators/cloudcasa-operator/3.1.0/manifests/apps.cloudcasa.io_cloudcasas.yaml
  operators/cloudcasa-operator/3.1.0/manifests/cloudcasa-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cloudcasa-operator/3.1.0/manifests/cloudcasa-operator-manager-config_v1_configmap.yaml
  operators/cloudcasa-operator/3.1.0/manifests/cloudcasa-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudcasa-operator/3.1.0/manifests/cloudcasa-operator.clusterserviceversion.yaml
  operators/cloudcasa-operator/3.1.0/metadata/annotations.yaml
  operators/cloudcasa-operator/3.1.0/tests/scorecard/config.yaml
  operators/cloudcasa-operator/3.2.0/manifests/apps.cloudcasa.io_cloudcasas.yaml
  operators/cloudcasa-operator/3.2.0/manifests/cloudcasa-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cloudcasa-operator/3.2.0/manifests/cloudcasa-operator-manager-config_v1_configmap.yaml
  operators/cloudcasa-operator/3.2.0/manifests/cloudcasa-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudcasa-operator/3.2.0/manifests/cloudcasa-operator.clusterserviceversion.yaml
  operators/cloudcasa-operator/3.2.0/metadata/annotations.yaml
  operators/cloudcasa-operator/3.2.0/tests/scorecard/config.yaml
  operators/cloudcasa-operator/3.3.0/manifests/apps.cloudcasa.io_cloudcasas.yaml
  operators/cloudcasa-operator/3.3.0/manifests/cloudcasa-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cloudcasa-operator/3.3.0/manifests/cloudcasa-operator-manager-config_v1_configmap.yaml
  operators/cloudcasa-operator/3.3.0/manifests/cloudcasa-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudcasa-operator/3.3.0/manifests/cloudcasa-operator.clusterserviceversion.yaml
  operators/cloudcasa-operator/3.3.0/metadata/annotations.yaml
  operators/cloudcasa-operator/3.3.0/tests/scorecard/config.yaml
  operators/cloudcasa-operator/3.4.0/manifests/apps.cloudcasa.io_cloudcasas.yaml
  operators/cloudcasa-operator/3.4.0/manifests/cloudcasa-operator-controller-manager-metrics-service_v1_service.yaml
  operators/cloudcasa-operator/3.4.0/manifests/cloudcasa-operator-manager-config_v1_configmap.yaml
  operators/cloudcasa-operator/3.4.0/manifests/cloudcasa-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/cloudcasa-operator/3.4.0/manifests/cloudcasa-operator.clusterserviceversion.yaml
  operators/cloudcasa-operator/3.4.0/metadata/annotations.yaml
  operators/cloudcasa-operator/3.4.0/tests/scorecard/config.yaml
  operators/cloudcasa-operator/ci.yaml
Labels: operator-hosted-pipeline/failed

#5224 operator kubeturbo-certified (8.15.20)
  operators/kubeturbo-certified/8.15.20/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.15.20/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.15.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5226 operator t8c-certified (42.74.0)
  operators/t8c-certified/42.74.0/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.74.0/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.74.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5230 operator conjur-follower-operator (2.4.4)
  operators/conjur-follower-operator/2.4.4/manifests/conjur-follower-operator-conjurfollower-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.4.4/manifests/conjur-follower-operator-conjurfollower-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/conjur-follower-operator/2.4.4/manifests/conjur-follower-operator.clusterserviceversion.yaml
  operators/conjur-follower-operator/2.4.4/manifests/conjur.cyberark.com_conjurfollowers.yaml
  operators/conjur-follower-operator/2.4.4/metadata/annotations.yaml
  operators/conjur-follower-operator/2.4.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5231 operator digitalai-release-operator (v24.3.5)
  operators/digitalai-release-operator/v24.3.5/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v24.3.5/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v24.3.5/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.5/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.5/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v24.3.5/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v24.3.5/metadata/annotations.yaml
  operators/digitalai-release-operator/v24.3.5/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v24.3.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5233 operator digitalai-deploy-operator (v24.3.5)
  operators/digitalai-deploy-operator/v24.3.5/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v24.3.5/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v24.3.5/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.5/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.5/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v24.3.5/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v24.3.5/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v24.3.5/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v24.3.5/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5236 operator prometurbo-certified (8.15.20-beta.2)
  operators/prometurbo-certified/8.15.20-beta.2/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.20-beta.2/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.20-beta.2/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5241 operator aic-operator (v0.1.1)
  operators/aic-operator/v0.1.1/manifests/aic-operator-controller-manager-metrics-service_v1_service.yaml
  operators/aic-operator/v0.1.1/manifests/aic-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/aic-operator/v0.1.1/manifests/aic-operator.clusterserviceversion.yaml
  operators/aic-operator/v0.1.1/manifests/aic.quicinc.com_aics.yaml
  operators/aic-operator/v0.1.1/metadata/annotations.yaml
  operators/aic-operator/v0.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5242 operator crunchy-postgres-operator (5.7.4)
  operators/crunchy-postgres-operator/5.7.4/Dockerfile
  operators/crunchy-postgres-operator/5.7.4/manifests/crunchy-postgres-operator.clusterserviceversion.yaml
  operators/crunchy-postgres-operator/5.7.4/manifests/crunchybridgeclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.4/manifests/pgadmins.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.4/manifests/pgupgrades.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.4/manifests/postgresclusters.postgres-operator.crunchydata.com.crd.yaml
  operators/crunchy-postgres-operator/5.7.4/metadata/annotations.yaml
  operators/crunchy-postgres-operator/5.7.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5243 operator tawon-operator (2.39.27-rc3)
  operators/tawon-operator/2.39.27-rc3/manifests/tawon-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/tawon-operator/2.39.27-rc3/manifests/tawon-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tawon-operator/2.39.27-rc3/manifests/tawon-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tawon-operator/2.39.27-rc3/manifests/tawon-operator-webhook-service_v1_service.yaml
  operators/tawon-operator/2.39.27-rc3/manifests/tawon-operator.clusterserviceversion.yaml
  operators/tawon-operator/2.39.27-rc3/manifests/tawon.mantisnet.com_clusterdirectives.yaml
  operators/tawon-operator/2.39.27-rc3/manifests/tawon.mantisnet.com_dashboards.yaml
  operators/tawon-operator/2.39.27-rc3/manifests/tawon.mantisnet.com_directives.yaml
  operators/tawon-operator/2.39.27-rc3/manifests/tawon.mantisnet.com_streams.yaml
  operators/tawon-operator/2.39.27-rc3/manifests/tawon.mantisnet.com_streamstores.yaml
  operators/tawon-operator/2.39.27-rc3/manifests/tawon.mantisnet.com_topologyaggregators.yaml
  operators/tawon-operator/2.39.27-rc3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5244 operator edb-hcp-operator (0.0.1)
  operators/edb-hcp-operator/0.0.1/manifests/edb-hcp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/edb-hcp-operator/0.0.1/manifests/edb-hcp-operator-hybridcontrolplane-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/0.0.1/manifests/edb-hcp-operator-hybridcontrolplane-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/0.0.1/manifests/edb-hcp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/0.0.1/manifests/edb-hcp-operator-webhook-service_v1_service.yaml
  operators/edb-hcp-operator/0.0.1/manifests/edb-hcp-operator.clusterserviceversion.yaml
  operators/edb-hcp-operator/0.0.1/manifests/edbpgai.edb.com_hybridcontrolplanes.yaml
  operators/edb-hcp-operator/0.0.1/metadata/annotations.yaml
  operators/edb-hcp-operator/0.0.1/metadata/dependencies.yaml
  operators/edb-hcp-operator/ci.yaml
Labels: operator-hosted-pipeline/started

#5245 operator synaxg-operator (v1.0.0)
  operators/synaxg-operator/ci.yaml
  operators/synaxg-operator/v1.0.0/manifests/card.synaxg.app.com_sg3resets.yaml
  operators/synaxg-operator/v1.0.0/manifests/card.synaxg.app.com_sg3updates.yaml
  operators/synaxg-operator/v1.0.0/manifests/synaxg-operator-controller-manager-metrics-service_v1_service.yaml
  operators/synaxg-operator/v1.0.0/manifests/synaxg-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/synaxg-operator/v1.0.0/manifests/synaxg-operator.clusterserviceversion.yaml
  operators/synaxg-operator/v1.0.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5246 operator nutanixcsioperator (3.2.0)
  operators/nutanixcsioperator/3.2.0/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/3.2.0/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/3.2.0/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/3.2.0/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/3.2.0/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/3.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5247 operator xspc-operator (1.15.0)
  operators/xspc-operator/1.15.0/manifests/csi.hpe.com_xspcs.yaml
  operators/xspc-operator/1.15.0/manifests/xspc-operator.clusterserviceversion.yaml
  operators/xspc-operator/1.15.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5249 operator confluent-for-kubernetes (2.11.0)
  operators/confluent-for-kubernetes/2.11.0/manifests/confluent-for-kubernetes.clusterserviceversion.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/confluent-operator-metrics-service_v1_service.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_clusterlinks.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_cmfrestclasses.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_confluentrolebindings.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_connectors.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_connects.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_controlcenters.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_flinkapplications.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_flinkenvironments.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_kafkarestclasses.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_kafkarestproxies.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_kafkas.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_kafkatopics.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_kraftcontrollers.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_kraftmigrationjobs.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_ksqldbs.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_schemaexporters.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_schemaregistries.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_schemas.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/platform.confluent.io_zookeepers.yaml
  operators/confluent-for-kubernetes/2.11.0/manifests/schema-config_v1_configmap.yaml
  operators/confluent-for-kubernetes/2.11.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5251 operator digitalai-release-operator (v25.1.0-beta.4)
  operators/digitalai-release-operator/v25.1.0-beta.4/manifests/digitalai-release-operator.clusterserviceversion.yaml
  operators/digitalai-release-operator/v25.1.0-beta.4/manifests/xlr-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-release-operator/v25.1.0-beta.4/manifests/xlr-digitalairelease-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.0-beta.4/manifests/xlr-digitalairelease-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.0-beta.4/manifests/xlr-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-release-operator/v25.1.0-beta.4/manifests/xlr.digital.ai_digitalaireleases.yaml
  operators/digitalai-release-operator/v25.1.0-beta.4/metadata/annotations.yaml
  operators/digitalai-release-operator/v25.1.0-beta.4/metadata/annotations.yaml.bak
  operators/digitalai-release-operator/v25.1.0-beta.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5252 operator t8c-tsc-client-certified (1.3.1-candidate-20250225160650000)
  operators/t8c-tsc-client-certified/1.3.1-candidate-20250225160650000/manifests/clients.turbonomic.ibm.com_turbonomicclients.yaml
  operators/t8c-tsc-client-certified/1.3.1-candidate-20250225160650000/manifests/clients.turbonomic.ibm.com_versionmanagers.yaml
  operators/t8c-tsc-client-certified/1.3.1-candidate-20250225160650000/manifests/t8c-tsc-client-certified.clusterserviceversion.yaml
  operators/t8c-tsc-client-certified/1.3.1-candidate-20250225160650000/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5253 operator digitalai-deploy-operator (v25.1.0-beta.4)
  operators/digitalai-deploy-operator/v25.1.0-beta.4/manifests/digitalai-deploy-operator.clusterserviceversion.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.4/manifests/xld-controller-manager-metrics-service_v1_service.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.4/manifests/xld-digitalaideploy-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.4/manifests/xld-digitalaideploy-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.4/manifests/xld-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.4/manifests/xld.digital.ai_digitalaideploys.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.4/metadata/annotations.yaml
  operators/digitalai-deploy-operator/v25.1.0-beta.4/metadata/annotations.yaml.bak
  operators/digitalai-deploy-operator/v25.1.0-beta.4/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5254 Delete operators/nutanixcsioperator/3.2.0 directory
  operators/nutanixcsioperator/3.2.0/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/3.2.0/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/3.2.0/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/3.2.0/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/3.2.0/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/3.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/failed

#5255 operator t8c-certified (42.75.0-beta.1)
  operators/t8c-certified/42.75.0-beta.1/manifests/t8c-certified.clusterserviceversion.yaml
  operators/t8c-certified/42.75.0-beta.1/manifests/xls.charts.helm.k8s.io.crd.yaml
  operators/t8c-certified/42.75.0-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5257 operator cilium-enterprise (1.14.20)
  operators/cilium-enterprise/1.14.20/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.14.20/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.14.20/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.14.20/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5258 operator cilium-enterprise (1.15.14)
  operators/cilium-enterprise/1.15.14/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.15.14/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.15.14/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.15.14/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5259 operator cilium-enterprise (1.16.7)
  operators/cilium-enterprise/1.16.7/manifests/cilium.clusterserviceversion.yaml
  operators/cilium-enterprise/1.16.7/manifests/cilium.operator.cilium.io.crd.yaml
  operators/cilium-enterprise/1.16.7/manifests/cluster-network-06-cilium-00002-cilium-ee-olm-overrides-configmap.yaml
  operators/cilium-enterprise/1.16.7/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5261 operator habana-ai-operator (1.20.0-543)
  operators/habana-ai-operator/1.20.0-543/manifests/bmc-monitoring-conf_v1_configmap.yaml
  operators/habana-ai-operator/1.20.0-543/manifests/bmc-monitoring-service-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.20.0-543/manifests/habana-ai-operator-controller-manager-metrics-service_v1_service.yaml
  operators/habana-ai-operator/1.20.0-543/manifests/habana-ai-operator-manager-scc-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/habana-ai-operator/1.20.0-543/manifests/habana-ai-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/habana-ai-operator/1.20.0-543/manifests/habana-ai-operator.clusterserviceversion.yaml
  operators/habana-ai-operator/1.20.0-543/manifests/habanalabs.habana.ai_clusterpolicies.yaml
  operators/habana-ai-operator/1.20.0-543/manifests/metric-exporter_monitoring.coreos.com_v1_servicemonitor.yaml
  operators/habana-ai-operator/1.20.0-543/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5262 operator infinibox-operator-certified (v2.19.0)
  operators/infinibox-operator-certified/v2.19.0/manifests/csidriver.infinidat.com_iboxreplicas.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/csidriver.infinidat.com_infiniboxcsidrivers.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinibox-operator-certified.clusterserviceversion.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-attacher_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-controller_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-node_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-node_v1_serviceaccount.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-provisioner_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-resizer_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_role.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter-lease_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-csi-snapshotter_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-controller_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-infinidat-iboxreplica-metrics-auth-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/infinibox-operator-certified/v2.19.0/manifests/infinidat-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/infinibox-operator-certified/v2.19.0/metadata/annotations.yaml
  operators/infinibox-operator-certified/v2.19.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5263 operator gitlab-operator-kubernetes (1.10.1)
  operators/gitlab-operator-kubernetes/1.10.1/manifests/apps.gitlab.com_gitlabs.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-operator-kubernetes.clusterserviceversion.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-prometheus-server_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-prometheus-server_v1_serviceaccount.yaml
  operators/gitlab-operator-kubernetes/1.10.1/manifests/gitlab-webhook-service_v1_service.yaml
  operators/gitlab-operator-kubernetes/1.10.1/metadata/annotations.yaml
  operators/gitlab-operator-kubernetes/1.10.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5265 operator kubeturbo-certified (8.15.30-beta.1)
  operators/kubeturbo-certified/8.15.30-beta.1/manifests/kubeturbo-certified.clusterserviceversion.yaml
  operators/kubeturbo-certified/8.15.30-beta.1/manifests/kubeturbos.charts.helm.k8s.io.crd.yaml
  operators/kubeturbo-certified/8.15.30-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5266 operator prometurbo-certified (8.15.30-beta.1)
  operators/prometurbo-certified/8.15.30-beta.1/manifests/prometurbo-certified.clusterserviceversion.yaml
  operators/prometurbo-certified/8.15.30-beta.1/manifests/prometurbos.charts.helm.k8s.io.crd.yaml
  operators/prometurbo-certified/8.15.30-beta.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5267 operator nutanixcsioperator (3.2.0-1)
  operators/nutanixcsioperator/3.2.0-1/manifests/crd.nutanix.com_nutanixcsistorages.yaml
  operators/nutanixcsioperator/3.2.0-1/manifests/nutanix-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/nutanixcsioperator/3.2.0-1/manifests/nutanix-csi-operator-manager-config_v1_configmap.yaml
  operators/nutanixcsioperator/3.2.0-1/manifests/nutanix-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/nutanixcsioperator/3.2.0-1/manifests/nutanixcsioperator.clusterserviceversion.yaml
  operators/nutanixcsioperator/3.2.0-1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5268 operator openshiftartifactoryha-operator (1.3.3)
  operators/openshiftartifactoryha-operator/1.3.3/manifests/openshiftartifactoryha-operator.clusterserviceversion.yaml
  operators/openshiftartifactoryha-operator/1.3.3/manifests/openshiftartifactoryhas.charts.helm.k8s.io.crd.yaml
  operators/openshiftartifactoryha-operator/1.3.3/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5269 operator percona-server-mongodb-operator-certified (1.19.1)
  operators/percona-server-mongodb-operator-certified/1.19.1/manifests/percona-server-mongodb-operator.clusterserviceversion.yaml
  operators/percona-server-mongodb-operator-certified/1.19.1/manifests/perconaservermongodbbackups.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.19.1/manifests/perconaservermongodbrestores.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.19.1/manifests/perconaservermongodbs.psmdb.percona.com.crd.yaml
  operators/percona-server-mongodb-operator-certified/1.19.1/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5270 operator hpe-csi-operator (2.5.2)
  operators/hpe-csi-operator/2.5.2/manifests/hpe-csi-operator-controller-manager-metrics-service_v1_service.yaml
  operators/hpe-csi-operator/2.5.2/manifests/hpe-csi-operator-hpecsidriver-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.5.2/manifests/hpe-csi-operator-hpecsidriver-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.5.2/manifests/hpe-csi-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hpe-csi-operator/2.5.2/manifests/hpe-csi-operator.clusterserviceversion.yaml
  operators/hpe-csi-operator/2.5.2/manifests/storage.hpe.com_hpecsidrivers.yaml
  operators/hpe-csi-operator/2.5.2/metadata/annotations.yaml
  operators/hpe-csi-operator/2.5.2/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5271 operator uma-operator (2025.2.0)
  operators/uma-operator/2025.2.0/manifests/ca.broadcom.com_universalmonitoringagents.yaml
  operators/uma-operator/2025.2.0/manifests/uma-operator.clusterserviceversion.yaml
  operators/uma-operator/2025.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5273 operator uma-admin-operator (2025.2.0)
  operators/uma-admin-operator/2025.2.0/manifests/ca.broadcom.com_universalmonitoringagentsadmins.yaml
  operators/uma-admin-operator/2025.2.0/manifests/uma-admin-operator.clusterserviceversion.yaml
  operators/uma-admin-operator/2025.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5228 operator gitlab-runner-operator (1.34.0)
  operators/gitlab-runner-operator/1.34.0/manifests/apps.gitlab.com_runners.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-app-role_rbac.authorization.k8s.io_v1_role.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-app-rolebinding_rbac.authorization.k8s.io_v1_rolebinding.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-controller-manager-metrics-service_v1_service.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/gitlab-runner-operator/1.34.0/manifests/gitlab-runner-operator.clusterserviceversion.yaml
  operators/gitlab-runner-operator/1.34.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5274 operator uma-team-operator (2025.2.0)
  operators/uma-team-operator/2025.2.0/manifests/ca.broadcom.com1_universalmonitoringagentsteams.yaml
  operators/uma-team-operator/2025.2.0/manifests/uma-team-operator.clusterserviceversion.yaml
  operators/uma-team-operator/2025.2.0/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skips/check_pruned_graph

#5248 operator tvo-operator (6.1.0)
  operators/tvo-operator/6.1.0/manifests/tvo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tvo-operator/6.1.0/manifests/tvo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.0/manifests/tvo-operator-tvocontrolplane-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.0/manifests/tvo-operator-tvocontrolplane-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.0/manifests/tvo-operator.clusterserviceversion.yaml
  operators/tvo-operator/6.1.0/manifests/tvo.trilio.io_tvobackuptargets.yaml
  operators/tvo-operator/6.1.0/manifests/tvo.trilio.io_tvocontrolplanes.yaml
  operators/tvo-operator/6.1.0/metadata/annotations.yaml
  operators/tvo-operator/6.1.0/tests/scorecard/config.yaml
  operators/tvo-operator/ci.yaml
Labels: operator-hosted-pipeline/failed

#5276 operator nvidia-network-operator (25.1.0)
  operators/nvidia-network-operator/25.1.0/manifests/mellanox.com_hostdevicenetworks.yaml
  operators/nvidia-network-operator/25.1.0/manifests/mellanox.com_ipoibnetworks.yaml
  operators/nvidia-network-operator/25.1.0/manifests/mellanox.com_macvlannetworks.yaml
  operators/nvidia-network-operator/25.1.0/manifests/mellanox.com_nicclusterpolicies.yaml
  operators/nvidia-network-operator/25.1.0/manifests/nvidia-network-operator-webhook-service_v1_service.yaml
  operators/nvidia-network-operator/25.1.0/manifests/nvidia-network-operator.clusterserviceversion.yaml
  operators/nvidia-network-operator/25.1.0/metadata/annotations.yaml
  operators/nvidia-network-operator/25.1.0/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/started

#5279 operator couchbase-enterprise-certified (2.6.4-6)
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbase-v2.6.4.clusterserviceversion.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbaseautoscalers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbasebackuprestores.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbasebackups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbasebuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbaseclusters.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbasecollectiongroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbasecollections.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbaseephemeralbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbasegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbasememcachedbuckets.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbasemigrationreplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbasereplications.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbaserolebindings.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbasescopegroups.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbasescopes.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/manifests/couchbaseusers.couchbase.com.yaml
  operators/couchbase-enterprise-certified/2.6.4-6/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started, tests/skip/check_operator_name

#5256 chore: remove draft version
  operators/edb-hcp-operator/0.0.1/manifests/edb-hcp-operator-controller-manager-metrics-service_v1_service.yaml
  operators/edb-hcp-operator/0.0.1/manifests/edb-hcp-operator-hybridcontrolplane-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/0.0.1/manifests/edb-hcp-operator-hybridcontrolplane-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/0.0.1/manifests/edb-hcp-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/edb-hcp-operator/0.0.1/manifests/edb-hcp-operator-webhook-service_v1_service.yaml
  operators/edb-hcp-operator/0.0.1/manifests/edb-hcp-operator.clusterserviceversion.yaml
  operators/edb-hcp-operator/0.0.1/manifests/edbpgai.edb.com_hybridcontrolplanes.yaml
  operators/edb-hcp-operator/0.0.1/metadata/annotations.yaml
  operators/edb-hcp-operator/0.0.1/metadata/dependencies.yaml
  operators/edb-hcp-operator/ci.yaml
Labels: approved, operator-hosted-pipeline/failed

#5284 operator hulft (10.3.0)
  operators/hulft/10.3.0/manifests/hulft-controller-manager-metrics-service_v1_service.yaml
  operators/hulft/10.3.0/manifests/hulft-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/hulft/10.3.0/manifests/hulft-webhook-service_v1_service.yaml
  operators/hulft/10.3.0/manifests/hulft.clusterserviceversion.yaml
  operators/hulft/10.3.0/manifests/hulft.saison-technology.com_hulfts.yaml
  operators/hulft/10.3.0/metadata/annotations.yaml
  operators/hulft/ci.yaml
Labels: operator-hosted-pipeline/started

#5280 operator tvo-operator (6.1.1)
  operators/tvo-operator/6.1.1/manifests/tvo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/tvo-operator/6.1.1/manifests/tvo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.1/manifests/tvo-operator-tvocontrolplane-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.1/manifests/tvo-operator-tvocontrolplane-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/tvo-operator/6.1.1/manifests/tvo-operator.clusterserviceversion.yaml
  operators/tvo-operator/6.1.1/manifests/tvo.trilio.io_tvobackuptargets.yaml
  operators/tvo-operator/6.1.1/manifests/tvo.trilio.io_tvocontrolplanes.yaml
  operators/tvo-operator/6.1.1/metadata/annotations.yaml
  operators/tvo-operator/6.1.1/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed

#5286 operator cloudera-streams-messaging-kubernetes-operator (1.3.0-b52)
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/030-ClusterRole-strimzi-kafka-broker.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/031-ClusterRole-strimzi-entity-operator.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/033-ClusterRole-strimzi-kafka-client.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/040-Crd-kafka.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/041-Crd-kafkaconnect.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/042-Crd-strimzipodset.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/043-Crd-kafkatopic.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/044-Crd-kafkauser.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/045-Crd-kafkamirrormaker.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/046-Crd-kafkabridge.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/047-Crd-kafkaconnector.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/048-Crd-kafkamirrormaker2.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/049-Crd-kafkarebalance.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/04A-Crd-kafkanodepool.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/050-ConfigMap-strimzi-cluster-operator.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/manifests/cloudera-streams-messaging-kubernetes-operator.clusterserviceversion.yaml
  operators/cloudera-streams-messaging-kubernetes-operator/1.3.0-b52/metadata/annotations.yaml
Labels: operator-hosted-pipeline/started

#5285 remove the test operator
  operators/jinhli-demo-operator/ci.yaml
  operators/jinhli-demo-operator/v0.0.6/Dockerfile
  operators/jinhli-demo-operator/v0.0.6/manifests/jinhli-demo-operator.clusterserviceversion.yaml
  operators/jinhli-demo-operator/v0.0.6/manifests/simple-demo-operator-controller-manager-metrics-service_v1_service.yaml
  operators/jinhli-demo-operator/v0.0.6/manifests/simple-demo-operator-manager-config_v1_configmap.yaml
  operators/jinhli-demo-operator/v0.0.6/manifests/simple-demo-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  operators/jinhli-demo-operator/v0.0.6/manifests/tools.opdev.io_demoresources.yaml
  operators/jinhli-demo-operator/v0.0.6/metadata/annotations.yaml
  operators/jinhli-demo-operator/v0.0.6/tests/scorecard/config.yaml
Labels: operator-hosted-pipeline/failed
